[2020-10-22 02:00] urbaneman commented on #553
Hi @ttyio, thanks for your reply.
I will try it.

[2020-10-22 02:38] zldrobit commented on #585
I tested INT8 TensorRT optimization on yolov3-416 models on RTX 2080 Ti with TensorRT 7.0 (batchsize is 64):

| model | FP16 | INT8 |
|--------|-------|------|
| yolov3-416 | 215.9ms | 168.4ms |

The INT8 model is around (215.9-168.4)/215.9 = **22.0% faster** than FP16 one.

[2020-10-22 08:49] zerollzeng commented on #780
I also meet this problem while testing dynamic shapes on shuffle net
## step to reproduce
1. download the onnx model from https://github.com/onnx/models/blob/master/vision/classification/shufflenet/model/shufflenet-v2-10.onnx
2. run convert code to unset fixed shape
[code]
python onnx.model shufflenet-v2-10.onnx
3. /usr/src/tensorrt/bin/trtexec --explicitBatch --onnx=../models/dynamic_model.onnx -

[2020-10-22 10:19] bladesaber commented on #833
Thanks for your response, I will try version 7.1 . Newer Tensorrt need high CUDA, Hoping CUDA 10.0 and 10.1 will be supported in the coming future. ^_^

[2020-10-22 13:20] Bilal-Yousaf opened #839 "Models which have the same speed in PyTorch have very different speed in tRT"
## Description

Models which have the same speed in PyTorch have very different speed in tRT, whereas they have simillar layers.

## Environment

**TensorRT Version**: 7.1.3
**GPU Type**: RTX 2070 Super
**Nvidia Driver Version**: 450.66
**CUDA Version**: 11.0
**CUDNN Version**:
**Operating System + Version**: Ubunu 20.04
**Python Version (if applicable)**:
**TensorFlow Version (if applicable)**:
*

[2020-10-22 13:35] ZhangChuann commented on #817
I come across same problem， have you solve it？thank you

[2020-10-22 14:05] ZhangChuann commented on #817
1. vim ./third_party.protobuf/src/third_party.protobuf-stamp/download-third_party.protobuf.cmake
2. change as follow：
![image](https://user-images.githubusercontent.com/10493733/96883061-8bf8ba80-14b2-11eb-908a-9f78d58ad092.png)

3. make， and sucessful

[2020-10-22 23:15] golden0080 commented on #782
Hi, @mk-nvidia unfortunately this model is proprietary and I'm unable to share.
I think the silent failure issue came when I set `MaxWorkspaceSize` to un-reasonably large or small (might set it to 0 mistakenly).

[2020-10-22 23:17] golden0080 commented on #782
Thanks for the attention to this ticket, and I was able to work around the issue with:
Setting `MaxWorkspaceSize` to a reasonable size.

I think for similar issues, people could try to sanity check their `IBuilder` config.

[2020-10-22 23:17] #782 closed

[2020-10-22 23:33] golden0080 commented on #803
@ttyio Thanks for your reply!
Yes I'm using different `cuContext` for TF and TRT, and I sorta understand that memory allocated on each context could not be used in the other.
I'm a bit confused by your comments "You are using multiple ctx, so you have to prepare two copy of input for each framework". Why is the case? My TF and TRT models would got fed inputs from different sources on different thr

[2020-10-23 00:48] ZhangChuann commented on #837
who can help me? thanks

[2020-10-23 05:57] ttyio commented on #658
Hello @jianyin2016 , thanks for reporting.

Could you try export using dynamic batch:

Then run with latest TensorRT 7.2? thanks!

[2020-10-23 08:00] ttyio commented on #486
Hello @Nioolek , thanks for reporting.
We release a new tool in 7.2 to compare trt run with other framework.
Please check https://github.com/NVIDIA/TensorRT/tree/release/7.2/tools/Polygraphy

And for you case, you can run with command line:

I get result

The small mismatch could introduced by floating point arithmetic sequence. The DNNs are by nature robust against perturbation most of the time,

[2020-10-23 08:01] hadoop2xu opened #840 "Cuda Error in allocate: 2 (out of memory)"
I build a network with tensorrt API , when i call "with builder.build_cuda_engine(network) as engine", the follow bug appear .
![image](https://user-images.githubusercontent.com/48076281/96972322-f4927680-1548-11eb-8bd0-3fd6fce739e2.png)
what problem ?

[2020-10-23 08:32] AD2605 opened #841 "ONNX does not contain a CMakeLists.txt file"
Hello all.
I am trying to build the latest release from source. However while running the cmake command I get the following error -
[code]
Could anyone help me with this please ?

[2020-10-23 08:37] ttyio commented on #659
I will close this issue since there is no activity in 3 weeks, please reopen if you still have question, thanks all

[2020-10-23 08:37] #659 closed

[2020-10-23 08:42] RizhaoCai opened #842 "TensorRT 7.1 produce incorrect results when batch size >1"
## Description

## Environment

**TensorRT Version**:  7.1.3.0
**GPU Type**: Jetson TX2 (Jetpack 4.4)
**Nvidia Driver Version**:
**CUDA Version**: 10.1
**CUDNN Version**:
**Operating System + Version**: (LTS from Jetpack 4.4)
**Python Version (if applicable)**: 3.6.9
**PyTorch Version (if applicable)**: 1.6.0

## Relevant Files
|----rfb.onnx
|----trt_utils.py
|----produce_bug.py
|_________________

[2020-10-23 08:45] ttyio commented on #803
Hello @golden0080 ,

I want to describe that different ctx is isolate to each other, so we need allocate 2 inputs, one for trt and the other for tf.

Could you repro this with simple model, like built a network with only one layer? so that you can share with us for debug, thanks!

[2020-10-23 08:54] Nioolek commented on #486
If I have time, I will take a test.The problem remains unsolved.We used libtorch to inference 3DCNN before, but this doesn't seem to be the best choice for an online inference environment.

[2020-10-23 09:01] ttyio commented on #486
thanks @Nioolek , do you see accuracy loss in trt with real data?

[2020-10-23 09:09] ttyio commented on #816
Thanks @Mishok43 for reply, these upsampling3d_1/split:* is not generated by tensorRT, if you check your original onnx model, check node `StatefulPartitionedCall/functional_1/up_sampling3d_1/split`, you can see they are in the onnx.

Could you try [onnx-simplifier](https://github.com/daquexian/onnx-simplifier) to polish the model, to see if this tool can reduce these copies?

[2020-10-23 10:07] MuhammadAsadJaved opened #843 "onnx to trt engine [TRT] FAILED_ALLOCATION: std::bad_alloc"
## Description

I am converting .onnx model to .trt engine.  And got the following error.

Note: I also tried this model with onnx-tensorrt  and have the same problem, but in onnx-tensorrt  this model can convert with -d 16 arugment

i.e
[code]
## Environment

**TensorRT Version**: 7
**GPU Type**:  Xavier NX
**Nvidia Driver Version**:
**CUDA Version**:  10.2
**CUDNN Version**:
**Operating System +

[2020-10-23 10:57] MuhammadAsadJaved commented on #843
Update: With `--fp16` it can work.

Now I use this command and it can work.
[code]
What is the difference?

[2020-10-23 11:18] Jacoobr commented on #219
Hi, @ttdd11. Would you mind provide your code demo that run separate instances in multiple threads with TensorRT? I try to use one contex and one engine object to run multi-infer asynchronous by enqueueV2() function with multiple threads, but it did not work. Appreciated for your reply, thanks.

[2020-10-23 12:20] Mishok43 commented on #816
@ttyio
Thank you for the advice, I tried to use keras2onnx instead of tf2onnx and it has helped me to get rid of these strange layers. But, anyway, I returned to my main problem with fp16 optimization of 3D Convolutions -> it doesn't work(((
![image](https://user-images.githubusercontent.com/19211368/97002240-63200600-1542-11eb-9f09-ce6f6051f9c0.png)
My 3D layers:
![image](https://user-images.gith

[2020-10-23 12:48] Mishok43 commented on #816
I changed the number of channels  for the last 2 layers to 32 and LReLu to ReLU activiation -> doesn't help((

[2020-10-24 00:05] mk-nvidia commented on #837
@ZhangChuann Thanks for reporting this issue. We're taking a look.

[2020-10-24 00:07] xkszltl opened #844 "machine-learning repo is broken after TRT 7.2.1 update"
## Description

We're trying to get the latest trt but hit this issue.
As you can see `curl -sSL 'https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64/'` incorrectly return the dir of `ubuntu1804`, not `x86_64`.

<img width="863" alt="image" src="https://user-images.githubusercontent.com/5203025/97062845-58f81900-15cf-11eb-998a-e5f973acb278.png">

I also tried the

[2020-10-24 00:08] xkszltl commented on #844
Note that I tried it both in US/China nodes (301 to .cn domain), both have the same behavior, indicating this may be a large scope CDN bug.

[2020-10-24 00:19] xkszltl commented on #844
I also tried clicking x86_64 button in Safari InPrivate mode (i.e. no cache):
  - From a wrong `https://developer.download.nvidia.cn/compute/machine-learning/repos/ubuntu1804/x86_64/`, I got 404 of `https://developer.download.nvidia.cn/compute/machine-learning/repos/ubuntu1804/x86_64/x86_64/` (doubled dir)
  - From `https://developer.download.nvidia.cn/compute/machine-learning/repos/ubuntu1804/` I

[2020-10-24 07:01] CallmeZhangChenchen commented on #842
7.1里面加载onnx模型的方式变了，所以当batch size！=的时候会出现问题

[2020-10-24 07:09] CallmeZhangChenchen commented on #649
@marsmiao   yes  ！trt7 onnx  when  batch size  is not one ,  problem will have problems。 Take a look at the official introduction. The usage has changed

[2020-10-24 07:15] CallmeZhangChenchen commented on #649
@rmccorm4    Sorry ,

I work overtime every day in my country。
I use TRT7.1 and 6.1 , and when I compare them, I find the root cause of the problem

There are 8 outputs in the network. At the end of the Score output, there is a slice layer, which can get the frame score. I found that the scores of four regression boxes are the same, and the four regression scores are different
So I think there is

[2020-10-24 07:33] CallmeZhangChenchen opened #845 "sampleOnnxMNIST"
Many developers have problems when using tensorrt7 to load the onnx model for multi batch prediction. The official example does not give any useful information after the updated version. I hope to change it to multi batch processing and release it to an example,I hope it works as well as 5.1.5 .

[2020-10-24 07:53] RizhaoCai commented on #842
请问应该怎么解决呢，是在pytorch输出ONNX model的时候指定batch size还是在 parse ONNX model的时候，加一些什么参数。 求指导

[2020-10-24 08:14] Jacoobr opened #846 "multi-stream parallel execution with one GPU ERROR"
## I tried to execute two parallel infer with one context and two stream, but i got the Error bellowed:

[code]
the code for  executing two parallel infer (the execution of enqueueV2() are asynchronously) with one context and two stream are followed:
[code]
Can someone  gives me some advice for paralleling infer with the code?
## Environment
Windows OS + TensorRT 7.1.3 + one 2060super GPU

[2020-10-24 14:01] Jacoobr opened #847 "TensorRT 7.1 do infer with different image size, result not correct!"
## Can not do infer with different input size image with TensorRT (the infenrence results are not correct when the input data size changed)
I use the onnx model that produced by pytorch model ( the pytorch model support different size images prediction, and the result all are correct) with TensorRT. the code i used to generate the onnx model is: `input_onnx = Variable(torch.randn(1, 1, 32, 224, 22

[2020-10-24 21:34] asmasaad commented on #743
I have the same issue

[2020-10-25 14:06] fumihwh commented on #726
@srqj @MrRace @winself
Add full_mask filed will pass the engine build step.
@ttyio @rajeevsrao Plz fix the bug.....
In `embLayerNormPlugin.cpp`, `full_mask` field is still used which is removed in 4b91841.
[code]

[2020-10-25 19:12] asmasaad commented on #568
I have the same issue, when I convert the model from onnx to trt, I got mismatch result, Also I got different result when engine deploy on jetson or on ubuntu with GPU

[2020-10-26 00:58] ttyio commented on #726
Hello @fumihwh , thanks for helping.

Here is more details:
In `release/7.1`, the multi-head-attention plugin can accelerated using fused kernel (using tensorcore) when match condition:
1. precision is fp16 or int8
2. slen is 128 or 384
3. sm arch is Turing or Ampere
the the `full_mask` is used for embLayerNorm plugin to generate mask that support the tensorcore layout. And we have a bug in the `r

[2020-10-26 02:12] ZhangChuann commented on #837
Thanks. If you have some progress or question, please make me known.

[2020-10-26 03:15] fumihwh commented on #726
@ttyio
I've tried nvcr.io/nvidia/tensorrt:20.10-py3(TensorRT 7.2.1), it works for me.

[2020-10-26 03:45] HaoLiuHust opened #849 "inconsistent result when batch size larger than 1 on V100"
## Description

We have a CNN service which use tensorrt7.1 GA to server models, on 1080Ti, P100, P4, 2080Ti, it works all right, and already used for several months . But recently, we tested it on V100, the result is inconsistent when batchsize is larger than 1. Is their any known issues on V100?

## Environment

**TensorRT Version**: 7.1.3.4
**GPU Type**: V100
**Nvidia Driver Version**: 440.82
*

[2020-10-26 05:54] MuhammadAsadJaved commented on #841
@AD2605  It's not in the parsers, it's in the samples.

Try this

[code]

[2020-10-26 05:59] MuhammadAsadJaved commented on #841
@AD2605  Have you cloned the repo  --recursive?

[code]

[2020-10-26 06:01] ttyio commented on #726
Thank you @fumihwh

[2020-10-26 06:05] AD2605 commented on #841
Hi, @MuhammadAsadJaved Thanks for replying.
I will try out what you suggested. I actually just went on GitHub and downloaded the master as zip.
Also, `/home/atharva/Downloads/TensorRT-20.10/parsers/onnx` is empty upon extracting the zip.

[2020-10-26 06:44] HaoLiuHust commented on #489
What's your device type?

[2020-10-26 06:44] ttyio commented on #837
Hello @ZhangChuann , thanks for reporting.

Could you try `nvcr.io/nvidia/tensorrt:20.10-py3`(TensorRT 7.2.1) ? We have some fix for BERT, more detail in https://github.com/NVIDIA/TensorRT/issues/726#issuecomment-716247157, thanks!

[2020-10-26 06:45] rajeevsrao commented on #6
Please review our blogpost on deploying ONNX models with custom (plugin) layers using TensorRT 7.x+ and [ONNX-GraphSurgeon](https://github.com/NVIDIA/TensorRT/tree/master/tools/onnx-graphsurgeon):
https://developer.nvidia.com/blog/estimating-depth-beyond-2d-using-custom-layers-on-tensorrt-and-onnx-models/

We will be adding more samples in the OSS repository in coming release. Thanks.

[2020-10-26 06:45] #6 closed

[2020-10-26 07:00] MuhammadAsadJaved commented on #791
@pranavm-nvidia  Thank you. It can convert with TensorRT 7.1.  But with TensorRT 7.1 it can convert only when i use `--fp16`. Without `--fp16` it can not without --fp16. I have opened an issue here.

https://github.com/onnx/onnx-tensorrt/issues/549

onnx2trt and trtexec have some problems.  trtexec works with `--fp16` and onn2trt works with `-d16`. Is it same? What is this parameter for?

[2020-10-26 07:17] ttyio commented on #816
Hello @Mishok43 , sorry I have no RTX2070 in hand, so I tried another Turing GPU (RTX 8000) on your updated model, and I see tensorcore acceleration on the 3d conv nodes, once the acceleration is open, we can observe reformat before and after `conv3d` (because of the leaky_relu).

I notice I am using different TensorRT version. Could you try:
- TensorRT 7.2
- --workspace=4096  ( I tried this size

[2020-10-26 07:19] jianyin2016 commented on #658
Hi， @ttyio ，
It seems allright now after a quite simple test with the newly released TRT7.2 :)

[2020-10-26 07:22] ttyio commented on #658
Thanks @jianyin2016 , closing

[2020-10-26 07:22] #658 closed

[2020-10-26 07:29] jianyin2016 commented on #402
Hi, @rajeevsrao ,

Yeah, I think the fix in TRT7.2 works, as reported in [resnet-onnx-parse-error](https://github.com/NVIDIA/TensorRT/issues/658#issue-650309109) .

[2020-10-26 07:29] #402 closed

[2020-10-26 07:40] asmasaad opened #850 "how can I Use trtexec Loadinputs"
Hello All,

it is not mentioned in any doc, How can we use LoadInputs what is the format needed?

/usr/src/tensorrt/bin/trtexec --onnx=[model] --loadInputs=[input]

[2020-10-26 07:55] HaoLiuHust commented on #849
test it on 7.2, it's ok

[2020-10-26 08:06] ttyio commented on #850
Hello @asmasaad , thanks for reporting
loadInputs works like this:

Here the `input_ids`, `input_mask` and `segment_ids` are the inputs names,  and the `*.bin` are raw binary encoded files. e.g, for each float32 values, they encoded into 4bytes, 4bytes, 4 bytes...

[2020-10-26 08:09] ttyio commented on #849
thanks @HaoLiuHust , closing

[2020-10-26 08:09] #849 closed

[2020-10-26 08:15] ttyio commented on #845
Hello @CallmeZhangChenchen ,
sorry for the lack of samples. Now we have plan to improve the document and samples, before that, could you read `trtexec` source code https://github.com/NVIDIA/TensorRT/tree/release/7.2/samples/opensource/trtexec,  it supports option `--minShapes, --optShapes, --maxShapes` that update the dynamic dimensions in the onnx model.
Thanks!

[2020-10-26 08:16] #847 closed

[2020-10-26 08:17] ttyio commented on #844
Hello @xkszltl , thanks for reporting
Could you try if the service is recovered now?

[2020-10-26 08:49] ttyio commented on #846
Hello @Jacoobr , thanks for reporting.
the `IExecutionContext` contains shared resource, so if you want parallel execution, you have to create two `IExecutionContext`, one assigned for each cuda stream. Could you take a try? thanks

[2020-10-26 09:02] ttyio commented on #484
Closing since no response for 3 weeks, please reopen if you still hit the issue, thanks!

[2020-10-26 09:02] #484 closed

[2020-10-26 09:03] ttyio commented on #490
Closing since no response for 3 weeks, please reopen if you still hit the issue, thanks!

[2020-10-26 09:03] #490 closed

[2020-10-26 09:03] ZhangChuann commented on #837
@ttyio ，I will try it soon and give you my feedback.

[2020-10-26 09:06] ttyio commented on #527
Hello @rgc183 , thanks for reporting.
Sorry currently we don't support data-dependent dimensions. Could you look into the model to check if the `NonZero` can be replaced, sometimes onnx exporter just try to generate some indices to embedding layer, it will also use `NoneZero`, in this case it can be replaced with `Range`

[2020-10-26 09:07] ttyio commented on #575
Close since no activity in 3 weeks, please reopen if you have more questions, thanks!

[2020-10-26 09:07] #575 closed

[2020-10-26 09:08] ttyio commented on #581
Close since no activity in 3 weeks, please reopen if you have more questions, thanks!

[2020-10-26 09:08] #581 closed

[2020-10-26 09:08] ttyio commented on #582
Close since no activity in 3 weeks, please reopen if you have more questions, thanks!

[2020-10-26 09:08] #582 closed

[2020-10-26 09:08] ttyio commented on #583
Close since no activity in 3 weeks, please reopen if you have more questions, thanks!

[2020-10-26 09:08] #583 closed

[2020-10-26 09:09] ttyio commented on #586
Close since no activity in 3 weeks, please reopen if you have more questions, thanks!

[2020-10-26 09:09] #586 closed

[2020-10-26 09:10] ttyio commented on #605
Close since no activity in 3 weeks, please reopen if you have more questions, thanks!

[2020-10-26 09:10] #605 closed

[2020-10-26 09:10] ttyio commented on #625
Close since no activity in 3 weeks, please reopen if you have more questions, thanks!

[2020-10-26 09:10] #625 closed

[2020-10-26 09:12] ZhangChuann commented on #837
@ttyio , when I try inference_c.py (alse on tensorrt:20.09-py3 and 20.10-py3 is trying), I came across core dumped similary. And I run in gdb mode:
gdb --args python3 inference_c_debug.py -e $TRT_SOURCE/demo/BERT/engines/bert_base_128.engine -p "TensorRT is a high performance deep learning inference platform that delivers low latency and high throughput for apps such as recommenders, speech and im

[2020-10-26 09:17] ttyio commented on #501
Hello @qian256 , thanks for reporting

Can you call setMaxWorkspaceSize() with a larger memory? this merge can improve your performance.

If you are memory limited and cannot increase your memory, the workaround is to insert `Identity` layer before one of the `Conv`. thanks!

[2020-10-26 09:20] ttyio commented on #503
Hello @xinjialimath , thanks for reporting.

Could you try with latest 7.2 release? thanks.

[2020-10-26 09:21] ttyio commented on #619
close since no response for 3 weeks, please reopen if you have more questions, thanks!

[2020-10-26 09:21] #619 closed

[2020-10-26 09:32] ZhangChuann commented on #837
OK，I think I should use Tag7.2.1 of TensorRT repo.

[2020-10-26 09:34] cocoyen1995 commented on #625
Sorry I didn't notice there's a new reply...
For those who might looking for more details,
I've finished the calibration process successfully with the reply provided [here](https://github.com/NVIDIA/TensorRT/issues/557#issuecomment-690984621)
Still thanks for your reply!

[2020-10-26 09:35] ttyio commented on #837
Yes, please try 7.2.1, thanks!

[2020-10-26 09:39] ttyio commented on #508
@crelkins @mglucas @oak-tree , thanks for reporting issues here

Have you tried the docker image https://github.com/NVIDIA/TensorRT/blob/master/docker/ubuntu-cross-aarch64.Dockerfile

A more detailed doc is in https://github.com/NVIDIA/TensorRT#setting-up-the-build-environment

[2020-10-26 09:48] ttyio commented on #625
thank you too :-)

[2020-10-26 09:50] yoni-f opened #851 "Cuda Error in allocate: 2 (out of memory) - GPU Memory Leak?"
## Description

I am running a simple benchmarking script that has a function that takes a Pytorch model, converts it to TensorRT (via ONNX), then runs inference on it multiple times and measures the time.

The function is called from __main__ inside a loop with different models.

What I've noticed is that after each model finishes running, the GPU isn't cleared completely, until the point where I

[2020-10-26 09:52] ttyio commented on #512
@mdztravelling @jiarenyf @zzzzwj , thanks for reporting

could you try @rmccorm4 's suggestion:
- upgrade to TRT 7.2
- reduce the workspace size

If you still see the failure, could you share the model? thanks

[2020-10-26 11:48] Jacoobr commented on #846
Hi @ttyio, thanks for you reply. I tried to create one 'IExecutionContext' of each cuda stream, the error has not appeared. But i got another error about dynamic profile setting with IExecutionContext like this:
[code]
Because i need the Engine can infer different input size image, so i create a optimization profile to let the engine fit different input size image inference with the code bellowed:

[2020-10-26 12:30] MuhammadAsadJaved opened #852 "How to build in Ubuntu 16.04"
Hi,   I am confused about one thing.  Do we first need install TensorRT from Nvidia Webiste (https://developer.nvidia.com/nvidia-tensorrt-7x-download) according to our system and cuda etc?  and Then also build TensoRT from source (https://github.com/NVIDIA/TensorRT) from here if we want to use samples, onnx parsers and trtexec etc?

Or only building from source is enough?  Or only one method from

[2020-10-26 12:46] Mishok43 commented on #816
I tried TensorRT-7.2.1.6.Windows10.x86_64.cuda-11.1.cudnn8.0 and TensorRT-7.2.1.6.Windows10.x86_64.cuda-11.0.cudnn8.0  (because i didn't find TensorRT-7.2.0 for Windows for downloading from nvidia official website) with workspace==4096 -> Nothing has changed. What can I do to investigate the reasons of this strange behaivour?

[2020-10-26 13:02] rtrobin commented on #401
hi @rajeevsrao . Sorry I can't share the code here. The model is an OCR model with transformer. The thesis is [here](https://arxiv.org/abs/1910.02562v1).

[2020-10-26 13:12] bnascimento commented on #592
Hi guys, I tried @rgc183 solution for a tf2.x object detection api model. But stumbled into another issue.

# onnx2trt model.onnx -o model.trt
----------------------------------------------------------------
Input filename:   model.onnx
ONNX IR version:  0.0.6
Opset version:    11
Producer name:    tf2onnx
Producer version: 1.8.0
Domain:
Model version:    0
Doc string:
----------------------------

[2020-10-26 13:41] ZhangChuann commented on #837
@ttyio , very cool. It is sucessful at nvcr.io/nvidia/tensorrt:20.10-py3(TensorRT 7.2.1) . And I got the correct result. (Thank you.)
root@TENCENT64:/workspace/TensorRT_REPO/TensorRT-7.2.1/demo/BERT# CUDA_VISIBLE_DEVICES=1 python3 inference.py -e $TRT_SOURCE/demo/BERT/engines/bert_base_128.engine -p "TensorRT is a high performance deep learning inference platform that delivers low latency and high

[2020-10-26 13:41] #837 closed

[2020-10-26 14:46] tbaron-nv commented on #737
@sdu2011 it tried to take your code and create a model. I don't seem to reproduce your problem on TRT 7.2 Can you please share the onnx model or provide more precise instruction on how to create the model from your code.

[2020-10-26 15:19] xkszltl commented on #844
US response seems good with a few curl, will do more tests to confirm.
China response is still bad.

[2020-10-26 15:26] xkszltl commented on #844
By "bad" I mean randomly among:
- Normal response
- Wrong dir as described above
- A single line of `Failed to ssl_handshake: closed` (This is from http body, not a curl error msg).
    * <img width="1792" alt="image" src="https://user-images.githubusercontent.com/5203025/97192175-a26c8200-17e2-11eb-931f-99bcd977a197.png">
- 504 Gateway timeout
- ...

[2020-10-26 23:40] mk-nvidia commented on #720
Closing due to no response.

[2020-10-26 23:40] #720 closed

[2020-10-26 23:41] mk-nvidia commented on #714
Closed due to no response.

[2020-10-26 23:41] #714 closed

[2020-10-27 05:28] xkszltl commented on #844
No, US service is still broken.
Running `curl -sSL 'https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64'` result in partial response:
<img width="832" alt="image" src="https://user-images.githubusercontent.com/5203025/97260640-2ad93a00-1858-11eb-962b-5e432ed6c03a.png">

[code]

You can see the last returned block of `<li>`, and everything after, is truncated.

[2020-10-27 07:18] whatlas commented on #559
need this too

[2020-10-27 08:05] redrussianarmy commented on #834
I have solved this issue with installing Tar File. Please follow [instructions](https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html#installing-tar).

[2020-10-27 08:30] xkszltl commented on #844
More specifically, we have a workflow that wants to download `nvidia-machine-learning-repo-ubuntu1804_1.0.0-1_amd64.deb`.
Because we don't know its exact name (don't want to hard-code version), we curl the dir and do some grep/sed to figure out.
It doesn't work recently and we realized the response is truncated.

[2020-10-27 08:31] ttyio commented on #844
Thanks @xkszltl , I have reported internally to track the issue.

[2020-10-27 09:11] MuhammadAsadJaved opened #853 "make trtexec error fatal error: NvOnnxParserTypedefs.h: No such file or directory"
## Description

I have installed TensorRT-7.1 using deb package. with cuda-10.2 and cuDNN 8.0.  I am able to import tensorrt as trt in python3 as well as `dpkg -l | grep TensorRT` show the installed packages.

1- Now I am trying to make `trtexec` which are availabe in `/usr/src/tensorrt/samples/trtexec` folder.

When i run the `make` or `sudo make` in the trtexec directory i got the follwing error

[2020-10-27 09:30] luameows commented on #851
Same problem. But this problem only happens when my system is 1080ti+tensorRT7.0+cuda10.0+centos7.6. When I change to 2080ti+tensorRT7.0, everything works fine. So it's really wired! Does it mean tensorRT7.0 not support 1080ti?

[2020-10-27 09:34] Oldpan opened #854 "Dynamic onnx model to trt : dimensions not compatible for elementwise (broadcast dimensions must be positive)"
## Description

I wrote a DeformableConNetPlugin inherits IPluginV2DynamicExt then use onnx-tensorrt to convert dla34.onnx to .trt.
The onnx parser can parse dla34.onnx without problem but when it starts to build engine, it ocurrs :

[code]
But I see the log onnx parser output about 'Add_187', it seems right:
[code]

## Environment

**TensorRT Version**: TensorRT-7.0.0.11
**GPU Type**: 1080ti
**Nv

[2020-10-27 10:13] ttyio commented on #846
Hello @Jacoobr , thanks for reply.
Could you share more code? I want to know more detail on how you create the dynamic shape profile, how you setup the profile, and how these 2 ctx are used with cuda stream. Thanks!

[2020-10-27 13:25] ZhangChuann opened #855 "squad output"
In TensorFlow run_squad.py, SQuAd output has softmax operation, but in TensorRT squad_output without softmax, Why?

#run_squad.py code in https://github.com/NVIDIA/DeepLearningExamples/blob/master/TensorFlow/LanguageModeling/BERT/run_squad.py
![image](https://user-images.githubusercontent.com/10493733/97307461-b1167000-189a-11eb-91f8-f479c4d01ee3.png)

#TensorRT code  in build.py
def squad_output(

[2020-10-27 14:12] mk-nvidia commented on #713
@ChaunceySun7 Please elaborate on what you did when you "converted your docker container to a new GPU". Did you copy the image to a new machine? Are the two GPUs installed in the same machine? Please elaborate.

[2020-10-27 16:27] bnascimento commented on #523
Hi everyone, I’ve been following this thread because I have the same issue. Basically need to register a NonMaximumSupression operation on onnx-tensorrt.
Did as suggested and wrote on builtin_op_importers.cpp the following:

[code]

Trying to optimize the model from .onnx to .trt with:
`onnx2trt /tmp/export/saved_model/updated_model.onnx -o /tmp/export/saved_model/model.trt`

I got the following e

[2020-10-27 18:03] rajeevsrao commented on #706
@tingggggg you should be able to leverage all our TensorRT 7.x plugins in TensorRT 6.1 since the recommended PluginV2 interfaces (`IPluginV2DynamicExt`, `IPluginV2IOExt`) haven't been updated since then.

[2020-10-27 19:23] rajeevsrao commented on #424
@jqx37 is your issue resolved - can this be closed?

[2020-10-27 19:42] rajeevsrao commented on #398
@ShawnNew your implementation looks correct from a high level. Given that the error message is generic, can you either share the repro steps or try again with a more recent release?

[2020-10-27 19:55] rajeevsrao commented on #389
@predrag12 can you please enable verbose logging (`trt.Logger.VERBOSE`) and also try with a more recent TensorRT release (7.2)?

[2020-10-27 20:40] rajeevsrao commented on #375
Closing again due to no response.

[2020-10-27 20:40] #375 closed

[2020-10-27 20:51] mk-nvidia commented on #705
@ralovich We announced deprecation of the UFF and Caffe parsers in TensorRT7, and won't be adding any new features to them. We recommend switching to the ONNX parser.
https://docs.nvidia.com/deeplearning/tensorrt/release-notes/tensorrt-7.html

[2020-10-27 20:51] #705 closed

[2020-10-27 20:53] mk-nvidia commented on #702
Closing based on the comments above. Please respond here if this is still a problem.

[2020-10-27 20:53] #702 closed

[2020-10-27 20:55] rajeevsrao commented on #374
@RizhaoCai thank for sharing your observation. Do you know if this behavior is specific to Jetson (aarch64) or have you been able to reproduce this on x86 platforms as well? Thanks.

[2020-10-27 21:19] rajeevsrao commented on #370
@MuyangDu  Specify `None` in the dynamic dimension(s). Ex: https://github.com/onnx/tensorflow-onnx/issues/1112
@ZimingLu you can post the model/repro test on a shared drive and email me at rajeevrao at nvidia.

@fran6co as you observed it looks like we are not picking a certain optimal tactic in the dynamic batch case. This is not expected and we would like to debug further. Please provide the rep

[2020-10-27 21:24] rajeevsrao commented on #355
@kostinalexey Thanks - will address this in https://github.com/NVIDIA/TensorRT/pull/299 in the upcoming monthly release

[2020-10-27 21:51] rajeevsrao commented on #347
@Sanster double values are not supported in DimExprs yet.

[2020-10-27 21:51] #347 closed

[2020-10-27 21:55] rajeevsrao commented on #346
@maidouxiaozi is it possible for you to move your workflow to ONNX? There is a tiny yolov2 model on the ONNX modelzoo: https://github.com/onnx/models. Our caffe parser is in maintenance mode and will not be supported except for critcial bugfixes.

[2020-10-27 21:55] #346 closed

[2020-10-27 22:08] rajeevsrao commented on #340
@1-800-BAD-CODE filed this as a feature request for TensorRT core library. Closing the ticket here since we have a workaround for now.

[2020-10-27 22:08] #340 closed

[2020-10-27 22:15] Bidski commented on #582
Sorry for the lack of response. I have been working on upgrading to 7.2.0 but this is not an easy thing to do because of other project dependencies.

[2020-10-27 22:22] rajeevsrao commented on #337
@1-800-BAD-CODE closing the RFE. Will notify if there are any updates on this in future releases.

[2020-10-27 22:22] #337 closed

[2020-10-27 22:33] rajeevsrao commented on #319
@santhoshnumberone can you please indicate if you still need help with this and if you were able to try experimenting with lower WS size?

[2020-10-27 22:43] mk-nvidia commented on #698
Thanks for pointing this out, we're taking a look.

[2020-10-27 22:47] mk-nvidia commented on #691
@yshvrdhn @abx67 Please attach the code / model you're running and the sample image that shows this problem. That way we can run inference using the same model and debug the code. Thanks.

[2020-10-27 22:47] rajeevsrao commented on #310
Thanks @RunningLeon. @zys1994 please let us know if this issue can be closed now.

[2020-10-28 02:27] 2017ZYS opened #856 "I use python api to build my own network, and find that if the network contains a deconvolution layer, it cannot create a dynamic-size engine. It's too weird！"
I use python api to build my own network, and find that if the network contains a deconvolution layer, it cannot create a dynamic-size engine. It's too weird！

    de_conv1_w = weights[weight_key_prefix_first+'.6.weight'].detach().cpu().numpy()
    de_conv1_b = weights[weight_key_prefix_first+'.6.bias'].detach().cpu().numpy()
    de_conv1 = network.add_deconvolution(input=de_conv0_relu.get_output(

[2020-10-28 02:42] #856 closed

[2020-10-28 02:53] warren-lei commented on #590
After commenting out onnx, the compilation is successful.
Thanks for your reply.

[2020-10-28 02:53] warren-lei commented on #590
After commenting out onnx, the compilation is successful.
Thanks for your reply.

[2020-10-28 03:23] ttyio commented on #717
Hello @raccoonliukai @lujq96 , thanks for reporting.
fp32, fp16 and int8 are interchangeable datatypes in tensorrt except for precision difference, and the plugins's `getOutputDataType` is a precision control. So the 2nd return of `fp32` is correct. And it is TRT bug for your observation of `fp16` before you call getDimensions(), we will fix this and also improve the document. Thanks again!

[2020-10-28 04:16] ttyio commented on #855
Hello @ZhangChuann , thanks for reporting
demobert output logits, and softmax exist when postprocess the logits.
https://github.com/NVIDIA/TensorRT/blob/release/7.2/demo/BERT/helpers/data_processing.py#L470

[2020-10-28 05:24] ttyio commented on #851
Hello @yoni-f , thanks for reporting
Could you try TRT7.2 to see if this is fixed in latest version? Thanks

[2020-10-28 05:28] sherlockchou86 commented on #800
Seems 7.2.1 would not work with cuda 11.1 on 3080. Anybody has tested it successfully on 3080?

[2020-10-28 07:43] zeroepoch commented on #844
@xkszltl can you try now. There were some known issues with the download page by mistake when TRT 7.2.1 was launched. It might take some time for these changes to propagate to all mirrors. Both the incorrect listing and the partial listing were issues we were aware of that are now resolved.

[2020-10-28 07:50] Jacoobr commented on #846
Hi @ttyio, At build engine stage, i create only one dynamic shape profile in `constructNetwork` function. the detail code:
[code]
And at infer stage, i set two contexts each with different buffers and streams. i use ` context->setBindingDimensions(0, dims_infer);` the dims_infer presented the specify image size that i will input at infer stage. the detail code as followed:
[code]
I don't understan

[2020-10-28 08:06] ttyio commented on #846
Ah, thanks for the code @Jacoobr ,
Could you create two profiles and assign to separate context, here is some explanation from https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_execution_context.html#aeaa47145eac410c2ff9df8a29b64a96f

[2020-10-28 08:54] beizhengren commented on #782
@golden0080 Hi, I met the same problem that `buildEngineWithConfig` return nullptr. And I tried to change `MaxWorkspaceSize`
but not work. How should I debug this problem, thank you!

[2020-10-28 09:10] silaopi commented on #737
Since I only have CUDA 10.2 on my server, so I tried TRT 7.2.1(CUDA 10.2 and CUDNN 8.0) and still got same error. The `utils.AdaptiveAvgPoolRT2d` in the network, pt model, pth model, onnx model and all the code relate to the conversion is here:

[https://drive.google.com/drive/folders/10G5ePZUc4P023E_962Z6_MsHe6ACDwHb?usp=sharing](url)

[2020-10-28 09:17] chenbohua3 opened #857 "How to configure getBatch when model has multiple inputs."
In sample of int8 calibration, model to be optimized has only one input, so `getBatch` function return `float*`. When model has multiple inputs, how to configure `getBatch`? Do we need to return vector<float*> of which each float* points to one input of the model?

[2020-10-28 09:22] xkszltl commented on #844
Thanks!
Currently I'm seeing good result in China (but not always), still truncated in US.
Will keep checking.

[2020-10-28 11:43] MuhammadAsadJaved opened #858 "How to pass two input images to the network for the interface in the TensorRT-7.1.3.4/samples/python/yolov3_onnx"
Hi,  I am using a Yolov3-Tensorflow model (This model basically changed for the two inputs for training (visual and infrared image) at the same time, then applied two-darknet 53 models for features extraction, then features fusion, and finally object detection).

I have trained, test and used this model for demo in my computer with TensorFlow. Now I want to accelerate it using TensorRT.

I have co

[2020-10-28 11:55] #857 closed

[2020-10-28 12:43] mk-nvidia commented on #701
@gilgilad Thanks for pointing this out. This will be fixed in the next release. Closing.

[2020-10-28 12:43] #701 closed

[2020-10-28 14:11] tbaron-nv commented on #737
@silaopi thanks for the models, I've still a few issues reproducing the issue.
I did encountered a few other issues that prevents tensor-rt from successfully importing and running your model

1. In the onnx model you supplied there is usage for float64 which tensor-rt currently doesn't support
2. We are finding an unsupported shape tensor operation - currently under investigation.

I tried looks a

[2020-10-28 16:54] pranavm-nvidia commented on #854
I think this part is probably the issue:
[code]
Is there a reason you're checking `isConstant()` before the assignment? From the rest of your code, it seems like you're computing the new dimensions based on the runtime input dimensions anyway, so you probably want to remove the `isConstant()` checks.

[2020-10-28 18:07] mk-nvidia commented on #739
Closing due to no response from bug reporter.

[2020-10-28 18:07] #739 closed

[2020-10-28 18:12] mk-nvidia commented on #841
@AD2605 as @MuhammadAsadJaved pointed out, you're missing the submodule. Unfortunately GitHub doesn't provide a way of getting the submodule when you download a zip (see [here](https://stackoverflow.com/questions/12936014/include-a-github-submodule-automatically-in-download)). Please clone the repo using git.

[2020-10-28 18:12] #841 closed

[2020-10-29 02:14] Oldpan commented on #854
@pranavm-nvidia Thanks~ I modify the 'getOutputDimensions' code to :
[code]
and it solved this error, but I meet a new error:
[code]
Here is my code about the plugin:
[code]
I think this error may be due to my wrong code but I don't know where, any suggestions?

[2020-10-29 02:41] ttyio commented on #825
Hello @Darshcg , thanks for reporting.
Currently onnx-trt parser only support `scale` data provide in the initializer if you use onnx `resize` with `scale` input, could you share your onnx model? let's check if the `scale` is static value, thanks!

[2020-10-29 05:09] chaoren2357 opened #859 "No network_api_pytorch in /usr/src/tensorrt/samples/python/"
Hi! I use jetpack 4.4 in my Nvidia AGX Xavier to install TensorRT 7.1.3.0. However, when I follow the tutorial in https://docs.nvidia.com/deeplearning/tensorrt/archives/tensorrt-713/sample-support-guide/index.html#network_api_pytorch_mnist , I can't find /usr/src/tensorrt/samples/python/network_api_pytorch .
[code]
How can I get the folder network_api_pytorch?

[2020-10-29 05:28] ttyio commented on #826
Hello @gabepack , thanks for reporting issue
From you attached sub-model, it only change the input shape from `(1, 256)` to `(256, 1)`, right? I cannot see any issues here.
Could you share us with the failed model for debug? thanks

[2020-10-29 05:32] ttyio commented on #829
@GY0913 , thanks for reporting.
Could you try latest 7.2 release? thanks!

[2020-10-29 05:35] ttyio commented on #830
Hello @iemanjohary , thanks for reporting.
Could you provide a repro for us for debugging? thanks!

[2020-10-29 06:55] HK-little opened #860 "xxx"

[2020-10-29 07:03] Jacoobr commented on #846
Hello @ttyio, i tried to create two profiles and assign to separate context the error with profile  at parallel infer stage just gone. Thank your very much. But the two parallel inference results only the first is right, the second context inference result are not right. What's more, i test the two parallel execution time compared with only one execution, the cost time of two parallel execution ar

[2020-10-29 07:11] rajeevsrao commented on #698
Fixed in the TensorRT OSS 7.2.1 release:
https://github.com/NVIDIA/TensorRT/blob/release/7.2/samples/opensource/sampleINT8API/sampleINT8API.cpp#L340

[2020-10-29 07:11] #698 closed

[2020-10-29 08:52] ShawnNew commented on #398
Seems like TRT7.0+ solved this problem.

[2020-10-29 08:52] #398 closed

[2020-10-29 09:25] bing1zhi2 opened #861 "When add custom layer,error occurred :"could not parse layer type MyPriorBox""
I want to modify PriorBox layer to used in turning my ssd caffe mode to tensorrt model, so I use the offical code in  [plugin folder](https://github.com/NVIDIA/TensorRT/tree/master/plugin/priorBoxPlugin) which implement nvinfer1::IPluginV2Ext class.   And according to trt document [here ](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#using_custom_layer). I write a Plugin

[2020-10-29 09:26] bing1zhi2 commented on #861
[code]

[2020-10-29 09:30] bing1zhi2 commented on #861
# some source code
[code]

[2020-10-29 09:52] bing1zhi2 commented on #861
[code]

[2020-10-29 10:01] jianxiezhendong opened #862 "Plugin If the output's size is calculated from "enqueue", how can I determine the Dims in "getOutputDimensions"?"
Now I write a op with unknow output size which is calculated from the "enqueue" function. But fisrtly, the function "getOutputDimensions" needs a certain size. Could you give me some idea? Thank you!

[2020-10-29 10:24] #860 closed

[2020-10-29 11:00] bing1zhi2 commented on #861
Another question ,In samplePlugin , "ip2" in  prototxt file is an attribute "name" ?   That means It's bind to one layer ,not a type of layer.......If you have many  custom layer who's type is "mylayer1" but each one have different paramter in your network....  But In caffe prototxt file,I guess layer name can't be the same. It's unreasonable

[2020-10-29 11:01] #833 closed

[2020-10-29 11:01] #832 closed

[2020-10-29 11:56] Oldpan opened #863 "Dynamic onnx model to trt(custom dcnv2 plugin) : Misc Error in allocateResources: 2"
## Description

I wrote a DeformableConNetPlugin inherits IPluginV2DynamicExt then use onnx-tensorrt to convert dla34.onnx to .trt.
The onnx parser can parse dla34.onnx without problem but when it starts to build engine, it ocurrs :

[code]
I’m not clear where the problem is. The related problem is #854  .

## Environment

**TensorRT Version**: TensorRT-7.0.0.11
**GPU Type**: 1080ti
**Nvidia Drive

[2020-10-29 13:04] chegnyanjun opened #864 "TensorRT-7.1.3.4/samples/common/buffers.h:447: undefined reference to `sample::gLogError"
hi, i am  use  tensorrt to accerate a simple classification model, liek resnet,i learned a similar project(tensorrt's googlenet),after i write my code and run it, it occurs such problem, can anybody help me?
my envir:ubuntu16.04+cuda10.2+tensorrt7.1.3.4+cudnn8.0.

[2020-10-29 13:52] Rapternmn commented on #792
@tamisalex were you able to build this system?
Deepstream + TRT 7.1?

[2020-10-29 13:56] mk-nvidia commented on #864
`gLogError` is defined in `${SAMPLES_DIR}/common/logger.cpp`. You need to make sure to link your sample to this file. See `CMakeLists.txt` for any sample, it has the line `include(../../CMakeSamplesTemplate.txt)`. `CMakeSamplesTemplate.txt` adds logger.cpp.
Does this fix your problem?

[2020-10-29 23:06] mk-nvidia commented on #853
@MuhammadAsadJaved I just tried this with the latest 7.2 release of TensorRT and it worked as expected. Can you upgrade to this version? If not, I'll have to dig some more. The file `NvOnnxParserTypedefs.h` does not exist in 7.2 and is not referenced.

[2020-10-29 23:35] 1208overlord opened #865 "onnx-to-tensorrt not working for custom ssd mobilenetv2 model"
I have trained own ssd mobilenetv2 model with custom data.
I thought to run it on Xavier AGX, and was going to convert to tensorrt.
I thought tensorflow-onnx-tensorrt is the good way to do it.
And then, successfully generated onnx file, but continued to fail to convert onnx to tensorrt.
Many people other than me have same issue, but I didn't find the best solution for me.
I tried with many ways th

[2020-10-29 23:37] 1208overlord commented on #865
Additional information
I am using TensorRT 6.0.10 version and trained with tensorflow 1.15 version.

[2020-10-30 02:07] jqx37 commented on #424
Hi Rajeev, Thanks for your reply. I did not have a chance to test the solution yet. However, if we can reopen it later after I test it, we can close the issue now. Please let me know if you have any questions. Thanks.

[2020-10-30 02:33] HK-little opened #866 "Error when converting the ONNX model to TensorRT"
## Description

Hi, I am trying to convert a Tensorflow model to TensorRT through onnx.
Run command as bellow:
trtexec --explicitBatch --workspace=2048 --onnx=trans11_dynamic.onnx --minShapes='input:0':1x1x128x1 --optShapes='input:0':1x16x128x1 --maxShapes='input:0':1x512x128x1 --saveEngine=trans11_dynamic.engine

error fragment：
[10/30/2020-10:10:42] [V] [TRT] Tactic: 0 time 0.022096
[10/30/2020-

[2020-10-30 02:36] ttyio commented on #722
Hello @roborocklsm , thanks for reporting
Could you use `nmsPlugin` since you have the `prior boxes`, the `batchedNMSPlugin` only support `box locations`, so the `number_box_parameters` always equal to 4.
https://github.com/NVIDIA/TensorRT/tree/master/plugin/nmsPlugin

[2020-10-30 02:42] roborocklsm commented on #722
Yes, I know. @ttyio
I am just saying the op would more flexible if **number_box_parameters** could be replaced by a list of selected indices. Anyway, I re-wrote it by myself.

[2020-10-30 02:52] ttyio commented on #722
Thanks for the suggestion @roborocklsm

The intuition of this interface come from https://www.tensorflow.org/api_docs/python/tf/image/combined_non_max_suppression?hl=en
we cannot change it now for backward compatible issue, and it is cool you can customize the plugin to fit in your workflow.

May I close this since there is no more blocking issue here? thanks!

[2020-10-30 02:54] roborocklsm commented on #722
Sure, go ahead plz.

[2020-10-30 02:56] ttyio commented on #722
thank you @roborocklsm

[2020-10-30 02:56] #722 closed

[2020-10-30 02:58] ttyio commented on #855
I will close this, please reopen if you still have question, thanks!

[2020-10-30 02:58] #855 closed

[2020-10-30 03:53] MuhammadAsadJaved commented on #853
@mk-nvidia  I have installed 7.1 using the .tar file and it's more convenient. Now It can convert without any error.  Thanks.

[2020-10-30 03:53] #853 closed

[2020-10-30 05:57] xkszltl commented on #844
Still stably seeing truncated result in US (accessing from multiple nodes in Azure's West US 2 region)

[2020-10-30 08:12] silaopi commented on #737
Sorry, I forgot to upload the `model.model` paclage. Now you can see all of them here (the same link in my previous comment): [https://drive.google.com/drive/folders/10G5ePZUc4P023E_962Z6_MsHe6ACDwHb?usp=sharing](url)

And for those issues you encountered:
1. I didn't specify to use float64 in the model saving and tracing process. When I convert the pt model to trt engine, I also got warnings of `

[2020-10-30 10:36] ttyio commented on #486
Sorry @Nioolek @XinnWang @111qqz , I was using an internal nightly in previous comment, now the issue can be reproduced after use the 7.2 release.
Now we have internal track for this issue, and before we fixed that, I have a script to modify the code, and I have verified using your model and it works. Could you take a try? thanks!

    import onnx
    model = onnx.load('3dcnn.onnx')
    graph = mo

[2020-10-30 11:56] CallmeZhangChenchen commented on #845
OK, I've implemented it in C + +, but it's a bit difficult without examples

[2020-10-30 11:56] #845 closed

[2020-10-30 12:21] CallmeZhangChenchen opened #867 "The difference between TensorRT7 and TensorRT 5,6"
I have a very strange problem in the front of the network.

**TensorRT Version**:  TensorRT7 and TensorRT 5,6
**GPU Type**: 2080Super
**Nvidia Driver Version**:  440.36
**CUDA Version**:  CUDA10.0 and CUDA10.2
**CUDNN Version**:  cudnn7.6.5  and cudnn 8.0
**Operating System + Version**:   ubuntu 16.04
**Python Version (if applicable)**:  not used
**TensorFlow Version (if applicable)**: not used
**

[2020-10-30 12:49] dirtmaxim commented on #800
@sherlockchou86 I tested, it works. I built TensorFlow with 7.2.1 support https://github.com/yaroslavvb/tensorflow-community-wheels/issues/168

[2020-10-30 12:49] xkszltl commented on #844
Interesting.
I found the truncated issue is limited to the combination of ubuntu1804 and HTTPS.
HTTP/ubuntu1604/rhel7 responses all look good.

[2020-10-30 13:05] xkszltl commented on #844
This command shows the availability of version `7.2.1` from Azure WestUS2 machine.
Note the special line of `https com ubuntu1804: 0`

[code]
<img width="175" alt="image" src="https://user-images.githubusercontent.com/5203025/97707900-ef0dd100-1af2-11eb-9c7c-9f1f140adc2f.png">

[2020-10-30 13:58] sherlockchou86 commented on #800
it works now！my mistake as the driver was not installed successfully with the right version

[2020-10-30 15:33] pranavm-nvidia commented on #854
@Oldpan One thing I noticed is that you're creating the cublas handle yourself. Instead of doing so, you can use TRT's cublas handle provided in:
[code]
(`cublasContext*` == `cublasHandle_t`)

Another issue is that your plugin allocates its own scratch memory. For example:
[code]
If we assume 64 input channels, and a 3x3 kernel, then you would need `64 * 3 * 3 * 1024 * 1024 * 4 = ~2.4GB` per plugi

[2020-10-30 18:33] VibhuJawa opened #868 "Array object is not Json Serializable on triton_client.infer"
## Description

I am getting the below error when i try to run inference on TensorRT:

[code]

[code]

## Environment

**TensorRT Version**: tritonserver:20.10-py3-clientsdk
**GPU Type**: Tesla T4
**Nvidia Driver Version**:  440.64.00
**CUDA Version**: 10.2
**CUDNN Version**:  (Does this matter if in container ?)
**Operating System + Version**:
**Python Version (if applicable)**: python3.7
**Tenso

[2020-10-30 18:38] 1208overlord commented on #866
Hey, I have similar issue when converting my custom ssd-mobilenet-v2-fn model to tensorrt engine.
Successfully generated onnx file, but failed to convert onnx to tensorrt engine.

Beginning ONNX file parsing
[TensorRT] ERROR: Parameter check failed at: …/builder/Network.cpp::addInput::671, condition: isValidDims(dims, hasImplicitBatchDimension())
Completed parsing of ONNX file
Building an engine f

[2020-10-30 19:39] pranavm-nvidia commented on #867
Since both ONNX-Runtime and TRT 7 are producing the same results, it seems like the issue probably lies in the MXNet->ONNX conversion step.

[2020-10-30 19:41] pranavm-nvidia commented on #866
@HK-little I believe this is a known issue with cuBLAS LT 10.2. Could you try either upgrading your CUDA version, or disabling cuBLAS LT with `--tacticSources=-cublasLt+cublas`

[2020-10-30 20:17] david-macleod opened #869 "Cannot download ngc models in demo/BERT at release/7.2"
## Description

When following the instructions to reproduce the benchmarks in the demo/BERT readme I get stuck when trying to download models from NGC. For example:

[code]

This error occurs for all configurations I have tried, including the defaults. I have also tried browsing NGC online catalogue to find the models manually but I cannot find the tags the `download_model.sh` script is searching

[2020-10-30 20:21] mk-nvidia commented on #869
@david-macleod Yes it's a bug on our side, we're working to re-upload these checkpoints soon. Sorry for the inconvenience.

[2020-10-30 20:34] zeroepoch commented on #844
There is definitely something going on with the mirroring. Here in San Jose I see:
[code]

[2020-10-30 20:42] david-macleod commented on #869
Thanks for the quick reply, is there any sort of estimated time frame for this?

[2020-10-30 22:01] tamisalex commented on #792
I abandoned trying to install inside a docker container.

[2020-10-30 23:08] 1208overlord commented on #866
Sorry, but could you please write the whole command to do it?
I tried many things really.

def get_engine(onnx_file_path, engine_file_path=""):
    """Attempts to load a serialized engine if available, otherwise builds a new TensorRT engine and saves it."""
    def build_engine():
        flag = 1 << int(trt.NetworkDefinitionCreationFlag.EXPLICIT_BATCH)
        """Takes an ONNX file and creates a

[2020-10-30 23:23] gabepack commented on #826
Hi @ttyio, thanks for your response. I'm not sure if the sub-model is changing the input shape from `(1, 256)` to `(256, 1)`. I'm fairly new to debugging these models, so you could very well be correct regarding this.

Since the trained version of our model is proprietary, I'm sharing with you the same model but trained only on 1 epoch of STSb. This is a T5 model that's been converted from PyTorch

[2020-10-31 03:12] HK-little commented on #866
I just use 'trtexec' tool within tensorrt package.
Run command as bellow:（model with dynamic input）
**trtexec --explicitBatch --workspace=2048 --onnx=trans11_dynamic.onnx --minShapes='input:0':1x1x128x1 --optShapes='input:0':1x16x128x1 --maxShapes='input:0':1x512x128x1 --saveEngine=trans11_dynamic.engine**
If you encounter conversion errors directly related to the network and you have no idea to s

[2020-10-31 03:16] HK-little commented on #866
Thank you for your reply.
I will try that.

[2020-10-31 08:34] 1208overlord commented on #866
Thank you.
https://we.tl/t-Co1TpD01yX
This is original checkpoint and frozen model, onnx model I generated.
Please help with my model.

[2020-10-31 16:27] GabbySuwichaya opened #870 "Cannot build "trtexec" in TensorRT 7.2.1"
## Description

I am not sure how this should be done.
I have installed  **TensorRT-7.2.1.6** with the tar file.
That is I have followed  [installation of the Nvidia webpage](https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html#installing-tar)

[code]
Then, I get the following error

[code]

Also, I have installed the **TensorRT Open Source Software** package from **https://githu

[2020-11-01 03:57] lxzatwowone1 opened #871 "Cuda Error in NCHWToNHWC4: 400 (invalid resource handle)"
When I run my model in TensorRT6.0.1.5 ,it get an error like this:
[TensorRT] ERROR: ../rtSafe/cuda/reformat.cu (1179) - Cuda Error in NCHWToNHWC4: 400 (invalid resource handle)
[TensorRT] ERROR: FAILED_EXECUTION: std::exception
I check the datasize and datatype no problem.

[2020-11-01 04:02] CallmeZhangChenchen commented on #867
Thank you. Now I have found a solution. Transfer mxnet to Caffe and then to TRT. The result is the same,

[2020-11-01 04:02] #867 closed

[2020-11-01 09:12] 1208overlord commented on #866
Hello, can you let me know how it works?

[2020-11-01 10:23] tbaron-nv commented on #737
1. Double refer to double precision floats. layer constant_189 uses double data type which isn't supported by TRT at the moment.
2. Unsupported shape tensor - I was a bit vague cause I had to do some more investigation regarding this issue; Layer floor_192 is part of a shape calculation, i.e is part of calculation chain that leads to a resize operation. floor_192 isn't support as part of shape gen

[2020-11-01 14:21] chenbohua3 opened #872 "Assertion failed when use int8 calibration for common onnx model."
## Description
Say we have an onnx model defined as follows:
[code]
And I use `dummy.npy` (transformed from `dummy.pt`) and `model.onnx` to build an INT8 engine, internal error will happen:
[code]
But if I change the model to :
[code]
Everything goes will.
So is this problem a known issue for trt? or is it fixed in a newer trt version?

## Environment

**TensorRT Version**: 7.0.0.11
**GPU Type**:

[2020-11-02 01:40] shroudie commented on #866
Works out for me, brilliant

[2020-11-02 02:05] 1208overlord commented on #866
Did you convert my model via tensorflow-onnx-tensorrt, surely?
If then, can you guide how to run?

[2020-11-02 02:06] 1208overlord commented on #866
My questions:
- Did you convert from my checkpoint?
- Did you convert from my onnx model?
- Did you try to test your final converted model(trt engine)?
I would be so appreciate for your time for me.

[2020-11-02 03:03] HK-little commented on #866
Sorry for the late reply due to weekend.
online check your model：https://netron.app/
Abnormal output as bellow:
name: num_detections:0
type: float32[unk__4100]
the shpae of num_detections:0 should be consistent with the  shape of detection_scores:0.

[2020-11-02 03:06] 1208overlord commented on #866
Sorry for taking your weekend time..
But if you agree, please help me.
So, isn't it possible to convert my model for the current moment?
Did you run my model or not?
Please help me.

[2020-11-02 03:07] HK-little commented on #866
I'm just a rookie, you can publish new issue.

[2020-11-02 03:09] 1208overlord commented on #866
It means you have no way to help me?

[2020-11-02 03:22] oujiafan commented on #568
A solution could be: save as engine file for different platform. So machines in same platform can get same result.

[2020-11-02 03:29] 1208overlord opened #873 "Onnx-Trt engine for custom mobilenet-v2-fn model"
Hello, I built my custom mobilenet-v2-fn model and trained it
I wanted to run it on Jetson Xavier, and tried to convert into trt engine via tensorflow-onnx-trt.
And then, successfully generated onnx, but failed to convert onnx to trt engine.
Please help me

Beginning ONNX file parsing
[TensorRT] ERROR: Parameter check failed at: …/builder/Network.cpp::addInput::671, condition: isValidDims(dims, ha

[2020-11-02 03:41] HK-little commented on #866
Actually, i know little about deeping learning and how to build a network.
Sorry for helpless.

[2020-11-02 06:37] Semen52 commented on #568
If you mean "the same GPU card", yes you're right.

[2020-11-02 07:29] ttyio commented on #816
Hello @Mishok43 , could you run on you system using command line:

and send back the `run.log` ? Thanks!

[2020-11-02 07:53] yuyusmile opened #875 "yolov3 onnx_to_tensorrt_video.py RuntimeError: Driver error"
## Description

~/anaconda3/TensorRT-B/01_YOLO_V3_UFF/TensorRT/yolov3_onnx$ python onnx_to_tensorrt_video.py
Loading ONNX file from path ./zj_yolov3.onnx...
Beginning ONNX file parsing
Completed parsing of ONNX file
Building an engine from file ./zj_yolov3.onnx; this may take a while...
Traceback (most recent call last):
  File "onnx_to_tensorrt_video.py", line 184, in <module>
    main()
  File "

[2020-11-02 08:19] ttyio commented on #846
Hello @Jacoobr ,

For the accuracy issue, I have not run it through, but there is typo in your the code, `buffers2` is not copy to device, could you fix it and retry?

For the throughput issue, this is case by case for different network, for example, when gpu is already fully occupied with one network, if we kick off another network simultaneously, we won't get higher occupancy. You can play with

[2020-11-02 08:40] ttyio commented on #826
thanks @gabepack for sharing the model, I have tried it works with TRT 7.2, my bad, I should suggest you to try 7.2 first.
Could you also try 7.2? thanks!

[2020-11-02 08:47] ttyio commented on #862
Hello @jianxiezhendong , thanks for reporting.
Does your plugin has data dependent dimensions (e.g, NoneZeros in ONNX), we do not support this yet.
Otherwise you can build your expression in your plugin:

simple sample:
https://github.com/NVIDIA/TensorRT/blob/release/7.2/plugin/bertQKVToContextPlugin/qkvToContextPlugin.cpp#L159
advanced sample:
https://github.com/NVIDIA/TensorRT/blob/release/7.2/p

[2020-11-02 09:02] ttyio commented on #863
Hello @Oldpan thanks for reporting.
Error code `2` means `cudaErrorMemoryAllocation` from https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038

Could you add verbose log in `DeformableConNetPlugin::initialize()` function, it seems one of the cudaMalloc failed. Thanks!

[2020-11-02 09:08] ttyio commented on #868
Hello @VibhuJawa , thanks for reporting.
It seems this error is thrown by triton, could you file an issue in:
https://github.com/triton-inference-server/server, thanks!

[2020-11-02 09:35] ttyio commented on #778
close since there is no response in more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-02 09:35] #778 closed

[2020-11-02 09:36] ttyio commented on #774
Close since no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-02 09:36] #774 closed

[2020-11-02 09:36] ttyio commented on #754
Close since no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-02 09:36] #754 closed

[2020-11-02 09:40] ttyio commented on #815
Sorry I will close this issue since get no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-02 09:40] #815 closed

[2020-11-02 09:41] ttyio commented on #796
Close since get no response for more than 2 weeks, please reopen if you have more questions, thanks!

[2020-11-02 09:41] #796 closed

[2020-11-02 09:42] ttyio commented on #802
close since no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-02 09:42] #802 closed

[2020-11-02 09:43] ttyio commented on #811
Close since no response for more than 2 weeks, please reopen if you have more questions, thanks!

[2020-11-02 09:43] #811 closed

[2020-11-02 09:44] ttyio commented on #812
Close since no response for more than 2 weeks, please reopen if you have more questions, thanks!

[2020-11-02 09:44] #812 closed

[2020-11-02 09:47] ttyio commented on #813
Close since no response for more than 2 weeks, please reopen if you have more questions, thanks!

[2020-11-02 09:47] #813 closed

[2020-11-02 09:48] ttyio commented on #840
Hello @hadoop2xu , thanks for reporting.
Can you reproduce the error using latest TRT 7.2? If so could you share a repro for better triage, thanks!

[2020-11-02 15:14] Mishok43 commented on #816
Hello @ttyio , I attached the log file:
[run.log](https://github.com/NVIDIA/TensorRT/files/5476002/run.log)

[2020-11-02 16:32] aunsid opened #877 "processInput() for MaskRCNN takes a lot of time."
I am using the sampleMaskRCNN example for my own dataset. But it seems to take more time than running inference itself. Is there a way to optimize processInput()?

[code]
These are the time that I get for overheads as well as inference. My Image are 640x480

[code]

[2020-11-02 16:49] VibhuJawa commented on #868
Raised here. https://github.com/triton-inference-server/server/issues/2210 .

Thanks.

[2020-11-02 16:49] #868 closed

[2020-11-02 22:08] gabepack commented on #826
Ah, ok, thanks @ttyio, I'll try to get TRT 7.2 working with it and let you know how I fare.

[2020-11-03 00:03] piotyrus commented on #734
Hi LitLeo.

You can query the size of memory required for intermediate tensor computation using ICudaEngine::getDeviceMemorySize API. This memory is unique and private for each IExecutionContext, as opposed to ICudaEngine's Weights memory, which is constant and shared between IExecutionContextes.

TensorRT tries to minimize the Activation memory by re-purposing the intermediate Activation memory t

[2020-11-03 00:43] mk-nvidia commented on #734
Thanks @piotyrus. @LitLeo any more questions?

[2020-11-03 00:57] mk-nvidia commented on #687
Closing due to no response from the issue reporter.

[2020-11-03 00:57] #687 closed

[2020-11-03 01:07] ttyio commented on #816
Hello @Mishok43 , thanks for sharing.
Hmmm, it seems you are not loading tensorrt 7.2, because we have supported dynamic plugin `BatchedNMSDynamic_TRT` since 7.2, see below link:

    https://github.com/NVIDIA/TensorRT/blob/release/7.1/plugin/batchedNMSPlugin/batchedNMSPlugin.cpp
    https://github.com/NVIDIA/TensorRT/blob/release/7.2/plugin/batchedNMSPlugin/batchedNMSPlugin.cpp

But from your log

[2020-11-03 01:21] mk-nvidia commented on #678
@iamyeongjunkim Can you please try the latest 7.2 release? I couldn't reproduce the problem at my end.

[2020-11-03 02:43] ttyio commented on #877
Hello @aunsid , thanks for reporting.
Could you also profile the latency of function `readPPMFile`? the loading from disk depends on the HDD or SSD read efficiency.

[2020-11-03 02:46] ttyio commented on #875
Hello @yuyusmile , thanks for reporting.
Could you run cuda sdk sample `deviceQuery` on your system? (https://docs.nvidia.com/cuda/cuda-samples/index.html#device-query)
If there is no error reporting, could you run you script with verbose log enable, and attached your log here. Thanks!

[2020-11-03 03:01] zhijial-nvidia commented on #866
@HK-little @1208overlord Could you help upgrade your cublas? This is a known issue.
You can found "Patch 1" in https://developer.nvidia.com/cuda-10.2-download-archive?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1804&target_type=runfilelocal

[2020-11-03 03:05] ttyio commented on #872
Hello @chenbohua3 , thanks for reporting
this is fixed in 7.2, could you upgrade your TRT? thanks!

[2020-11-03 03:05] marsmiao commented on #489
We use two Tesla T4

[2020-11-03 04:07] Oldpan commented on #854
@pranavm-nvidia Thanks for your help~
I changed the code accodring to your advise and the problem is solved(I use `workspace` in `enqueue` and not allocate lots of gpu memory).But I'm not clear how to use `attachToContext ` correctly, and I didn't find any examples about `attachToContext`(most examples the funtion is empty). Probably this way?
[code]
I output `.engine` successfully without using `

[2020-11-03 04:36] zzzzwj commented on #512
Oh, sorry for not replying in time. I think I have fixed my problem. I found that the configuration item OptProfileSelector::kMAX decides the maximum GPU memory usage, not the OptProfileSelector::kOPT. So I just set the configuration properly and now it works. Thanks a lot for your reply.

[2020-11-03 04:39] ttyio commented on #512
Thanks @zzzzwj , closing

[2020-11-03 04:39] #512 closed

[2020-11-03 04:44] chenbohua3 commented on #872
@ttyio thanks. I have just tested this model in trt7.2, it works well:) And I am now testing more complicated models to see if there are other problems:)

[2020-11-03 04:53] ttyio commented on #872
Thanks @chenbohua3 , closing

[2020-11-03 04:53] #872 closed

[2020-11-03 05:42] ttyio commented on #873
Hello @1208overlord , thanks for reporting.
which TRT version are you using?
The error says `addInput()` failed, Could you visualize your model to check the input dimension of your model? If there are any dynamic shape dims, you have to create an dynamic optimize profile before build engine. thanks!

[2020-11-03 05:49] HaoLiuHust commented on #489
you can try tensorrt 7.2

[2020-11-03 05:56] ttyio commented on #618
Thanks for reporting

Hello @anoushsepehri ,
For the layers like `resize`, `shuffle`, `slice`, we have multiple inputs, and some of the input accept shape tensor only, the shape input must have type INT32, it seems the model might calculate the shape using elementwise operations (min, equal...), could you visualize your onnx to check if there is some fp32 activation/weights feed into these element

[2020-11-03 06:16] ttyio commented on #873
BTW, you can also try trtexec, we release the binary in the trt package, also there is source code in https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec

[2020-11-03 06:44] ttyio commented on #585
Hello @le8888e , I checked your log, are you using maxwell devices? there is no TensorCore so the speed up is limited, and there would be reformat cost when int8 enabled but not full network can run in int8, so we did not get decent perf gain.

Thanks for your perf data sharing @jkjung-avt @zldrobit

[2020-11-03 06:57] ttyio commented on #573
Hello @brianegge @Ram-Godavarthi ,
Have you tried the cross compile docker image? the cmake is 3.14 from the below code:
https://github.com/NVIDIA/TensorRT/blob/master/docker/ubuntu-cross-aarch64.Dockerfile#L56

[2020-11-03 08:24] xvolica opened #878 "get NoneType when convert transfomer from onnx to tensorrt using TensorRT-7.2.1.6"
## Description
I'm trying to using transfomer network in TensorRT.
At first, I split the transfomer network into two parts, the encoder and the decoder.
Next, I convert the encoder model to ONNX format using torch.onnx.
Now, I want to convert the onnx model to tensorrt format, here is my code:

[code]
I want to know is there something wrong in the convert process? May be there is some layers not s

[2020-11-03 08:49] #878 closed

[2020-11-03 10:01] Jacoobr commented on #846
Hi @ttyio. Sorry for the mistake of the code. I fix the typo of the code and  the two inference results all are correct. Thank you very much. But the infer time of two parallel executions still take 2x than only one execution, it's not certain the two executions are parallel asynchronously. I will check it later with nsight compute tool. Any way, thank you again.

[2020-11-03 12:51] Oldpan commented on #863
@ttyio Thanks for your answer! In #854 the problem is solved.

[2020-11-03 12:51] #863 closed

[2020-11-03 14:25] aunsid commented on #877
Hello @ttyio,

I did watch you asked. I am using a SSD.
[code]
And here is the output:
[code]
I think the preprocessPPM() takes the majority of time:

[2020-11-03 14:40] pranavm-nvidia commented on #854
[code]

Yes, exactly.

I'm not sure why `trtexec` isn't working if you're able to run the engine otherwise. Is your network data-dependent maybe? `trtexec` generates random inputs, so maybe they are malformed in your case.

[2020-11-03 15:02] samringer commented on #869
I'm also seeing this exact error as well!

[2020-11-03 15:17] brianegge commented on #573
No, all my linux hosts are arm based. I'll leave cross compiling an aarch64 docker file from an Intel Mac for another day.

[2020-11-03 15:58] ylmzkaan opened #879 "Conditional flow over network"
Hi, I have a network with a backbone and two heads attached to the backbone. I define this network using the TensorRT C++ API. One of the heads is computationally expensive and I want to get predictions from that head in every 10th inference instead of every time I do forward pass.

I wonder if it possible to set up such a conditional flow over the network with TensorRT C++ API.

[2020-11-03 16:45] xkszltl commented on #844
Start to get good result in our recent test

[2020-11-03 16:54] willsq commented on #869
Me too - thanks for the reply, is there a blocker on this that might affect timescales?

[2020-11-03 16:59] rajeevsrao commented on #415
@copaah can you please confirm if the workaround suggested by Ryan works for you. Marking this an RFE for future consideration.

[2020-11-03 18:37] 1208overlord commented on #873
https://we.tl/t-F6dV0Cuvrz
This is my model(fr0zen, checkpoint and onnx I converted myself)
Could you please try on your side?
It gives many errors, unfortunately

[2020-11-03 18:39] 1208overlord commented on #866
@zhijial-nvidia can you help with my issue?
https://we.tl/t-F6dV0Cuvrz
This is my models.
Can you try on that and help with my issue?
It gives many errors.
I want to have trt engine for my model.

[2020-11-03 21:06] rajeevsrao commented on #869
Sorry for the inconvenience. Some of our NGC checkpoints were deleted - we will upload the new checkpoints by tomorrow (11/4) morning. I will post an update here as soon as that happens.

[2020-11-03 21:11] Mishok43 commented on #816
I logged NV_TENSORRT_VERSION variable value and it's 7201. And I didn't understand how can I use dependancy walker for this task, I only was able to find field tensorrt_version_7_0_0_11:
![image](https://user-images.githubusercontent.com/19211368/98040914-2c939680-1e32-11eb-9497-65de404d0335.png)
Hope this info could help. Thank you @ttyio

[2020-11-03 22:12] rajeevsrao commented on #120
The goal for TensorRT is to support the TF-OD models through the ONNX workflow. We are in the process of improving our ONNX operator coverage and TF2ONNX converter support to support this.

[2020-11-03 22:12] #120 closed

[2020-11-03 22:41] rajeevsrao commented on #153
@zheng-xing thanks for the last update. We are investigating this.

[2020-11-03 23:05] rajeevsrao commented on #167
@cqiaoYc perhaps I need to understand your use-case better. Since this relates to the core TensorRT design and APIs, and extends beyond our open source components, please reach out to me at rajeevrao@nvidia.com and we can discuss options. Thanks.

[2020-11-03 23:05] #167 closed

[2020-11-03 23:13] rajeevsrao commented on #236
@SSSSER1994 going forward, we will only support plugins that implement the IPluginV2Ext and derivative interfaces (IPluginV2DynamicExt, IPluginV2IOExt). With these interfaces, the implementation is only required to provide the Plugin and Creator class implementations. The REGISTER macro registers the plugin creator with the global plugin registry from with the corresponding plugin can be queried.

[2020-11-03 23:13] #236 closed

[2020-11-03 23:20] rajeevsrao commented on #262
Closing stale issue based on last response. @lazylazypig please note (from documentation) that `getOutputDimensions` is only "called by the implementations of IBuilder during analysis of the network."

[2020-11-03 23:20] #262 closed

[2020-11-04 00:49] chegnyanjun commented on #864
＠mk-nvidia,thanks for your reply, i have fixed my problem.thank you so much.

[2020-11-04 00:52] #864 closed

[2020-11-04 02:44] JosephChenHub opened #881 "Why the first batch is very slow ?"
In my experiments on the semantic segmentation task, I found that the forward of the first batch is rather slower than the latter. One surgery is that I manually call the `enqueue`  one time before feeding the true data. So what's the reason behind this issue?  And how to prevent the latency?

[2020-11-04 06:18] silaopi commented on #737
@tbaron-nv
Hi, my problem have been solved and it turned out to be an error during model saving process...
About other issues:
1. The double precision and the unsupported shape tensor problem disappear after I solve the model saving issue.
2. About `[TensorRT] WARNING: onnx2trt_utils.cpp:198: Your ONNX model has been generated with INT64 weights, while TensorRT does not natively support INT64. Att

[2020-11-04 06:18] #737 closed

[2020-11-04 09:51] #846 closed

[2020-11-04 12:09] fish-finger commented on #762
Has the python bindings been open sourced yet?

[2020-11-04 12:11] tbaron-nv commented on #737
@silaopi thanks for letting me know.

As a side note, pytorch by default using int64 for indexing while tensor-rt only support int32 types it will try to automatically convert it.
This is a just warning and its usually safe to ignore but make sure you are don't have overflow

[2020-11-04 12:17] Jacoobr opened #882 "How can i use gLogger interface to write the application execution information on the disk"
## Description

How can i use the gLogger interface to write an application execution information, such as  error information, std console information, on the disk?

[2020-11-04 15:27] 14asaf opened #883 "concatenate error when I tried to convert onnx (from tensorflow) to tensorRT"
## Environment

**TensorRT Version**:   7.2.0
**GPU Type**:  a100
**Nvidia Driver Version**:  450.80.02
**CUDA Version**:  11.0
**CUDNN Version**: 8
**Operating System + Version**:  ubuntu 18.04
**Python Version (if applicable)**: 3.7.9
**TensorFlow Version (if applicable)**:  2.2.0

## Description

When I tried to run this code:

It seems that he has a problem creating an tensorRT model when I ha

[2020-11-04 19:42] qraleq commented on #795
Hi, @pranavm-nvidia, I tried using the ONNX-GS method as you proposed and I've successfully replaced the NMS operator with BatchedNMS_TRT. The problem I'm currently facing is that `onnx.checker.check_model(gs.export_onnx(graph))` function returns following error:
[code]

I think that the problem is in `builtin_op_importers.cpp`, where I added this code similar to #523:
[code]

Do you have an examp

[2020-11-04 19:56] pranavm-nvidia commented on #795
@qraleq You should not need to modify the parser at all in TRT 7.1 and later (for any plugin, not just NMS). Modifying the node in the ONNX model should be enough.

Since `BatchedNMS_TRT` is not technically a valid ONNX op, it's expected that ONNX checker will fail.
From the error message though, it seems like you might have missed one?
[code]

`BatchedNMS_TRT` is shipped as a TRT plugin, so you d

[2020-11-04 20:08] qraleq commented on #795
Tnx for the fast answer. I commented and rebuilt onnx-tensorrt. Now when I uncomment the two lines you proposed, I get the following error:

[code]
Do you have an idea what might be wrong?

[2020-11-04 20:18] pranavm-nvidia commented on #795
@qraleq Looks like your model is using dynamic shapes somewhere:
[code]
Seems like the model input dimensions are fixed though, so it must be due to some intermediate layer whose dimensions can't be resolved at build time.
Can you try using the `BatchedNMSDynamic_TRT` plugin instead?

The good news is that it does seem to be finding the plugin correctly at least:
[code]

Also I think you'll probab

[2020-11-04 20:35] qraleq commented on #795
@pranavm-nvidia Yeah, I also figured that something "dynamic" is still leftover in the graph, but can't figure out what.

I tried to use `BatchedNMSDynamic_TRT`, but I get error saying:
[code]
I'm using TensorRT 7.1.3.0-1+cuda10.2 on Jetson AGX. How can I make sure that dynamic NMS gets recognized by the parser?

[2020-11-04 20:50] pranavm-nvidia commented on #795
@qraleq The dynamic version was added in 7.2, so that would explain why it doesn't recognize it.

Would you be able to share the verbose `trtexec` logs (add `--verbose`) and/or your ONNX model?

[2020-11-04 20:53] rajeevsrao commented on #869
@david-macleod @samringer @willsq FYI fix posted to master and release/7.2 branches today:
https://github.com/NVIDIA/TensorRT/commit/f1d38b5456e15e2683a4513ea3cb14ed6d94cf53

[2020-11-04 20:53] #869 closed

[2020-11-04 20:56] qraleq commented on #795
@pranavm-nvidia Please find the log attached.
[log.txt](https://github.com/NVIDIA/TensorRT/files/5490460/log.txt)

[2020-11-04 21:18] pranavm-nvidia commented on #795
@qraleq You can email me the model/link to the model at pranavm@nvidia.com

Seems like it's this Resize that's introducing dynamic shapes:
[code]

Note that the output of the previous layer has a fixed shape: `Transpose__1002:0 -> (1, 3, 1280, 720)`

Is it possible to express the resize using a constant [`sizes` or `scales` input](https://github.com/onnx/onnx/blob/master/docs/Operators.md#inputs-1

[2020-11-04 21:39] pranavm-nvidia commented on #882
@Jacoobr Could you clarify your question? The logger is user-defined, so you can write logging output wherever you want. For example, you could use [`std::ofstream`](https://en.cppreference.com/w/cpp/io/basic_ofstream) to write to a file.

If you're referring to the logger included with the samples, you can change [this line](https://github.com/NVIDIA/TensorRT/blob/9a9cae75e7155b2114454f37ccc49eca

[2020-11-05 00:13] copaah commented on #415
I never tried the solution and went with other ops than `Conv3DTranspose`, so I cannot confirm if it works, unfortunately.

[2020-11-05 00:32] rajeevsrao commented on #415
Closing as unresolved. Please reopen if necessary.

[2020-11-05 00:32] #415 closed

[2020-11-05 06:24] Jacoobr commented on #882
Hi, @pranavm-nvidia. Sorry for the unclear question.  There are some code like bellowed:
[code]
[code]
In my application, i use gLogVerbose or gLogInfer to record the running infromation. How can i write this all logging information in one place to my disk logger file? I notice the [this line](https://github.com/NVIDIA/TensorRT/blob/9a9cae75e7155b2114454f37ccc49eca9d3352dc/samples/common/logging.h

[2020-11-05 08:54] ttyio commented on #686
Hello @Darshcg , sorry for delay response
I see the branch in this article is still `5.1`. Could you try latest `rel-7.2` branch, and the steps can be find in https://github.com/NVIDIA/TensorRT/tree/release/7.2/demo/BERT ? thanks.

[2020-11-05 09:23] hao6699 opened #885 "Cudnn Error in execute: 3 when inferencing image with dynamic shape"
## Description
When Inferencing image with dynamic shape, some images work well , while some images throw out this error:
[TensorRT] ERROR: ../rtSafe/cuda/cudaConvolutionRunner.cpp (362) - Cudnn Error in execute: 3 (CUDNN_STATUS_BAD_PARAM)
[TensorRT] ERROR: FAILED_EXECUTION: std::exception

I have trained a model by keras, and transfor h5 to the onnx tpye using keras2onnx library. Then I use build

[2020-11-05 14:45] pranavm-nvidia commented on #882
Depending on how you've implemented your change, you might need increase logging verbosity using [`setReportableSeverity`](https://github.com/NVIDIA/TensorRT/blob/9a9cae75e7155b2114454f37ccc49eca9d3352dc/samples/common/logger.cpp#L29).

Would it be possible to share your code for the logging changes?

[2020-11-05 21:27] aunsid commented on #479
@facerless Could you provide the steps to reproduce it?

[2020-11-06 01:48] ttyio commented on #615
@rgc183  @peterlee909 thanks for reporting and sorry for the delay response.
Could we modify the model to use `slice` and `concatenation` since there is no `wrap` mode in trt6?

[2020-11-06 02:16] ttyio commented on #816
Hello @Mishok43 ,

How did you do this? did you modify the trtexec code? This macro is defined in header, and it is only the static version that compiler seen from the header. There is another API `getInferLibVersion` you can use to check the version number dynamically from nvinfer.dll.

From your screenshot, we are using a 7.0 TRT; if you right click the `NVINFER.DLL` in the left tree, you can en

[2020-11-06 06:15] hjlee9182 opened #886 "I have a error when onnx to tensorrt and inference that."
## Description

I make Efficiennet onnx file using this repository.
(https://github.com/rwightman/gen-efficientnet-pytorch)

and I'm try inference using torch2trt.
(https://github.com/NVIDIA-AI-IOT/torch2trt)

But I got a error when inference that.

[TensorRT] ERROR: INVALID_ARGUMENT: Cannot find binding of given name: output_0
[TensorRT] ERROR: INVALID_ARGUMENT: Get binding data type failed.
[Ten

[2020-11-06 07:02] yuyusmile commented on #875
hi @ttyio
[TensorRT] VERBOSE: Applying generic optimizations to the graph for inference.
[TensorRT] VERBOSE: Original: 246 layers
[TensorRT] VERBOSE: After dead-layer removal: 246 layers
[TensorRT] VERBOSE: After Myelin optimization: 246 layers
[TensorRT] VERBOSE: Fusing convolution weights from 001_convolutional with scale 001_convolutional_bn
[TensorRT] VERBOSE: Fusing convolution weights from 0

[2020-11-06 07:03] yuyusmile commented on #875
import os
import tensorrt as trt
import pycuda.driver as cuda
import pycuda.autoinit
TRT_LOGGER = trt.Logger(trt.Logger.VERBOSE)
#trt.Logger.VERBOSE

class GetTrt(object):
    def __init__(self, onnx_file_path, trt_save_path):
        self.onnx_file_path = onnx_file_path
        self.batch_size = 1
        self.fp16_on = True
        self.trt_save_path = trt_save_path

    def build_engine(self):

[2020-11-06 07:04] yuyusmile commented on #875
import os
import tensorrt as trt
import pycuda.driver as cuda
import pycuda.autoinit
TRT_LOGGER = trt.Logger(trt.Logger.VERBOSE)
#trt.Logger.VERBOSE

class GetTrt(object):
    def __init__(self, onnx_file_path, trt_save_path):
        self.onnx_file_path = onnx_file_path
        self.batch_size = 1
        self.fp16_on = True
        self.trt_save_path = trt_save_path

    def build_engine(self):

[2020-11-06 08:05] ttyio commented on #873
Hmmm, for the `addInput` failure, this is because INT8 input not support in onnx parser, can be workaround by replace this int8 input with int32 input.

After this workaround, I still see failure from `resize` node, TRT has known issue for `resize`, we did not support all the coords transformation modes in 7.2. This will be fixed in next major release. Sorry for that...

[2020-11-06 08:13] JettHu opened #887 "INT8 mode layer fusion"
## Description

Some "layer fusion" does not work while I enable INT8 mode building. And my model runs slower than float16 in int8 mode. Is it caused by this.

## Environment

**TensorRT Version**: 7.0.0.11
**GPU Type**: V100DX-8C
**Nvidia Driver Version**: Driver Version: 430.46
**CUDA Version**: 10.0.130
**CUDNN Version**: 7.6.5
**Operating System + Version**: centos 7.0
**Python Version (if app

[2020-11-06 11:45] mmaaz60 opened #888 "Can't Convert a Classification Network Based on 1st two Blocks of Resnet18 fron ONNX to TensorRT Engine"
[checkpoint_2.zip](https://github.com/NVIDIA/TensorRT/files/5501061/checkpoint_2.zip)

Base Platform: PyTorch
PyTorch Version: 1.6.0
TorchVision: 0.7.0

ONNX has dynamic shapes.

Command used to convert onnx to trt:

trtexec --onnx=checkpoin_2.onnx --explicitBatch --optShapes=actual_input_1:3x3x50x100 --maxShapes=actual_input_1:256x3x50x100 --minShapes=actual_input_1:1x3x50x100 --saveEngine=checkp

[2020-11-06 14:41] pranavm-nvidia commented on #887
Are you disabling FP16 when you build in INT8 mode? You should enable both for best performance

[2020-11-06 14:56] Mishok43 commented on #816
@ttyio Yes, I logged by changing code this version. Man, you're awesome, I set the correct PATH and everything is working fine now! Inference time is decreased to about 1.45 ms in fp16 mode (3.2ms in fp32 mode)! Thank you, really.

[2020-11-07 07:52] zeroepoch commented on #844
Can we close this issue or is the problem still happening?

[2020-11-07 14:01] ttyio commented on #816
You are welcome @Mishok43 , and glad to hear the updated perf number :-)

I will close this now, have a good day~

[2020-11-07 14:01] #816 closed

[2020-11-07 19:47] xkszltl commented on #844
I think it's can be closed.
I'm still seeing unstable result in China but maybe I can wrap it with some aggressive retrying loop.

[2020-11-07 19:48] #844 closed

[2020-11-08 01:51] RizhaoCai commented on #842
Appreciate any help!

[2020-11-09 01:49] ttyio commented on #877
Hello @aunsid , thanks for clarification.
Could you modify the network to use the `IResize` layer in TRT? we support both linear and NN mode. More details in:
https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_resize_layer.html

[2020-11-09 02:10] ttyio commented on #532
Close since no activity for 5 months, please reopen if you still have question, thanks!

[2020-11-09 02:10] #532 closed

[2020-11-09 02:13] ttyio commented on #534
Hello @zhouyingchaoAI , sorry for delay response.
Could you retry using latest release? thanks!

[2020-11-09 03:00] le8888e commented on #585
Hi @ttyio,

Thank you, but I'm using Tesla V100.

[2020-11-09 03:52] JettHu commented on #887
Yes, I did. I tried both only INT8 mode and set both flag(FP16&INT8). And got the same reuslt about PWN.

[2020-11-09 06:49] ttyio commented on #655
Hello @CF2220160244 , thanks for reporting.
We can following https://github.com/NVIDIA/TensorRT#setting-up-the-build-environment ?
run the command line on your desktop to build a docker image support cross compile:

     ./docker/build.sh --file docker/ubuntu-cross-aarch64.Dockerfile --tag tensorrt-cross-jetpack --os 18.04 --cuda 10.2

this binary can then copy to your Xavier device.

[2020-11-09 06:49] 1208overlord commented on #873
you say, it is impossible to do for my model for now?

[2020-11-09 07:54] ttyio commented on #652
Hello @HeekonKim , thanks for reporting and sorry for delay response.

If you export the onnx using

    torch.onnx.export(net, data, "output.onnx", opset_version=11)

then run the onnxruntime and trt using

    polygraphy run --trt --onnxrt output.onnx

You can find the trt output matches onnxruntime output.

      [S]         PASSED | Difference is within tolerance (rtol=1e-05, atol=1e-05)

[2020-11-09 09:07] ttyio commented on #873
Hello @1208overlord
we have to wait for next TRT major release, or adjust your model, change the resize and make the `transformationMode` in the onnx-trt support list, see:

https://github.com/onnx/onnx-tensorrt/blob/master/builtin_op_importers.cpp#L2599

[2020-11-09 10:32] a060146251 commented on #548
Did you solve this problem? thanks

[2020-11-10 03:13] qianwangn commented on #713
same machine. different image, both build in same machine with Tesla T4.
one image is build with TensorRT6. Other is build with TensorRT7.
I meet the same problem.

[2020-11-10 04:41] ttyio commented on #608
Hello @taomiao @wyhao31 , thanks for reporting.
Could you retry release 7.2? share the model with us if the issue still exist, thanks!

[2020-11-10 04:49] ttyio commented on #596
Hello @VincentCheng24 , thanks for reporting.
Yes we aware the gap between onnx and onnx-trt for resize operator.

https://github.com/onnx/onnx-tensorrt/blob/master/builtin_op_importers.cpp#L2599

We internally working on closing the gap for the next major release, before that, you have to workaround this by experiment different setting of `align_corners = 0` and `half_pixel = 1`. thanks!

[2020-11-10 04:57] ttyio commented on #585
Sorry @le8888e , we only have fp16 tensorcore in V100, and int8 tensorcore only available for Xavier, Turing and Ampere.
We use IDP, IDP4A on v100, https://docs.nvidia.com/cuda/cuda-binary-utilities/index.html#volta
it not always helps for all cases.

[2020-11-10 05:00] ttyio commented on #597
Hello @Ram-Godavarthi , thanks for reporting
we have a video decoder API, here is the link:
https://docs.nvidia.com/video-technologies/video-codec-sdk/nvdec-video-decoder-api-prog-guide/

[2020-11-10 07:38] whatlas commented on #854
i'm writing a dcn plugin too, and got sth like this, by adding attachToContext i now can use trtexec to test the engine file, but there's a huge number of error line saying
`[E] [TRT] ../rtSafe/cuda/cudaScaleRunner.cpp (114) - Cuda Error in execute: 9 (invalid configuration argument)
[11/10/2020-15:16:47] [E] [TRT] FAILED_EXECUTION: std::exception
`
any idea to fix this?

[2020-11-10 21:41] mk-nvidia commented on #753
@jackgao0323 Can you please post more details about how you hit this error / your code, so we can reproduce it at our end? What

[2020-11-10 23:10] rajeevsrao commented on #246
@twmht it comes from input0 (locData) in `BatchedNMSDynamicPlugin::enqueue`

[2020-11-10 23:44] mk-nvidia commented on #775
@zhou-frank I couldn't reproduce this problem locally either with TensorRT 7.1 or 7.2. Can you please retry with the latest 7.2 TensorRT release?

[2020-11-10 23:47] mk-nvidia commented on #793
@justinblaber Thanks for the suggestions, we'll keep these in mind for the next release.

[2020-11-10 23:49] mk-nvidia commented on #797
@HappyKerry can you please post details of the OS / platform / GPU you're using? Please also post details / logs of the wrong detections you've noticed.

[2020-11-11 01:50] le8888e commented on #585
Hi @ttyio ,

What is the proper way to do pre-process images for calibration? Should they be normalized? In my experiments, the output of quantized model differs a lot with different image pre-process methods.

Thank you.

[2020-11-11 02:25] ttyio commented on #585
Hello @le8888e ,

Calibration tried to extract data distribution from the calibration dataset, different pre-process would result different intermediate activation data distribution. So we should apply the same pre-process steps as how we handle real input in deployment environment.

FYI. We have an example how we do PTQ for BERT on SQuAD1.1 dataset
https://github.com/NVIDIA/TensorRT/tree/release/

[2020-11-11 03:57] jackgao0323 commented on #753
I have post the same problem on Nvidia forum include the model and full steps.

https://forums.developer.nvidia.com/t/error-builtin-op-importers-cpp-2179-in-function-importpad-inputs-at-1-is-weights/156240

[2020-11-11 05:16] Pudge-tao opened #891 "onnx to tenorRT engine: [TensorRT] ERROR: ../builder/cudnnBuilderGraphOptimizer.cpp (1470) - Assertion Error in fusePattern: 0 (eltwiseSuccessorsIdx.size() == eltwiseSuccessors.size())"
## Description

## Environment

**TensorRT Version**: 7.1.3.4
**GPU Type**: Tesla t4
**Nvidia Driver Version**:
**CUDA Version**: 10.2
**CUDNN Version**: 8.0
**Operating System + Version**: centos7
**Python Version (if applicable)**: 3.7
**TensorFlow Version (if applicable)**: 2.2
**PyTorch Version (if applicable)**:
**Baremetal or Container (if container which image + tag)**:

## Relevant Files

[2020-11-11 05:17] #246 closed

[2020-11-11 06:55] ttyio commented on #510
Hello @rgc183 , thanks for reporting
the trt plugin implementation followed tf operators.
https://www.tensorflow.org/api_docs/python/tf/image/combined_non_max_suppression?hl=en

so there is gaps not only the input parameters, also the return values (onnx return indices).

Also we has `topK`, and only do IOU operation on the topK box in each class, it is not the same as `max_output_boxes_per_class`

[2020-11-11 07:26] Pudge-tao commented on #891
when i remove “tf.nn.l2_normalize”, there is no error.  how to l2 normalize in tensorRT. i want to normalize output in GPU

[2020-11-11 08:34] Raneee opened #892 "1660super tensorrt7.1 fp16 not support?"
When i serialize my engine to fp16 model, the fp16 model's pred time is more than fp32 model's.

I env is cuda10.2 and tensorrt7.1

(Excuse my poor English)

any one can help? thank you very much!!

[2020-11-11 08:37] nvpohanh commented on #881
TRT needs to allocate/rearrange some resource after any change in input dimensions (including the very first time right after the context is created). Therefore, it is the correct approach to call the `enqueue` once in the set-up/warm-up stage of your program.

[2020-11-11 09:33] #683 closed

[2020-11-11 10:05] ddlau commented on #510
about "topK", I found something odd, of TensorRT ver7.2.16, when topK was greater than 4096, it will crash during inference, any suggestions?

[2020-11-11 15:52] aunsid commented on #877
Could you provide a code snippet as I am pretty new and dont know how to add layers?

Additonally, I could change my input layers according to issue #479 but I dont know what files to change. Thanks!

[2020-11-11 16:18] Oldpan opened #893 "allClassNMS_gpu: topk above 5000 will issue Segmentation fault."
## Description

When I use trtexec to convert caffe model to trt, if the 'top_k' param is above 4000 in `deploy.prototxt` it will issue:
[code]
And I use gdb to find out where the problem is:
[code]
 It seems the problem is from allClassNMS_gpu and when I set 'topk' below 4000 the problem will disappear.
I also found that if the `topk` is greater than 4000 (or 5000?) in places where nms-op is used

[2020-11-11 16:22] Oldpan commented on #854
I have not found any problems with using this plugin in other places for the time being.  I will report if I meet another problem.
Thanks~ @pranavm-nvidia
@whatlas Maybe the problem is from configuration function ?

[2020-11-11 16:43] pranavm-nvidia commented on #893
This is a limitation of the plugin: https://github.com/NVIDIA/TensorRT/tree/master/plugin/batchedNMSPlugin#known-issues

I've updated it upstream so it issues a more obvious error message rather than segfaulting.

I think most images are unlikely to have so many detections though. Is there a reason you need a topK of >4096?

[2020-11-11 16:46] pranavm-nvidia commented on #893
Just to clarify, prior to running the NMS kernel, we sort the bounding boxes by confidence scores, and then only take the top K boxes. The low confidence boxes are discarded. So the `topK` value does *not* need to be the same as the number of boxes generated - it just needs to be large enough to capture real detected objects.

[2020-11-11 18:18] ledinhtri97 commented on #893
sorry but @pranavm-nvidia I was build OSS tensorrt libnvifer_plugin.so file but every symbol function dont exist in file library libnvifer_plugin.so. I want to call createBatchNMSPlugin but It was not there. only download new file  libnvifer_plugin.so it will there?

[2020-11-11 18:23] pranavm-nvidia commented on #893
@ledinhtri97 You can use the plugin registry if you're looking to create plugin instances manually.
First [get the registry](https://github.com/NVIDIA/TensorRT/blob/master/include/NvInferRuntimeCommon.h#L1354), then [get the plugin creator you need](https://github.com/NVIDIA/TensorRT/blob/master/include/NvInferRuntimeCommon.h#L946), and finally [create the plugin](https://github.com/NVIDIA/TensorR

[2020-11-11 18:30] ledinhtri97 commented on #893
@pranavm-nvidia thank you but
I run nm -gDC out/libnvinfer_plugin.so of the file I was build from source:
output here: you can see that all symbol dont have any plugin exist. maybe i miss take something?
[code]

and here is output of file libnvinfer_plugin.so default download from nvidia-tensorrt tar file.
[code]

[2020-11-11 18:37] pranavm-nvidia commented on #893
@ledinhtri97 That is strange, could you open a new issue for that?

[2020-11-11 19:06] ledinhtri97 opened #894 "Build tensorRT OSS successful but do not have any symbol plugin in library file."
## Description

Hello I follow build TensorRT from source, but maybe have something miss take need help:

Check symbol plugin exist with command

[code]

Bellow the step I build source.

add some PATH default:
[code]
 make build folder and do  cmake file
[code]
output here:

[code]

[code]

## Environment

**TensorRT Version**: 7.1
**GPU Type**: 1080i
**Nvidia Driver Version**:  450.66
**CUDA Vers

[2020-11-11 19:08] ledinhtri97 commented on #893
hi @pranavm-nvidia I added new issues #894, please check out.

[2020-11-11 19:14] pranavm-nvidia commented on #894
Nothing jumps out from the build log at least. Can you try building with `VERBOSE=1` to make sure that the objects are all being linked into the library?

CC @rajeevsrao

[2020-11-11 19:16] ledinhtri97 commented on #894
could I add VERBOSE=1 @pranavm-nvidia , or just export this param?

[2020-11-11 19:24] ledinhtri97 commented on #894
here is the last log when add VERBOSE=1.

[code]

[2020-11-11 19:33] pranavm-nvidia commented on #894
Oh I see the issue - it looks like the [exports map](https://github.com/NVIDIA/TensorRT/blob/master/plugin/exports.map) is hiding the symbols. Could you try replacing the contents of that file with:
[code]

[2020-11-11 21:47] FamousDirector opened #895 "Problems converting InstanceNormlization ONNX layer in TensorRT 7.1.3"
## Description

Hello. I am trying to convert an ONNX model to TensorRT. It seems like converting to InstanceNormalization layer from ONNX is the problem.

## Environment

**TensorRT Version**: 7.1.3
**GPU Type**: Tesla T4
**Nvidia Driver Version**: 450.51.05
**CUDA Version**: 11.0
**CUDNN Version**: same as container
**Operating System + Version**: same as container
**Python Version (if applicabl

[2020-11-11 22:06] pranavm-nvidia commented on #895
There was an assertion left over from before InstanceNorm supported dynamic shapes. I think that's probably what you're seeing here. I think it should work for you if you remove [this check in the plugin](https://github.com/NVIDIA/TensorRT/blob/master/plugin/instanceNormalizationPlugin/instanceNormalizationPlugin.cpp#L300-L308).

[2020-11-11 23:51] FamousDirector commented on #895
Removing that section of code from the `v20.09` branch indeed worked. Model conversion was successful. @pranavm-nvidia is there anything else I can do?

[2020-11-12 01:02] ledinhtri97 commented on #894
thank you @pranavm-nvidia, it worked :+1:

[2020-11-12 01:06] ledinhtri97 commented on #894
It seem wored, when have BathNMSPlugin, but createBatchedNMSPlugin still dont have, please check this again @pranavm-nvidia

[2020-11-12 02:07] JosephChenHub commented on #881
thanks ! That sounds reasonable.

[2020-11-12 02:07] #881 closed

[2020-11-12 02:45] ttyio commented on #510
Hello @ddlau , It is document as limitation, see
https://github.com/NVIDIA/TensorRT/tree/release/7.2/plugin/batchedNMSPlugin#known-issues

[2020-11-12 02:54] ttyio commented on #510
Hello @ddlau , you can rebuild the opensource code with slight changes if you want to support more boxes, see https://github.com/NVIDIA/TensorRT/blob/release/7.2/plugin/common/kernels/allClassNMS.cu#L274
You can update the code like this (depends on your real topK size, you can change the number of template class you want to instance):

      void (*kernel[])(const int, const int, const int, const

[2020-11-12 02:56] ddlau commented on #510
hello and thanks for ur replay
if as so, how should I handle postprocess of YOLO net? which outputs 10647 rectangles...?

[2020-11-12 02:59] ddlau commented on #510
@ttyio OK, i'll give it shot, thank you

[2020-11-12 03:15] ttyio commented on #877
Hello @aunsid ,

**if you are using native TRT api,**
the document for `add_resize`: https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Graph/Network.html#tensorrt.INetworkDefinition.add_resize

code snippet could look like this: https://github.com/NVIDIA/TensorRT/blob/master/demo/BERT/builder.py#L272

**If you are exporting your model from framework,**
then you need change the cod

[2020-11-12 03:19] ttyio commented on #893
Hello @Oldpan , could you try rebuild the plugin with change I mentioned in:
https://github.com/NVIDIA/TensorRT/issues/510#issuecomment-725795935

[2020-11-12 08:03] ttyio commented on #502
Hello @cjsJack , thanks for question
The operation you are done is a gather operation on the 2nd axis, could you check the `IGatherLayer` in TRT?
C++: https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_gather_layer.html
Python: https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Graph/Network.html#tensorrt.INetworkDefinition.add_gather

[2020-11-12 08:04] ttyio commented on #501
I will close since get no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-12 08:04] #501 closed

[2020-11-12 08:05] ttyio commented on #503
I will close since get no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-12 08:05] #503 closed

[2020-11-12 08:06] ttyio commented on #508
I will close since get no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-12 08:06] #508 closed

[2020-11-12 08:07] ttyio commented on #530
I will close since get no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-12 08:07] #530 closed

[2020-11-12 08:08] ttyio commented on #560
I will close since get no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-12 08:08] #560 closed

[2020-11-12 08:09] ttyio commented on #561
I will close since get no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-12 08:09] #561 closed

[2020-11-12 08:09] ttyio commented on #563
I will close since get no response for more than 2 weeks, please reopen if you still have question, thanks!

[2020-11-12 08:09] #563 closed

[2020-11-12 08:10] ttyio commented on #602
I will close since get no response for more than 3 weeks, please reopen if you still have question, thanks!

[2020-11-12 08:10] #602 closed

[2020-11-12 08:11] ttyio commented on #590
Closing since the issue solved, thanks!

[2020-11-12 08:11] #590 closed

[2020-11-12 08:11] ttyio commented on #500
I will close since get no response for more than 3 weeks, please reopen if you still have question, thanks!

[2020-11-12 08:11] #500 closed

[2020-11-12 08:27] ddlau commented on #510
@ttyio hello and sorry to bother you again

I'm heading some problems when cmaking the oss project...

environment; windows10, cuda11.1, cudnn8.0, tensorrt7.2.1

problem 1: what is the so called "RT_LIB" and how to set it up ?
problem 2: how to settle "empty CUDA_ARCHITECTURES"?

here the Output:

`PS D:\TensorRT\build> cmake .. -DTRT_LIB_DIR='D:\\NVIDIA\\TensorRT-7.2.1.6\\lib' -DTRT_OUT_DIR='$(Ge

[2020-11-12 08:33] ttyio commented on #510
Sorry @ddlau , TRT has delivered windows build in binary release, however, we have no windows support for the open source yet:-(

[2020-11-12 08:56] ddlau commented on #510
ok, alright
but any clues about what "RT_LIB" actually refers to? e.g. from linux distributions...

[2020-11-12 09:01] ttyio commented on #510
Hello @ddlau , It is POSIX system library /lib/x86_64-linux-gnu/librt.so.1

[2020-11-12 09:14] Oldpan commented on #893
@pranavm-nvidia Yes 😂  my ssd model needs to output 10000 anchors to select and I need to set topk to 10000.Thanks for ur interpret about `batchnms`. Now I think out another way to accomplish my task...
@ttyio Thanks ~ I changed the `allClassNMS_gpu` function to this:
[code]
But when I put topk to 6200(6000 is ok!), it will issue `Aborted (core dumped)` .It seems the same problem as before, I‘m lo

[2020-11-12 09:22] ttyio commented on #893
@Oldpan do you have the callstack?

[2020-11-12 15:05] pranavm-nvidia commented on #894
@ledinhtri97 That's expected since we don't expose this function in the [OSS plugin header](https://github.com/NVIDIA/TensorRT/blob/master/include/NvInferPlugin.h). You can use the plugin registry to achieve the same functionality, as mentioned [here](https://github.com/NVIDIA/TensorRT/issues/893#issuecomment-725584515).

[2020-11-12 15:06] Oldpan commented on #893
@ttyio
In my situation It's not convenient to outputs callstack,I'll try another way to get more information

[2020-11-12 15:09] pranavm-nvidia commented on #895
I've removed the assertion upstream, so it should be fixed in the next release.

[2020-11-12 15:35] FamousDirector commented on #895
@pranavm-nvidia okay great thanks. I've encountered a weird issues that stems from this same model however. When feeding data with batch size >7 the model returns incorrect results. Is that expected?

[2020-11-12 15:51] pranavm-nvidia commented on #895
@FamousDirector That is not expected. Are the results for all instances incorrect, or just the ones after 7?
And is the behavior different if you use fixed shapes (i.e. set min == opt == max)?

[2020-11-12 16:06] FamousDirector commented on #895
All instances are incorrect. I will need check again with static batching but I believe it was correct with static.

[2020-11-12 23:09] whillas opened #897 "Unsupported Ops in the supported list?"
## Description

I'm getting this warning
[code]
So i look up the [supported Ops](https://docs.nvidia.com/deeplearning/tensorrt/support-matrix/index.html#supported-ops) and find that

- Identity
- DepthwiseConv2dNative
- Const
- Conv2D

Are in the suppored list for Tensorflow models? What gives

## Environment

I'm running this in [Triton Inference Server container 20.10(]https://docs.nvidia.com/de

[2020-11-12 23:44] pranavm-nvidia commented on #897
TF-TRT partitions the graph into segments supported by TRT. If the segment is too small, then it's excluded from conversion to TRT (you can control this via the `minimum_segment_size` parameter). The reason being that for very small subgraphs, the overhead would outweigh any benefits of offloading to TRT.

[2020-11-13 07:26] zhangkui669 commented on #662
please use command 'nvidia-smi' to check GPU-Util when increasing batch size, if gpu-util is already close to 100%, there is no speedup when use larger batch size.
if gpu is not busy, less than 90%, maybe you should check your preprocess pipeline

[2020-11-13 13:27] FamousDirector commented on #895
I used the following command to generate a fixed input size `trtexec --onnx=osnet_ain_fused.onnx --shapes=input:32x256x128x3 --saveEngine=osnet_ain_fused.engine --explicitBatch`. This fixed shape has incorrect output as well. @pranavm-nvidia what are your thoughts?

[2020-11-13 15:07] pranavm-nvidia commented on #895
I can't seem to run the model at all:
[code]
Are you making any modifications to the model before running it?

[2020-11-13 15:35] FamousDirector commented on #895
@pranavm-nvidia I think you are running into a new issue I encountered in 7.2.1. https://github.com/onnx/onnx-tensorrt/issues/566

It works in the 20.09 container if you build with the TensorRT 20.09 release branch (and remove the assert as discussed above. I have the changes here: https://github.com/FamousDirector/TensorRT/tree/newbranch. I used the `/opt/tensorrt/install_open_source.sh` script a

[2020-11-13 17:25] aunsid commented on #794
How did you fix this? Do you have the code for "Fill data buffer?"

[2020-11-13 20:50] pranavm-nvidia commented on #895
@FamousDirector After fixing the [parser bug you mentioned](https://github.com/onnx/onnx-tensorrt/issues/566) I'm getting correct results on TensorRT 7.2 with larger batch sizes (I tried up to 32).

[2020-11-13 22:54] aunsid commented on #348
if anyone is looking for this

bool SampleUffSSD::processInput(const samplesCommon::BufferManager& buffers)
     const int batchSize = mParams.batchSize;
[code]

source: https://forums.developer.nvidia.com/t/custom-trained-ssd-inception-model-in-tensorrt-c-version/143048/14

[2020-11-13 22:56] aunsid commented on #794
if anyone is looking for this

bool SampleUffSSD::processInput(const samplesCommon::BufferManager& buffers)
     const int batchSize = mParams.batchSize;

     // Available images
-    std::vector<std::string> imageList = {"dog.ppm", "bus.ppm"};
+    std::vector<std::string> imageList = {"test.jpeg"};
     mPPMs.resize(batchSize);
     assert(mPPMs.size() <= imageList.size());
     for (int i = 0;

[2020-11-13 23:18] mdegans commented on #173
Is there a good reason for the restrictive license in the Python while the c++ is apache?
[code]

My reading of this is that I can't use these samples anywhere, since I'm under NDA with Nvidia. If I use bits of it in my client's code (client has already copied without attribution anyway), it's a licensing nightmare. It would be helpful if this was relicensed, since it's example code and documentat

[2020-11-15 10:18] #854 closed

[2020-11-16 00:01] whillas commented on #897
Yeah, that doesn't really explain why its saying that `Conv2D` is not supported which is a worry to me :(

[2020-11-16 02:33] CallmeZhangChenchen opened #899 "Using DLA on NX"
## Description

Error reported using DLA on nx

NVMEDIA_DLA :  308, ERROR: setInputTensorDesc failed
NVMEDIA_DLA :  446, ERROR: SetInputTensorDesc failed for tensor: 7. status: 0x0.
NVMEDIA_DLA : 1914, ERROR: BindInputTensorArgs failed (Input). status: 0x7.
[11/16/2020-09:39:45] [E] [TRT] ../rtExt/dla/native/dlaUtils.cpp (194) - DLA Error in submit: 7 (Failure to submit program to DLA engine.)
[11

[2020-11-16 02:51] gonzo1978 commented on #762
Hi, I am also needing the python 3.8 bindings.  You guys said, you will release the bindings 2.5 months ago. Is there any link you can provide to them.  Thank you !!

[2020-11-16 02:59] xvolica commented on #709
meet the same problem

[2020-11-16 03:08] lijie2160 commented on #288
@jkjung-avt  I can load detection and classification models, but error happens when do infer.
for example, I use mtcnn and googlenet for face recognition. I need to load two models at the same time. tensorrt can loads two these models, but when do infer, error happens:
[TensorRT] ERROR: ../rtSafe/cuda/caskConvolutionRunner.cpp (290) - Cask Error in checkCaskExecError<false>: 7 (Cask Convolution ex

[2020-11-16 05:17] becks-ddf commented on #437
Have the same problem with Tensorrt 7.1.3  I export model to onnx with batch_size=2 and afterwards convert it to trt engine with explicitBatch flag but during inference I have predictions only for the first batch and for the second one no predictions at all.  I tried to play around with dynamic batch size and different flags on and off but in general the problem still persists. Any help would be a

[2020-11-16 05:32] fish-finger commented on #762
So am I still!

Python 3.9 out, are we to expect this before 3.10?

[2020-11-16 10:04] bing1zhi2 opened #900 "allClassNMS_gpu: signal SIGSEGV, Segmentation fault."
I have a caffe model and I want to convert it to tensorrt model, It has changed the priobox layer by modify the offical code,so I couldn't use the original plugin .    I have tried to change the cuda code which in offical plugin,and to used in my convert code ,  I converted it successful,   but when I run infer use gdb , at last it will issue :
[code]
Should I try to use NetworkDefinition API to c

[2020-11-16 12:07] FamousDirector commented on #895
@pranavm-nvidia fantastic thank you. I will try and get the dependencies together and try it myself. Will everything be included in the 20.11 release?

[2020-11-16 12:21] stratomaster31 opened #901 "Can't build TensorRT 7.0.0.11 in Debug mode (Windows 10, Visual Studio 16 2019)"
I can't build TensorRT in Debug mode (I can in Rlease mode), I get the following error:

`C:\Program Files\TensorRT-7.0.0.11\include\NvInferRuntimeCommon.h(970,18): error C2059: syntax error: 'constant'`

* **OS**: Windows 10
* **TensoRT**: 7.0.0.11
* **CUDA**: 10.2
* **CudNN**: 7 .6 5
* **Compiler**: Visual Studio 16 2019 - MSVC 19.27.29112.0

[2020-11-16 12:58] handoku opened #902 "How to create a custom plugin which involving a shape tensor input?"
As far as I know, in `IPluginV2DynamicExt` , the `getOutputDimensions` function can only get output dimension's expresion relying on the shape of input tensors. The value of the tensor can not be determined at build time.

So, It seems that there is no way to feed plugin a shape tensor which will result in arbitrary output size.

[2020-11-16 14:40] pranavm-nvidia commented on #897
Well it's not saying that it's unsupported - just that it's not being converted:

[2020-11-16 16:17] pranavm-nvidia commented on #895
@FamousDirector Yes, this should be included in the 20.11 release.

[2020-11-16 16:37] #877 closed

[2020-11-16 20:34] pranavm-nvidia commented on #900
There's a [known issue](https://github.com/NVIDIA/TensorRT/issues/893) where the NMS plugin will segfault if topK > 4096. Could that be what's happening in your case?

[2020-11-17 02:22] crystalwan opened #903 "How to reduce GPU-Util？Do not consider inference performance."
I deploy a model A with tensorrt on 2080TI，the GPU-Util is close to 100%. And it affects another model B inference.Because the two models must be running on the same GPU. The model B requires real time, but A does not. So , does the tensorrt provide any method to reduce the GPU-Util?

[2020-11-17 03:45] DilipSequeira commented on #903
Have you tried cudaStreamSetPriority?

[2020-11-17 03:49] DilipSequeira commented on #903
There are a couple of options that spring to mind: cudaStreamSetPriority will enable you to prioritize model B over model A when CTAs are being dispatched. If you need a stronger real-time guarantee, then I'd suggest looking into CUDA MPS.

[2020-11-17 05:22] NgTuong commented on #842
Hi, @RizhaoCai ,
i have same problem.
when run batch_size = 2.
+ Inputs : array images define :inputs[0].host = images batch
+ Output: array 1 dimension. After reshape (batch, , ). results in first batch too correct, next batches is incorrect.
You have solution??

[2020-11-17 06:44] ammarali32 commented on #494
A lot of problems in your implementation please see some examples before start coding. Also No need to parse the onnx model each time this costs a lot save the model as txt or engine or whatever as a serialized model and deserialize it in the code for infer.
Notice that the CPU and GPU communication cost a lot so look through how to pass an image from CPU to GPU on tensortrt and how to handle the

[2020-11-17 07:08] hegc opened #904 "the dims of tensorRT prediction got changed?"
## Description

the dims of tensorRT prediction got changed, trt model is transformed from onnx using trtexec.

1.npy and 2.npy has same shapes, but different results.

for onnx:
input: (1, 1, 200, 832)
output: (1, 1, 200, 832)

for trt: 1.npy
input: (1, 1, 200, 832)
output: (1, 1, 200, 832)

for trt: 2.npy
input: (1, 1, 200, 832)
output: (1, 1, 832, 200)
I have to transpose the output!!!

## Envi

[2020-11-17 07:16] jianxiezhendong commented on #854
How can I use the "workpace" in "enque"? @pranavm-nvidia

[2020-11-17 07:21] jianxiezhendong commented on #854
Now I should use a template memory which has a big size. But cudaMalloc needs much time, I need the "workspace" to solve it. And I got the "nullptr" from "workspace" address.

[2020-11-17 07:37] qraleq commented on #437
Hi, I have the same problem as described in this thread. Does anyone have a solution for it?

[2020-11-17 09:49] Masterlk opened #905 "GPU memory leak when using tensorrt with onnx model"
## Description

GPU memory keeps increasing when running tensorrt inference in a for loop

## Environment

**TensorRT Version**: 7.0.0.11
**GPU Type**: 1080Ti
**Nvidia Driver Version**: 440.33.01
**CUDA Version**: 10.0
**CUDNN Version**: 7.6.3
**Operating System + Version**: Debian9
**Python Version (if applicable)**: 3.7.4
**TensorFlow Version (if applicable)**:
**PyTorch Version (if applicable)*

[2020-11-17 10:11] rajeevsrao commented on #858
Specify the input shapes before build_cuda_engine
[code]

Allocate buffers and update input bindings before do_inference_v2
[code]

[2020-11-17 10:31] rajeevsrao commented on #273
@koreadhkim the warning is just an advisory to the user. The application must ensure all pending enqueue operations are completed (stream sync) before switching execution contexts.

I'll close the issue due to lack of activity.

[2020-11-17 10:31] #273 closed

[2020-11-17 10:39] yizhaoyanbo opened #906 "Assertion failed: validateInputsCutensor(src, dst)"
## Description

I export the onnx model from pytorch, and set the input (h, w) as dynamic shape. I tried to use tensorrt to load the onnx model. But it is failed to create the engine and has the error log output.

I have tried to use fixed shape to do the inference using tensorrt, and it is successed to get correct results.

So it seems that something goes wrong when using dynamic shape in tensorr

[2020-11-17 10:41] rajeevsrao commented on #859
@chaoren2357 The python samples are currently only included with our GA releases.
See: https://developer.nvidia.com/tensorrt

[2020-11-17 10:41] #859 closed

[2020-11-17 10:47] rajeevsrao commented on #865
@1208overlord Can you provide more specifics about the issue you are seeing (error log) when parsing the ONNX model via TensorRT or share the ONNX model?

[2020-11-17 11:07] rajeevsrao commented on #870
@GabbySuwichaya cmake is only supported on the top level `~/TensorRT` directory which builds all the OSS components. Please follow the instructions in the README verbatim.

[2020-11-17 11:07] #870 closed

[2020-11-17 11:10] rajeevsrao commented on #871
@lxzatwowone1 Looks like we hit a cornercase in our reformat kernels. Please provide the model/engine to reproduce the issue. Better option is to followup on this on our [devtalk forum](https://forums.developer.nvidia.com/c/ai-data-science/deep-learning/tensorrt/92).

[2020-11-17 11:29] rajeevsrao commented on #875
@yuyusmile is it possible for you to share your yolov3.onnx? Also why did you comment out `network.get_input(0).shape = [1, 3, 128, 64]`

[2020-11-17 11:44] rajeevsrao commented on #879
@ylmzkaan We do not support any data-dependent conditional ops/layers in TensorRT as of 7.2 release.

[2020-11-17 11:44] #879 closed

[2020-11-17 14:47] pranavm-nvidia commented on #854
Have you implemented `getWorkspaceSize`?

[2020-11-17 17:52] 1208overlord commented on #865
And then, I will share my model to be converted.

https://we.tl/t-ug58VPlMZq

Please help me with this conversion to Tensorrt

[2020-11-17 18:37] pranavm-nvidia commented on #904
Seems like the code is just reshaping it to a different shape? https://github.com/hegc/trt_model/blob/master/trt_infer.py#L56

[2020-11-17 20:17] mk-nvidia commented on #758
@banbishan Can you please check with the latest TensorRT v7.2?
We'll try to reproduce the issue at our end as well.

[2020-11-17 20:24] mk-nvidia commented on #763
@MattDerry Can you please check if this issue still reproduces with the latest 7.2 release? We'll take a look at our end as well. Thanks

[2020-11-17 20:29] mk-nvidia commented on #768
@bing1zhi2 closing based on the above comment. Please respond if this is still a problem.

[2020-11-17 20:29] #768 closed

[2020-11-17 20:40] mk-nvidia commented on #770
A future release of TensorRT will be able to import a prequantized model from PyTorch. These models can be quantized using [the toolkit](https://github.com/NVIDIA/TensorRT/tree/master/tools/pytorch-quantization) we released earlier.
We don’t yet support deploying a prequantized model from TFLite

[2020-11-17 20:40] #770 closed

[2020-11-17 20:42] skyw commented on #770
Hi

Pytorch does support export (fake) quantized model to ONNX. Although per channel support hasn't been merged to master because it depends on ONNX opset13. See https://github.com/pytorch/pytorch/pull/42835.

[2020-11-17 21:00] pranavm-nvidia commented on #777
Would it be possible for you to share your inference code or provide a snippet of how you set the inference input shapes?

[2020-11-17 21:07] rajeevsrao commented on #773
@vujadeyoon can you confirm you downloaded the tarball for 7.0.0.11 from here? It should have an include folder with the NvInfer headers:
https://developer.nvidia.com/compute/machine-learning/tensorrt/secure/7.0/7.0.0.11/tars/TensorRT-7.0.0.11.Ubuntu-18.04.x86_64-gnu.cuda-10.2.cudnn7.6.tar.gz

Alternatively you can get them from the open source 7.0 branch: https://github.com/NVIDIA/TensorRT/tree/r

[2020-11-18 02:28] jianxiezhendong commented on #854
I know the reason. The plugin is deployed in xavier, and the size of template memory is very large. When I run it on RTX2080ti,
it works well. Thank you!

[2020-11-18 02:44] banbishan commented on #758
have be solved，thank you

[2020-11-18 02:44] #758 closed

[2020-11-18 04:07] nvpohanh commented on #777
@BokyLiu Could you try this: `./trtexec --onnx=example.onnx --saveEngine=example.trt --minShapes=input:1x3x128x128 --optShapes=input:4x3x256x256 --maxShapes=input:5x3x256x256 --shapes=input:<BS>x3x256x256` where `<BS>` is the shape you plan to run inference with?

If that doesn't work, please make sure that our onnx file has a dynamic batch dimension.

[2020-11-18 04:26] BokyLiu commented on #777
@pranavm-nvidia, @nvpohanh. Thanks a lot, i will try it later

[2020-11-18 10:20] phamdat09 opened #910 "Cannot find -lnvinfer_plugin even though build successfully from source"
Hello,

I already built successfully from source ( with ubuntu 18.04, cuda 11.1 ) by using these commands
[code]
Before runing it, I have to install 2 packages to avoid errors
`sudo apt-get install libnvinfer-dev libnvparsers-dev`

Finally, I have 3 files like it in the `$TRT_RELEASE/lib` folder.
[code]
I want to use Tensorrt in my C++ project!!
How can I link these files to my project by using `C

[2020-11-18 12:25] wnzhyee commented on #545
meet same error with a dynamic input model, how to solve it?

[2020-11-18 12:49] Sparkling-Water opened #911 "Convert onnx to tensorrt model failed"
## Description
Hello, I'm trying to convert onnx to tensorrt model, but I got an error message as following:
[code]

My code is as following:
[code]

I don't know how to solve this problem. Can you help me？Thanks!

## Environment

**TensorRT Version**: 7.1.3
**GPU Type**: TX2
**Nvidia Driver Version**: JetPack4.4
**CUDA Version**: 10.2
**CUDNN Version**: 8.0
**Operating System + Version**: Ubuntu1

[2020-11-18 12:53] Sparkling-Water opened #912 "Convert onnx to tensorrt model failed"
## Description
Hello, I'm trying to convert onnx to tensorrt model, but I got an error message as following:
'
Graph construction and optimization completed in 0.125233 seconds.
Constructing optimization profile number 0 [1/1].
Builder timing cache: created 0 entries, 0 hit(s)
../builder/cudnnBuilder2.cpp (2025) - Assertion Error in getSupportedFormats: 0 (!formats.empty())
create engine failed
Ab

[2020-11-18 13:00] #912 closed

[2020-11-18 13:59] #910 closed

[2020-11-19 03:02] niaoyu opened #914 "[TensorRT] ERROR: myelin/myelinUtils.cpp (132) - Myelin Error in gateMyelinGraphStartOnStream: 700 ()"
## Description
Hi， I found a strange problem.
I processed the input image with following code and then process them with trt engine(torch->onnx->trt)：
[code]

When I add the line "# frame = cv2.resize(frame, (288, 512))" just commented in the code, the trt shows error :
[code]
I am so confusing about these.

## Environment
Ngc docker 20.10

[2020-11-19 03:56] suxi1314 opened #915 "There seems to be something wrong with this performance calculation in fcPlugin."
There seems to be something wrong with this performance calculation. The "perf.time"  is divided by "kernelRepeats" twice.
https://github.com/NVIDIA/TensorRT/blob/c796c84bff32445886b9333bcf43581b2824acfb/plugin/fcPlugin/fcPlugin.cpp#L59
https://github.com/NVIDIA/TensorRT/blob/c796c84bff32445886b9333bcf43581b2824acfb/plugin/fcPlugin/fcPlugin.cpp#L115

[2020-11-19 04:37] ttyio commented on #709
Hello @xvolica @mirkocoric , thanks for reporting.

Which TRT version did you download when you setup `$TRT_RELEASE`, we should match the cuda version in the docker (both 10.2 or both 11.0).

Also, could you try latest 7.2:
7.2 binary: https://developer.nvidia.com/tensorrt
7.2 opensource: https://github.com/NVIDIA/TensorRT/tree/release/7.2/demo/BERT

[2020-11-19 07:36] silaopi opened #916 "An efficient way to convert cv::Mat to tensorrt buffers"
When I am using tensorrt to do inference, I use the following code, which comes form [yolov5](https://github.com/wang-xinyu/tensorrtx/blob/master/yolov5/yolov5.cpp), to generate buffers for tensorrt model. My question is: is there an more effecient way of uploading data to GPU?
[code]

[2020-11-19 09:19] CptK1ng commented on #288
@lijie2160 Running in exactly the same issue. Appreaciate to hear if you are able to find a solution.

Using mtcnn from JKJung as face detector and a resnet with onnx-tensorrt for recognition.

[2020-11-19 11:19] niaoyu commented on #914
Sry , I figured out the reason which I used the trt6 inference code in the trt7

[2020-11-19 11:19] #914 closed

[2020-11-19 14:25] dhernandez0 opened #917 "ONNX model working for onnxruntime, not for TensorRT"
## Description

When trying to load an ONNX model with TensorRT, I'm getting errors, however, the model is able to run with onnxruntime. The model is DETR (https://github.com/facebookresearch/detr) modified a bit (models/segmentation.py) because Einsum is not supported currently by TensorRT. I've attached the code in a zip file, and steps to reproduce the issue.

## Environment

**TensorRT Version

[2020-11-20 02:59] zccyman opened #918 "Larger input data will get Incorrect results when using C++ TensorRT, But onnxruntime can get correct results."
## Description

input data shape:[1, 7, 512, 512]
output data shape:[1, 3, 512x3, 512x3]
onnxruntime can get correct results, but C++ TensorRT will get Incorrect results.

## Environment

**TensorRT Version**: TensorRT-7.2.1.6
**GPU Type**: Tesla T4
**Nvidia Driver Version**: 440.33.01
**CUDA Version**:  cuda-10.2
**CUDNN Version**: cudnn-8.0
**Operating System + Version**: centos7
**Python Versio

[2020-11-20 05:03] valerann-alan commented on #762
When is the next release schedule?

[2020-11-20 09:29] wnzhyee opened #921 "ERROR: Unnamed Layer* xxx [Slice]:slice size must be positive, size=[0,0,0]"
I use onnx model in tensorrt to inferece, it reports this issue, the model can inference to the end but i cant get correct result. I check my model via onnxruntime, and the result is ok. I print the onnx node and it is like:

[code]

I dont know where is wrong, please help me ,thanks!

[2020-11-20 09:30] wnzhyee commented on #921
The input should be a tensor of 64x2x1x256, and the model uses 2 slice op to split them to 64x1x1x256.

[2020-11-21 00:13] zccyman opened #922 "groupNormalizationPlugin.cpp:(.text.startup+0x61): undefined reference to `getPluginRegistry'"
## Description
build TensorRT library like as follow:
[code]
I get error like this.
[code]

## Environment

**TensorRT Version**: TensorRT-7.2.1.6
**GPU Type**: Tesla T4
**Nvidia Driver Version**: 440.33.01
**CUDA Version**: cuda-11.0
**CUDNN Version**: cudnn-8.0
**Operating System + Version**: centos7
**Python Version (if applicable)**: 3.6
**PyTorch Version (if applicable)**: 1.6.0

[2020-11-22 02:56] austinmw opened #923 "[Feature Request] Easy install"
TensorRT is still one of the most aggravating libraries to install in modern ML.

Requiring a web login makes it difficult to script, the download speed is often incredibly slow, and several steps are required. I think usage would become more widespread if the install process were to be simplified, maybe even with a Conda installation. I know that docker images are available, but these are not alw

[2020-11-22 03:16] RizhaoCai commented on #842
Same issue. I have tried many methods. But all failed.

[2020-11-22 05:25] pengfeidip opened #924 "crash in builder->createBuilderConfig()"
## Description

run `sampleMNIST `， crash in `builder->createBuilderConfig()`

## Environment

**TensorRT Version**:  tensorrt7.0
**GPU Type**: GTX 1060
**Nvidia Driver Version**:   441.22
**CUDA Version**:  10.2
**CUDNN Version**: 7.6.5
**Operating System + Version**:  win10  2004
**Python Version (if applicable)**:
**TensorFlow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Ba

[2020-11-22 05:58] pengfeidip commented on #924
actually ， TensorRT 7.2 with cuda 10.2 has the same problem

[2020-11-23 02:43] hegc commented on #904
Can the Relu6 be transferred to tensorRT?

[2020-11-23 04:33] whillas commented on #897
Thats retarded

[2020-11-23 09:56] xusk opened #925 "Cuda Error in launchNaiveSliceImpl: 400 (invalid resource handle)"
## Description

multi-threading in  yoloV5 plugin enqueue
../rtExt/cuda/slice.cu (148) - Cuda Error in launchNaiveSliceImpl: 400 (invalid resource handle)
FAILED_EXECUTION: std::exception

but if without threading the result is  ok

## Environment

**TensorRT Version**: 7.1.3
**GPU Type**:  1080Ti
**Nvidia Driver Version**:  418
**CUDA Version**:  10.2

[2020-11-23 10:16] sudapure opened #926 "pytorch export to onnx with specific output layers"
Am trying to export pytorch network to ONNX and then onnx to tensorrt for faster inferencing , but i need to get the output of layer(avg_pool) prior to final softmax layer or any layer in between, model[-N] , so as per following image, the avgpool layer is named as **GlobalAveragePool**, which returns 512-d feature vector as output tensor, here i am using pretrained resnet-18 model as a sample net

[2020-11-23 13:16] hegc commented on #904
And clamp op...I think it's a bug!

[2020-11-24 01:01] pengfeidip commented on #924
Sorry,  my mistake. I find the project using the TensorRT5_dll which I am using。So, I copy the TensorRT7_dll to `bin` （using the TRT7_dll ）， then everthing is ok

[2020-11-24 01:02] #924 closed

[2020-11-24 02:26] hegc commented on #904
1.npy is C_CONTIGUOUS numpy array...
2.npy is F_CONTIGUOUS numpy array...

[2020-11-24 02:26] #904 closed

[2020-11-24 09:15] davidas1 opened #927 "int8_calibrator not used when using build_engine (but works when using build_cuda_engine)"
## Description

Hi,

I'm trying to convert models from PyTorch -> ONNX -> TensorRT. Optimally, I would like to use INT8 and support dynamic input size.
I seem to be able to create an INT8 calibrated model if I use `builder.build_cuda_engine(network)` and use optimization profiles for dynamic input support if I use `builder.build_engine(network, config)`.
The latter option seems to always ignore th

[2020-11-24 10:03] davidas1 commented on #927
I found a solution in issue #388, which is to use `config.set_flag(trt.BuilderFlag.INT8)` instead of `builder.int8_mode = True`.
The link to the example script given there is broken, here is the updated link:
https://github.com/rmccorm4/tensorrt-utils/blob/master/int8/calibration/onnx_to_tensorrt.py

[2020-11-24 10:03] #927 closed

[2020-11-24 11:25] mdhexplorer commented on #386
Hi! I've met similar problem when parsing an onnx model. What is the specific version of TRT7 you mentioned?

[2020-11-24 11:56] mdhexplorer commented on #386
For some reasons, the latest CUDA version I have available is 10.0. Refer to the official website information（https://docs.nvidia.com/deeplearning/tensorrt/archives/tensorrt-713/support-matrix/index.html）, the latest TRT version I can use is 7.0.0.11. Does this mean that the problem of Upsample/Resize cannot be resolved in my current environment?

[2020-11-25 01:10] Wheest commented on #375
Hi there, I have a simple reproducible example of this, where I don't even use ONNX, I just use the underlying TensorFlow model to import via UFF and thus into TensorRT.

My example is MobileNetV2, and the predictions are incorrect.  It's an ImageNet model, so the output is an array of 1000, so no possible reshaping issues.

The inference code is just `/usr/src/tensorrt/samples/python/introductory

[2020-11-25 03:16] lifei1229 commented on #832
so, have you solved it now?

[2020-11-25 03:57] yuyusmile commented on #875
hi @rajeevsrao I converted the first mock exam, I commented it off. But it reported an error to yolov3.

[2020-11-25 09:41] Sunhil opened #928 "make: *** [nvinfer_plugin] Error 2"
Met problem when run code, make nvinfer_plugin -j$(nproc).

Environment:
CUDA:10.0
CUDNN:7.5
TensorRT:6.0.1

Below is my steps，and I occur error after run， make nvinfer_plugin -j$(nproc).
[code]
I notice that I hadn't modify the version of cuda, so then I run the commons below.
[code]
However, the problem about nvinfer_plugin showed again.
Any suggestion will be appreciated!

[2020-11-25 10:20] Qiancj0605 opened #929 "bertQKVToContextPlugin Initialization data"
![image](https://user-images.githubusercontent.com/34846384/100213404-8a0a9700-2f49-11eb-874f-18a663881a09.png)

How is this data generated？
Can you provide data in "*fp16_312_64*" format? Or can you provide tools to generate data？

[2020-11-25 13:01] huanga2 commented on #792
I found that the CUDA docker image have an additional PPA repo registered `/etc/apt/sources.list.d/nvidia-ml.list`. This seems to overshadow the specific file deb repo with the cuda11.0 version of libnvinfer7.

I just added a line to delete `nvidia-ml.list` and it seems to install TensorRT 7.0 on CUDA 10.0 fine. I am not sure on the long term effects though, as my native Ubuntu install does not ha

[2020-11-26 05:47] RizhaoCai opened #930 "Confusion of execute_async of Python API"
## Description
I have some confusion about the context. execute function.

According to the TensorRT Python API document, there are `execute` and `execute_async`.
![image](https://user-images.githubusercontent.com/37952703/100312457-5719df00-2fed-11eb-9c87-8fde535d9772.png)

However, according to [here](https://docs.nvidia.com/deeplearning/tensorrt/best-practices/index.html#optimize-python)
![imag

[2020-11-27 06:56] pogevip opened #931 "how to accelerate bert classification model with tensorrt ?"
how to accelerate bert classification model with tensorrt ?

[2020-11-27 07:53] ttyio commented on #804
I will close this since no response in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 07:53] #804 closed

[2020-11-27 07:56] ttyio commented on #808
I will close this since no response in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 07:56] #808 closed

[2020-11-27 08:04] ttyio commented on #805
Hello @sunilpankaj  @zldrobit
Sorry there is no support for ScatterND yet. You can follow @Jacoobr 's suggestion to implement your own plugin and register in ONNX parser. thanks!

[2020-11-27 08:08] ttyio commented on #851
I will close this since no response in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 08:08] #851 closed

[2020-11-27 08:09] ttyio commented on #850
I will close this since no response in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 08:09] #850 closed

[2020-11-27 08:09] ttyio commented on #826
I will close this since no response in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 08:09] #826 closed

[2020-11-27 08:10] ttyio commented on #825
I will close this since no response in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 08:10] #825 closed

[2020-11-27 08:11] ttyio commented on #814
I will close this since no activity in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 08:11] #814 closed

[2020-11-27 08:12] ttyio commented on #829
I will close this since no response in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 08:12] #829 closed

[2020-11-27 08:12] ttyio commented on #830
I will close this since no response in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 08:12] #830 closed

[2020-11-27 08:13] ttyio commented on #838
I will close this since no response in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 08:13] #838 closed

[2020-11-27 08:15] ttyio commented on #824
Hello @za13 , thanks you reporting,
could you use docker to build your samples https://github.com/NVIDIA/TensorRT#setting-up-the-build-environment
the cmake version is 3.14 in docker.

[2020-11-27 08:20] ttyio commented on #820
Hello @Darshcg , the trt engine file size gap depends on the algorithms selected on the target platform, some algorithm might request more persistent memory, and these persistent memory are serialized into the engine file for future interference run. Have you tried change the workspace size, to see if the size is reduced due to the algorithm selected changed.

[2020-11-27 09:04] xvolica commented on #709
I'm using TensorRT-7.1.3.4.Ubuntu-16.04.x86_64-gnu.cuda-10.2.cudnn8.0.tar to directly install without docker, and try to convert a transformer model from onnx to trt.
I can't find the error infos now and succeed by another way.

[2020-11-27 09:11] ttyio commented on #834
thanks @redrussianarmy ,
hello @Myron1996 could you follow the suggestion by @redrussianarmy ?

[2020-11-27 09:12] ttyio commented on #840
I will close this since no response in more than 3 weeks, please reopen if you still see issue, thanks!

[2020-11-27 09:12] #840 closed

[2020-11-27 09:13] ttyio commented on #843
Hello @MuhammadAsadJaved , thanks for reporting.
when `--fp16` is used, tensorrt will also try run your nodes in fp16 precision when it performs faster than fp32 precision.
Your previous failure `FAILED_ALLOCATION: std::bad_alloc` might caused by short of memory, and fp16 require less memory for both activation and weights.
BTW, you can also try a smaller `--workspace_size` when run without `--fp1

[2020-11-27 09:26] ttyio commented on #852
Hello @MuhammadAsadJaved , thanks for the question.
Currently we only opensourced samples, plugins, and parsers, so we still have to install the tensorRT core binary first.
We do not need to build the opensource if we do not want to modify the samples, plugins or parsers. we have a binary distribution in the binary package.
For the cudnn and cuda version, it is already specified in the download pa

[2020-11-27 10:40] ttyio commented on #836
Hello @bladesaber , thanks for reporting.
We have enhanced the build experience in 7.2, could you try latest https://github.com/NVIDIA/TensorRT/tree/release/7.2? thanks!

[2020-11-27 10:45] ttyio commented on #618
close since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2020-11-27 10:45] #618 closed

[2020-11-27 10:46] ttyio commented on #585
close since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2020-11-27 10:46] #585 closed

[2020-11-27 10:46] ttyio commented on #573
close since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2020-11-27 10:46] #573 closed

[2020-11-27 10:47] ttyio commented on #572
close since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2020-11-27 10:47] #572 closed

[2020-11-27 10:48] ttyio commented on #569
close since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2020-11-27 10:48] #569 closed

[2020-11-27 10:49] ttyio commented on #534
close since no activity for more than 2 weeks, please reopen if you still have issue, thanks!

[2020-11-27 10:49] #534 closed

[2020-11-27 11:18] ttyio commented on #509
Hello @Edwardmark ,
have you solved the problem?  If not, what's the remaining issue? thanks!

[2020-11-27 11:25] ttyio commented on #541
Hello @rgc183 , have you tried latest TRT 7.2?

[2020-11-27 11:52] ttyio commented on #545
Hello @yux94  @jiuzhuanzhuan  @wnzhyee
Have you tried 7.2? If you still see the failure in 7.2, could you share your model or code? thanks!

[2020-11-27 12:17] ttyio commented on #525
Hello @asgtech , thanks for reporting,
have you tried latest release 7.2 ?
https://github.com/NVIDIA/TensorRT/tree/release/7.2

[2020-11-27 13:45] Wheest opened #932 "Keras-UFF model inference output is incorrect"
Making a new issue, related to #375, since that one has been closed, and my issue does not involve ONNX.

In summary, exporting a model from Keras via UFF gives the incorrect output.

I have a [simple reproducible example of this](https://github.com/Wheest/keras_tensorrt_inference), where I don't even use ONNX, I just use the underlying TensorFlow model to import via UFF and thus into TensorRT.

[2020-11-27 22:04] ranlu opened #933 "TensorRT does not support InstanceNorm3d"
## Description

Our model in pytorch contains serveral [InstanceNorm3d](https://pytorch.org/docs/stable/generated/torch.nn.InstanceNorm3d.html#torch.nn.InstanceNorm3d) operators. When I tried to load the onnx model using onnx-tensorrt, I get an assert error:

I tried to comment out the assert and run the model anyway, the outputs are very different

Looking at tensorrt [source code](https://github

[2020-11-27 22:43] ZahraTaleb7 commented on #228
Hi @rmccorm4
Could you please help me to convert my keras model to a way that I can use in deepstream?

[2020-11-28 03:41] #852 closed

[2020-11-28 12:56] ttyio commented on #662
closing since no response for a long time, please reopen if you still have question. thanks!

[2020-11-28 12:56] #662 closed

[2020-11-28 12:57] #645 closed

[2020-11-28 12:57] ttyio commented on #646
closing since no activity for more than 2 months, please reopen if you still have question, thanks!

[2020-11-28 12:57] #646 closed

[2020-11-28 12:58] ttyio commented on #818
closing since no response for more than 1 month, please reopen if you still have question, thanks!

[2020-11-28 12:58] #818 closed

[2020-11-28 13:02] ttyio commented on #661
closing since no response for 2 months, please reopen if you still have question, thanks!

[2020-11-28 13:02] #661 closed

[2020-11-28 13:05] ttyio commented on #527
closing since no response for more than 1 month, please reopen if you still have question, thanks!

[2020-11-28 13:05] #527 closed

[2020-11-28 15:54] xufuzhi opened #934 "can I use fp16 data as input"
I build an engine with fp16 data type.But I get wrong output if I feed some fp16 input data, why I need feed fp32 type input when I have a fp16 type engine?
Thank you!

[2020-11-29 02:19] Ca0L commented on #923
Agree.

[2020-11-30 02:26] nvpohanh commented on #934
You can set the `dtype` of the input/output tensors: https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Graph/LayerBase.html#tensorrt.ITensor

[2020-11-30 05:48] ttyio commented on #571
Hello @eagle717 , sorry for late response
For L4T platform, the TensorRT is distributed with JetPack, and TRT7.1.3 is used in JepPack 4.4.
https://developer.nvidia.com/embedded/jetpack

[2020-11-30 05:54] ttyio commented on #595
Hello @jalola , sorry for the delay response,
according to https://github.com/onnx/onnx-tensorrt/issues/374 the error is fixed in latest build.
Have you tried release 7.2? thanks!

[2020-11-30 05:57] ttyio commented on #600
Hello @Ram-Godavarthi , sorry for the delay response,
which version are you using?
Have you tried latest release 7.2?

[2020-11-30 06:23] ttyio commented on #842
Hello @RizhaoCai , thanks for reporting.
Now the onnx parser only support explicit batch dimensions since 7.x,  So we need export onnx with that batch dim as dynamic axis (-1) from framework, then call context.setBindingDimensions(...) during inference.

More details on this here: https://forums.developer.nvidia.com/t/tensorrt-7-onnx-models-with-variable-batch-size/115302/6?u=nves_r

[2020-11-30 06:57] NgTuong commented on #842
Hi @ttyio
Thanks for your answer.
You can explain for me here "batch dim as dynamic axis (-1) from framework".
I using python API to convert to onnx.
THanks

[2020-11-30 07:00] ttyio commented on #842
Hello @NgTuong ,
see https://pytorch.org/docs/stable/onnx.html, we can specify `dynamic_axes` in the `torch.onnx.export` function.

[2020-11-30 07:01] Edwardmark commented on #509
I just want to find out a cpp example, would you please provide one? Thanks.

[2020-11-30 07:15] ttyio commented on #509
Hello @Edwardmark ,
trtexec is a cpp sample that show how to bind buffer as trt enqueue input.
https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec

But it did not show how to interact with pytorch, you have to replace the buffer pointer with the device pointer retrieved from pytorch.

[2020-11-30 07:18] NgTuong commented on #842
@ttyio
I fixed dynamic_axes in torch.onnx..export but result still fail.

[2020-11-30 07:24] NgTuong commented on #842
![Uploading Screenshot from 2020-11-30 14-23-36.png…]()

[2020-11-30 07:25] ttyio commented on #842
@NgTuong , did you use `createOptimizationProfile` in builder and `setBindingShape` in inference?

[2020-11-30 07:49] NgTuong commented on #842
@ttyio
I checked from model ONNX before check model trt. Results are failed.
If results in onnx step are failed, results in trt step too

[2020-11-30 07:51] NgTuong commented on #842
![Screenshot from 2020-11-30 14-23-36](https://user-images.githubusercontent.com/42471216/100582136-5b126d80-331b-11eb-8c4a-888e6c424574.png)
Module convert to onnx. What's wrong?

[2020-11-30 07:55] ttyio commented on #842
Hello @NgTuong , the export to onnx is correct.
For how to use `createOptimizationProfile` in builder and `setBindingShape` in inference?
Could you check https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec

[2020-11-30 08:01] NgTuong commented on #842
@ttyio  oki, thank you very much.
I will check it again and response for you.

[2020-11-30 08:06] ttyio commented on #842
@NgTuong
BTW, besides read the code, you can also run `trtexec` follow https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec#example-4-running-an-onnx-model-with-full-dimensions-and-dynamic-shapes
to first verify that the batchsize = 2 works when using `trtexec`.

[2020-11-30 10:30] 257kb opened #935 "Error 'Tensor must be at least a vector, but saw shape: []' when tensorRT optimizing with converter.Build() string input base64 servable."
## Description
I tried to optimize a tensorflow 2+ simple classification model using tensorRT with as input a string as I want to serve with tensorflow serving with base64 input. But when it reaches the converter.build() function, I get this error:

`    inputs, attrs, num_outputs)
tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found.
  (0) Invalid argument:  Tensor

[2020-11-30 14:52] Wheest commented on #932
My issue was related different preprocessing steps between the Keras and TensorRT model.  See the updated MWE for the solution.

[2020-11-30 14:52] #932 closed

[2020-11-30 16:11] pranavm-nvidia commented on #923
You can pip install it:
[code]

[2020-11-30 17:15] Mishok43 opened #936 "Slow 3D Resize NN inference"
## Description

3D Resize layers with Nearest Neighboor filtering is very slow
![image](https://user-images.githubusercontent.com/19211368/100641334-60d27800-3348-11eb-8939-1e2d33ddf367.png)
About 25% of inference time spends on two resize layers, which it's a really strange.
How can I improve the inference time for them? I attached the zip archive with my model and verbose log (fp16 workspace 400

[2020-11-30 17:20] KleinXin commented on #840
Same Error encountered, any sulotions?

[2020-11-30 19:45] shroudie opened #937 "Multi-batch Inference Slow on TensorRT 7"
## Description

Hello all, I was experimenting multi-batching on TensorRT with AlexNet provided in PyTorch. So I exported to onnx model with dynamic batch size, and I load trt engine with optimization profile.

I am not sure whether I am doing multi-batching correctly but I have verified the output correctness. However, I am seeing a linear growth in inference time, for example:

with 1   batch, i

[2020-12-01 01:44] DCSong commented on #928
Same question with cudn11.0.

[2020-12-01 04:15] PaginDm commented on #892
You should check tensor cores availability for fp16 inf.  1660super not to have tensor cores

[2020-12-01 07:49] VRTCPL commented on #700
Same issue

[2020-12-01 11:45] 14asaf commented on #617
Is there new?

[2020-12-01 12:21] rajeevsrao commented on #288
Please refer to [trtexec ](https://github.com/NVIDIA/TensorRT/blob/master/samples/opensource/trtexec/trtexec.cpp#L193) for reference on how to run inference in a loop. Moving additional D2H and H2D copies or stream synchronizations can add overhead but should be safe to do.

[2020-12-01 19:07] rajeevsrao commented on #386
@mdhexplorer which platform are you using (limited to cuda-10.0)?
We are adding additional enhancements to our ONNX Resize implementation which resolves some of the issues above. This will be part of our next major RC. @ttyio FYI.

[2020-12-01 22:06] rajeevsrao commented on #862
@jianxiezhendong if implementing a plugin on IPluginV2DynamicExt interface, the getOutputDimensions method should return a dimension expression for the corresponding input dim range to the plugin layer, and this query is used by TensorRT builder. The runtime value (during enqueue) is based on the input sizes fed during enqueue. There is no user query available for this at the moment.

[2020-12-01 22:09] rajeevsrao commented on #861
@bing1zhi2 would it be possible to migrate your workflow to ONNX. Out Caffe parser has been deprecated and will be removed in the near future.

[2020-12-01 22:42] shroudie commented on #937
I had some misunderstanding about batching, closing!

[2020-12-01 22:42] #937 closed

[2020-12-01 23:01] rajeevsrao commented on #888
@mmaaz60 we only support clip limits specified as weight tensors. As a workaround, can you check if enabling constant folding during ONNX export (or as a post-processing step) converts the min/max scalar inputs into  weight tensors in your ONNX model?

[2020-12-01 23:11] rajeevsrao commented on #883
@14asaf the requirement for concatenation operation in TensorRT is that for all inputs, the non-axis dimensions should all match. In your case, do you know what the concat layer inputs and their dimensions are?

[2020-12-02 06:23] mdhexplorer commented on #386
@rajeevsrao @ttyio  Glad to hear from you！ I'm working on CentOS 7. The driver version in my current working environment is 410.79 and for some reasons, I cannot use the latest driver version. (This is not because I don't know how to upgrade the driver. In fact, I have used the latest tensorrt to solve this problem on other machines that are convenient to upgrade the driver version.) Can this prob

[2020-12-02 07:18] ttyio commented on #386
Hello @mdhexplorer ,
For the enhancement that planed in next RC, we also touch the tensorrt core part that not in opensource repo.
For the gap between 7.0 and 7.2, not sure about which issue are you hitting, maybe try build the onnx parser in 7.2
https://github.com/NVIDIA/TensorRT/tree/release/7.2/parsers
especially the resize op in
https://github.com/onnx/onnx-tensorrt/blob/eb559b6cdd1ec2169d64c0

[2020-12-02 07:38] mdhexplorer commented on #386
Hello @ttyio ,
According to https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html , the latest CUDA version that my current driver version 410.79 can support is 10.0, which is obviously not enough to run TRT7.2 (at least CUDA11.0 is required).  Do you mean to download the 7.0 Release version and compile with the 7.2 open source code?

[2020-12-02 07:40] ttyio commented on #386
Hello @mdhexplorer
TRT7.0 + opensource 7.0 modified with onnx resize operator changes in
https://github.com/onnx/onnx-tensorrt/blob/eb559b6cdd1ec2169d64c0112fab9b564d8d503b/builtin_op_importers.cpp#L2563

[2020-12-02 07:51] mdhexplorer commented on #386
I will have a try. Thanks!

[2020-12-02 09:16] somekindsoffood commented on #360
same problem and the instruction here https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/sampleUffMaskRCNN#generating-uff-model doesn't work.

[2020-12-02 09:17] wwdok opened #938 "ERROR : Assertion failed: cond.is_weights() && cond.weights().count() == 1 && "If condition must be a initializer!""
I want to convert TSN (Time-Sensitive Networking) model ([google drive file](https://drive.google.com/file/d/13rAilblasG3KZx8pXz1kxqkbL4Bmha59/view?usp=sharing)) to tensorrt, does it support now ? or it support other action recognition model ?

[2020-12-02 11:05] scar2608 commented on #937
I have exactly the same problem. @shroudie  could you please elaborate what your misunderstanding was ? Thanks !

[2020-12-02 11:17] scar2608 commented on #937
I have exactly the same problem. @shroudie could you please elaborate what your misunderstanding was ? Thanks !

[2020-12-02 16:24] austinmw commented on #923
@pranavm-nvidia Does that fully install TensorRT or just the open source / python components?

[2020-12-02 16:41] pranavm-nvidia commented on #923
@austinmw It should install everything including TensorRT libraries and CUDA/cuDNN dependencies.

Regarding the warning, did you run:
[code]
first?

Otherwise you can try using the NGC PyPI:
[code]

[2020-12-02 18:49] za13 opened #939 "input_1: dynamic input is missing dimensions in profile 0"
I created an NN I trained in Python, converted it to ONNX, and now am trying to run that with TensorRT in C++. The C++ code I have is below (it is based on the code in https://www.learnopencv.com/how-to-run-inference-using-tensorrt-c-api/)

    #include <iostream>
    #include <fstream>
    #include <NvInfer.h>
    #include <NvInferRuntime.h>
    #include <memory>
    #include <NvOnnxParser.h>

[2020-12-02 19:32] pranavm-nvidia commented on #939
Looks like your code doesn't set dimensions for `input_1`:
[code]
Do you need to change "foo" -> "input_1"?

[2020-12-02 19:45] za13 commented on #939
so just change `foo` to `input_1`? I wasn't sure what to do with the code. I just had "foo" there because I copied/pasted that part from another post I read that had a similar error to see if it would work or not

[2020-12-02 19:47] pranavm-nvidia commented on #939
Right, the first argument is supposed to be the input name.

[2020-12-02 20:23] shroudie commented on #937
How fast are your multi-batch models? What are you comparing them to?

I was expecting multi-batch to run at the same speed with single batch, since I thought just by spawning more cuda blocks could achieve this. But it does not seem like it is the way it worked.

[2020-12-02 20:27] za13 commented on #939
now I get the error `input_1: number of dimensions is 4 but profile 0 has 3`

so I changed

    profile->setDimensions("foo", nvinfer1::OptProfileSelector::kMIN, nvinfer1::Dims3(3,100,200));
    profile->setDimensions("foo", nvinfer1::OptProfileSelector::kOPT, nvinfer1::Dims3(3,1024,1024));
    profile->setDimensions("foo", nvinfer1::OptProfileSelector::kMAX, nvinfer1::Dims3(3,4096,4096));

to

[2020-12-02 20:40] pranavm-nvidia commented on #939
What are the input dimensions of your ONNX model? From the error message, it sounds like the second dimension isn't dynamic.

Regarding the OpenCV error, my best guess is that you can't use one of the processing functions (e.g. maybe `convertTo` or `cv::split`) on a `GpuMat` in `preprocessImage`?

[2020-12-02 21:12] za13 commented on #939
looks like it was because I had

    cv::split(flt_image, chw);

instead of

    cuda::cv::split(flt_image, chw);

that seemed to fix the problem. However, now I get this error:

    Parameter check failed at: engine.cpp::enqueue::298, condition: bindings[x] != nullptr

Why do I get this error when I already have the below in the code?

    nvinfer1::IBuilder *builder = nvinfer1::createInferBuilde

[2020-12-02 21:19] pranavm-nvidia commented on #939
That error is coming from this line:
[code]
It sounds like `buffers` has a `nullptr` in it somewhere. That could be because `cudaMalloc` is failing (you can check the return value).

Also, since it looks like you want explicit batch, synchronous inference, this line should probably be:
[code]

[2020-12-02 21:44] za13 commented on #939
how can I check the return value of `cudaMalloc`?

I only need to run inference on 1 image at a time. So not sure if synchronous or asynchronous is better?

if I replace `context->enqueue(batch_size, buffers.data(), 0, nullptr);` with `context->executeV2(buffers.data());` then I get

    parameter check failed at engine.cpp::resolveSlots::1092, condition: allInputDimensionsSpecified(routine)

[2020-12-02 22:02] pranavm-nvidia commented on #939
You can check if the return value is `cudaSuccess`:
[code]

With how it's currently written, I don't think asynchronous execution would offer any advantage.

Adding `context->setBindingDimensions` is the right thing to do. Do you see the same error if you run `trtexec` with `--fp16`?

The other possibility is that the sizes are wrong when you allocate the input/output memory:
[code]
You can check

[2020-12-02 22:25] za13 commented on #939
seems like cudaMalloc is working. The `binding_size` returns 18446744073705357312

if I try `./trtexec --onnx=owl.onnx --shapes=input:1x1024x1024x1 --fp16`, then it passes

[2020-12-02 22:28] simutisernestas commented on #670
facing same issue

[2020-12-02 22:33] pranavm-nvidia commented on #939
The `binding_size` seems like an integer underflow is happening. I would've expected the size to be `1 * 1024 * 1024 * 1 *4 = 4194304`. Most likely `engine->getBindingDimensions(i)` has some -1s in it to indicate dynamic dimensions. You may want to use the context dimensions instead.

[2020-12-02 22:49] za13 commented on #939
how do I use context dimensions instead? How would I modify the code?

[2020-12-02 22:52] pranavm-nvidia commented on #939
When you compute the binding size:
[code]
you can change `engine->getBindingDimensions(i)` to `context->getBindingDimensions(i)`. Make sure you're setting the input dimensions (`context->setBindingDimensions`) prior to this call though.

[2020-12-03 00:09] za13 commented on #939
you mean change

	for (size_t i = 0; i < engine->getNbBindings(); ++i)
    {
        auto binding_size = getSizeByDim(engine->getBindingDimensions(i)) * batch_size * sizeof(float);
        cudaMalloc(&buffers[i], binding_size);
        if (engine->bindingIsInput(i))
        {
            input_dims.emplace_back(engine->getBindingDimensions(i));
        }
        else
        {
            output_d

[2020-12-03 01:47] RizhaoCai commented on #842
Hi @ttyio ,

Thanks for the suggestion. I have follow this and export onnx with (-1) for the batch axix.
When I build the tensorRT engine, I set a IOptimizationProfile. When executing the engine, I use `context.set_binding_shape`. But the problem still persist.

Pls see the image below, the output of `conext.get_binding_shape` is `(2,3,512,512)`, meaning that now tensorRT works with batch size = 2

[2020-12-03 03:09] ShiinaMitsuki commented on #901
May I ask the version of the bundled cmake your visual studio use

[2020-12-03 03:19] Sunhil commented on #928
Please tell me whether your problem had solved. And if had sovled, could you mind share the solution.

[2020-12-03 03:37] DCSong commented on #928
@Sunhil I install TensorRT with .deb with the same error of nvinfer. But when I reinstall cuda and cudnn with .deb, it has been saved.
Not .run, the .deb. Hope it works for you.

[2020-12-03 03:37] wanlipeng opened #940 "onnx2tensorRT for transformer layer"
## Description
my pytorch network include transformer layers, pytorch-onnx-tensorRT,
convert onnx model to tensorRT, when I used tensorRT version7.0 ,Meet "Segmentation fault (core dumped)" problem,,
But When I use tensorRT version6.0, Meet "UNSUPPORTED_NODE:Assertion failed:axis>=0 && axis <nbDims"

[2020-12-03 07:30] Jacoobr commented on #906
Hi, @yizhaoyanbo. I met the same problem with dynamic shape. Did you solve the problem.
`[12/03/2020-15:23:43] [W] [TRT] onnx2trt_utils.cpp:220: Your ONNX model has been generated with INT64 weights, while TensorRT does not natively support INT64. Attempting to cast down to INT32.
set profile succesfully!!
parser tackes (ms): 88
start try to use TF32
build engine with TF32?: 0
[12/03/2020-15:23:43

[2020-12-03 08:57] lihaoxiang1989 commented on #866
I got the exact same issue. I run this to generate the engine, but the inference output MSE is 0.24 with onnx output.
trtexec --onnx=xxx.onnx --tacticSources=-cublasLt,+cublas --workspace=2048 --fp16 --saveEngine=xxx.engine

[2020-12-03 09:16] wwdok commented on #938
I have just tried using trtexec to convert it to tensorrt file, but it reports error:
[code]

[2020-12-03 09:24] scar2608 commented on #937
I am comparing inference time of Tensor-RT to raw PyTorch model. If I use batch size 1, the performance is similar. However. if I increase batch size, to say 16, PyTorch inference time barely increases, while Tensor-RT increases linearly (exactly like in your case). Environment and scenario is exactly like yours: exported ONNX model, dynamic batch size, optimization profile.

[2020-12-03 09:41] shroudie commented on #937
I was comparing to MXNet, which I later found out that they use async operations. In other words, I have to call some "wait"' function at the end of infer for benchmark. And as a result, the raw model also grows linearly in terms of batch. I hope this would be related to your case!

At the end I still do understand why since logically, just by creating more thread blocks to execute the more batche

[2020-12-03 09:51] scar2608 commented on #937
Thanks for clarifications!! That is exactly what happened in my case !!

[2020-12-03 09:59] NgTuong commented on #842
Hi @RizhaoCai  Iuse HardNet, I convert with coco checkpoint, everything oki. But I test my checkpoint failed.
@ttyio , @RizhaoCai , I think that I train model with torch 0.4.0 but export using torch > =1.3. Does the version affects to export model?

[2020-12-03 10:41] wwdok commented on #938
solved by downgrade torch version from 1.7 to 1.5 ( 1.6 may works too)

[2020-12-03 10:41] #938 closed

[2020-12-03 11:26] rtrobin commented on #51
Hi @pmixer @rmccorm4 ,

I have met a similar problem. I have a docker image with environments list below:
Driver version = 440.33.01
CUDA version = 9.0.176
CUDNN version = 7.6.3.30
TRT version = 7.0.0
python = 3.6.5
pyTorch = 1.4.0

The model can be parsed correctly on V100. However it meets error on T4.
[code]

I'm not sure which part is incompatible? My TRT7 is built on CUDA9. It already works o

[2020-12-03 11:40] stratomaster31 commented on #901
I'm using **cmake version 3.19.0-rc2**

[2020-12-03 16:19] pranavm-nvidia commented on #939
And this is after `context->setBindingDimensions` right? You may want to use a debugger to figure out why `binding_size` is wrong.

[2020-12-03 17:23] zoq opened #942 "Docker Cross-Compile for Jetson"
## Description

I am trying to cross-compile TensorRT for the Jetson, I followed the instructions in the `Readme.md`:

## Steps To Reproduce
**1. Installed the  prerequisites**
**2. Downloaded TensorRT OSS**
**3. Downloaded TensorRT**

There is no GA build for TensorRT 7.2.1, so I downloaded `TensorRT 7.2.1 for Linux and CUDA 10.2` instead. Also, correct me if I’m wrong but we download the package

[2020-12-03 18:39] za13 commented on #939
it seems like the problem is that `input_dims[0].d[i]` is -1 for `i=1` in the loop `for (size_t i = 0; i < engine->getNbBindings(); ++i)`

Also, at the line `auto binding_size = getSizeByDim(context->getBindingDimensions(i)) * batch_size * sizeof(float);`, the code shows that `context->getBindingDimensions(i).nbDims` is -1

[2020-12-03 19:01] pmixer commented on #51
@rtrobin pls update your CUDA, for the same reason that older version of SW(CUDA) cannot support newer HW(T4 is newer than V100).

[2020-12-03 19:41] SteveMacenski commented on #670
Anyone find a solution to this?

[2020-12-03 19:49] pranavm-nvidia commented on #939
Sounds like your model has dynamic batch, so it's expected that `engine->getBindingDimensions()` will include -1s to indicate dynamic dimensions.

Since you want the runtime input dimensions, you should probably use `context->getBindingDimensions()` for `input_dims` as well.

As for `context->getBindingDimensions(i).nbDims` being `-1`, I'm really not sure why that would be the case. Can you check

[2020-12-03 20:03] batrlatom commented on #670
internet if flooding with the requests for solution :] . this would help to convert maskrnn, fasterrcnn, retinanet and many other networks.

[2020-12-03 20:18] pranavm-nvidia commented on #942
@zoq Regarding step 3, you'll need TRT libraries built for the target, not the host. For 7.2, the Jetpack build has not been released yet, so you will probably want to use 7.1 for now.

As far as the build issue, I'm not entirely sure where the `-dlink` option is coming from. AFAICT our build system doesn't use it, so my guess is that CMake is inserting it.

Since it should only affect the plugins

[2020-12-03 20:18] za13 commented on #939
I set `context->getBindingDimensions()` for `input_dims`

`context->allInputDimensionsSpecified()` returns `False`

[2020-12-03 20:20] pranavm-nvidia commented on #939
Does your network have multiple inputs? Otherwise, are you sure you're calling `context->setBindingDimensions()` _prior_ to the calls to `context->getBindingDimensions()`?

It may help to look through some of the [examples](https://github.com/NVIDIA/TensorRT/blob/master/samples/opensource/sampleDynamicReshape/sampleDynamicReshape.cpp#L335)

[2020-12-03 20:44] za13 commented on #939
I didn't have `setBindingDimensions` before `getBindingDimensions`

I changed the code inside `main` so that it is now:

    int main(int argc, char* argv[])

        std::string model_path(argv[1]);
        std::string image_path(argv[2]);
        int batch_size = 1;

        TRTUniquePtr<nvinfer1::ICudaEngine> engine{nullptr};
        TRTUniquePtr<nvinfer1::IExecutionContext> context{nullptr};

[2020-12-04 02:00] rtrobin commented on #51
@pmixer As far as I know, CUDA application is backward compatible. Older application can still work on new hardware. So my question is, which part is incompatible? Is TRT library that not supports T4?

[2020-12-04 02:02] rtrobin commented on #51
Oh I get it. T4 is based on Turing architecture. Turing doesn't support cuda9 any more...

[2020-12-04 02:08] pmixer commented on #51
哥们咱可以说中文hhh，向后兼容是有的，比如你拿老软件跑在新硬件上只用 FP32 这样的老特性，一般是能跑的，但这样新硬件就完全没意义了。。。CUDA 9 出来的时候 T4 还没影呢，TRT 是以最大化利用最新硬件能力为目标的，必然会 hard-code 一些新硬件相关的东西，拿老 CUDA 配 T4 多多少少都会有问题。所以升级就好，祝顺利 :)

[2020-12-04 02:15] ttyio commented on #906
Hello @yizhaoyanbo ,
I have no Maxwell card for test, I am using GV100 + TRT7.2.1 + Ubuntu18.04 + CUDA11.0, tried both FP16 and INT8 using trtexec, cannot repro the failure.
Could you also try trtexec? See if you can repro, if the tool works with you, you can then grep the source code in https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/trtexec, I think the DLA related setting is n

[2020-12-04 02:17] ttyio commented on #608
Closing because no response for more than 3 weeks, please reopen if you still see issue, thanks.

[2020-12-04 02:17] #608 closed

[2020-12-04 02:23] rtrobin commented on #51
哈哈我懂。我忘记T4是图灵架构了，我也没想到图灵架构就已经弃掉cuda9。主要问题是，我是在帮别人的忙，他是否愿意升级相关代码，得看他个人意愿了

[2020-12-04 02:30] pmixer commented on #51
@rtrobin 明白，hhh，版本适配永远有坑，相比于本机升级，可能装完 docker 再装 nvidia-docker 最后去 ngc pull 一波现成镜像更好些，这样本机只需要维护个 driver 就好了。另外，也不能叫  T4 抛弃 CUDA 9。。。一般只有 SW 选择抛弃 HW，没有 HW 抛弃 SW 一说。要用新发的硬件必须用跟随硬件一同发布或更后面发布的 CUDA 才可以。祝好～

[2020-12-04 02:56] ShiinaMitsuki commented on #901
I downloaded the zlib source code and compiled myself using vs 2019 with "x64 release",

then I set the variables below:
[code]

however ,still can't find it.

then I check the `zlib.cmake` file, change the code
[code]

to
[code]

and no error, seems to be solved.

[2020-12-04 03:00] Egozjuer commented on #840
Hi,I was using TensorRT7.2.1.6,and the same error encountered

[2020-12-04 03:04] ttyio commented on #840
@KleinXin  @Egozjuer , to solve this out of memory issue, have you tried set a smaller work space, also try run on fp16 precision?

[2020-12-04 03:08] Qiancj0605 commented on #929
@ttyio hi，is there a solution to this problem?

[2020-12-04 03:13] ttyio commented on #929
Hello @Qiancj0605 , thank for reporting
these are cubin file encoded in hex buffer, the source code to generate these cubin not open sourced yet. Also the seqlen is selected that align with the tensorcore instructions.
Could I understand why do you want slen 312? could you padding to 384? Besides that, we also have a variable seqlen implementation, see https://github.com/NVIDIA/TensorRT/tree/relea

[2020-12-04 03:28] Egozjuer commented on #840
@ttyio ,i have tried set a smaller work size ,such as nvinfer1::IBuilderConfig * config;config->setMaxWorkspaceSize(1<<10);
but the same error encountered again

[2020-12-04 03:29] Egozjuer commented on #840
also i changed config to fp16 precision

[2020-12-04 03:32] Egozjuer commented on #840
@ttyio

File does not exist : ../configs/yolov3-kHALF-batch64.engine
Building the TensorRT Engine...
ERROR: ../rtSafe/safeRuntime.cpp (25) - Cuda Error in allocate: 2 (out of memory)
WARNING: Get cuda error during getBestTactic: (Unnamed Layer* 1) [ElementWise]
ERROR: ../rtSafe/safeRuntime.cpp (25) - Cuda Error in allocate: 2 (out of memory)
WARNING: Get cuda error during timeReformat.
ERROR: ../r

[2020-12-04 03:36] ttyio commented on #840
@Egozjuer , could you also change your batch size to a smaller number since you hit out of memory in cudaMalloc?

[2020-12-04 04:47] KleinXin commented on #840
It is already solved. The memory was occupied by some other applications.

[2020-12-04 05:45] Egozjuer commented on #840
Yes, I solved the problem as what KleinXin did

[2020-12-04 06:17] wwdok commented on #465
@kevinch-nv Slowfast is indeed large, what about TSN ? i want to do action recognition using TensorRT on jetson xavier nx, is there any related tutorial ?

[2020-12-04 06:53] Qiancj0605 commented on #929
@ttyio I'm sorry, there is a problem with my description. Can you provide data in "fp16_128_52" format?

[2020-12-04 07:05] tzattack commented on #532
I met with the same problem when I convert a onnx model to a trt model.

[2020-12-04 07:08] whatlas opened #943 "build engine from onnx file error"
Hi, I have one onnx model to deploy, which was generated by pytorch 1.4.0-cuda

on my computer with GTX 2080TI with CUDA-10.0 & CUDNN-7.6.5 & TensorRT-7.0.0.11, i can simply use

to get the engine file.

BUT, on my AGX Xavier 32G with CUDA-10.2 & CUDNN-8.0.0 & TensorRT-7.1.3.0, the same command throw out sth like this:

The onnx file is [here,](https://github.com/whatlas/onnx_bug/blob/main/model.o

[2020-12-04 07:58] ttyio commented on #929
Hello @Qiancj0605 , currently we only support headsize 64 in demoBERT. It is not customizable.
Out of curious, which model are you using? Thanks！

[2020-12-04 08:33] Galaxygray opened #944 "reshape dimension of -1 has no solution"
**when I use TensortRT7.0 convert onnx model to tensorrt, I got this errro，anybody can help me？**

[TensorRT] VERBOSE: *************** Autotuning format combination: Float(1,64,(* 64 (# 1 (SHAPE Placeholder_1:0)))), Float(1,64,(* 64 (# 1 (SHAPE Placeholder_2:0)))) -> Float(1,64,(* 64 (BROADCAST_SIZE (# 1 (SHAPE Placeholder_1:0)) (# 1 (SHAPE Placeholder_2:0))))) ***************
[TensorRT] VERBOSE:

[2020-12-04 08:39] Egozjuer commented on #386
@ttyio  Hi, I have used the newest onnx-tensorrt,the same error encountered,
While parsing node number 119 [Resize -> "575"]:
ERROR: /home/ego/software/onnx-tensorrt/builtin_op_importers.cpp:2616 In function importResize:
[8] Assertion failed: (transformationMode == "asymmetric" || transformationMode == "pytorch_half_pixel" || transformationMode == "half_pixel") && "TensorRT only supports half pix

[2020-12-04 08:41] ttyio commented on #386
Sorry @Egozjuer , the full set of `coordinateTranformationMode` in resize op is part of our next major RC.

[2020-12-04 09:08] Egozjuer commented on #386
@ttyio Hi，I only used bilinear mode in Pytorch，such as
 up_level1 = F.interpolate(out_layer4, scale_factor=2, mode='bilinear', align_corners=True)
Does it  mean that  bilinear Resize is not  supported in TensorRT?

[2020-12-04 09:15] ttyio commented on #386
@Egozjuer Hmmm, the gap come from TF (some detail https://hackernoon.com/how-tensorflows-tf-image-resize-stole-60-days-of-my-life-aba5eb093f35); Not sure why you see failure for pytorch exported model.
Are you using TRT 7.2?

[2020-12-04 09:33] Qiancj0605 commented on #929
@ttyio Thanks。For efficiency reasons, we simplify bert。It’s a pity that the demand cannot be supported。

[2020-12-04 09:43] Egozjuer commented on #386
@ttyio
Yes, I am very sure the TRT verison is 7.2.1.6
Input filename:   lidar_ma_nodecode12.4_fixUnsample_sim.onnx
ONNX IR version:  0.0.6
Opset version:    11
Producer name:    pytorch
Producer version: 1.7
Domain:
Model version:    0
Doc string:
----------------------------------------------------------------
Parsing model
[2020-12-04 09:41:45 WARNING]~/GPU/onnx-tensorrt/onnx2trt_utils.cpp:220:

[2020-12-04 09:45] AncientRemember commented on #918
@zccyman i encounter the same problem, the results is all zero,are you find the solution?

[2020-12-04 10:29] ttyio commented on #929
@Qiancj0605 what do you mean by efficiency?  memory consumption or performance consideration.

[2020-12-04 10:48] Qiancj0605 commented on #929
@ttyio Mainly for performance considerations。

[2020-12-04 11:15] ttyio commented on #929
@Qiancj0605 , have you tried int8 or variable length?

[2020-12-05 03:11] alicera opened #945 "calibration file"
I have a onnx model and how to generate a calibration file

[2020-12-05 12:45] wwdok opened #946 "[E] [TRT] mbox_loc: all concat input tensors must have the same dimensions except on the concatenation axis (0), but dimensions mismatched at index 1. Input 0 shape: [38,38,16], Input 1 shape: [19,19,24]"
I am following the [guide](https://docs.nvidia.com/deeplearning/tensorrt/sample-support-guide/index.html#c_samples_section) to run C++ Samples on Linux :
[code]
At 4th step, i came cross an error : [E] [TRT] CUDA initialization failure with error 999, but actually i have installed cuda :
![image](https://user-images.githubusercontent.com/43233772/101243377-d076a780-373a-11eb-8c7c-e0987ddfa86a.png)

[2020-12-05 13:15] zccyman commented on #918
@AncientRemember model serialize and loading deserialize model can solve this problem, but I don't know why loading onnx model directly get incorrect results, maybe tensorrt has a bug. [TensorRT v7.2.1.6 release](https://developer.nvidia.com/nvidia-tensorrt-download) has detail information about model serialize and deserialize.

Maybe TensorRT-7.2.1.6/samples/python/yolov3_onnxonnx_to_tensorrt.py

[2020-12-05 14:23] tusharnitharwal commented on #573
Still getting this issue. How do i resolve this?

[2020-12-06 03:59] alicera opened #947 "optimizing_int8_python"
https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#optimizing_int8_python

Anyone know where it is

[2020-12-06 04:24] austinmw commented on #923
The warning is directly on the PyPi homepage for the package

[2020-12-06 07:43] wwdok commented on #946
Fine , maybe it is because i have just install cudnn, after i rebooted computer, this error has gone away.

[2020-12-06 07:52] wwdok commented on #946
But after taht, i came across another error :

[code]

[2020-12-07 02:47] Jacoobr opened #948 "[E] [TRT] C:\source\rtSafe\safeRuntime.cpp (25) - Cuda Error in nvinfer1::internal::DefaultAllocator::allocate: 2 (out of memory)"
## Description
I try to build an engine plan file with the onnx model that converted from pytorch model, but i get the `out of memory ` error bellowed:
[code]
the code that used to construct the network at build engine stage:
[code]
What's more, my GPU device with 24 GiB device memory is enough to run the model with pytorch and convert to onnx model. I don't know why the TRT occured the out of mem

[2020-12-07 06:20] ShiinaMitsuki commented on #645
I added zlib but still cant compile under windows, using TensorRT 7.1.3.4 , visual studio 2017.

[2020-12-07 06:22] ShiinaMitsuki commented on #141
Did you succeed compiling under windows?

[2020-12-07 07:01] lihaoxiang1989 commented on #866
I finally get the correct output, this solution works

[2020-12-07 08:13] Qiancj0605 commented on #929
@ttyio thanks，I recently tried int8。

[2020-12-07 16:18] pranavm-nvidia commented on #923
The package on PyPI is a placeholder package to prevent spoofing. As you can see from the project description on PyPI, you can install it from `nvidia-pyindex`:

    pip install nvidia-pyindex
    pip install nvidia-tensorrt

[2020-12-07 18:16] za13 commented on #939
can you answer my last question?

[2020-12-07 18:27] pranavm-nvidia commented on #939
From your newest code, it doesn't seem like you're allocating `buffers`? You'd need to `cudaMalloc` them and then memcpy your input data.

[2020-12-07 22:09] za13 commented on #939
you mean something like this?

    std::vector<void*> buffers(engine->getNbBindings());

    for (size_t i = 0; i < engine->getNbBindings(); ++i)
    {
        auto binding_size = getSizeByDim(context->getBindingDimensions(i)) * batch_size * sizeof(float);
        std::cout<<binding_size<<"\n";

        auto status = cudaMalloc(&buffers[i], binding_size);
        cudaMemcpy(buffers[i], input_dims[

[2020-12-07 22:13] pranavm-nvidia commented on #939
Right, because `input_dims` is a `vector<Dims>`. From your earlier code, it seems like you wanted to use `preprocessImage` to copy the data to the device? You should be able to use that here too.

[2020-12-08 02:50] ttyio commented on #386
Hello @Egozjuer , just checked the fix is still in internal repo, will available in next major release.
Could you WAR this issue by provide scale instead of output size in the resize op? thanks!

[2020-12-08 08:59] tycallen opened #949 "Use deserializeCudaEngine() to build int8 engine, in C++ API, gpu memory usage is more than python API"
## Description
The serialized engine file is already int8 and calibrated. In Python API, infer will consume ~490MB GPU mem, but in C++ it arise to ~1500MB
How to check and fix this problem?

## Environment

**TensorRT Version**: 7.1.3.4
**GPU Type**: 2080Ti
**Nvidia Driver Version**: 440.100
**CUDA Version**: 10.2
**CUDNN Version**: 7.5
**Operating System + Version**: Ubuntu 16.04
**Python Version

[2020-12-08 10:39] bnascimento opened #950 "Lack of understanding how to migrate SSD code written for TensorRT5 to the latest TensorRT7."
While migrating from TensorRT5 to TensorRT7 I stumbled into a lack of understanding how to correctly use the new V2 plugin system on c++. For example, calls like createSSDDetectionOutputPlugin or createSSDAnchorGeneratorPlugin are now deprecated. Is there an example how to use use SSD on TensorRT7?

[2020-12-08 12:10] Qiancj0605 commented on #929
@ttyio When I try int8 by these parameters "--int8 --fp16 --strict -iln",  I encountered this error "[E] SkipLayerNormDQQ - FATAL: unsupported hidden layer size: 384". It's ok If this parameter "-iln" is not used. What could be the reason？

[2020-12-08 12:55] silverlining21 commented on #850
Hi @ttyio ,could provide any sample data format about` -loadInputs`, description about it seems little confusing.

[2020-12-08 13:55] ttyio commented on #850
Hello @silverlining21 , we just copy the whole data from host to device, see https://github.com/NVIDIA/TensorRT/blob/master/samples/common/buffers.h#L448

So they are just raw bytes of the network input.

[2020-12-08 14:20] ttyio commented on #604
Hello @ApoorvaSuresh , from the doc https://github.com/NVIDIA/TensorRT/tree/master/plugin/proposalLayerPlugin

We have

int[3] | image_size | Input image size in CHW. Only supports C=3 and defaults to [3,1024,1024].
-- | -- | --

What's your `image_size` and input tensor dimension to this plugin? Thanks.

[2020-12-08 14:28] ttyio commented on #580
Hello @yshvrdhn , currently we have a uff sample that can run with faster rcnn in
https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/sampleUffFasterRCNN
Also there is a TF-TRT sample in
https://github.com/tensorflow/models/blob/master/research/object_detection/models/faster_rcnn_resnet_v1_feature_extractor.py

[2020-12-08 14:39] ttyio commented on #929
Hello @Qiancj0605 ,
The `SLN` in DemoBert only support bert base (hidden size 768) and bert large (hidden size 1024).

[2020-12-08 17:51] mminervini commented on #386
Hi,

I get a similar error when I try to convert to TensorRT a semantic segmentation model trained with Python and TensorFlow (specifically, a Unet with ResNet18 backend from [qubvel/segmentation_models](https://github.com/qubvel/segmentation_models)). My ultimate goal is to run inference on a Jetson device, using C++ TensorRT API.
This seemingly straightforward task is proving extremely elusive!

[2020-12-08 19:07] mk-nvidia commented on #891
@Pudge-tao please attach an onnx model that reproduces the problem. Without that it's very hard to determine what's going wrong. Also consider trying TensorRT 7.2 which has several bug fixes.

[2020-12-08 19:19] mk-nvidia commented on #895
Closing, thanks to @pranavm-nvidia for fixing the bugs.
@FamousDirector please let us know if you encounter more issues.

[2020-12-08 19:19] #895 closed

[2020-12-08 19:33] rajeevsrao commented on #894
Some updates in https://github.com/NVIDIA/TensorRT/pull/952. @ledinhtri97  the `create*Plugin` methods are only supported in the plugin library shipped with GA builds and not the open source repo (since these are deprecated).

[2020-12-08 19:54] #897 closed

[2020-12-08 20:30] FamousDirector commented on #895
Agreed this is fixed. Just confirmed in the last day. As a note however, the fix is not a part of the 20.11 release.

[2020-12-08 20:32] mk-nvidia commented on #900
@bing1zhi2 if @pranavm-nvidia 's suggestion isn't applicable, please upload some code that will help us reproduce the segfault and examine the problem.

[2020-12-08 20:36] mk-nvidia commented on #901
I couldn't figure out how @ShiinaMitsuki 's comment was applicable to @stratomaster31 's bug.
But anyway, @stratomaster31 do you hit the same problem with TensorRT 7.2? A lot of fixes have been checked in since TensorRT 7.0

[2020-12-08 20:57] mk-nvidia commented on #903
Closing due to inactivity

[2020-12-08 20:57] #903 closed

[2020-12-08 20:58] mk-nvidia commented on #905
@Masterlk Thanks for the detailed report, we'll take a look

[2020-12-08 20:59] mk-nvidia commented on #905
@Masterlk Can you try out TensorRT 7.2 to see if it still reproduces the issue? A lot of bug fixes have gone in since TensorRT 7.0

[2020-12-08 21:06] rajeevsrao commented on #902
@handoku that is correct - shape tensor outputs cannot be build-time constants to plugin layers. DynamicShapes interface for plugins is limited to dynamicity of the input data tensors to the plugin.

[2020-12-08 21:08] mk-nvidia commented on #795
@qraleq Please look at @pranavm-nvidia 's comment above to see if it fixes your problem.

[2020-12-08 21:21] pranavm-nvidia commented on #795
We discussed this offline, I believe @qraleq's issue is resolved now.

[2020-12-08 21:47] mk-nvidia commented on #792
This is documented on the official TensorRT docs page.
I was able to follow these instructions to install TensorRT 7.1.3 in the cuda10.2 container in @ashuezy 's original post. You would probably only need steps 2 and 4 since you're already using a CUDA container:

https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html#maclearn-net-repo-install-rpm

[2020-12-08 21:47] #792 closed

[2020-12-08 21:58] pranavm-nvidia commented on #791
`--fp16` enables float16 tactics. It shouldn't affect parsing though. Are you sure that's the only thing you're changing?

[2020-12-08 22:35] rajeevsrao commented on #886
@hjlee9182 we will be posting TensorRT inference recipe for EfficientNet model soon. In the meantime, can you check if the names of the outputs in your onnx models corresponds to the binding names you are querying? Please share ONNX model if possible.

Here is an implementation that is verified working with tensorrt:
https://github.com/lukemelas/EfficientNet-PyTorch

And the corresponding ONNX exp

[2020-12-08 22:40] rajeevsrao commented on #887
@JettHu can you please carve out an isolated testcase for this, if possible? We would like to investigate.
PWN stands for PointWiseNodes and they can be fused unlike the ElementWise layers in your int8 example.

[2020-12-08 22:43] rajeevsrao commented on #933
@ranlu That is correct . please stay tuned. This will be added in the next release with plugin support.

[2020-12-08 23:21] mk-nvidia commented on #785
This seems to be a bug at our end, sorry for the trouble.

[2020-12-08 23:30] rajeevsrao commented on #936
@ttyio please take a look.

[2020-12-08 23:40] rajeevsrao commented on #934
@xufuzhi closing based on the documentation link provided by @nvpohanh. Please go through our developer guide and know if you have further questions.

[2020-12-08 23:40] #934 closed

[2020-12-08 23:43] rajeevsrao commented on #939
Thanks for the answers @pranavm-nvidia. Closing this issue unless you have more questions @za13

[2020-12-08 23:43] #939 closed

[2020-12-08 23:51] rajeevsrao commented on #943
@whatlas please provide the ONNX file so we can take a look.

[2020-12-09 01:02] MuhammadAsadJaved commented on #791
Yes, only `--fp16`

[2020-12-09 01:05] pogevip opened #953 "How to convert pytorch bert model to tensorrt engine model file?"
I had read the demo https://github.com/NVIDIA/TensorRT/blob/master/demo/BERT/builder.py.
I tried to convert pt ==> onnx ==> tensorrt engine,
But when onnx ==> tensorrt engine,
![image](https://user-images.githubusercontent.com/27748841/101503194-ce1b8400-39ac-11eb-9de1-9c0c5a9489b2.png)

[2020-12-09 01:56] silverlining21 commented on #850
Got it, thanks.

[2020-12-09 03:10] Qiancj0605 commented on #929
@ttyio Thanks.

[2020-12-09 05:30] ttyio commented on #936
Hello @Mishok43 , thanks for reporting
there are 2 issues in the resize kernel:
1. the max SM occupancy is only 50%, I see it is already fixed in internal repo, but available to you until next major release.
2. there is reformat between the conv and resize, this is because current resize implementation only support linear layout.
My suggestion is that:
Could you check if the model change be change

[2020-12-09 06:12] whatlas commented on #943
It's here: https://github.com/whatlas/onnx_bug/blob/main/model.onnx

[2020-12-09 07:33] RunningLeon opened #954 "BatchedNMS_TRT: could not find any supported formats consistent with input/output data types"
Hello,
I try to do add a BatchedNMS_TRT node in a exported onnx model and create engine from it using trtexec. But I got this error from trtexec:
[code]
I don't understand why there `could not find any supported formats consistent with input/output data types` since inputs of batchednms_trt are boxes and scores and there are FLOAT32 as required.
Following is how I add the node in onnx:
[code]
The

[2020-12-09 08:22] qraleq commented on #795
@mk-nvidia Thank you for following up. @pranavm-nvidia was of great help and we resolved the issue! Best regards!

[2020-12-09 08:24] nvpohanh commented on #954
From the code: https://github.com/NVIDIA/TensorRT/blob/master/plugin/batchedNMSPlugin/batchedNMSPlugin.cpp#L423

It seems that only the first output should be in INT32. The other outputs should be in FLOAT. Could you make `nmsed_classes` a FLOAT and try that again?

[2020-12-09 08:54] RunningLeon commented on #954
@nvpohanh Thanks for your kind reply. It worked. My mistake...

[2020-12-09 08:54] #954 closed

[2020-12-09 09:22] ttyio commented on #931
Hello @pogevip , thanks for question.
We have a BERT SQuAD sample in https://github.com/NVIDIA/TensorRT/tree/release/7.2/demo/BERT
Can you take this as example? Thanks!

[2020-12-09 09:24] ttyio commented on #911
Hello @Sparkling-Water ,thanks for reporting.
Could you enable verbose log and send it here? thanks!

[2020-12-10 01:47] ttyio commented on #386
Hello @mminervini ,
I believe the `tf_half_pixel_for_nn` is introduced in TF1.x, they use a wrong formula (more details in https://hackernoon.com/how-tensorflows-tf-image-resize-stole-60-days-of-my-life-aba5eb093f35), and TF2.x fix it but you can still use the legacy formula when use half_pixel = 0 for backward compatibility.
The main different between `tf_half_pixel_for_nn` and `half_pixel` is th

[2020-12-10 02:01] tycallen commented on #949
Any help？

[2020-12-10 03:36] ttyio commented on #928
Hello @Sunhil , the error is

      -- Looking for library nvinfer
      -- Library that was found nvinfer_LIB_PATH-NOTFOUND

Could you change to` -DTRT_LIB_DIR=/DATA/hhyang/tools/TensorRT-6.0.1.5/lib/ -DTRT_INC_DIR=/DATA/hhyang/tools/TensorRT-6.0.1.5/include` in your cmake command line?

[2020-12-10 04:42] ttyio commented on #930
+ @pranavm-nvidia  for help, thanks!

[2020-12-10 05:11] ttyio commented on #925
Hello @xusk , thanks for reporting.
Did you create separate IExecutionContext for the multiple threads?

[2020-12-10 08:10] xusk commented on #925
yes

[2020-12-10 08:53] ttyio commented on #925
@xusk , could you help to verify if the issue still repro with 7.2, if so could you send out a repro for further triage? thanks!

[2020-12-10 10:51] xonobo commented on #795
@pranavm-nvidia or anyone, can you help me figure out the problem. I appended a BatchedNMS plugin to the end of an onnx file and can visually see the result in netron but I got segmentation fault in trtexec. Here is the trtexec output:

[code]

Here are the code snippets to add the nms plugins :

[code]

[code]

The output shapes of onnx file before appending the nms is like this:

![onnx_outputs]

[2020-12-10 15:13] pranavm-nvidia commented on #795
@xonobo Can you try getting a backtrace with `gdb`? Verbose logs would also help (add `--verbose`)

[2020-12-10 15:28] pranavm-nvidia commented on #930
The reason is that there's a bug where `execute_async`/`execute_async_v2` don't release the GIL, so they effectively behave like blocking calls. This will be fixed in the next release.

[2020-12-10 20:58] jasseur2017 commented on #851
@ttyio please stop closing tickets for no reason!
You have the trace log, you should reproduce the bug and fix it.
We paid Nvidia and we want a stable software.

[2020-12-10 22:46] jasseur2017 commented on #866
I have the same problem on Jetson Nano, --tacticSources=-cublasLt,+cublas doesnt work on Jetson and I can't install cuda 10.2 patch in Jetson.

[2020-12-11 00:27] ttyio commented on #851
Hello @jasseur2017 ,  only the log without a repro is insufficient for debug.
At least we need know more like the available memory in your system (might other application also consumes GPU memory), could you try a small batch size and a small workspace size, and if all of these not helps, we need you to provide repro, and the policy is that we will close issue if we have no response in 3 weeks.

[2020-12-11 01:27] HK-little commented on #866
Sorry for that，There are 2 patches available for cuda10.2 in Cuda Official website and the problem is solved after installed them.

[2020-12-11 02:38] tenggyut commented on #148
`optset_version=8` dose not support upsample operation.....newest version of TensorRT seems fix all common model converting issue, but the sad thing is newer TensorRT cant run engines generated by older version!

TensorRT upgrade would be very painful and not practical if there are dozens of engines runing in the production enviroments

[2020-12-11 03:31] thaint2901 opened #955 "Custom Plugin: getPluginCreator could not find plugin RetinaFaceDecode version"
## Description
I am testing a decode plugin for retinaface header. I successfully built trt engine with my custom plugin however i got this error while loading the engine using python trt:

[code]

For more detail please check my github repo.

## Relevant Files

https://github.com/thaint2901/retinaface-header-cuda/tree/master/csrc

## Steps To Reproduce

### build export

[code]

### build engine

[2020-12-11 04:18] ttyio commented on #930
Thanks @pranavm-nvidia .
Hello @RizhaoCai , for the Q2, the difference between V1 and V2 API is that we use full dimensions in the V2 API, the batch is implicit dim in the input tensor shape, there is no extra `batch_size`  param to set.

[2020-12-11 04:59] overclock98 commented on #436
@hashishoya can you please share the location of "sampleUffFasterRCNN directory a faster_rcnn model was available in .pb format" mentioned above?

thanks.

[2020-12-11 07:26] xonobo commented on #795
used gdb with trtexec_debug and got not much info
[code]

verbose output states num_detections[Int32()].
Is this ok or should it be num_detections[Int32(1)]?

[2020-12-11 08:16] jonakola commented on #795
@pranavm-nvidia I am having the same issue as @qraleq with regards to dynamic shapes.
Specifically in my case, I am using SSD with mobilenetV2 trained in Tensorflow, and using TensorRT 7.1. I was able to configure the mapping between the NMS_TRT plugin and NonMaxSuppression by editing the cpp code, but when I now try to convert the onnx file to trt, I get the following error:
[code]
Could you plea

[2020-12-11 08:27] xusk commented on #925
still error

[2020-12-11 08:28] qraleq commented on #795
@jonakola You should use the `BatchedNMSDynamic_TRT` plugin if you have dynamic shapes. This plugin is supported in TensorRT version > 7.2.

Since I'm using NVIDIA Jetsons which do not support this plugin at the moment, I ended up freezing the TensorFlow model to a fixed shape, and then everything worked out as supposed.

[2020-12-11 08:29] ttyio commented on #925
@xusk , could you share a repro? thanks!

[2020-12-11 08:44] jonakola commented on #795
Thanks @qraleq . I am also using NVIDIA Jetsons. How did you accomplish fixing the shape in TF in your case? I started off with a frozen_inference_graph.pb (exported after training with TF object detection api) which I would have thought already freezes all variables and shapes.

[2020-12-11 08:52] qraleq commented on #795
@jonakola Explicitly define sizes when freezing the model from `ckpt` to `pb`.

Take a look here: https://github.com/tensorflow/models/blob/master/research/object_detection/export_inference_graph.py

and specifically:

[code]

[2020-12-11 15:09] pranavm-nvidia commented on #955
@thaint2901 You need to load your plugin prior to deserializing the engine. `dlopen`ing the executable might work:
[code]
Although a cleaner solution would be to build a separate `.so` for your plugins and load that instead.

[2020-12-11 15:33] pranavm-nvidia commented on #795
@xonobo It's weird that one dimension is being cut out from each of the output shapes. Is it possible for you to share your model?

[2020-12-11 16:27] RizhaoCai commented on #930
@ttyio @pranavm-nvidia

Noted. Thank you.

[2020-12-11 16:27] #930 closed

[2020-12-12 05:16] mk-nvidia commented on #851
@jasseur2017 It is very hard to determine what the problems is just based on the log and the description. To fix this problem we'll need a way to reproduce it, we don't see this in our own testing. If you or anyone else has a repro case, please post it here, and we'll reopen this issue and resume investigation.
As @ttyio mentioned, we close issues where we don't get a response to our requests for

[2020-12-12 22:23] ranlu commented on #933
Thanks @rajeevsrao, I actually looked into the code a little bit and it seems to be straightforward to add 3D support. Here is the patch I wrote for anyone who are interested. Not sure if I missed anything obvious, but at least the test code above produces identical results after applying the patch.
[code]

[2020-12-14 01:29] thaint2901 commented on #955
Can you provide a code use example?

[2020-12-14 05:11] alicera opened #956 "DLA"
https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_builder.html#a2b2cdcc03e18f412d0e3fd9e018d90c0

Anyone know the function  ◆ setDLACore()?
how to define the number of DLA cores? Is it the cpu core?

[2020-12-14 05:36] andi4191 commented on #956
setDLACore is used to set DLA core to execute on. You can configure it to be between 0 to getNbDLACores()-1. Default value is 0.

Please refer:
https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#dla_topic
http://nvdla.org

[2020-12-14 06:24] alicera commented on #956
Thanks for your answer.
But I dont know the DLA core definition.

[2020-12-14 06:29] ttyio commented on #915
Hello @suxi1314 , good catch!
Could you create a merge request for this? thanks!!

[2020-12-14 06:40] xonobo commented on #795
Here I provide two onnx files. I zero outed all weights in order to make them small. The smaller model passes trtexec but the bigger one fails as I stated above. I appended the nms plugin to the models using the same python script.

[nms_trt_examples.zip](https://github.com/NVIDIA/TensorRT/files/5686886/nms_trt_examples.zip)

[2020-12-14 06:48] qianwangn opened #957 "trt7's gpu compute usage is more than trt6"
## Description

There is up to 20% performance regression on Tesla T4 for FCOS，compared to tensorrt6
## Environment

**TensorRT Version**:  7.1.3
**GPU Type**: T4
**Nvidia Driver Version**: 450.51.06
**CUDA Version**: 10.2
**CUDNN Version**:  7.5.0
**Operating System + Version**: Ubuntu18.04
**Python Version (if applicable)**:
**TensorFlow Version (if applicable)**:
**PyTorch Version (if applicabl