[2022-06-15 07:44] nvpohanh commented on #1893
Closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:44] #1893 closed

[2022-06-15 07:49] nvpohanh commented on #1888
I don't think NVIDIA has exposed the layer details of any NGC docker images. If docker image size is a concern, you may be able to manually build a TRT container from a base container, like `11.6.1-cudnn8-devel-ubuntu20.04`. But given that `11.6.1-cudnn8-devel-ubuntu20.04` is already 3.75GB, I am not sure how much more we can squeeze from it.

[2022-06-15 07:50] nvpohanh commented on #1991
@caufrank I cannot repro the memory leak using TRT 8.2. Could you try TRT 8.2 or 8.4 and see if the issue still exists? Thanks

[2022-06-15 07:50] DonggeunYu commented on #2022
Thank you~

[2022-06-15 07:50] #2022 closed

[2022-06-15 07:53] nvpohanh commented on #1880
[code]
The doc has been updated: https://github.com/NVIDIA/TensorRT/tree/main/plugin/batchedNMSPlugin#structure

Closing this for now. Please reopen if the issue still exists. Thanks

[2022-06-15 07:53] #1880 closed

[2022-06-15 07:54] nvpohanh commented on #1830
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:54] #1830 closed

[2022-06-15 07:54] nvpohanh commented on #1823
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:54] #1823 closed

[2022-06-15 07:55] nvpohanh commented on #1821
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:55] #1821 closed

[2022-06-15 07:55] nvpohanh commented on #1819
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:55] #1819 closed

[2022-06-15 07:55] nvpohanh commented on #1815
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:55] #1815 closed

[2022-06-15 07:56] nvpohanh commented on #1811
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:56] #1811 closed

[2022-06-15 07:57] nvpohanh commented on #1808
@kobzaond Could you share the ONNX file so that we can repro and debug? Thanks

[2022-06-15 07:57] nvpohanh commented on #1806
closing for now . Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:57] #1806 closed

[2022-06-15 07:58] nvpohanh commented on #1804
@will-wiki Does this issue still exist in latest OSS? Thanks

[2022-06-15 07:59] nvpohanh commented on #1802
@andrearosasco Could you try TRT 8.4 GA (8.4.1) and see if the issue still exists? If it does, please share pcr.onnx file so that we can repro and debug it. Thanks

[2022-06-15 08:00] nvpohanh commented on #1799
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:00] nvpohanh commented on #1795
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:00] #1795 closed

[2022-06-15 08:01] nvpohanh commented on #1793
@zerollzeng Any internal tracker (bug) was filed for this?

[2022-06-15 08:01] nvpohanh commented on #1786
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:01] #1786 closed

[2022-06-15 08:02] nvpohanh commented on #1785
Just want to add that to we do support ONNX-BERT-QAT which will utilize INT8 TensorCores. It is the PTQ path that has not been enabled yet.

closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:02] #1785 closed

[2022-06-15 08:03] nvpohanh commented on #1776
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:03] #1776 closed

[2022-06-15 08:03] caufrank commented on #1991
Hi, I have tried on TRT 8.0.1.6, and this memory leak issue was reported. Could you try it on TRT 7.1.3? Thanks.

[2022-06-15 08:05] nvpohanh commented on #1771
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:05] #1771 closed

[2022-06-15 08:05] #1770 closed

[2022-06-15 08:06] nvpohanh commented on #1765
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:06] #1765 closed

[2022-06-15 08:09] nvpohanh commented on #1711
We are adding BART to the HuggingFace demo soon. Should be ready by next release.

[2022-06-15 08:09] nvpohanh commented on #1711
Oh I was wrong. It's already available: https://github.com/NVIDIA/TensorRT/tree/main/demo/HuggingFace/BART

Closing this for now. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:11] nvpohanh commented on #1706
Closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks!

[2022-06-15 08:11] #1706 closed

[2022-06-15 08:13] nvpohanh commented on #1703
@XXXVincent When no calib file is provided, trtexec simply use random dynamic ranges for all tensors. That's why you got wrong outputs.

[2022-06-15 08:15] nvpohanh commented on #1701
@hrenek Do you have a simple ONNX file that we can use to repro the issue? I guess we added some new tactics which run faster but require more memory to run, but will need an example to confirm that.

[2022-06-15 08:18] nvpohanh commented on #1699
@spivakoa Could you remove the Q/DQ between ConvTranspose and BN and try TRT 8.4.1 (8.4 GA) and see if the issue still exists? Thanks

[2022-06-15 08:18] nvpohanh commented on #1694
Closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks!

[2022-06-15 08:18] #1694 closed

[2022-06-15 08:20] nvpohanh commented on #1693
Closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks!

[2022-06-15 08:20] #1693 closed

[2022-06-15 08:23] nvpohanh commented on #1692
@truncs I can repro this using TRT 8.2.1, but it has been fixed in TRT 8.4.0/8.4.1. Could you try TRT 8.4.1 (GA)? Thanks

[2022-06-15 08:26] nvpohanh commented on #1690
Closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks!

@jinfagang This is not an issue in TRT, but in ONNX, which we don't have control of. As Zero said, if you build a TRT engine with INT8 enabled, the engine size should be roughly 1/4 of the original ONNX file.

[2022-06-15 08:26] #1690 closed

[2022-06-15 08:26] nvpohanh commented on #1686
@ttyio does the issue still exist?

[2022-06-15 08:33] caufrank commented on #1991
Hi, I have tried on TRT 8.0.1.6, and this memory leak issue was not reported. Could you try it on TRT 7.1.3? Thanks.

[2022-06-15 08:43] #1673 closed

[2022-06-15 08:44] zjlovemln commented on #2030
I checked  the function definition of torch._ cudnn_ rnn_ flatten_ weight() ,it has a variable "proj_size:_int";But In the quant_rnn.py torch._ cudnn_ rnn_ flatten_ weight() doesn't have  "proj_size " variable , so I modified the a file myself with adding  "proj_size = 0" ,as follow:
![image](https://user-images.githubusercontent.com/81769305/173782803-435c8723-4038-4508-aa14-d810fd64ea61.png)
Alt

[2022-06-15 08:44] nvpohanh commented on #1672
@charansingh9 Could you try the latest master branch and see if the issue still exists? I remember fixing similar issues a while ago. Thanks

[2022-06-15 08:45] nvpohanh commented on #1670
@tt-yoshi Could you try TRT 8.4.1 (8.4GA) and see if the issue still exists? Thanks

[2022-06-15 08:46] nvpohanh commented on #1663
@ttyio Is this fixed in TRT 8.4.1?

[2022-06-15 08:46] nvpohanh commented on #1660
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:46] #1660 closed

[2022-06-15 08:54] nvpohanh commented on #1658
@zang5xixi With your code, I am getting this error in TRT:

[code]

![2022-06-15 16_51_03-__dc2-cdot74-scr02_scratch pohanh_sw_TensorRT-debug_build_tensorrt-base-dev_rel-](https://user-images.githubusercontent.com/53919306/173786050-84a806a7-3c1c-458f-bd41-d3a0f2436119.png)

This is because the generated ONNX model uses a ton of ops just to compute the padding sizes, which are very unnecessary. Th

[2022-06-15 08:54] #1658 closed

[2022-06-15 08:54] nvpohanh commented on #1657
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:54] #1657 closed

[2022-06-15 08:55] nvpohanh commented on #1655
@ttyio Is this still an issue?

[2022-06-15 08:56] nvpohanh commented on #1652
Also please share: which TRT version, which OS, which GPU, etc. Thanks

[2022-06-15 08:56] nvpohanh commented on #1651
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:56] #1651 closed

[2022-06-15 08:58] nvpohanh commented on #1602
@ttyio What was the bug id? Has this been fixed?

[2022-06-15 08:58] nvpohanh commented on #1600
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 08:58] #1600 closed

[2022-06-15 08:59] #1595 closed

[2022-06-15 09:01] nvpohanh commented on #1594
@duchy Could you share your code about how you parse the ONNX files in multi-threaded context? That will help us to debug this issue. Thanks

[2022-06-15 09:02] nvpohanh commented on #1584
@MichaelWU0726 Could you provide detailed steps to repro the exception you saw? Thanks

[2022-06-15 09:02] nvpohanh commented on #1582
@ttyio Has this been fixed?

[2022-06-15 09:03] nvpohanh commented on #1581
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 09:03] #1581 closed

[2022-06-15 09:05] nvpohanh commented on #1576
@wojiazaiyugang Isn't this expected? If one inference takes 10ms and already takes up most of GPU compute resource, you would expect that the latency to become 10x when there are 10 models running in parallel, since GPU compute resource is limited.

closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 09:05] #1576 closed

[2022-06-15 09:06] KexianShen opened #2060 "Can polygraphy export *.onnx with a specific ir_version?"
I run
[code]
The output ONNX file is with a ir_version of 8, which is not suitable for my embedded platform (requires ir_version <= 7).

I wonder is there a way to export *.onnx with a specific ir_version? Thanks.

[2022-06-15 09:08] #1541 closed

[2022-06-15 09:11] nvpohanh commented on #1540
@hotpeppeper I also can't access the link you shared. I would suggest trying to const-fold your ONNX file first using https://github.com/NVIDIA/TensorRT/tree/main/tools/Polygraphy/examples/cli/surgeon/02_folding_constants and try running it in TRT 8.4.1 (8.4GA).

closing this issue for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 09:11] #1540 closed

[2022-06-15 09:12] nvpohanh commented on #1539
@zsffuture That warning should have been fixed in the latest TRT (8.4.1). Could you give it a try? Thanks

[2022-06-15 09:14] nvpohanh commented on #1538
closing this issue for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 09:14] #1538 closed

[2022-06-15 09:16] nvpohanh commented on #1532
@IAMLYCHEE @liuanhua110 When QAT runs slower than FP16, it usually means that the Q/DQ placement is not optimal. Could you share your quantized ONNX model(s) so that we can tell you where to add/remove Q/DQ ops? Thanks

[2022-06-15 09:16] nvpohanh commented on #1530
closing this issue for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 09:16] #1530 closed

[2022-06-15 09:17] nvpohanh commented on #1529
@pranavm-nvidia Does DLA support Slice op today? My guess is NO

[2022-06-15 09:17] nvpohanh commented on #1528
closing this issue for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 09:17] #1528 closed

[2022-06-15 09:18] nvpohanh commented on #1526
@842974287 I think this has been fixed in latest TRT (8.4.1). Could you give it a try? If the issue still exists, we will debug this. Thanks

[2022-06-15 09:19] nvpohanh commented on #1522
@Ragu2399 Did you install TensorRT via https://developer.nvidia.com/nvidia-tensorrt-download ?

[2022-06-15 09:20] #1520 closed

[2022-06-15 09:21] nvpohanh commented on #1518
@uygnef Could you try converting the TF graph to ONNX using https://github.com/onnx/tensorflow-onnx ? Then, pass the ONNX file into TRT. Thanks

[2022-06-15 09:22] nvpohanh commented on #1516
@likefxz2009 Could you share the ONNX file? Thanks

[2022-06-15 09:24] nvpohanh commented on #1515
@jplu That is the special op defined by Microsoft. We only support standard ONNX ops listed in https://github.com/onnx/onnx/blob/main/docs/Operators.md

[2022-06-15 09:25] KexianShen commented on #2060
downgrade onnx to 1.9.0 solves my problem

[2022-06-15 09:25] #2060 closed

[2022-06-15 09:27] nvpohanh commented on #1490
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 09:27] #1490 closed

[2022-06-15 09:27] nvpohanh commented on #1484
closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 09:28] #1480 closed

[2022-06-15 09:33] nvpohanh commented on #1479
The issue is that NVIDIA CUDA docker image does not have aarch64 version: https://hub.docker.com/r/nvidia/cuda/tags?page=1&name=10.2

There isn't much what we can do. Some options include:

- Cross-build from x86 using https://github.com/NVIDIA/TensorRT/issues/1730#issuecomment-1047843945
- Run TRT on bare-metal without using docker (i.e. directly install TRT on the board and build TRT OSS outside

[2022-06-15 09:35] nvpohanh commented on #1474
@Huang9495 Could you try TRT 8.2/8.4 since they have much better dynamic shapes support? If the issue still exists, please share the ONNX file and which GPU you were using. Thanks

[2022-06-15 09:36] nvpohanh commented on #1473
closing this for now due to >14 days with no response. please reopen if the issue still exists. Thanks

[2022-06-15 09:36] #1473 closed

[2022-06-15 09:36] nvpohanh commented on #1467
closing this for now due to >14 days with no response. please reopen if the issue still exists. Thanks

[2022-06-15 09:36] #1467 closed

[2022-06-15 09:37] #1466 closed

[2022-06-15 09:38] nvpohanh commented on #1464
@ethan28135 Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 09:38] nvpohanh commented on #1463
@zhaokanghuiasd Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 09:39] jplu commented on #1515
Ok thanks a lot for the answer! That means that optimized models with ONNX Runtime cannot be converted to TRT if they used custom ops defined by Microsoft, right?

[2022-06-15 09:39] nvpohanh commented on #1458
@ttyio Has it been fixed in TRT 8.4?

[2022-06-15 09:42] nvpohanh commented on #1447
@imSrbh Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 09:43] nvpohanh commented on #1437
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 09:43] #1437 closed

[2022-06-15 09:44] nvpohanh commented on #1433
It may be caused by the Python GIL: https://realpython.com/python-gil/

I would suggest trying with C++ implementation.

[2022-06-15 09:44] nvpohanh commented on #1431
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 09:46] nvpohanh commented on #1429
also, this may have been fixed in TRT 8.4.1 (8.4 GA).

[2022-06-15 09:48] nvpohanh commented on #1423
@jiuzhuanzhuan I opened the QAT model, but didn't see and Q/DQ nodes. Could you share the correct QAT model? Thanks

![2022-06-15 17_47_59-D__workD_my_model_quant onnx - Netron](https://user-images.githubusercontent.com/53919306/173798471-a2d978dc-b39a-43d1-8a98-ed024f6b015e.png)

[2022-06-15 09:49] nvpohanh commented on #1422
@kevinch-nv @rajeevsrao Should we add onnx_optimizer?

[2022-06-15 09:51] nvpohanh commented on #1412
This is because `BatchedDynamicNMS_TRT` instead of `BatchedNMS_TRT` should be used. @kevinch-nv @rajeevsrao Which one does ONNX parser use?

[2022-06-15 09:56] nvpohanh commented on #1405
@evanbro If I read your code, it looks like you are not just measuring the "engine deserialization" time but also the time to "parse the model" + "build the engine", right? TRT's builder is not thread safe, so I don't think we support building two engines in parallel in the same process.

[2022-06-15 10:02] nvpohanh commented on #1395
@jiapei100 Did you compile this within the docker image we provide in README?

[2022-06-15 10:03] nvpohanh commented on #1391
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 10:03] #1391 closed

[2022-06-15 10:05] nvpohanh commented on #1291
I thought we already support TRT on Windows?

[2022-06-15 10:08] jackwish commented on #2006
@scuizhibin Thanks for the update! I mean create a GitHub repo like https://github.com/NVIDIA/TensorRT. With such repo, we can share what changes is needed with a particular line by a simple link.

Here is the doc of creating a repo: https://docs.github.com/en/get-started/quickstart/create-a-repo

[2022-06-15 10:10] nvpohanh commented on #1264
@BarryKCL Could you try the latest TRT 8.4 GA release and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 10:11] nvpohanh commented on #1262
@zmy1116 Could you try the latest TRT 8.4 GA release and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 10:12] nvpohanh commented on #1254
@tirankas Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 10:13] nvpohanh commented on #1248
@alicera  Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 10:13] nvpohanh commented on #1244
@serser  Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 10:14] nvpohanh commented on #1233
@ulrichMarco Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 10:15] nvpohanh commented on #1218
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 10:15] #1218 closed

[2022-06-15 10:16] nvpohanh commented on #1210
@IAM-P-LP Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 10:17] nvpohanh commented on #1199
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 10:17] #1199 closed

[2022-06-15 10:20] nvpohanh commented on #1193
This has been fixed in latest TRT release in JP. Closing for now. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 10:20] #1193 closed

[2022-06-15 10:20] nvpohanh commented on #1189
@wellinxu Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 10:27] nvpohanh commented on #1176
1660 GPUs do not have TensorCores so they won't give any speed-up for INT8.

closing this issue for now. Please feel free to reopen if you still have questions. Thanks

[2022-06-15 10:27] #1176 closed

[2022-06-15 10:29] nvpohanh commented on #1159
@1372072273 Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 10:33] nvpohanh commented on #1177
With TRT 8.4.1, I am able to get good results using the sanitized model:

[code]

@sapjunior Could you try TRT 8.4.1? Thanks

[2022-06-15 10:33] nvpohanh commented on #1154
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 10:34] nvpohanh commented on #1142
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 10:35] nvpohanh commented on #1121
@neso613 That error looks like some driver issue. Is it still an issue now?

[2022-06-15 10:39] nvpohanh commented on #1108
@oscarthorn Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 10:39] nvpohanh commented on #1050
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 10:39] #1050 closed

[2022-06-15 10:55] nvpohanh commented on #1034
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 10:55] #1034 closed

[2022-06-15 10:56] nvpohanh commented on #1027
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 10:56] #1027 closed

[2022-06-15 10:58] nvpohanh commented on #1025
I don't know if this is the same issue, but I have seen similar issue caused by using INT64 torch.Tensor or nump.ndarray to get TRT's output indices, which are in INT32.

I am going to close this for now. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 10:58] #1025 closed

[2022-06-15 10:59] nvpohanh commented on #1020
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 11:01] nvpohanh commented on #1019
@p1x31 Could you try TRT 8.4.1 (8.4GA) release? @ttyio I think Pad with Reflect mode is now supported, right?

[2022-06-15 11:01] nvpohanh commented on #1003
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 11:01] #1003 closed

[2022-06-15 11:02] nvpohanh commented on #1000
@FengYue95 Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:03] nvpohanh commented on #995
@BokyLiu Could you check if the latest master branch still has this issue? If it does, we will debug it. Thanks

[2022-06-15 11:04] nvpohanh commented on #965
@pustar Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:05] nvpohanh commented on #943
@whatlas @ciderpark Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:06] nvpohanh commented on #921
@whcjb @wnzhyee Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, please share the ONNX model and we will debug it. Thanks

[2022-06-15 11:07] nvpohanh commented on #918
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 11:07] #918 closed

[2022-06-15 11:10] nvpohanh commented on #915
Filed an internal merge request to fix this.

[2022-06-15 11:13] nvpohanh commented on #875
@yuyusmile @cyy5358 Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:13] nvpohanh commented on #866
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 11:13] #866 closed

[2022-06-15 11:14] nvpohanh commented on #865
@1208overlord Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:15] nvpohanh commented on #828
@jkjung-avt Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:15] nvpohanh commented on #805
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 11:16] nvpohanh commented on #793
@mk-nvidia Has this been fixed in latest master?

[2022-06-15 11:17] nvpohanh commented on #791
@MuhammadAsadJaved Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:17] nvpohanh commented on #543
@jackhelloworldly Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:18] nvpohanh commented on #465
@thirdeye-callum Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:20] nvpohanh commented on #439
@copaah Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:20] nvpohanh commented on #416
@bosssaurav Could you try TRT 8.2/8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-06-15 11:20] nvpohanh commented on #370
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 11:21] #370 closed

[2022-06-15 11:22] nvpohanh commented on #355
We are deprecating CaffeParser in favor of ONNX. Closing this for now.

[2022-06-15 11:22] #355 closed

[2022-06-15 11:24] nvpohanh commented on #1515
Yes, I think that is correct. If you can break it into several standard ONNX ops, then TRT can run it. @rajeevsrao for visibility in case I made mistakes on this.

[2022-06-15 11:25] nvpohanh commented on #1991
We don't plan to fix issues in TRT 7.x anymore.

[2022-06-15 12:02] Slyne commented on #1048
Yes.

[2022-06-15 12:03] Slyne commented on #1048
Hi Pohanh,
I no longer work on this and have moved all my pipeline to pytorch checkpoints. Things seem pretty good.

[2022-06-15 13:14] AlexandreBourrieau commented on #2050
Ok thanks you, so I cannot build "libnvparsers.so" and "libnvinfer.so" from source ?

[2022-06-15 13:28] NavKumarGit commented on #2027
Thank you for the suggestion. It's working now with one dynamic axis. keeping batch size fixed and variable sequence length.
Warnings are still coming but inferences are working.

[2022-06-15 14:18] rajeevsrao commented on #1515
That is correct, `EmbedLayerNormalization` is not a standard ONNX Op. If a non-standard Op is present, the TensorRT ONNX parser tries to map it to a Plugin of the same name, if present. In this case however, we don't ship a plugin called  `EmbedLayerNormalization` (Embedded Layer Normalization plugin used by our BERT demo is called  `CustomEmbLayerNormPluginDynamic`).

TensorRT supported plugins a

[2022-06-15 14:25] #1515 closed

[2022-06-15 14:32] rajeevsrao commented on #1968
@digiwang thanks for the pointers.  The older (7.x branches) are no longer receiving active updates - please upgrade to TensorRT 8.4/8.x if possible. We will fix this however.

@yuanyao-nv can you please take a look?

[2022-06-15 14:34] rajeevsrao commented on #2057
@zacool64 fix has been merged on release/8.2 branch as well. Please verify at your end and let us know. Thanks.

[2022-06-15 14:39] rajeevsrao commented on #1515
@jplu you might also find this sample helpful to understand the plugin fallback for custom onnx ops: https://github.com/NVIDIA/TensorRT/tree/main/samples/python/onnx_packnet

Thanks.

[2022-06-15 14:53] rajeevsrao commented on #1412
I think @Source82 explicitly added the `BatchedNMS_TRT` plugin using onnx-gs as a [workaround](https://github.com/NVIDIA/TensorRT/issues/795) for missing NMS support in the onnx parser prior to TRT 8.0.

Since TensorRT 8.x, our ONNX parser supports NonMaxSuppression` Op and [maps](https://github.com/onnx/onnx-tensorrt/blob/1da7332349d5b1196ccfa6dc719b839876f1e83e/builtin_op_importers.cpp#L2953) it

[2022-06-15 16:17] kevinch-nv commented on #1422
This is a known issue, with the current pinned versions of onnx inside onnx-tensorrt repository this issue should not occur. We have a plan to eventually remove the dependency on ONNX optimizer so that this issue does not exist

[2022-06-15 17:06] zacool64 commented on #2057
Can confirm, this is fixed now.

[2022-06-15 17:06] #2057 closed

[2022-06-15 18:07] theHamsta commented on #1034
I observed this issue with some of the Nvidia containers in the past that build on `cuda` base image (seems to be fixed with recent containers for me). Interestingly, lldb would always work where GDB would. Maybe OP can try whether this work around would work on his setup.

[2022-06-15 19:37] AlexandreBourrieau commented on #2050
I finaly found what was wrong : The build library  libnvonnxparser.so.8.2.5 do not work so I need to use the old one ibnvonnxparser.so.8.0.1 and now it works...

[2022-06-15 19:37] #2050 closed

[2022-06-15 23:32] blackCmd commented on #1291
Yes, you are right.
But TRT is not supported on Windwos Python API.

[2022-06-16 01:45] zhaohb commented on #1117
@nvpohanh give me your email, and I'll give you access.

[2022-06-16 02:12] AsiaCao opened #2061 "Question about fast model loading time"
## Description

Hi team,

I just have a question to confirm. Please let me know if there is a better forum for such questions.
I did some preliminary benchmark in Python TensorRT APIs to see how fast it is to load a model into memory and make an inference.

I noticed that it took about 8 seconds to load a model into memory and make an inference. After that, if i load a different model into memory

[2022-06-16 02:48] nvpohanh commented on #2030
@zjlovemln To add Q/DQ for LSTM, you can check out the Quant LSTM/RNN in the torch quant toolkit: https://github.com/NVIDIA/TensorRT/blob/main/tools/pytorch-quantization/tests/quant_rnn_test.py

@ttyio for visibility

[2022-06-16 07:36] nvpohanh commented on #915
This has been fixed internally and will be available in next release. Thanks for reporting the issue.

[2022-06-16 07:36] #915 closed

[2022-06-16 08:11] nvpohanh commented on #1117
@zhaohb pohanh@nvidia.com

[2022-06-16 08:12] nvpohanh commented on #1291
@pranavm-nvidia @kevinch-nv I thought we also already support Python APIs on Windows?

[2022-06-16 08:16] nvpohanh commented on #1750
We don't release the source code of libnvinfer.so. You will need to install it from: https://developer.nvidia.com/nvidia-tensorrt-download

[2022-06-16 08:18] nvpohanh commented on #1176
It's surprising to me that there is speed-up on 1660. If you can sure the trtexec logs with `--verbose --profilingVerbosity=detailed --dumpLayerInfo --dumpProfile --separateProfileRun --noDataTransfers --useCudaGraph --useSpinWait` flags, I can take a look at why that's the case.

[2022-06-16 08:19] nvpohanh commented on #1048
Sounds good. I will close this. Thanks

[2022-06-16 08:19] #1048 closed

[2022-06-16 08:19] buendiya opened #2062 "Mismatched outputs"
## Description

I am using polygraphy to run a simple onnx model which only have a conv layer and have "Mismatched outputs" error.

Output:

[code]

## Environment

**TensorRT Version**: 8.4.1
**NVIDIA GPU**: GeForce RTX 3090
**NVIDIA Driver Version**:  470.57.02
**CUDA Version**:  11.4
**CUDNN Version**: 8.2.1.32
**Operating System**: ubuntu 20.04
**Python Version (if applicable)**: 3.8.10
**Tens

[2022-06-16 08:33] nvpohanh commented on #2062
Could you try upgrading the CUDNN version to 8.4.1?

[2022-06-16 09:01] buendiya commented on #2062
Thanks. I have upgraded the CUDNN version to 8.4.1, but still have this error.

[2022-06-16 09:09] david-PHR commented on #1277
Hello @rajeevsrao and @samurdhikaru ,
In addition to what @MatthieuTPHR  said I give you some additional informations :

It is possible to support an affine group_norm without use the  [scaleShiftChannelsInplace](https://github.com/NVIDIA/TensorRT/blob/73a7cccd6224035d9008cdde5bc35db77212c402/plugin/groupNormalizationPlugin/groupNormalizationKernel.cu#L47) CUDA kernel. Regarding to the kernel impl

[2022-06-16 09:29] nvpohanh commented on #782
When `buildEngineWithConfig` returns a nullptr, it means something went wrong in the engine building process, and there could be many different causes. When seeing this, please share verbose logs so that we can assist you to find the right solution.

[2022-06-16 09:41] nvpohanh commented on #2062
I cannot repro this locally. Could you share the logs with `-vv` flag added to the polygraphy command? Thanks

[2022-06-16 09:58] nvpohanh commented on #2062
@buendiya Thanks for the logs. I do spot issues from your log, and we will debug it. Meanwhile, is it possible if you try upgrading CUDA to CUDA-11.6 (which uses r510 driver) and see if the issue goes away? Thanks

[2022-06-16 11:55] buendiya commented on #2062
After upgrading CUDA to CUDA-11.6, there is no error anymore. Thanks.

[2022-06-16 13:40] zhaohb commented on #1117
@nvpohanh you have been assigned permissions

[2022-06-16 13:57] kevinch-nv commented on #1291
Yes, we have TensorRT Python wheel files shipped in the Windows zips that you can download at https://developer.nvidia.com/nvidia-tensorrt-download.

[2022-06-16 14:01] tuoeg opened #2063 "TRT exec bug"
## Description

dynamic shape TRT execute loss of accuracy,but static shape TRT execute normal

## Environment

**TensorRT Version**: 8.2.3
**NVIDIA GPU**: GTX
**NVIDIA Driver Version**: 465.19.01
**CUDA Version**: 11.3
**Operating System**: ubuntu
**Python Version**: 3.8.10
**PyTorch Version**: 1.11.0
**onnxruntime Version**: 1.11.0

## Relevant Files

dataset,onnx file,trt file and test script i

[2022-06-16 14:35] zerollzeng commented on #2063
BTW can you try TRT 8.4? it might be a fixed issue too.

[2022-06-16 14:53] tuoeg commented on #2063
input shape are same

发自我的iPhone

------------------ Original ------------------
From: Zero Zeng ***@***.***&gt;
Date: Thu,Jun 16,2022 10:35 PM
To: NVIDIA/TensorRT ***@***.***&gt;
Cc: tuoeg ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [NVIDIA/TensorRT] TRT exec bug (Issue #2063)

Baidu net disk has a bad download speed, can you upload the dynamic shape onnx model to google drive?

Also, wh

[2022-06-16 14:54] tuoeg commented on #2063
Ok,I will try new version

发自我的iPhone

------------------ Original ------------------
From: Zero Zeng ***@***.***&gt;
Date: Thu,Jun 16,2022 10:36 PM
To: NVIDIA/TensorRT ***@***.***&gt;
Cc: tuoeg ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [NVIDIA/TensorRT] TRT exec bug (Issue #2063)

BTW can you try TRT 8.4? it might be a fixed issue too.

—
Reply to this email directly, view it on GitHub

[2022-06-16 17:39] truncs commented on #1692
Tried it with [TensorRT v8401] and it works!

[2022-06-16 17:39] #1692 closed

[2022-06-16 20:25] truncs commented on #1650
Seems like the model fails on a squeeze layer after trilinear interpolation with

[code]

[2022-06-17 01:32] zerollzeng commented on #1650
@nvpohanh Yes, Empty concat tensor has been fixed.

[2022-06-17 02:23] michaelroyzen commented on #1845
Any updates @nvpohanh? KV-cache for this implementation would be a game changer for us.

[2022-06-17 02:39] nvpohanh commented on #1117
@zhaohb It seems that the file you sent was a TRT plan file? May I ask for the ONNX file that was used to generate the TRT plan file? Thanks

[2022-06-17 02:39] nvpohanh commented on #2062
Thanks for letting us know! I will close this for now.

I tried repro it in CUDA-11.4 + r470 driver environment on my local machine but could not repro it. But glad to see that CUDA upgrade fixes the issue.

[2022-06-17 02:39] #2062 closed

[2022-06-17 02:42] nvpohanh commented on #782
@SheenChi TRT 7.1 does not support Ampere GPUs.

[2022-06-17 03:00] tuoeg commented on #2063
we test TRT 8.4，there also have large loss of accuracy in our dynamic shape modle,our dynamic and static onnx modle in google driver：https://drive.google.com/drive/folders/1EjL-bpaDkBBVlhZTSZSSKmv-9_zLpjVH?usp=sharing

[2022-06-17 03:02] tuoeg commented on #2063
test script in respository: https://github.com/tuoeg/issue_test

[2022-06-17 03:16] nvpohanh commented on #1512
This has been fixed internally and will be available in next release. Thanks for reporting this!

[2022-06-17 03:16] #1512 closed

[2022-06-17 05:09] SheenChi commented on #782
I can run the program on A30 normally with TRT 7.1. If this problem is cause by trt version to low, Is TRT8.4 support 3090 gpu

[2022-06-17 05:22] nvpohanh commented on #782
Yes, could you try TRT 8.4 GA on 3090 GPU?

[2022-06-17 05:46] buendiya commented on #2062
Could you tell me what NVIDIA GPU you use on your local machine ?

[2022-06-17 06:03] SheenChi commented on #782
ok, I will try it, thanks

[2022-06-17 06:14] nvpohanh commented on #2062
I could only find RTX A6000, which is the closest GPU I have to RTX 3090 :(

[2022-06-17 09:32] leemengxing opened #2067 "Qdq model int8 is much slower than fp16 on Orin"
Does Orin platform not support qdq mode？tensorrt8.0.1.6

[2022-06-17 10:02] jacker-whh opened #2068 "Myelin error when load ONNX model, Assertion `false && "Invalid size written"' failed"
## Description
We’re preparing to use Orin with TensorRT8.3 for better performance, but it failed when creating a Builder. Error occurred in myelin which is close-sourced, we’ve gotten stuck here for days and had no clue where to start debugging, so ask for your help:)

## Environment
**TensorRT Version tensorrt 8.3:
**GPU Type Orin:
**Nvidia Driver Version 515:
**CUDA Version 11.4:
**CUDNN Versio

[2022-06-17 11:45] tuoeg commented on #2063
we use avilable small models, found that the small modle selected matmul operate tactic is different.

[2022-06-18 03:55] zerollzeng commented on #2067
qdq means explicit quantization(https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#explicit-implicit-quantization). all the precision is controlled by the user.
btw what model you are running on Orin and can you try the latest version of TRT?

[2022-06-18 04:44] zerollzeng commented on #2068
I can't reproduce this in 8.4. can you try the latest version?

[2022-06-18 08:27] duanshengliu commented on #2068
Hi, I've encountered a similar error during the conversion of onnx to trt in the last two days, my two onnx models all contain LSTM op. I refer to https://github.com/NVIDIA/TensorRT/issues/1928 (which is consistent with my error message). According to jackwish's description, I think there is no **libcublas.so** or **libcublasLt.so** in the path of **/usr/local/cuda/lib64**, although there are **li

[2022-06-18 09:05] perseusdg opened #2069 "Potential Tensorrt Bug on WSL2 (8.4 GA)"
## Description

I tried building tkdnn  on wsl2 with TensorRt 8.4 GA ,cudnn 8.4 and cuda 11.7 , the library and its tests compile without any issues but when i run any test (test_yolo4tiny in this context) both cudnn vs trt checks and trt vs correct checks fail.This doesn't seem to be an issue on native linux (ubuntu 20.04) and windows 11.(i also copied libraries from /usr/lib/wsl/lib to /usr/lib/

[2022-06-18 09:11] jacker-whh commented on #2068
Thanks, it has been solved

[2022-06-18 09:11] #2068 closed

[2022-06-18 09:16] jacker-whh opened #2070 "Myelin error when load ONNX model, myelin::symbolic_value_t::operator size_t() const: Assertion `is_const()' failed"
We’re preparing to use Orin with TensorRT8.3 for better performance, but it failed when creating a Builder. Error occurred in myelin which is close-sourced, we’ve gotten stuck here for days and had no clue where to start debugging, so ask for your help.

Please note that I am using orin, which only goes wrong at fp16, and int8 can pass normally.

/root/gpgpu/MachineLearning/myelin/src/compiler/…/.

[2022-06-18 09:21] jacker-whh commented on #2070
Trying f16 on v100 is okay to pass, but orin is not

[2022-06-18 09:38] jacker-whh commented on #2068
Thank you, is your orin platform? Where to install 8.4? My problem has been solved downstairs

[2022-06-19 01:38] whatlas commented on #943
sorry i am no more in that project so i got no hardware for the test.

back to Feb 2021, i managed to convert the model to tensorrt by rewriting the pytorch model by tensorrt-python-api and numpy, it worked well without onnx.

[2022-06-19 08:09] Mahsa1994 commented on #1289
@nvpohanh I have the same problem, but I get correct results from the ONNX (QAT) and wrong results when trying to infer in TensorRT8.2.

[2022-06-19 08:17] jkjung-avt commented on #828
@nvpohanh  I am **not able to reproduce the problem** on my Jetson Xavier NX DevKit with JetPack 5.0.1 DP.  I guess it's been fixed in the latest TensorRT.

JetPack 5.0.1 DP:
* **TensorRT-8.4.0.11**
* CUDA-11.4
* cuDNN-8.3.2
* Linux kernel: 5.10.65-tegra

[2022-06-19 08:33] dany137718 opened #2071 "switch between "Compute cores" and "Cuda cores""
Hi,
How can I switch between "Compute cores" and "Cuda cores"?
I have two PC. one of them has a GTX 750ti Graphics card and the other has RTX 3070.
GTX750 ti doesn't have any "Cuda core" and all of the compute usage is set on "Compute cores".
On the other hand, RTX 3070 has one Cuda core and two "Compute cores", and all of the compute usage is set on "Cuda cores".

![image](https://user-images.git

[2022-06-20 02:35] leemengxing commented on #2067
TensorRT version 8.0.1.6 ,
The same model performs well on xavier.  this is my onnx model, thks
[my_model.onnx.zip](https://github.com/NVIDIA/TensorRT/files/8937103/my_model.onnx.zip)

[2022-06-20 03:18] Fuzhiyuan opened #2072 "i save an engine, then load and deserialize it on the same computer. But still raise an version not match"
## Description
Here is the detail got from cmd:
[06/20/2022-11:10:38] [TRT] [E] 1: [stdArchiveReader.cpp::nvinfer1::rt::StdArchiveReader::StdArchiveReader::40] Error Code 1: Serialization (Serialization assertion stdVersionRead == serializationVersion failed.Version tag does not match. Note: Current Version: 213, Serialized Engine Version: 205)
[06/20/2022-11:10:38] [TRT] [E] 4: [runtime.cpp::nvin

[2022-06-20 04:07] wuwenxuan0226 commented on #1771
My environment is:
TensorRT Version: 8.2.2.1
NVIDIA GPU: T1200 laptop
NVIDIA Driver Version: 516.25
CUDA Version: 11.4
CUDNN Version: 8.4.1
Operating System: win10 wsl2 ubuntu18.04LTS
kernel: 5.10.102.1-microsoft-standard-WSL2

I use tar to install CUDA, Cudnn, and TensorRT

[2022-06-20 04:11] wuwenxuan0226 commented on #1769
My environment is:
TensorRT Version: 8.2.2.1
NVIDIA GPU: T1200 laptop
NVIDIA Driver Version: 516.25
CUDA Version: 11.4
CUDNN Version: 8.4.1
Operating System: win10 wsl2 ubuntu18.04LTS
kernel: 5.10.102.1-microsoft-standard-WSL2

I use tar to install CUDA, Cudnn, and TensorRT

And has the same iussue:

&&&& RUNNING TensorRT.sample_mnist [TensorRT v8202] # ./sample_mnist
[06/20/2022-11:53:01] [I] Bui

[2022-06-20 04:40] handoku commented on #2009
@nvpohanh Would you please reopen this issue. Unfortunately, we got this error when convert [model.onnx](https://drive.google.com/file/d/1vkZK_znWFZbCVuof8yF8AcE4JRMrq7P4/view?usp=sharing) to engine using trt 8.4 GA.

Like I said before, we have got a lots of similar errors. the problem did not just disappear. When it show up, we have to take efforts to run tests. and sometimes we may avoid it wit

[2022-06-20 05:25] #943 closed

[2022-06-20 05:31] wuwenxuan0226 commented on #1771
I also tried tensorrt 8.2.5.1, 8.4.1.5, and 8.2.2.1, all have the same fail information.

[2022-06-20 06:07] handoku commented on #2009
@zerollzeng hi, could you please help to create a internal issue to track the failure.

[2022-06-20 07:32] nanbatian119 opened #2073 "algorithm select on some onnx has err msg"
algorithm select on some onnx has such err msg

**TensorRT Version**:  8.4GA
**NVIDIA GPU**:  NVIDIA A10
**NVIDIA Driver Version**: 510.73.08
**CUDA Version**: 11.3

<img width="929" alt="企业微信截图_d47d2985-cd1c-4ac9-9c2e-babc1f184242" src="https://user-images.githubusercontent.com/20862479/174547883-fa9bf3be-e2ca-40de-b7bb-f4e02bb67522.png">

Here is my respo to reproduce

https://github.com/nanbati

[2022-06-20 07:48] nanbatian119 commented on #2073
onnx download path

https://drive.google.com/file/d/190yzio7Imzy8gLExKnjGL5FaGOl6u0l8/view?usp=sharing

[2022-06-20 08:26] BowenFu commented on #2063
Confirmed that the accurarcy issue will only happen when building engine without --noTF32 option.
With --noTF32, the max abs tolerance is within 1e-4.

[2022-06-20 08:27] leemengxing commented on #2067
Upgrading to the latest version does not solve the problem

[2022-06-20 08:28] zerollzeng commented on #2070
V100 is 8.4 right? then perhaps this problem has been fixed is TRT 8.4. Are you using the Drive platform?

[2022-06-20 08:35] zerollzeng commented on #2072
A similar issue: https://github.com/NVIDIA/TensorRT/issues/2041

[2022-06-20 08:44] zerollzeng commented on #2073
I can't reproduce it on my 8.4(internal build, maybe newer than yours). can you try to run your model with trtexec?
[code]

[2022-06-20 08:54] nanbatian119 commented on #2073
<img width="779" alt="企业微信截图_550dfe54-774e-49ee-855c-e72776cb1b5b" src="https://user-images.githubusercontent.com/20862479/174564326-fbdd050e-d104-4eae-b1f6-3604031ed6b5.png">

It has passed.

[2022-06-20 09:06] zerollzeng commented on #2073
Looks like it's related to IAlgorithmSelector. @nvpohanh can you help on here?

[2022-06-20 09:14] leemengxing commented on #2067
build with INT8, What should I do?

[2022-06-20 09:19] Fuzhiyuan commented on #2072
I have checked it, and In my PATH there is one tensorrt version

[2022-06-20 09:29] Fuzhiyuan commented on #2072
This issue seems to depend on Linux command, is there any solution on Win10?

[2022-06-20 09:34] jacker-whh commented on #2070
V100 is also TRT 8.3，yes i am using the Drive platform。

[2022-06-20 10:37] zerollzeng commented on #2070
I cannot reproduce this on Orin(DOS 6.0.3, TRT 8.4). can you upgrade your DOS version?
FYI, If you are our Auto customer, then you should be able to get support from NV or Tier-1 directly. I would suggest that way first.

[2022-06-20 10:39] zerollzeng commented on #2072
@nvpohanh ^ ^

[2022-06-20 11:12] zerollzeng commented on #2067
you can run your model with trtexec and enable --verbose --dumpLayerInfo --separateProfileRun --dumpProfile --profilingVerbosity=detailed and compare the verbose log. you will see the layer profile at the end of the log and also you can check the Engine Layers Information to see the difference between 2 engines.

[2022-06-20 11:14] zerollzeng commented on #2071
Sorry this question is offtopic here, can you ask in somewhere else? thx.

[2022-06-20 12:11] leemengxing commented on #2067
![1](https://user-images.githubusercontent.com/24696984/174598790-53f97e46-6521-48e9-a9cf-4f368fb7a677.png)
More op before entering the activation function on orin, why?

[2022-06-20 12:56] jike-algorithm-zhangxiao opened #2074 "can efficientNMS plugin get dynamic outputs?"
## Description
I convert onnx model which has efficientNMS plugin to tensorrt, and i deploy it use triton.
But when starting inference, the scores shape is always [max_output_boxes, 1, 1], the boxes shape is always [max_output_boxes, 1, 4].
Even not have targert objects, the output will padded the box which has max scores to [max_output_boxes, ..]. Why like this? shall I have some insights to do f

[2022-06-20 13:39] jacker-whh commented on #2070
my DOS version is 6.0.0, TRT 8.3。
Yes, I've seen tensorrt8.4-arm .deb on NVONLINE, i can try updating it.

[2022-06-20 13:47] jacker-whh commented on #2070
You can see if you can reproduce the problem I described on tensorrt 8.3, dos6.0.

[2022-06-20 14:15] zhaohb opened #2075 "trex ： engine graph diagram incomprehensibility"
I'm visualizing an engine file using the trex tool, but I get that :

![image](https://user-images.githubusercontent.com/5791375/174621160-8bf1ac44-c499-46c6-b9e7-888d7b2b4aa8.png)

I don't understand why concat has so many reformats and more and more lines.

thank you very much.

[2022-06-20 15:09] perseusdg commented on #2069
are there any workarounds for fixing this or is this a wsl specific issue ?

[2022-06-20 20:23] phquanta commented on #2047
What version of TensorRT is used by the TensorRT inference in Isaac SDK?
[](https://docs.nvidia.com/isaac/doc/doc/component_api.html#isaac-ml-tensorrtinference)

[2022-06-20 20:24] phquanta commented on #2047
https://docs.nvidia.com/isaac/doc/doc/component_api.html#isaac-ml-tensorrtinference

[2022-06-20 20:29] phquanta commented on #2047
I am in process of trying the TRT 8.0 but was not clear about the version of TRT used by Isaac SDK.

[2022-06-21 04:36] zhoutianzi666 opened #2076 ": cannot use precision Float with weights of type Int32"
## Description

## Environment

**TensorRT Version**: 6015
**NVIDIA GPU**: T4
**NVIDIA Driver Version**:
**CUDA Version**: 10.1
**CUDNN Version**:
**Operating System**: ubuntu
**Python Version (if applicable)**: 3.8
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:

## Relevant Files

## Steps To Reproduce

E0621 05:22:19.9185

[2022-06-21 05:32] nvpohanh commented on #2067
@leemengxing Could you try removing the Q/DQ ops between the BatchNorm and the Sigmoid?

[2022-06-21 05:34] nvpohanh commented on #2072
`echo $PATH` in powershell? or `echo %PATH%` in cmd

[2022-06-21 05:35] nvpohanh commented on #2009
Reopen.

[2022-06-21 05:36] nvpohanh commented on #828
so it has been fixed in the latest TRT version. Thanks for checking that.

I am going to close this for now. Please feel free to reopen if this issue still exists. Thanks

[2022-06-21 05:36] #828 closed

[2022-06-21 05:40] leemengxing commented on #2067
@nvpohanh Yes, I found that Xavier and Orin did not handle this consistently. Are there any other optimization suggestions?

[2022-06-21 05:45] #2067 closed

[2022-06-21 05:54] yuefanhao opened #2077 "tensorrt 8.2 is much slower than tensorrt 8.0 in createExecutionContext() functioin?"
tensort 8.0 + cuda11.3 vs. tensort 8.2+ cuda11.6

[2022-06-21 05:54] yuefanhao commented on #2077
About 10 times slower

[2022-06-21 07:03] 992355092 commented on #2036
@nvpohanh  Hi, I used TRT 8.4 EA on orin, and build engine by the same calibration, it still have problem, 2080ti's precision is batter than orin,  there are verbose logs when building the engines
[x86_int8.log](https://github.com/NVIDIA/TensorRT/files/8946544/x86_int8.log)
[orin_int8.log](https://github.com/NVIDIA/TensorRT/files/8946545/orin_int8.log)

[2022-06-21 08:41] BowenFu commented on #2073
Reproduced with latest internal TRT.
With dynamic batch, the error will appear.

[2022-06-21 08:53] lw921014 opened #2078 "assert not make sense when release"
## Description

In file [https://github.com/NVIDIA/TensorRT/blob/main/samples/common/buffers.h#L251](url),we find this assert in not work when use release build type.
In fact, for the same code, if we compile it using debug mode, code will core dump, however when we compile it using release mode, it works well. I think this is very confused.

I think the main reason is that in [trt doc](https://do

[2022-06-21 08:56] Fuzhiyuan commented on #2072
E:\lib\python\Scripts\;
E:\lib\python\;
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.3\bin;
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.3\libnvvp;
C:\Windows\system32;
C:\Windows;
C:\Windows\System32\Wbem;
C:\Windows\System32\WindowsPowerShell\v1.0\;
%E:\anconda\Scripts;
E:\lib\libtorch\lib;
C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;
E:\cmake\bin;
E:\ide_env\gcc\g

[2022-06-21 14:54] zerollzeng commented on #2076
can you provide the TRT verbose log here?

[2022-06-21 15:23] pranavm-nvidia commented on #1529
Yes, Slice support on DLA was just added in 8.4

[2022-06-21 16:18] wraveane commented on #2074
Hi @jike-algorithm-zhangxiao , yes, you are correct. The current implementation of the EfficientNMS plugin is limited in that way, as TensorRT currently only supports fixed tensor shapes. So for now, you will unfortunately need to remove the "padding" detections in a post-processing step in host code (either python or c++) after Triton performs inference. One of the output tensors of the plugin is

[2022-06-22 02:42] jike-algorithm-zhangxiao commented on #2074
ok, Thanks!

[2022-06-22 02:42] #2074 closed

[2022-06-22 04:00] MaxeeCR opened #2079 "Export engine and inference with batch>1 with trtexec failed"
## Description

Hi, i have configured the `optShapes` to batch_size=8 in model conversion. However, the inference info still shows the result of batch-size=1 which makes me confused.

[code]
![image](https://user-images.githubusercontent.com/15684732/174940677-e9c34dea-a1c9-47e9-ac53-2b8fb8af6db3.png)
![image](https://user-images.githubusercontent.com/15684732/174940706-1beb054a-49a4-4a9e-ad08-313

[2022-06-22 04:16] nvpohanh commented on #2079
Could you share your ONNX file? Does your ONNX file has dynamic axes in the input shapes?

[2022-06-22 04:21] MaxeeCR commented on #2079
Thanks for reply. I have set `dynamic_axes` in `torch.onnx.export`
[code]

[2022-06-22 06:19] zerollzeng commented on #2075
It might be a bug and we are investigating it.

[2022-06-22 06:22] zerollzeng commented on #2079
Can you try:
[code]
to specify the inference input shape?

[2022-06-22 07:09] MaxeeCR commented on #2079
Model is too large to share. This log file records the generating information of engine model.
[epoch_30_fold.log](https://github.com/NVIDIA/TensorRT/files/8955192/epoch_30_fold.log)

[2022-06-22 07:11] MaxeeCR commented on #2079
I added `--shapes=input:8x3x8x112x112` but the latency is also around 1.68 ms
![image](https://user-images.githubusercontent.com/15684732/174966527-b9774991-1ac5-4938-a101-ad35a397f6dd.png)
[epoch_30_fold.log](https://github.com/NVIDIA/TensorRT/files/8955220/epoch_30_fold.log)

[2022-06-22 07:49] byjswr opened #2080 "Unable to fallback to FP32"
## Description

In a single transformer block, 3 matmuls are fused in fp16 precision, and the assigned output data type was not obeied when I can specify a matmul to fall back to fp32

## Environment

TensorRT Version: 8.4.0
NVIDIA GPU: GTX
NVIDIA Driver Version: 465.19.01
CUDA Version: 11.3
Operating System: ubuntu
Python Version: 3.8.10
PyTorch Version: 1.11.0
onnxruntime Version: 1.11.0

## Rel

[2022-06-22 07:54] BowenFu commented on #2080
The issue is about horizontal merge not following output data type properly. Will try reproducing it.

[2022-06-22 08:09] BowenFu commented on #2080
@byjswr can you update the description? " it fails" should be "the assigned output data type was not obeied".

[2022-06-22 08:23] netaz commented on #2075
These lines designate Region reuse: when a memory Region is written-to once and read-from once then there is one line; if it is written-to and read-from twice it has two lines, and so on.
A Region is designated as a rectangle with a dashed line.
When there are many concat layers, which connect, we may have a "concat-waterfall" where each concat reuses the Region before it and you see something lik

[2022-06-22 09:06] bultmann-s commented on #1301
Hi, I just checked with AGX-Orin and JetPack 5.0.1, TensorRT-OSS 8.4.1 Native build on Jetson (aarch64) with cuda-11.4:
 -- The issue does not occur anymore.

Unfortunately, I don't have a Xavier NX set up with the latest JetPack, so I cannot verify on that platform.

[2022-06-22 11:31] SimonKeisala opened #2081 "Support for shifted zero point or uint8 after Relu activations"
## Description

According to a presentation material from 2017 ([8-bit Inference with TensorRT](https://on-demand.gputechconf.com/gtc/2017/presentation/s7310-8-bit-inference-with-tensorrt.pdf)) some open challenges / improvements are mentioned, whereas one being to support unsigned int8 after ReLU activations. This support still does not seem to exist, and practically result in 7-bit quantization

[2022-06-22 14:24] zerollzeng commented on #2079
That sounds like a bug, can you share your onnx model here?

[2022-06-22 14:25] zerollzeng commented on #2079
That's weird, can you share your onnx model?

[2022-06-22 15:22] zhaohb commented on #2075
@netaz thank you for your reply, but I still don't understand why region reads and writes so many times and has so many reformat op,  can you help me?
thank you very much.

[2022-06-22 16:23] AsiaCao commented on #2039
Hi @zerollzeng, @nvpohanh
is there any updates about it, please?

[2022-06-22 16:35] oxana-nvidia commented on #1556
The issue is fixed in TensorRT 8.5 release

[2022-06-22 17:18] oxana-nvidia commented on #1628
Closing for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-22 17:18] #1628 closed

[2022-06-22 17:45] oxana-nvidia commented on #1317
Could you please attach files that you've used for us to repro?
Also you can try TensorRT 8.4. We've fixed some similar bugs in that version.

[2022-06-22 18:13] oxana-nvidia commented on #1316
I can repro this issue on my side using using TensorRT dev branch on Titan RTX. Not clear why resize operation is moved to myelin in this case.

[06/22/2022-10:52:04] [E] Error[4]: [codeGenerator.cpp::addNodeToMyelinGraph::166] Error Code 4: Myelin (RESIZE operation not supported within this graph.)
[06/22/2022-10:52:04] [E] Error[2]: [builder.cpp::buildSerializedNetwork::663] Error Code 2: Intern

[2022-06-22 20:50] oxana-nvidia commented on #1513
Hi @Fanky186,
I've used[ polygraphy tool ](https://docs.nvidia.com/deeplearning/tensorrt/polygraphy/docs/index.html) to analyze your model and it shows that int8 range is not enough to represent you model and all values are converted to zero.

[I] Accuracy Comparison | onnxrt-runner-N0-06/22/22-13:16:45 vs. trt-runner-N0-06/22/22-13:16:45
[I]     Comparing Output: 'save_infer_model/scale_0.tmp_1'

[2022-06-22 21:56] jhalakp-nvidia commented on #2078
Are you trying to build an TRT engine using full dims? Full dims means all dimensions are explicit i.e. network does not have implicit batch dimension.

[code]

Above assertion checks if a network with full dims is created, we would expect `mBatchSize==0`. I am not sure this would have a different behavior for release/debug builds.

Can you also specify which version of TensorRT are you using?

[2022-06-23 02:37] zhaohb commented on #2075
@nzmora-nvidia Thank you for your reply. I think they are doing some memory optimization.

Another question, how can I know the input and output of op, like Netron, and see the corresponding input and output in the graph.
I think this is an important feature.

[2022-06-23 03:24] #1529 closed

[2022-06-23 03:40] oxana-nvidia commented on #1634
@janbernloehr @ShaneYS @Linaom1214  do you have a model to share for developers to reproduce?

[2022-06-23 04:00] digiwang commented on #1968
@yuanyao-nv, you're right. I must have not been paying attention when I typed that. So, I just checked the [TensorRT release/7.0 sub-module pointer](https://github.com/NVIDIA/TensorRT/blob/release/7.0/.gitmodules) and it looks like its pointing to the correct commit now [6f64911](https://github.com/onnx/onnx-tensorrt/tree/7.0). Thank you guys!

[2022-06-23 04:00] #1968 closed

[2022-06-23 04:05] oxana-nvidia commented on #1637
@twmht @liuanhua110 Could you please check if you can repro this issue with TensorRT 8.4? I've tested on my local set up and issue is not reproducible with provided model.

[2022-06-23 04:20] oxana-nvidia commented on #1644
@jucic could you please try TensorRT 8.4? This code was rework recently.

[2022-06-23 06:41] MaxeeCR commented on #2079
onnx: https://drive.google.com/file/d/1VtzXPXSLkU7GaZ17GhKX247EIi63d0cL/view?usp=sharing

[2022-06-23 06:42] DingJuPeng1 opened #2082 "fp16 output mismatch"
CUDA:11.1
TensorRT:7.2.1.6
CUDNN:8.0

At first I use trtexec to convert a onnx model to trt file with the flag "--fp16", then I serialized the trt file and create engine and context, the output is mismatched with the "--fp32" model infer results and the final result is wrong too, what is the right way to use the "--fp16" mode in trt ?

Looking forward to reply.

[2022-06-23 06:52] jackgao0323 opened #2083 "Padding layer error Error Code 2: Internal Error (Assertion rank == 0 || rank == 1 failed. )"
## Description

I'm using the trtexec to parsing the onnx model and got the error as title. What's the 'rank' mean and how could I fixed this error?

The trtexec command I used is:

Here is the error image.
<img width="946" alt="image" src="https://user-images.githubusercontent.com/17614632/175234184-3cf759c9-d271-4a14-bc30-d8cacfa5a1ae.png">

## Environment

**TensorRT Version**: 8.4.1.5
**NVIDIA

[2022-06-23 06:56] zsw360720347 commented on #1866
So，which Jetpack release could solve this bug?I got the same problem with the Author, and my jetsonNX jetpack  is 4.6.1.

[2022-06-23 07:01] zsw360720347 commented on #1866
Hi, Have you solve the problem?

[2022-06-23 07:17] DingJuPeng1 commented on #2082
because I run normally in fp32 mode， so all I have changed is to add a "--fp16" flag when I use trtexec convert onnx to trt file.

[2022-06-23 08:24] nzmora-nvidia commented on #2075
You can see the shapes and types of all activation tensors, including data type and memory format (layout). You can see this in the graph you pasted at the top of this thread.

[2022-06-23 12:51] bnascimento commented on #1447
Bumped into a similar issue on latest tensorRT. Cannot export to ONNX due to a custom model from TF ODAPI due to the error above.

[2022-06-23 13:46] FreshZZ opened #2084 "convert onnx to trt, onnxparser fail, but trtexec success"
## Description

convert onnx to trt, use trtexec success, but onnxparser fail, error is : [06/23/2022-13:33:48] [E] [TRT] 10: [optimizer.cpp::computeCosts::1855] Error Code 10: Internal Error (Could not find any implementation for node TopK_531.)

the code use onnxparser is below, could you  tell me where I did wrong:
`if (!parser->parseFromFile(cfg.onnx.c_str(), static_cast<int>(sample::gLogger.g

[2022-06-23 14:54] rlewkowicz opened #2085 "Building on Visual Studio for Windows"
## Description

Unresolved externals, but in general just a ton of esoteric issues on windows with compilation. Trying to include even the official releases doesn't work.

Ultimately, I'd like to just include some headers, include some libs and compile some code.  If you want to start from scratch in a native widows environment, I don't want to use cmake. In theory, you would add the include and l

[2022-06-23 15:39] rlewkowicz commented on #2085
[code]

[2022-06-23 15:44] perseusdg commented on #2069
Would it be possible for someone to help me out here? I cant seem to figure why tkdnn wont work with tensorrt 8.4 on wsl2 while there are no issues when i run it natively on windows or linux and that this issue doesn't exist on previous versions of tensorrt on wsl2 .

[2022-06-23 19:38] #2005 closed

[2022-06-23 22:28] truncs commented on #1650
So the below doesnt work

[code]
but the following works

[code]

[2022-06-23 23:50] BCJuan opened #2086 "[Question||Feature] Running in INT8 with FP16 fallback"
Dear TensorRT developers,

Thank you for your amazing work.

I have one question. Is it possible to run a quantized network in INT8 with fallback to FP16 by setting both flags during conversion?

[code]

I have been unable to obtain clear information from the documentation with regards to this matter.

Thank you very much.

[2022-06-24 01:31] scuizhibin opened #2087 "Cannot use fp16 model"
## Description

Use tensorrt on orin to serialize the onnx file, use config->setFlag(BuilderFlag::kFP16); but the model's auto layer_precision = layer->getPrecision(); The precision is fp32

## Environment

**TensorRT Version 8.4 :
**NVIDIA GPU   orin:

the  code

    unsigned int maxBatchSize=1;
    builder->setMaxBatchSize(maxBatchSize);
    IBuilderConfig* config = builder->createBuilderConfig(

[2022-06-24 01:47] zhaohb commented on #2075
@nzmora-nvidia ok, thank you very much, I will clise that issue.

[2022-06-24 01:48] zerollzeng commented on #2082
Can you share the onnx file here?

[2022-06-24 01:54] zerollzeng commented on #2084
Can you provide a reproduce sample here? also it would be good to try our latest release.

[2022-06-24 01:58] DingJuPeng1 commented on #2082
I'm sorry that onnx file can't share because of company's rule. can u offer me the right process to use infer with fp16(onnx->trt->engine)? thanks.

[2022-06-24 02:02] zerollzeng commented on #2086
If your INT8 model is quantized with PTQ, then the answer is YES, you can set both flags and TRT will pick the fastest precision. If your INT8 model is quantized with QAT, then the answer is NO. all the precision in QAT is explicit.

you can refer to https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#working-with-int8 for more information

[2022-06-24 02:04] truncs opened #2088 "Internal Error (Reshape_3: IShuffleLayer applied to shape tensor must have 0 or 1"
## Description

Internal Error (Reshape_3: IShuffleLayer applied to shape tensor must have 0 or 1 reshape dimensions: dimensions were [-1,2])

## Environment

**TensorRT Version**: v8401
**NVIDIA GPU**: AGX Orin
**NVIDIA Driver Version**: Jetson 5.0
**CUDA Version**: Cuda 11.4
**CUDNN Version**:
**Operating System**: 20.04
**Python Version (if applicable)**: 3.8.10
**Tensorflow Version (if applica

[2022-06-24 02:09] zerollzeng commented on #2087
Setting the builder flag won't change the INetwork object. you code is equivalent to
[code]
the see the actual precision it runs, you can enable the verbose log. it will print each layer's precision when build the engine(Engien Layers Information).
quickly check this with trtexec --onnx=xxx.onnx --fp16 --verbose

[2022-06-24 02:20] nvpohanh commented on #2085
@kevinch-nv Could you check how we could help @rlewkowicz for Windows building steps?

[2022-06-24 02:22] zerollzeng commented on #2088
TRT doesn't support 2D shape Tensor yet, and this will be fixed in the next release. But this might have WAR, I will check this later.

[2022-06-24 02:42] BowenFu commented on #2073
The error message is a little misleading. We will fix the error message.

And the actual reason why the engine building failed is that dynamic shapes may require larger workspace memory.
So removing this line in the script can work around the issue.

        config.max_workspace_size = 3 << 30

[2022-06-24 02:51] nanbatian119 commented on #2073
thanks very much!

[2022-06-24 02:57] FreshZZ commented on #2084
@zerollzeng  thanks  for your reply， reproduce sample : [debug model](https://drive.google.com/file/d/1EeaQKR8QS2V_Gt0MXPFdQ7wF1j8M89HF/view?usp=sharing) , the docker image I used is nvcr.io/nvidia/tensorrt:21.10-py3

[2022-06-24 03:29] scuizhibin commented on #2087
https://github.com/byjswr/TRT2022/blob/main/onnx2trt.py&nbsp;&nbsp;this&nbsp;code&nbsp;can&nbsp;&nbsp;view&nbsp;the&nbsp;precise&nbsp;of&nbsp;layer,when&nbsp;mode&nbsp;is&nbsp;&nbsp;fp16

---Original---
From: &quot;Zero ***@***.***&gt;
Date: Fri, Jun 24, 2022 10:09 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [NVIDIA/TensorRT] Cannot use fp16 model (Issue #2087)

Setting th

[2022-06-24 03:54] awesome01010 opened #2090 "Why after rnn(20mb)->onnx(20mb)>trt(400mb) model, the model becomes 20 times larger"
The tensorrt version I use is 7.2.1.6, the opset of onnx is 11, the pytorch version is 1.7, the saved size of the pth model is 20mb, and the onnx is also 20mb. Converted to tensorrt, it becomes 400mb. The inference result is normal. Is the loop of the rnn structure unpacked and saved?

[2022-06-24 04:12] nvpohanh commented on #2090
@awesome01010 Could you share your ONNX file so that we can repro and debug the issue? Also, could you try TRT 8.4 GA and see if the issue still exists?

Back in TRT 7.2, we had some tactics that ran very fast but required pre-computed edge masks to be stored in the engine, and that could be one reason why the engine size increased. Using newer TRT version may fix the issue.

[2022-06-24 04:13] nvpohanh commented on #2088
Could you try const-folding your ONNX file: https://github.com/NVIDIA/TensorRT/tree/main/tools/Polygraphy/examples/cli/surgeon/02_folding_constants ?

[2022-06-24 04:15] nvpohanh commented on #2087
@scuizhibin As Zero said, TRT decides the the precision to use during the **engine building phase**, not during the INetworkDefinition creation phase. You can check what precision is eventually used by turning on verbose logging when building the engine.

[2022-06-24 04:15] nvpohanh commented on #2087
In short, don't use `layer->getPrecision()` to get what precision the layer uses. That is not correct.

[2022-06-24 04:18] nvpohanh commented on #2086
@zerollzeng This is not 100% correct. For QAT model, it is correct that all the precision is explicit, either floating-point or INT8. But if FP16 is enabled, then for the layers that must run in floating-point, TRT will try both FP32 and FP16 and select the faster one. So in this sense, FP16 fallback is available.

[2022-06-24 04:18] nvpohanh commented on #2086
And short answer for @BCJuan 's original question: Yes, enabling both INT8 and FP16 is allowed (and encouraged)

[2022-06-24 04:22] nvpohanh commented on #2084
@FreshZZ If trtexec works but not your script, it usually means that there are some incorrect API usage in your script. Could you share your script that uses onnxparser? Specifically, I would like to know how you created the `network`. Thanks

[2022-06-24 04:27] nvpohanh commented on #2083
This is because the "pads" of the padding op uses complicated computations to compute how much to pad, but that part requires N-D shape tensor which TRT will not support until next TRT version. For now, you could try const-folding the ONNX file using https://github.com/NVIDIA/TensorRT/tree/main/tools/Polygraphy/examples/cli/surgeon/02_folding_constants or set the H and W to static shape when expor

[2022-06-24 04:30] nvpohanh commented on #2082
@DingJuPeng1 You can try using Polygraphy tool (https://github.com/NVIDIA/TensorRT/blob/main/tools/Polygraphy/how-to/debug_accuracy.md ) to see which layer(s) produce wrong results. Also, I would suggest that you try newer TRT version like TRT 8.4 GA (8.4.1).

Another possibility is to make sure the input tensor values and the weights are in "reasonable ranges" (such as in [-1.0, 1.0]) because lar

[2022-06-24 04:32] scuizhibin commented on #2087
那用什么？

---Original---
From: ***@***.***&gt;
Date: Fri, Jun 24, 2022 12:16 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [NVIDIA/TensorRT] Cannot use fp16 model (Issue #2087)

In short, don't use layer-&gt;getPrecision() to get what precision the layer uses. That is not correct.

&mdash;
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this b

[2022-06-24 04:36] scuizhibin commented on #2087
I&nbsp;want&nbsp;to&nbsp;adjust&nbsp;the&nbsp;quantization&nbsp;precision&nbsp;fp16&nbsp;of&nbsp;ocnv_32&nbsp;back&nbsp;to&nbsp;fp32,&nbsp;how&nbsp;to&nbsp;do&nbsp;it?

---Original---
From: ***@***.***&gt;
Date: Fri, Jun 24, 2022 12:15 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [NVIDIA/TensorRT] Cannot use fp16 model (Issue #2087)

@scuizhibin As Zero said, TRT decides th

[2022-06-24 04:36] scuizhibin commented on #2087
I&nbsp;want&nbsp;to&nbsp;adjust&nbsp;the&nbsp;quantization&nbsp;precision&nbsp;fp16&nbsp;of&nbsp;ocnv_32&nbsp;back&nbsp;to&nbsp;fp32,&nbsp;how&nbsp;to&nbsp;do&nbsp;it?

---Original---
From: ***@***.***&gt;
Date: Fri, Jun 24, 2022 12:16 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [NVIDIA/TensorRT] Cannot use fp16 model (Issue #2087)

In short, don't use layer-&gt;getPrecisi

[2022-06-24 05:37] nvpohanh commented on #2087
Please follow the docs here if you want per-layer control of precisions: https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#layer-level-control

[2022-06-24 05:38] nvpohanh commented on #2081
This is currently not on our roadmap. Thanks

[2022-06-24 05:39] nvpohanh commented on #2081
Is there any example where 8-bit quantization works much better than 7-bit quantization? In our experience, 7-bit quantization is sufficient for most cases.

[2022-06-24 05:41] nvpohanh commented on #2080
@byjswr Did you set precision constraints in builder config? I didn't see that in our code. Please follow the instructions in our doc to do so: https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#layer-level-control

[2022-06-24 05:41] nvpohanh commented on #2080
[code]

[2022-06-24 05:42] nvpohanh commented on #2079
@MaxeeCR We don't seem to have access to the link.

[2022-06-24 05:46] nvpohanh commented on #2072
@Fuzhiyuan Did you build the engine and load the engine both in Python? Could you try building the engine and loading the engine in the same python script?

[2022-06-24 05:47] truncs commented on #2088
Folding constants works!

[2022-06-24 05:47] #2088 closed

[2022-06-24 05:49] nvpohanh commented on #2071
I would recommend that you don't use Windows task manager to check utility. Please use `nvidia-smi` tool which gives you more accurate utilization information.

[2022-06-24 05:52] Kailthen commented on #1866
Same error when running official onnx model: /usr/src/tensorrt/bin/trtexec --onnx=./data/resnet50/ResNet50.onnx

 [utils.cpp::checkMemLimit::380] Error Code 2: Internal Error (Assertion upperBound != 0 failed. Unknown embedded device detected. Please update the table with the entry: {{1794, 6, 32}, 25535},)

[2022-06-24 05:52] scuizhibin commented on #2087
举个例子，使用trtexec&nbsp;fp16序列化我的onnx不准确，我想把某些算子设置成fp32的，要怎么做？

---Original---
From: ***@***.***&gt;
Date: Fri, Jun 24, 2022 13:37 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [NVIDIA/TensorRT] Cannot use fp16 model (Issue #2087)

Please follow the docs here if you want per-layer control of precisions: https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#lay

[2022-06-24 05:52] nvpohanh commented on #2069
Could you try CUDA-11.6? TRT 8.4 was tested with CUDNN-8.4 + CUDA-11.6

[2022-06-24 05:54] nvpohanh commented on #2063
@BowenFu Do you think this is a TRT issue? Or just TF32 tolerance issue?

@tuoeg Could you disable TF32 and see if the accuracy comes back?

[2022-06-24 05:57] nvpohanh commented on #2061
@AsiaCao It is hard to say the root cause, but I think at the very first engine loading, TRT needs to initialize a lot of stuff (like CUDA context, CUDNN/cuBLAS handles, allocate memories, etc.). Do you think this may be the cause?

[2022-06-24 06:00] BowenFu commented on #2063
@nvpohanh More like a TF32 tolerance to me.

[2022-06-24 06:05] nvpohanh commented on #2036
@992355092 Could you re-generate the calibration cache using TRT 8.4? I see that the two logs have different fusion patterns, probably because they came from different TRT versions.

[2022-06-24 06:08] nvpohanh commented on #2036
also going back to the original question, for this specific model, the calibration cache cannot be shared between Xavier and 2080Ti because the fusion pattern will be different, even if the same TRT is used.

[2022-06-24 06:08] nvpohanh commented on #2036
Specifically, it is about whether Conv+Swish is fused. On Xavier, it is not fused, but it is on 2080Ti

[2022-06-24 06:10] nvpohanh commented on #2063
Cool. I guess the reason is that at BS=1, the BS is so small that FP32 tactics are chosen. While at BS=6, the BS is large enough for TF32 tactics to be chosen, and thus the accuracy drops. The solution is to disable TF32 from builder config setting. @tuoeg could you give it a try?

[2022-06-24 06:12] nvpohanh commented on #2087
you can try: `trtexec --onnx=<onnx_file> --fp16 --precisionConstrants=obey --layerPrecisions=<layer_1_name>:fp16,<layer_2_name>:fp16,<layer_3_name>:fp16 --saveEngine=<engine_file>`

[2022-06-24 06:13] nvpohanh commented on #1866
This should have been fixed in TRT 8.4 GA.

[2022-06-24 06:13] BowenFu commented on #2063
@nvpohanh per offline discussion, they have resolved the issue with --noTF32.

[2022-06-24 06:15] nvpohanh commented on #1650
I am going to close this. Thanks

[2022-06-24 06:15] #1650 closed

[2022-06-24 06:16] nvpohanh commented on #1447
@bnascimento Could you share the ONNX model so that we can debug it? Thanks

[2022-06-24 06:20] nvpohanh commented on #1311
Yes, and I fixed the issue in TRT 8.4 as Oxana mentioned. :) Thanks for reporting this. Closing this for now.

[2022-06-24 06:20] #1311 closed

[2022-06-24 06:24] scuizhibin commented on #2087
thanks

---Original---
From: ***@***.***&gt;
Date: Fri, Jun 24, 2022 14:12 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [NVIDIA/TensorRT] Cannot use fp16 model (Issue #2087)

you can try: trtexec --onnx=<onnx_file&gt; --fp16 --precisionConstrants=obey --layerPrecisions=<layer_1_name&gt;:fp16,<layer_2_name&gt;:fp16,<layer_3_name&gt;:fp16 --saveEngine=<engine_file&gt;

&mdash

[2022-06-24 06:30] nvpohanh commented on #1289
@Mahsa1994 Could you share your ONNX file? Thanks

[2022-06-24 06:31] nvpohanh commented on #2009
I can repro the SSA failure using TRT 8.4.1.5. Filed internal tracked (id: 3693684). Will let you know if there is any update.

[2022-06-24 06:31] byjswr opened #2091 "Precision BUG"
## Description

After adding nodes that are not related to out1 and out2，the fusion strategy leads to problems with the accuracy of out1 and out2

## Environment

TensorRT Version: 8.4.0
NVIDIA GPU: GTX
NVIDIA Driver Version: 465.19.01
CUDA Version: 11.3
Operating System: ubuntu
Python Version: 3.8.10
PyTorch Version: 1.11.0
onnxruntime Version: 1.11.0

## Relevant Files

test script in this respo

[2022-06-24 06:33] nvpohanh commented on #1769
Could you upgrade the CUBLAS to 11.6.3 and see if the issue is fixed? If not, please enable verbose logging and share the log. Thanks

[2022-06-24 06:34] nvpohanh commented on #1291
@blackCmd Could you check this?

[2022-06-24 06:38] scuizhibin commented on #2087
I&nbsp;saw&nbsp;an&nbsp;article&nbsp;using&nbsp;code&nbsp;to&nbsp;adjust&nbsp;precision,&nbsp;his&nbsp;link&nbsp;is&nbsp;https://blog.csdn.net/IAMoldpan/article/details/115608643.&nbsp;I&nbsp;imitate&nbsp;auto&nbsp;layer_precision&nbsp;=&nbsp;layer-&gt;getPrecision();&nbsp;to&nbsp;check&nbsp;the&nbsp;precision,&nbsp;the&nbsp;output&nbsp;is&nbsp;all&nbsp;float&nbsp;type.&nbsp;But&nbsp;set&nbsp;glog

[2022-06-24 06:42] scuizhibin commented on #2087
the&nbsp;code&nbsp;right？？

---Original---
From: ***@***.***&gt;
Date: Fri, Jun 24, 2022 14:12 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [NVIDIA/TensorRT] Cannot use fp16 model (Issue #2087)

you can try: trtexec --onnx=<onnx_file&gt; --fp16 --precisionConstrants=obey --layerPrecisions=<layer_1_name&gt;:fp16,<layer_2_name&gt;:fp16,<layer_3_name&gt;:fp16 --saveEngine=<eng

[2022-06-24 06:47] BowenFu commented on #2091
Self assigned this bug during TRT-hackathon-2022.

[2022-06-24 06:47] scuizhibin commented on #2087
I saw an article using code to adjust precision, his link is https://blog.csdn.net/IAMoldpan/article/details/115608643   . I imitate auto layer_precision = layer->getPrecision(); to check the precision, the output is all float type. But set glogger:verbose, showing half conversion。i change my code :

   IBuilder *            builder = createInferBuilder(gLogger);
    INetworkDefinition *  network

[2022-06-24 06:49] nvpohanh commented on #2087
The code in https://blog.csdn.net/IAMoldpan/article/details/115608643 is out-dated so please don't follow it. In latest TRT, please also add: `config->setFlag(BuilderFlag::kOBEY_PRECISION_CONSTRAINTS);`

[2022-06-24 06:50] nvpohanh commented on #2063
cool! closing this

[2022-06-24 06:50] #2063 closed

[2022-06-24 06:50] DingJuPeng1 commented on #2082
thank u , I'd try these later

[2022-06-24 06:53] zsw360720347 commented on #1866
TRT8.4 not support jetpck4.6.1? So I still need to update jetpack? Mine is 4.6.1 now.

`
To build the TensorRT-OSS components, you will first need the following software packages.

TensorRT GA build

[TensorRT](https://developer.nvidia.com/nvidia-tensorrt-download) v8.4.1.5
System Packages

[CUDA](https://developer.nvidia.com/cuda-toolkit)
Recommended versions:
cuda-11.6.x + cuDNN-8.4
cuda-10.2 +

[2022-06-24 06:55] scuizhibin commented on #2087
IBuilder *            builder = createInferBuilder(gLogger);
    INetworkDefinition *  network = builder->createNetworkV2(1U << int(NetworkDefinitionCreationFlag::kEXPLICIT_BATCH));
    IBuilderConfig *      config  = builder->createBuilderConfig();
    IParser*  parser = createParser(*network, gLogger);
    const char* onnx_filename="/home/hy/workspace/TensorRT-8.2.4.2/bin/resnet_50.onnx";
    pa

[2022-06-24 07:00] Fuzhiyuan commented on #2072
In fact, I did build and load engine both in Python. And, as you can see, I just have one version for Python.

[2022-06-24 07:02] nvpohanh commented on #2087
Yes, if this doesn't work, please share the verbose log. thanks

[2022-06-24 07:07] nvpohanh commented on #2072
Could you try this? (using python, not jupyter)

[code]

[2022-06-24 07:08] zerollzeng commented on #1866
TRT 8.4 should be in Jetpack 5.0, which will release soon.

[2022-06-24 07:26] nvpohanh commented on #2086
This is 100% correct. Thanks for clarifying this :)

[2022-06-24 07:55] Fuzhiyuan commented on #2072
ERROR：'tensorrt.tensorrt.IHostMemory' object has no attribute 'serialize'  when i run **orig_serialized_engine = engine.serialize()**
but it will work if directly deserialize_cuda_engine(engine) without the process of f.write() and f.read.

[2022-06-24 07:57] nvpohanh commented on #2072
oh sorry, your engine is already serialized. Then try this:

[code]

[2022-06-24 08:00] BowenFu commented on #2091
I have reproduced the issue. This may be fixed in later version.

[2022-06-24 08:04] Fuzhiyuan commented on #2072
Ohhhh,  Work!!!.
But I have tried this idea before. Sometimes it would fail.

[2022-06-24 08:04] #2072 closed

[2022-06-24 08:12] wuwenxuan0226 commented on #1769
I have tried cuda toolkits 11.7 with cudnn 8.4.1 so the cublas is the latest version. The problem is still not fixed. So do you mean I should try the specific CUBLAS 11.6.3? And sorry I can't enable verbose logging because my environment in on my company PC.  Or I will try it in WIN11 for the new feature.

[2022-06-24 08:45] firrice opened #2092 "inconsistent inference results for yolov5s-3.0 in C++ and python"
## Description

I trained a model based yolov5s-3.0 and i don't do any modify to network structure. Then I transfer the pth model to .engine.  And I use the same input  and the same engine to inference in C++ and python, but result appears inconsistent. But I try resnet50 model successfully. Any body meet similar problem?

## Environment

**TensorRT Version**: 8.0.1.6
**NVIDIA GPU**: 1660 Supper
*

[2022-06-24 09:47] SimonKeisala commented on #2081
I will investigate the impact of using 7-bit quantization more thoroughly. The current experiments have involved using 8-bit unsigned quantization during QAT, and as a post-processing step rescale the range to signed. This resulted in a large degradation to some object detection functions.
To make a fair comparison I'll check how it performs when the QAT is done with signed symmetric quantization

[2022-06-24 10:30] MaxeeCR commented on #2079
Sorry, my mistake.
New link: https://drive.google.com/file/d/1BWvsc66imxf77m9uBu_CrcvhNTEa4oIt/view?usp=sharing

[2022-06-24 15:57] perseusdg commented on #2069
yup the issue still exists ( i also tried it with cuda 11.4 and faced the same issue with TRT 8.4)

[2022-06-24 16:37] AsiaCao commented on #2061
Thank you @nvpohanh, that's helpful.
Just a follow up question: the subsequent model loading time is super fast, is that normal from your experience?

[2022-06-24 17:14] rlewkowicz commented on #2085
This is just my misunderstanding of the environment I think. I don't think visual studio automatically picks up .lib files.

[2022-06-24 17:14] #2085 closed

[2022-06-24 19:13] #2071 closed

[2022-06-24 22:47] SEHAIRIKamal opened #2093 "Create onnx graph throws AttributeError: 'Variable' object has no attribute 'values'"
# Problem description
Hi All,
I am trying to build a TensorRT engine from TF2 Object detection API SSD MobileNet v2 320x320. I followed https://github.com/NVIDIA/TensorRT/tree/main/samples/python/tensorflow_object_detection_api
I successfully exported the TensorFlow model with float_image_tensor as the input type. However, when I try to create the onnx graph using create_onnx.py script, an error f

[2022-06-25 06:13] jackgao0323 commented on #2083
I've tried folding constant  but still don't work. I think it's not support now. I think I'll use the static shape.

[2022-06-25 06:13] #2083 closed

[2022-06-25 06:50] byjswr commented on #2080
<img width="455" alt="企业微信截图_16561231411978" src="https://user-images.githubusercontent.com/53067559/175762071-422e1181-6d97-424a-901a-01d515768edc.png">
I set PREFER_PRECISION_CONSTRAINTS flag, still doesn't wok.My repo has updated, please help me to check it .

[2022-06-25 07:23] BowenFu commented on #2080
We have tracked this in internal system. The issue should be fixed in next release. No action item for now.

A workaround can be to set the precision to the first node (or all nodes) of the horizontal merge.

[2022-06-25 08:18] katkardhanraj commented on #440
what was the solution for this??

[2022-06-25 13:21] zerollzeng commented on #2086
INT8 usually has higher performance while FP16 usually has better accuracy. My suggestion is to enable both INT8 and FP16 first, then TRT will choose the precision(for each layer) automatically that has the best performance.  then check the accuracy, if the accuracy is bad. you can try to fall back some layers to FP16(usually it also means an accuracy bug in TRT, please also file an issue to us) u

[2022-06-25 13:25] zerollzeng commented on #2092
Which output is correct? and how big the gap is? usually, it's caused by the inconsistency in your codes. can you make sure the way your process the inputs and outputs are the same in both c++ and python?

[2022-06-25 13:26] zerollzeng commented on #2093
@rajeevsrao  ^ ^

[2022-06-25 15:16] rajeevsrao commented on #2093
@SEHAIRIKamal could you please check if using TensorFlow 2.5 (as prescribed in the README) also gives you the same issue?

cc @azhurkevich for viz.

[2022-06-25 16:25] azhurkevich commented on #2093
I was just testing it a couple days ago and everything was working for me. Looking at version of libraries you've posted I think this is the culprit here most likely. You see, when versions of tf2onnx change, they might do a Tensorflow -> ONNX conversion differently. Especially node naming and numbering can be off, hence it'll break the converter, because converter heavily relies on specific nodes

[2022-06-25 17:05] SEHAIRIKamal commented on #2093
@azhurkevich @zerollzeng @rajeevsrao
Thank you a lot for your help
I will install the same libraries version and I get you back

[2022-06-26 00:06] ganler opened #2094 "[Bug] crash on poolings with larger-than-317 pool sizes"
## Description

A simple pooling 2d (can be AvgPool/MaxPool etc.) layer whose sizes are greater or equal to `317` will lead to TRT crash. This can be fixed on user side by using multiple smaller poolings but just want report this case to improve TRT's robustness. :-)

I am new here so I just randomly cc some active developers: @nvpohanh @zerollzeng @ttyio

## Environment

**TensorRT Version**:  8.

[2022-06-26 05:27] scuizhibin commented on #2087
the&nbsp;code&nbsp;&nbsp;no&nbsp;use

---Original---
From: ***@***.***&gt;
Date: Fri, Jun 24, 2022 15:03 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [NVIDIA/TensorRT] Cannot use fp16 model (Issue #2087)

Yes, if this doesn't work, please share the verbose log. thanks

&mdash;
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because yo

[2022-06-26 11:13] Ri-Yue-Shui-Hua opened #2095 "3D asymmetric padding is not supported on pre-sm70 GPUs"
## Description

[E] Error[10]: ConvTranspose_19: 3D asymmetric padding is not supported on pre-sm70 GPUs
[06/26/2022-18:34:14] [E] [TRT] ModelImporter.cpp:773: While parsing node number 19 [ConvTranspose -> "134"]:

## Environment

**TensorRT Version**: 8.4.1.5
**NVIDIA GPU**: NVIDIA GeForce1080Ti
**NVIDIA Driver Version**: 470.129.06
**CUDA Version**: 11.4
**CUDNN Version**: 8.4.1
**Operating Sys

[2022-06-26 19:09] BCJuan commented on #2086
Thank you very much for your answer @zerollzeng! Closing the issue.

[2022-06-26 19:09] #2086 closed

[2022-06-27 03:38] firrice commented on #2092
@zerollzeng Thanks for reply. The problem has been solved, the reason is mainly due to the inconsistent input which is a little diffcult to discover related to cv::Mat. Tensorrt is OK itself, thanks again!

[2022-06-27 03:38] #2092 closed

[2022-06-27 07:02] Mahsa1994 commented on #1289
Here is a link to the QAT model in pytorch (ResNet50 - pretrained - 7clss):
[ResNet50.pth](https://drive.google.com/file/d/1oXHghW0RAj_7KHlqx4BVvytfp4JN4YGC/view?usp=sharing
)
It's trained with mentioned versions above.

[2022-06-27 08:56] qihang720 opened #2096 "[TRT] parsers/onnx/ModelImporter.cpp:785: ERROR: parsers/onnx/ModelImporter.cpp:162 In function parseGraph: [6] Invalid Node - 1126"
## Description
I use trtexec to test my onnx model, when parsing in Gemm layer, there are some problem. And I thought this layer may not use UINT8, transA and transB's type are INT64, two inputs are float32. Also, I use "onnx.checker.check_model(onnx_model)" to check my model, it's OK.

Unsupported ONNX data type: UINT8 (2)
[06/27/2022-16:27:59] [V] [TRT] Registering layer: 1126 for ONNX node: 112

[2022-06-27 10:55] ranrubin opened #2097 "Failure on pytorch-quantization source build"
## Description

Failure when trying to build [pytorch-quantization](https://github.com/NVIDIA/TensorRT/tree/8.4.1/tools/pytorch-quantization) from source.

## Environment

**TensorRT Version**:  8.4.1.5
**NVIDIA GPU**:  A5000
**NVIDIA Driver Version**:   510.39.01
**CUDA Version**:  1.11
**CUDNN Version**:
**Operating System**:  ubuntu 18
**Python Version (if applicable)**:  3.9.12
**PyTorch Versi

[2022-06-27 10:59] #2097 closed

[2022-06-27 14:04] vahvero commented on #1786
I am currently experiencing this issue.

```[E:onnxruntime:Default, cuda_call.cc:118 CudaCall] CUDA failure 35: CUDA driver version is insufficient for CUDA runtime version ; GPU=0 ; hostname=d158deaa4612 ; expr=cudaGetDeviceCount(&num_devices);```

On computer I have local output of the `nvidia-smi`

[code]

The CUDAExecutionProvider works when not attempting the deploy in a docker image. Should

[2022-06-27 15:23] Hejp5665 opened #2098 "[E] [TRT] 2: [utils.cpp::checkMemLimit::380] Error Code 2: Internal Error (Assertion upperBound != 0 failed. Unknown embedded device detected. Please update the table with the entry: {{1794, 6, 16}, 12660},)"
![image](https://user-images.githubusercontent.com/33273760/175976230-3bb7aa11-4fe6-4257-9de1-4d925f6a9ddb.png)

Building engine, please wait for a while...
[06/27/2022-23:06:48] [E] [TRT] 2: [utils.cpp::checkMemLimit::380] Error Code 2: Internal Error (Assertion upperBound != 0 failed. Unknown embedded device detected. Please update the table with the entry: {{1794, 6, 16}, 12660},)
Build engine

[2022-06-27 18:05] phquanta commented on #2047
The issue was not with TensorRT inference as it works from Jetson inference on Xavier with version 7..1.3 but with the Decoder in Isaac SDK.  https://docs.nvidia.com/isaac/doc/doc/component_api.html#isaac-detect-net-detectnetdecoder

[2022-06-28 01:42] zerollzeng commented on #2094
We limit the max kernel volume must less than 100,000 for pooling(volume(windowSize) < MAX_KERNEL_DIMS_PRODUCT(nbSpatialDims==2)), in your case 317x317=100489 which exceed the limit, is this a real case in your scenario?

[2022-06-28 01:57] ganler commented on #2094
@zerollzeng Thanks for the explanation. This use case is not from a real-world model but from our project which is related to automatic model generation. Thanks for the feedback and I will lower down the kernel size during generation.

[2022-06-28 01:57] #2094 closed

[2022-06-28 01:59] zerollzeng commented on #2098
This should be fixed in jetpack 5.0, can you upgrade to  it?

[2022-06-28 02:03] zerollzeng commented on #2096
TRT 8.4 works for me, can you try upgrading to it?

[2022-06-28 02:07] zerollzeng commented on #2095
Looks like a device compatibility issue, did you try it on a new device like 2080(sm75+)? refer to https://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/

[2022-06-28 02:12] edric1261234 commented on #1917
I have the similar problem, but fixed by adding /path/to/TensorRT-8.2.4.2/lib to LD_LIBRARY_PATH

[2022-06-28 02:43] Ri-Yue-Shui-Hua commented on #2095
appreciate for your reply. I have tried on device such as 1650Ti and 3090 and converted the model successfully. I hope to convert it on device like 1080Ti， how can I do or what should I do?

[2022-06-28 03:42] zhoutianzi666 opened #2099 "dynamic gather layer 8406 fail ，8034 ok"
## Description

## Environment

**TensorRT Version**: 8406
**NVIDIA GPU**: T4
**NVIDIA Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**Operating System**: Ubuntu 18
**Python Version (if applicable)**:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:

## Relevant Files

## Steps To Reproduce

[code]

- in 8406

[code]

[2022-06-28 03:45] zerollzeng commented on #2095
`3D asymmetric padding is not supported on pre-sm70 GPUs` usually means we don't have kernels for your GPU(1080Ti).  @nvpohanh correct me if I'm wrong

[2022-06-28 04:45] nvpohanh commented on #2020
This has been fixed internally and the fix will be available in next release. Thanks for reporting this.

[2022-06-28 06:20] qihang720 commented on #2096
I tried in TRT 8.2.5 is also ok.
Thanks for your help!

[2022-06-28 06:20] #2096 closed

[2022-06-28 08:09] Maxung commented on #1634
@oxana-nvidia I have the same error, also with YOLOv5. Attached is the ONNX file. Using IInt8MinMaxCalibrator as @Data-Iab suggested works, but for the DLA in Jetson devices IInt8EntropyCalibrator2 is required. When using [tensorrtx](https://github.com/wang-xinyu/tensorrtx/tree/master/yolov5), which directly implements YOLOv5 in C++ with TRT-API IInt8EntropyCalibrator2 works though.

[yolov5s.onnx

[2022-06-28 12:20] RocaPiedra commented on #301
Everything in my code seems to point that my error is this but I'm defining the context and the engine in the same thread... Also, it used to work some time ago but I moved the project and recycled the code (did not change that part) and now it crashes. I probably do something wrong but I cannot realize what it is. This is how I declare the context and the engine, it is within a function that is e

[2022-06-28 15:34] brandt-22 opened #2100 "Problem with build docker, NGC is not accessible from within the docker"
## Description

Trying to build the TensorRT OSS using the build container =
Ubuntu 20.04 on x86-64 with cuda-11.6.2 (default)

leads to a problem with NGC

[code]

causes this problem

chmod: cannot access 'ngc': No such file or directory

[code]
Environment
Dell Server with an A2 GPU.

TensorRT Version:
8.2.1.5

Nvidia Driver Version: 510.47.03
CUDA Version: 11.6
Operating System + Version: Ubun

[2022-06-28 17:06] oxana-nvidia commented on #1634
@Maxung which TensorRT version are you using? is the issue still present if you use TensorRT 8.4?
Which shape are you using?
Could you please provide more details about your setup? Please use this template if possible:
TensorRT Version:
NVIDIA GPU:
NVIDIA Driver Version:
CUDA Version:
CUDNN Version:
Operating System:

I've tried to reproduce the issue using polygraphy tool, but no issues detected

[2022-06-28 20:02] mfoglio commented on #1564
Hi @ttyio , I have the same issue here. I am trying to run a model with dynamic batch size: `engine.get_binding_shape(binding)` returns `(-1, 3, 224, 224)`, and a a consequence, when computing the size ` size = trt.volume(engine.get_binding_shape(binding)) * engine.max_batch_size` the size is negative and the allocation of memory will return `pycuda._driver.MemoryError: cuMemHostAlloc failed: out

[2022-06-29 02:46] bilibiliGO283 opened #2101 "Myelin error when load ONNX model,myelin::cask_gemm_tactics(const myelin::ir::compile_options_t&, const myelin::ir::operation_t&, myelin::targetSm_t, myelin::logs_t&, bool): Assertion `false && "fused op cannot be implemented by CASK"' failed."
## Description

I am going to use tensorRT 8.2.5.1 to boost the performance of my model,but it failed when build_serialized_network. Error occurred in myelin which is close-sourced, we’ve gotten stuck here for days and had no clue where to start debugging, so ask for your help.
I feel that the problem lies in the last Gemm operator, but I took out this operator and ran it without error.

![image](

[2022-06-29 02:57] nvpohanh commented on #2101
Could you try TRT 8.4.1 + CUDA-11.6? If it still doesn't work, please provide verbose engine building log and the ONNX file so that we can repro the issue. Thanks

[2022-06-29 03:36] Abraham423 commented on #102
Hi, I noticed once the plugin is registered , trtexec can create serialized engine file from onnx file, so if I want to create engine directly from serialized engine file(wo creating networks), how should I deal with plugin ?

[2022-06-29 04:34] Abraham423 commented on #102
solved, add `initLibNvInferPlugins()` before `deserializeCudaEngine`

[2022-06-29 04:44] ysyyork commented on #2100
https://github.com/NVIDIA/TensorRT/blob/b55c4710ce01f076c26710a48879fcb2661be4a9/docker/ubuntu-20.04.Dockerfile#L106  this line need to be changed to below:
[code]

[2022-06-29 07:14] mdztravelling opened #2102 "dynamic slice Assertion sliceOutDims[i] > 0 failed. empty tensor not allowed"
## Description

For trt 8.0.3 ，the following code runs OK, BUT use trt 8.4 occurred error.
[code]
Use trt 8.4, error log follow.
[code]
How to solve this problem？

## Environment

**TensorRT Version**:  8.4
**NVIDIA GPU**:  A10
**NVIDIA Driver Version**:  465.19.01
**CUDA Version**:  11.3
**CUDNN Version**:  8.3
**Operating System**:  centos 8.2
**Python Version (if applicable)**:  3.9
**Tensorflo

[2022-06-29 08:19] jackwish commented on #2102
@mdztravelling Thank you for reporting this issue.

Could you help to check the input shape of Slice in your case?

[2022-06-29 09:49] mdztravelling commented on #2102
cu_seq_lens shape is  (-1,).

[2022-06-29 10:54] SimonKeisala commented on #2081
The latest investigation indicate that 7-bit quantization should be sufficient, with no notable performance loss when using fake-quantized inferenc. However, going from fake-quantized inference to TensorRT 8-bit quantized inference still result in a large performance drop.
The problem thus seem to be in the conversion from a QDQ-structured onnx-model to a tensorrt engine, which is a different issu

[2022-06-29 10:54] #2081 closed

[2022-06-29 12:05] FreemanHsu opened #2103 "non-negligible output error between Quantized Onnx Model (w/ QDQ nodes) and converted TRT Int8 Model"
## Description
Hello，I'm trying to convert a quantized onnx model (with QDQ nodes) and convert it to tensorrt int8 model.
The converted trt int8 model, however, has a huge performance drop, the outputs of onnx and trt model have a big difference.
I then tried to quantize standard models and then convert to tensorrt to verify I did the convertion in a right way.
I used
mnist (https://github.com/onn

[2022-06-29 12:08] go2sea opened #2104 "Unable to run sample: TensorRT/samples/python/efficientnet/build_engine.py with INT8 on A100"
## Description
The official example does not work with INT8, but works well with FP32 & FP16.
My kick off command ：
[code]
but got:
![image](https://user-images.githubusercontent.com/10369479/176431606-0bbbb6c0-f88e-4951-9ba7-ba3526bd89c1.png)

## How to reproduce：
① git pull nvcr.io/nvidia/tensorrt:22.03-py3
② pip install -r TensorRT/samples/python/efficientnet/requirements.txt
③ To avoid this er

[2022-06-29 14:36] zerollzeng commented on #2100
`/bin/bash -c cd /usr/local/bin && wget https://ngc.nvidia.com/downloads/ngccli_cat_linux.zip && unzip ngccli_cat_linux.zip && chmod u+x ngc && rm ngccli_cat_linux.zip ngc.md5 && echo "no-apikey\nascii\n" | ngc config set`

`chmod u+x ngc`  -> `chmod u+x ngc-cli/ngc` should be the reason it failed, and it has been fixed in latest latest release.

[2022-06-29 14:51] zerollzeng commented on #2103
Absolute Difference or Relative Difference is not the metric to evaluate a model's accuracy, the metric should be the MAP score in the validation set.
in your case, the model is a classification model, both the onnx(max=6.1207 at (0, 111)) and TRT(max=5.9674 at (0, 111)) have the same max value position, which means both of them to produce the same classification result.

[2022-06-29 14:57] zerollzeng commented on #2104
sorry, can you explain why do you need to add these code to our sample?

[2022-06-29 16:25] chris-volley opened #2105 "Serialization Error inside docker on jetson"
I am receiving the following error trying to load a model converted while building the docker container in the same runtime environment.  I am using a docker image generated from dustynv/jetson-inference:r32.7.1

[code]

[2022-06-29 16:32] #2100 closed

[2022-06-29 23:57] oxana-nvidia commented on #1634
@Maxung Thanks for detailed repro!
I've created an internal bug to investigate.
Internal number: 3700165
cc @nvpohanh @jhalakp-nvidia

[2022-06-30 02:04] lbq779660843 opened #2106 "[E] [TRT] 1: [convolutionRunner.cpp::nvinfer1::rt::cuda::CudnnConvolutionRunner::executeConv::511] Error Code 1: Cudnn (CUDNN_STATUS_EXECUTION_FAILED)"
## Question description:
I want to try the TensorRT in C++ implementation of [ByteTrack](https://github.com/ifzhang/ByteTrack) in Windows. However, it only supports a method in Linux. So I [Convert Its Model to ONNX](https://github.com/ifzhang/ByteTrack/tree/main/deploy/ONNXRuntime#convert-your-model-to-onnx) and then convert the onnx file to tensorrt (TRT) by using **trtexec** command.

But when

[2022-06-30 02:17] go2sea commented on #2104
An error occurs without these code, screenshots of the error has been posted above.

[2022-06-30 02:20] nvpohanh commented on #2106
Could you try TRT 8.4.1? Also, please use `enqueueV2()` instead of `enqueue()`. Thanks

[2022-06-30 02:34] go2sea commented on #2104
An error occurs without these code, and the screenshot of the error has been posted above.

[2022-06-30 02:44] #2104 closed

[2022-06-30 02:53] Apeiria opened #2107 "TensorRT runs much slower for non-continuous inference"
## Description

When inserting sleep(); between inference, the inference time becomes much longer
[code]
![image](https://user-images.githubusercontent.com/60050293/176581386-c2ebe458-876e-40e7-aa4d-cdf3b3dd2268.png)

If the `_sleep(1000);` is removed, the inference time will be very stable, roughly 2ms, no matter how long it runs.

## Environment

**TensorRT Version**: 8.4.1.5
**NVIDIA GPU**: RTX

[2022-06-30 02:56] nvpohanh commented on #2107
This is usually caused by GPUs going to idle and not an issue in TRT. Could you check the solution in https://github.com/NVIDIA/TensorRT/issues/2042 and see if it works?

[2022-06-30 03:17] Apeiria commented on #2107
Thanks for your reply, it works! However are there anything I can do in the c++ code to prevent the GPU from going to sleep when idle?

[2022-06-30 03:19] nvpohanh commented on #2107
No, it's mostly caused by the GPU driver, so you need to change the driver settings.

[2022-06-30 03:25] Apeiria commented on #2107
OK, thanks a lot for your help!

[2022-06-30 05:49] Apeiria commented on #2107
Hi again,
I just did the same experiment in pytorch, and I found the inference time is quite stable regardless of how long I make it sleep. Do you have any idea why the behavior is different for pytorch and tensorrt?

[code]
![image](https://user-images.githubusercontent.com/60050293/176602170-8219caef-a25a-4fb1-a01b-5904d6c59409.png)

Thanks!

[2022-06-30 05:50] Cuzny opened #2108 "ST-GCN with TensorRT C++"
I want to implement the API definition of ST-GCN using TensorRT C++. Is this possible and efficient?
I haven't seen GCN that uses TensorRT C++ to define API on github.

[2022-06-30 06:14] lanwuwei commented on #1845
Thanks! Could I know the current status of KV-cache support for GPT/T5?

[2022-06-30 07:07] nvpohanh commented on #1845
It's still in progress. Thanks

[2022-06-30 10:01] DayDayupupupup commented on #2101
Same issue

[2022-06-30 10:03] DayDayupupupup commented on #2101
I get a same issue.

[2022-06-30 10:06] DayDayupupupup commented on #2101
I got a same issue.
** Environment**
TensorRT Version: 8.2.1.8(21.12)
NVIDIA GPU: A30
NVIDIA Driver Version: 510.68.02
CUDA Version: 11.6
Operating System: linux
** Description**
My onnx model's batchsize is dynamic,

[2022-06-30 10:13] MaxeeCR opened #2109 "Build engine file failed with INT8 calibration mode"
## Description
I export onnx model and build engine with FP16 mode successfully, but the issue occurs when building engine with INT8 calibration mode.

The error:
[code]

### Code of build_engine
[code]

## Code of int8-calibrator:
Note that `self._batch_stream` feed the calibration samples.
[code]

## Environment

**TensorRT Version**: 8.2.1.8
**NVIDIA GPU**: A100
**NVIDIA Driver Version**:  470.

[2022-06-30 10:20] DayDayupupupup commented on #2101
I got a same error.
**Environment**
TensorRT Version: 8.2.1.8(21.12)
NVIDIA GPU: A30
NVIDIA Driver Version: 510.68.02
CUDA Version: 11.5
Operating System: linux
**Description**
My onnx model's batch_size is dynamic,
with  TRT 8.2.1.8
when I set max_batch_size>=2, I get the same error;
when I set max_batch_size=1, the onnx could be converted to trt engine.

Then I  use TRT  8.4.1.5 + CUDA-11.6,
I s

[2022-06-30 10:43] nvpohanh commented on #2101
It's possible that this is already fixed in TRT 8.4.1.5

[2022-06-30 10:44] zerollzeng commented on #2105
Sorry I don't quite get your point here, How does the engine produce and how do you load it? TRT complains about the engine was built with a different version when it load it.

[2022-06-30 10:48] zerollzeng commented on #2108
I don't know about ST-GCN, but to verify it quickly, you can export the model to onnx and test it with trtexec(https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#trtexec)

[2022-06-30 10:48] nvpohanh commented on #2107
@Apeiria Is the PyTorch using GPU or CPU? Also, could you try `time.sleep(5)` and see if it makes any difference?

[2022-06-30 10:51] nvpohanh commented on #2099
@zhoutianzi666 Could you set the max workspace size to 4GB or 5GB? `trt_config->setMaxWorkspaceSize(5<<30);`

[2022-06-30 10:51] nvpohanh commented on #1921
Thanks for trying! I am going to close this now.

[2022-06-30 10:51] #1921 closed

[2022-06-30 10:52] nvpohanh commented on #2095
correct, we don't have tactics for 3d convs with asymmetric padding on old GPUs like Pascal GPUs.

[2022-06-30 11:31] Apeiria commented on #2107
My pytorch is using gpu.
I tried time.sleep(5) and it seems the same, below is the result.
![image](https://user-images.githubusercontent.com/60050293/176665796-5bd838f2-e1d3-4a19-93a8-c10595c01d45.png)

[2022-06-30 12:05] #2105 closed

[2022-06-30 12:07] chris-volley commented on #2105
Found some different documentation and it appears that that the engine was generated with a different version. I had to reconvert the engine model and then it worked. The error wasn't very indicative of that but it is solved now.

[2022-06-30 16:59] deephog opened #2110 "TensorRT 8.4.0.6 fallback to 8.2.5 when using trtexec"
It is a weird thing that even though I have installed a TensorRT of version 8.4.0.6, sometimes it falls back to 8.2.5 when compiling certain models. I don't know if it relates to the opset version I used for my ONNX model, or is it related to certain layers or operations I used in the model. It will be great if someone can explain the general rules to me. Thanks!

[2022-06-30 17:25] lhao0301 opened #2111 "More gpu memory is needed than pytorch for same model"
## Description

Two of my trt-models in 8.4GA use more gpu memory than their pytorch counterparts. (In 8.2GA, it has not the problem)

model-a: trt-model=\~5GB, pytorch-model=~2GB
model-b(unet): trt-model=7.3GB, pytorch-model=4.4GB

And adjusting `--memPoolSize=workspace:2048` makes no sense.

## Environment

**TensorRT Version**: 8.4GA
**NVIDIA GPU**: Nvidia A10 (24GB)
**NVIDIA Driver Version**:

[2022-06-30 18:31] deephog commented on #2110
Ok I know where I am wrong. I need to rebuild the trtexec after I manually install the tensorrt.

[2022-06-30 18:31] #2110 closed

[2022-06-30 22:52] deephog opened #2112 "About using cuda graph in model execution"
I've probably encountered an enqueue-bound model, which shows much faster inference when --usecudagraph flag is set when running trtexec benchmark. However, I don't quite understand how to actually implement the cuda graph when executing the generated engine. According to [this article](https://developer.nvidia.com/blog/cuda-graphs/), the implementation doesn't seem too difficult, but I just don't

[2022-07-01 00:12] #2112 closed

[2022-07-01 02:19] Xinchengzelin commented on #2007
Could you have the docker which include CUDA/CUBLAS/CUDNN/TensorRT?  I only find this image: https://hub.docker.com/r/nvidia/cuda/tags?page=1&name=11.4.3
 I am tired of the environment configuration

[2022-07-01 02:36] nvpohanh commented on #2112
@deephog We have an example in our doc: https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#cuda-graphs

[2022-07-01 02:38] nvpohanh commented on #2112
And some additional explanation here: https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#enqueue-bound-workload

[2022-07-01 02:41] nvpohanh commented on #2107
interesting... we will take a look when having the chance. Meanwhile, I still recommend that you try the approaches in https://github.com/NVIDIA/TensorRT/issues/2042 to see if any of them fixes the issue.

[2022-07-01 02:45] MaxeeCR commented on #2109
I add `config.add_optimization_profile(profile)` in `build_engine` func, but the same error remians

[2022-07-01 02:48] MaxeeCR commented on #2079
Any updating? Thanks for reply

[2022-07-01 04:01] zerollzeng commented on #2111
How's the memory usage if you run the engine with trtexec? e.g. `trtexec --loadEngine=unet.trt --durations=30`

also, can you try disabling some tactic sources? e.g. --tacticSources=-CUDNN,-CUBLAS,-CUBLAS_LT which will disable the cudnn and cublas. they might occupy some memory

[2022-07-01 04:07] lhao0301 commented on #2111
I will try it.

I also found that `workspace` works for 8.2GA when build trt engin(the gpu memory is <= workspace) but not for 8.4GA.

[2022-07-01 05:41] nvpohanh commented on #416
Closing for now due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:41] #416 closed

[2022-07-01 05:41] nvpohanh commented on #439
Closing for now due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:41] #439 closed

[2022-07-01 05:41] nvpohanh commented on #465
Closing for now due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:41] #465 closed

[2022-07-01 05:42] nvpohanh commented on #483
@rajeevsrao @kevinch-nv Is this currently supported?

[2022-07-01 05:42] nvpohanh commented on #543
Closing for now due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:42] #543 closed

[2022-07-01 05:42] nvpohanh commented on #559
This is on the roadmap.

[2022-07-01 05:45] nvpohanh commented on #613
[code]

@anoushsepehri This error usually means that there was another error before this. Could you share the full log? Or try TRT 8.4 to see if the issue still exists.

@Ram-Godavarthi Support for UINT8 is already on the roadmap and should be ready by next or next-next TRT releases. Thanks

[2022-07-01 05:46] nvpohanh commented on #660
@dulvqingyun Could you try TRT 8.4 and see if the issue still exists? Thanks

[2022-07-01 05:47] nvpohanh commented on #753
Closing this since it seems that this has been answered in https://forums.developer.nvidia.com/t/error-builtin-op-importers-cpp-2179-in-function-importpad-inputs-at-1-is-weights/156240/6 . Thanks

[2022-07-01 05:47] #753 closed

[2022-07-01 05:47] nvpohanh commented on #765
@somekindsoffood Could you try TRT 8.4 and see if the issue still exists? Thanks

[2022-07-01 05:48] nvpohanh commented on #791
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists in TRT 8.4. Thanks

[2022-07-01 05:48] #791 closed

[2022-07-01 05:48] #805 closed

[2022-07-01 05:48] nvpohanh commented on #865
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists in TRT 8.4. Thanks

[2022-07-01 05:48] #865 closed

[2022-07-01 05:48] nvpohanh commented on #875
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists in TRT 8.4. Thanks

[2022-07-01 05:48] #875 closed

[2022-07-01 05:49] nvpohanh commented on #921
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists in TRT 8.4. Thanks

[2022-07-01 05:49] #921 closed

[2022-07-01 05:49] nvpohanh commented on #946
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists in TRT 8.4. Thanks

[2022-07-01 05:49] #946 closed

[2022-07-01 05:49] nvpohanh commented on #957
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists in TRT 8.4. Thanks

[2022-07-01 05:49] #957 closed

[2022-07-01 05:50] nvpohanh commented on #965
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists in TRT 8.4. Thanks

[2022-07-01 05:50] #965 closed

[2022-07-01 05:50] nvpohanh commented on #1000
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists in TRT 8.4. Thanks

[2022-07-01 05:50] #1000 closed

[2022-07-01 05:50] nvpohanh commented on #1019
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists in TRT 8.4. Thanks

[2022-07-01 05:50] #1019 closed

[2022-07-01 05:50] nvpohanh commented on #1056
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists in TRT 8.4. Thanks

[2022-07-01 05:50] #1056 closed

[2022-07-01 05:54] nvpohanh commented on #1103
@guoners This is because trtexec uses random input values which caused illegal token id which caused illegal memory access in the embedLayerNorm plugin. Please see https://github.com/NVIDIA/TensorRT/issues/2003 for more detail. Thanks

[2022-07-01 05:54] #1103 closed

[2022-07-01 05:54] nvpohanh commented on #1108
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:54] #1108 closed

[2022-07-01 05:54] nvpohanh commented on #1121
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:54] #1121 closed

[2022-07-01 05:54] nvpohanh commented on #1159
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:54] #1159 closed

[2022-07-01 05:57] nvpohanh commented on #1177
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:57] #1177 closed

[2022-07-01 05:58] nvpohanh commented on #1189
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:58] #1189 closed

[2022-07-01 05:58] nvpohanh commented on #1196
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:58] #1196 closed

[2022-07-01 05:58] nvpohanh commented on #1210
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:58] #1210 closed

[2022-07-01 05:58] nvpohanh commented on #1233
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:58] #1233 closed

[2022-07-01 05:58] nvpohanh commented on #1244
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:58] #1244 closed

[2022-07-01 05:58] nvpohanh commented on #1248
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:58] #1248 closed

[2022-07-01 05:58] nvpohanh commented on #1254
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:58] #1254 closed

[2022-07-01 05:58] nvpohanh commented on #1264
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 05:58] #1264 closed

[2022-07-01 05:59] nvpohanh commented on #1289
@Mahsa1994 Could you share the exported ONNX file? Thanks

[2022-07-01 06:01] nvpohanh commented on #1301
I am going to close this for now. This looks more like driver issue instead of TRT issue.

[2022-07-01 06:01] #1301 closed

[2022-07-01 06:03] nvpohanh commented on #1344
@cqray1990 Could you try TRT 8.4 and see if the issue still exists? Thanks

[2022-07-01 06:03] zerollzeng commented on #2111
we don't need to set workspace since 8.4 anymore

[2022-07-01 06:04] nvpohanh commented on #1374
@wenhuach Could you try TRT 8.4 and see if the issue still exists? If so, we will debug this. Thanks

[2022-07-01 06:04] nvpohanh commented on #1380
@Echambouleyron Does this issue still exist? Thanks

[2022-07-01 06:06] #1395 closed

[2022-07-01 06:06] nvpohanh commented on #1400
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:06] #1400 closed

[2022-07-01 06:06] nvpohanh commented on #1405
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:06] #1405 closed

[2022-07-01 06:06] nvpohanh commented on #1423
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:06] #1423 closed

[2022-07-01 06:07] #1429 closed

[2022-07-01 06:07] nvpohanh commented on #1433
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:07] #1433 closed

[2022-07-01 06:09] nvpohanh commented on #1447
I checked the description again, it seems the the issue is in TF -> ONNX part, not in TRT. So unfortunately I don't think there is much we can do. Maybe file an issue in tf2onnx repo? Or remove that part from the TF graph, export the ONNX, and then in inference, implement a custom cuda kernel for that part.

Closing this for now since this is not a TRT issue.

[2022-07-01 06:09] #1447 closed

[2022-07-01 06:09] nvpohanh commented on #1451
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:09] #1451 closed

[2022-07-01 06:09] nvpohanh commented on #1458
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:09] #1458 closed

[2022-07-01 06:10] nvpohanh commented on #1463
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:10] #1463 closed

[2022-07-01 06:10] nvpohanh commented on #1464
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:10] #1464 closed

[2022-07-01 06:10] nvpohanh commented on #1474
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:10] #1474 closed

[2022-07-01 06:10] nvpohanh commented on #1479
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:10] nvpohanh commented on #1491
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:10] #1491 closed

[2022-07-01 06:10] nvpohanh commented on #1497
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:10] #1497 closed

[2022-07-01 06:11] nvpohanh commented on #1498
It is usually by experiments. There is no general guideline on how many images is enough.

[2022-07-01 06:11] nvpohanh commented on #1500
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:11] #1500 closed

[2022-07-01 06:11] nvpohanh commented on #1503
UINT8 support is on roadmap.

[2022-07-01 06:12] nvpohanh commented on #1505
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:12] #1505 closed

[2022-07-01 06:12] nvpohanh commented on #1509
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:12] #1509 closed

[2022-07-01 06:12] nvpohanh commented on #1510
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:12] #1510 closed

[2022-07-01 06:12] nvpohanh commented on #1514
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:12] #1514 closed

[2022-07-01 06:13] nvpohanh commented on #1516
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:13] #1516 closed

[2022-07-01 06:13] nvpohanh commented on #1518
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:13] #1518 closed

[2022-07-01 06:13] nvpohanh commented on #1522
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:13] #1522 closed

[2022-07-01 06:13] nvpohanh commented on #1526
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:13] #1526 closed

[2022-07-01 06:13] nvpohanh commented on #1532
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:13] #1532 closed

[2022-07-01 06:13] nvpohanh commented on #1539
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:13] #1539 closed

[2022-07-01 06:13] nvpohanh commented on #1582
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:13] #1582 closed

[2022-07-01 06:13] nvpohanh commented on #1584
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:13] #1584 closed

[2022-07-01 06:13] nvpohanh commented on #1594
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:13] #1594 closed

[2022-07-01 06:14] nvpohanh commented on #1602
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:14] #1602 closed

[2022-07-01 06:14] nvpohanh commented on #1603
@pranavm-nvidia Could you share the internal bug number? Thanks

[2022-07-01 06:15] nvpohanh commented on #1615
@ttyio @rajeevsrao Has this been fixed in TRT 8.4?

[2022-07-01 06:17] nvpohanh commented on #1627
@yeliang2258 Could you try TRT 8.4? We have quite a few QAT-related fixes in TRT 8.4. If the issue still exists, we will debug the issue. Thanks

[2022-07-01 06:17] nvpohanh commented on #1632
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:17] #1632 closed

[2022-07-01 06:18] nvpohanh commented on #1645
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:18] #1645 closed

[2022-07-01 06:18] nvpohanh commented on #1649
@haiderasad Could you try TRT 8.4 and see if the issue still exists? If it does, we will debug this. Thanks

[2022-07-01 06:18] nvpohanh commented on #1652
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:18] #1652 closed

[2022-07-01 06:19] nvpohanh commented on #1655
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:19] #1655 closed

[2022-07-01 06:19] nvpohanh commented on #1663
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:19] #1663 closed

[2022-07-01 06:19] nvpohanh commented on #1670
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:19] #1670 closed

[2022-07-01 06:19] nvpohanh commented on #1672
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:19] #1672 closed

[2022-07-01 06:19] nvpohanh commented on #1686
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:19] #1686 closed

[2022-07-01 06:20] nvpohanh commented on #1699
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:20] #1699 closed

[2022-07-01 06:20] nvpohanh commented on #1701
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:20] #1701 closed

[2022-07-01 06:20] nvpohanh commented on #1703
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:20] #1703 closed

[2022-07-01 06:20] nvpohanh commented on #1708
Could you try TRT 8.4 and see if the issue still exists? If it does, we will debug this. Thanks

[2022-07-01 06:21] nvpohanh commented on #1729
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:21] #1729 closed

[2022-07-01 06:21] nvpohanh commented on #1731
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:21] #1731 closed

[2022-07-01 06:21] nvpohanh commented on #1732
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:21] #1732 closed

[2022-07-01 06:21] nvpohanh commented on #1737
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:21] #1737 closed

[2022-07-01 06:22] nvpohanh commented on #1738
@ttyio Has this been fixed in TRT 8.4?

[2022-07-01 06:22] nvpohanh commented on #1745
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:22] #1745 closed

[2022-07-01 06:22] nvpohanh commented on #1747
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:22] #1747 closed

[2022-07-01 06:23] nvpohanh commented on #1748
@mdztravelling Could you try TRT 8.4 and see if it's fixed? Thanks

[2022-07-01 06:23] nvpohanh commented on #1750
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:23] #1750 closed

[2022-07-01 06:23] nvpohanh commented on #1752
@npduyduc Could you try TRT 8.4 and see if the issue still exists? Thanks

[2022-07-01 06:23] nvpohanh commented on #1754
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:23] #1754 closed

[2022-07-01 06:24] nvpohanh commented on #1759
@achigin Could you try TRT 8.4 and see if the issue still exists? Thanks

[2022-07-01 06:25] nvpohanh commented on #1761
@schegde Could you try TRT 8.4 and see if the issue still exists? If it does, we will debug it. Thanks

[2022-07-01 06:27] nvpohanh commented on #1769
@wuwenxuan0226 Could you try TRT 8.4.1.5 + CUDNN 8.4.1 + CUDA 11.6?

[2022-07-01 06:28] nvpohanh commented on #1802
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:28] #1802 closed

[2022-07-01 06:28] nvpohanh commented on #1804
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:28] #1804 closed

[2022-07-01 06:28] nvpohanh commented on #1808
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:28] #1808 closed

[2022-07-01 06:28] nvpohanh commented on #1832
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:28] #1832 closed

[2022-07-01 06:28] nvpohanh commented on #1833
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:28] #1833 closed

[2022-07-01 06:30] nvpohanh commented on #1843
@jinfagang Could you share your model so that we can repro the issue and debug it? Thanks

[2022-07-01 06:30] nvpohanh commented on #1865
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:30] #1865 closed

[2022-07-01 06:30] nvpohanh commented on #1871
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:30] #1871 closed

[2022-07-01 06:31] nvpohanh commented on #1874
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:31] #1874 closed

[2022-07-01 06:32] nvpohanh commented on #1888
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:32] #1888 closed

[2022-07-01 06:32] nvpohanh commented on #1906
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:32] #1906 closed

[2022-07-01 06:33] nvpohanh commented on #1927
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:34] nvpohanh commented on #1934
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:34] #1934 closed

[2022-07-01 06:34] nvpohanh commented on #1936
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:34] #1936 closed

[2022-07-01 06:34] nvpohanh commented on #1940
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:34] #1940 closed

[2022-07-01 06:34] nvpohanh commented on #1941
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:34] #1941 closed

[2022-07-01 06:35] nvpohanh commented on #1944
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:35] #1944 closed

[2022-07-01 06:35] nvpohanh commented on #1946
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:35] #1946 closed

[2022-07-01 06:35] nvpohanh commented on #1947
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:35] #1947 closed

[2022-07-01 06:35] nvpohanh commented on #1952
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:35] #1952 closed

[2022-07-01 06:35] nvpohanh commented on #1954
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:35] #1954 closed

[2022-07-01 06:36] nvpohanh commented on #1963
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:36] #1963 closed

[2022-07-01 06:36] nvpohanh commented on #1966
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:36] #1966 closed

[2022-07-01 06:36] nvpohanh commented on #1969
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:36] #1969 closed

[2022-07-01 06:37] nvpohanh commented on #1991
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:37] #1991 closed

[2022-07-01 06:37] #1992 closed

[2022-07-01 06:37] nvpohanh commented on #1993
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:37] #1993 closed

[2022-07-01 06:37] nvpohanh commented on #1995
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:37] #1995 closed

[2022-07-01 06:38] nvpohanh commented on #1997
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:38] #1997 closed

[2022-07-01 06:38] nvpohanh commented on #1998
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:38] #1998 closed

[2022-07-01 06:38] nvpohanh commented on #2006
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:38] #2006 closed

[2022-07-01 06:39] nvpohanh commented on #2007
We recommend using the TRT container in NVIDIA NGC: https://catalog.ngc.nvidia.com/orgs/nvidia/containers/tensorrt

22.06 still has TRT 8.2.5. 22.07 will use TRT 8.4.1.

[2022-07-01 06:40] nvpohanh commented on #2011
Closing this issue for now. Thanks

[2022-07-01 06:40] #2011 closed

[2022-07-01 06:40] nvpohanh commented on #2024
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:40] #2024 closed

[2022-07-01 06:41] nvpohanh commented on #2030
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:41] #2030 closed

[2022-07-01 06:41] nvpohanh commented on #2035
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:41] #2035 closed

[2022-07-01 06:42] nvpohanh commented on #2039
Sorry, we currently do not have bandwidth to fix Kepler-specific issues.

[2022-07-01 06:43] nvpohanh commented on #2047
I am not sure which version is used in ISAAC...

[2022-07-01 06:43] nvpohanh commented on #2055
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:43] #2055 closed

[2022-07-01 06:43] nvpohanh commented on #2056
Closing due to >14 days without activity. Please feel free to reopen if the issue still exists. Thanks

[2022-07-01 06:43] #2056 closed

[2022-07-01 06:44] nvpohanh commented on #2061
I think that is possible. Setting up a new CUDA context, CUDNN/cuBLAS handles, and allocating memories are all costly operations.

[2022-07-01 06:46] nvpohanh commented on #2069
I see...

@kevinch-nv Do we have any internal testing for WSLs?

[2022-07-01 06:47] nvpohanh commented on #2073
@BowenFu Should we close this?

[2022-07-01 06:47] nvpohanh commented on #2076
Also, TRT 6.0 is too old. Please try TRT 8.4 to see if the issue still exists. Thanks

[2022-07-01 06:55] zhoutianzi666 commented on #2076
this problem has been sloved，thank you
I mistakenly set layer's calculation accuracy to fp32

[2022-07-01 06:57] nvpohanh commented on #2109
@MaxeeCR Could you provide your ONNX file so that we can repro and debug this issue? Thanks

[2022-07-01 06:57] zerollzeng commented on #2076
Can we close this?

[2022-07-01 07:02] nvpohanh commented on #2111
`workspace` is the scratch space that our tactics can use. It doesn't include the memory needed for necessary weights, activations, and pre-computed data. That said, we may want to debug why the memory consumption increased that much between TRT 8.4 and TRT 8.2

[2022-07-01 07:03] zhoutianzi666 commented on #2099
5L<<30 ok! 4L<<30 failing.
why need so much space in trt8.4？？

[2022-07-01 07:29] BowenFu commented on #2073
Yes, we can close this one. The issue has been tracked in internal system.

[2022-07-01 07:31] #2073 closed

[2022-07-01 07:43] Xinchengzelin commented on #2007
How can I know which version has TRT 8.2.4？ Which Cuda version and OS version does it use? I couldn't tell it from the tag

[2022-07-01 07:44] CUGfred opened #2113 "use onnx-graphsurgeon export onnx, while cant use in onnxruntime"
# Describe
after use onnx-graphsurgeon adjust a layernorm model, fuse ops into one LayerNorm node,while cant be used in onnxruntime. i have wrote a Register_custom_ops shared library. after use session options load that, while opset doesnt match , how could i get this done. plus, onnxruntime unittest could load shared library, while i use cmake output a shared library, it doesnt work.
# Environmen

[2022-07-01 08:34] lcxywfe commented on #1490
It shoud be ```-Dnvinfer_LIB_PATH=$TRT_LIBPATH/lib/libnvinfer.so -Dnvparsers_LIB_PATH=$TRT_LIBPATH/lib/libnvparsers.so```

[2022-07-01 09:08] zhoutianzi666 opened #2114 "When inferring in int8 precision, must we call setDynamicRange() for each tensor？"
## Description

## Environment

**TensorRT Version**:
**NVIDIA GPU**:
**NVIDIA Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**Operating System**:
**Python Version (if applicable)**:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:

## Relevant Files

## Steps To Reproduce

When inferring in int8 precision, need to c

[2022-07-01 09:08] lhao0301 commented on #2111
After I update the cuda-11.1 to cuda-11.7 and start to config the environment from scratch, both the two trt-models behave similar with pytorch in gpu consumption during inference.

During buiding the engine with `trtexec`,  `the unet` also behaves ok but `the other one` still reach a large peek(e.g. 18G).  `--tacticSources=-CUDNN,-CUBLAS,-CUBLAS_LT` raises error `Internal Error (Could not find an

[2022-07-01 10:11] zhoutianzi666 commented on #2114
can we only Set dynamic range for nvinfer1::IShuffleLayer's input but no output? I think this is ok, but my code seems this will lead to convolution fail back to fp32.

#include "/usr/local/tensorrt/include/NvInfer.h"
#include <vector>
#include <iostream>
// g++ A.cc -lnvinfer -lcudart  -L /usr/local/tensorrt/lib/ -L/usr/local/cuda/lib64 -I /usr/local/cuda/include
// export LD_LIBRARY_PATH=$LD_LIB

[2022-07-01 10:15] nguyenvanhoang7398 opened #2115 "[codeGenerator.cpp::compileGraph::476] Error Code 1: Myelin (No results returned from cublas heuristic search)"
I am trying to convert a sequence to sequence model in ONNX format to TensorRT engine. The inputs are of dynamic shapes.
Then the error about cuBLAS heuristic search was thrown when I run the `build_engine()` function.

[code]

This is the code I use to build the engine.
[code]

These are my system specs.
[code]

cuda: 11.3
pytorch: 1.11.0
nvidia-tensorrt: 8.0.1.6

Some Netron properties, not sure

[2022-07-01 10:15] tambry commented on #1582
I'm unable to re-open this issue. The BSD 3-clause header seems to have been added to the file, but the Apache 2.0 kept and a SPDX licence identifier for Apache 2.0 also added. Apache 2.0 and BSD 3-clause are probably compatible, but I believe the identifier ought to specify the original licence unless NVIDIA has gotten permission from all copyright holders to licence it as Apache 2.0 as there mig

[2022-07-01 10:58] bilibiliGO283 commented on #2101
Thanks a lot for your replies. Due to some environmental reasons, I could not change the version of TensorRT, but I replaced the Gemm operator with the cublas plugin, which also fixed the problem.
Now my computational graph is as follows：
![image](https://user-images.githubusercontent.com/52642928/176881715-53da9dda-a271-40a3-8ce4-ec06af64389b.png)

[2022-07-01 10:59] #2101 closed

[2022-07-01 11:37] johnwalicki commented on #1479
This is a real problem and is not solved. I recommend this issue should be re-opened.

[2022-07-01 12:37] zhoutianzi666 commented on #2076
ok

[2022-07-01 14:27] nvpohanh commented on #1479
I see. reopen.

[2022-07-01 14:47] #2076 closed

[2022-07-01 14:50] zerollzeng commented on #2111
Looks like it's cause by cuda not TRT

[2022-07-01 18:14] deephog commented on #2112
So sad we didn't manage to find those, we tried to search for --usecudagraph, but the only thing relevent is it is so super clear. We eventually decided to go into the source code of trtexec and figured it out. Still big thanks for sharing those!

[2022-07-01 23:11] andrey-klochkov-liftoff opened #2116 "SavedModel to TensorRT converter fails if the model uses lookup tables"
## Description

The TF-TRT converter fails to save the model if it uses a lookup table. [This colab](https://colab.research.google.com/drive/1GvJy2rg8S5GJ37xK3Ek9XY0pyi-AfdyN) illustrates how I create a simple model that uses a Keras `IndexLookup` layer that in turn makes the savedmodel contain a DT_RESOURCE tensor with the lookup table contents. The last cell of the notebook that does the convers

[2022-07-01 23:33] dennex commented on #1019
We've actually upgraded to 8.4 and it works well.
Some other layer types didnt exist/were not recognized, which we found the ONNX-simplifier to be a useful post-processing step to our ONNX.

[2022-07-02 03:17] zerollzeng commented on #2113
Sorry I don't get what your problem is, can you make it more clear?

[2022-07-02 03:22] zerollzeng commented on #2114
https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#set-dynamic-range
`Dynamic range is needed for all floating-point inputs and outputs of an operation that will execute in INT8.`

[2022-07-02 03:28] zerollzeng commented on #2115
Looks like the reason why it failed is myelin can not find the tactic for the dynamic shape. can you try TRT 8.4? if it doesn't work can your share the onnx model here?

[2022-07-02 05:14] wuwenxuan0226 commented on #1769
I reinstall WSL and update it to 2. Then I reinstall TRT 8.4.1.5 + CUDNN 8.4.1 + CUDA 11.6 via .run file and .tar bag. And still have error.

These are my informations:

(wenxuan) wenxuan@DL7J0L4M3:~$ nvidia-smi
Sat Jul  2 13:09:21 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 515.57       Driver Version: 516.59       CUDA Version: 11.7     |
|--

[2022-07-02 05:21] wuwenxuan0226 commented on #1769
I also tried it via .deb install. I passed CUDA ./deviceQuery and Cudnn ./mnistCUDNN test. But cannot pass Tensorrt ./sample_mnist.

[2022-07-02 06:39] Darwin84 commented on #1064
get same problem

[2022-07-02 07:47] netaz commented on #1831
@wywywy01 to draw engine graphs you can use trex -
  https://github.com/NVIDIA/TensorRT/tree/main/tools/experimental/trt-engine-explorer

[2022-07-02 13:07] triple-Mu commented on #1769
The bug is not fixed

[2022-07-02 18:10] nguyenvanhoang7398 commented on #2115
Thank you so much for the suggestion. I managed to upgrade TensorRT to 8.4.1.5 and the cublas heuristic search problem disappeared.
However, now I am running into another Assertion Error. This is the StackTrace.
[code]

The model inputs are of dynamic shapes. Here are the codes where I set the optimization profile for the dynamic shape.
[code]

You can find the ONNX file for the model here https:/

[2022-07-03 03:02] CUGfred commented on #2113
@zerollzeng sry, this is about onnxruntime custom op, it should not be posted in TensorRT. i will close this.

[2022-07-03 03:02] #2113 closed

[2022-07-03 08:43] ymzx commented on #2055
https://mp.weixin.qq.com/s/hrOZYw6eFVU9EMl8aa3tQg

我总结到了这篇文章中。

[2022-07-03 09:46] zerollzeng commented on #2115
Ah, I didn't reproduce this in my environment with trtexec:
[code]

Can you try trtexec like I did?

[2022-07-03 11:05] nguyenvanhoang7398 commented on #2115
Thank you so much for the prompt reply. This is my `trtexec` output

[code]

It looks like some node in the optimization graph doesn't have any implementation.

[2022-07-03 13:48] #2111 closed

[2022-07-03 18:34] HemantTiwariGitHub commented on #998
Hi @ttyio, it would help if sample was shared for providing multiple _ITensor_ objects in network.mark_output.
Thanks

[2022-07-04 02:36] zerollzeng commented on #2115
Can you try TRT 8.4? TRT 8.4 works for me.

[2022-07-04 02:36] MaxeeCR commented on #2109
onnx model: https://drive.google.com/file/d/1EpWYDYZQ4Pooa-sfCkxkA-a3FG5FzRIb/view?usp=sharing

[2022-07-04 02:57] nguyenvanhoang7398 commented on #2115
Yes, I have built and been using TensorRT 8.4.1.5 from source.

![image](https://user-images.githubusercontent.com/21237688/177073693-4920a99b-49ed-4f1f-8f56-d2db6d364d9b.png)

[2022-07-04 03:43] zerollzeng commented on #2115
You have to install the TRT 8.4 SDK, not just the OSS. please install the 8.4 GA: https://developer.nvidia.com/nvidia-tensorrt-8x-download

[2022-07-04 03:52] mdztravelling commented on #2102
@jackwish   can you confirm this problem? And how to resolve it?

[2022-07-04 04:08] KingCSer opened #2117 "How to convert .engine to .plan?"
We have converted the caffe model to .engine by trtexec tools, how to convert this engine file to plan file？

[2022-07-04 04:13] nvpohanh commented on #2117
An engine file is a plan file. We use these two words interchangeably.

[2022-07-04 05:15] KingCSer commented on #2117
yeah, but when we deploy it on the triton-server and launch it, it appears some errors as followed:
![1656910905781(1)](https://user-images.githubusercontent.com/48956659/177085778-9905e741-0a9b-4327-afe9-d583dc4d11c9.jpg)

[2022-07-04 06:01] jackwish commented on #2102
@mdztravelling By "the input shape of Slice", I mean the real shape - with input shape profile, what the shape of it should be. `-1` would just mean that the shape is unknown yet.

[2022-07-04 06:07] lfcxlfcx opened #2118 "bert model fp16 returns nan"
## Description
when I tried pytorch->onnx->trt to convert a bert model to tensorrt engine, fp32 tensorrt engine returns correct result, but fp16 returns nan, I tried torch.half()->onnx to infer fp16 onnx model, it works fine, but convert it to trt engine also returns nan

## Environment

**TensorRT Version**: 8.2.5.1
**NVIDIA GPU**: Tesla T4
**NVIDIA Driver Version**: 460.91.03
**CUDA Version**: 1

[2022-07-04 06:08] nguyenvanhoang7398 commented on #2115
Hi, I got the same error as running the conversion via Python.

[code]

[2022-07-04 07:23] nvpohanh commented on #2117
That means the TRT version you used to build the engine is not the same TRT version you used in deployment.

[2022-07-04 07:56] pommedeterresautee opened #2119 "Pytorch 1.12.0 onnx export update broke GPT-2 support by TensorRT 8.4.1"
## Description

The last update of Pytorch (1.12.0) has changed the way models are exported on ONNX, aka the graph is quite different from what you get from Pytorch 1.11

It appeared that GPT2 model exported to ONNX is not anymore supported by TensorRT 8.4.1
It seems to be related to the dynamic axis, indeed, if I made them static, `trtexec` doesn't complain anymore.
Moreover, everything works fin

[2022-07-04 08:37] nvpohanh commented on #2119
Could you try const-folding the ONNX file and see if the error goes away? https://github.com/NVIDIA/TensorRT/tree/main/tools/Polygraphy/examples/cli/surgeon/02_folding_constants

Thanks

[2022-07-04 09:13] pommedeterresautee commented on #2119
It worked!
Do you think next version of TRT will manage it directly?

Please find logs below:
[error.log.zip](https://github.com/NVIDIA/TensorRT/files/9038076/error.log.zip)

[2022-07-04 10:57] Xinchengzelin opened #2120 "bool myelin::ir::tactic_selection_t::global_tactic_constraint_analysis(): Assertion `!transp_src_ten->is_mod()' failed"
## Description

My [onnx model](https://github.com/NVIDIA/TensorRT/files/9038779/model.zip) could be generated by trtexec in other computer except  a computer ThinkStation P720 with NVIDIA RTX A4000 GPU. The enviroment is in a docker  pulled [here](https://hub.docker.com/r/nvidia/cuda/tags) , tag: `11.4.3-cudnn8-runtime-ubuntu20.04`

When use `trtexec` to convert the model in the ThinkStation P720

[2022-07-04 15:42] nguyenvanhoang7398 commented on #2115
After I deleted the OSS and reinstall TensorRT it works. Closing the issue.

[2022-07-04 15:42] #2115 closed

[2022-07-05 02:09] dingjingzhen opened #2121 "when will TensorRT support F.grid_sample?"
onnx already supports F.grid_sample, when will TensorRT support it?

[2022-07-05 05:23] salidw opened #2122 "Output from TRT engine inference return ZERO matrix"
Hello,

I had converted my *.pt file to onnx and validated its inference. Everything was OK.
When I converted my Onnx file to TRT Engine file and did inference it on Jetson Nano.
The predicted output was ZERO matrix like the below (Even my image input has values).

Predicted output:
[[ 0. 0. 0. …, 0. 0. 0.]
[ 0. 0. 0. …, 0. 0. 0.]
[ 0. 0. 0. …, 0. 0. 0.]
…,
[ 0. 0. 0. …, 0. 0. 0.]
[ 0. 0. 0. …, 0.

[2022-07-05 07:30] tongchangD commented on #2014
what is  libcudart.so

[2022-07-05 07:40] EinKung opened #2123 "[TRT] [E] 2: [ltWrapper.cpp::setupHeuristic::349] Error Code 2: Internal Error (Assertion cublasStatus == CUBLAS_STATUS_SUCCESS failed. )"
## Description
Anyone knows about this issue? I used the two patchs provide by NVIDIA official website for cuda 10.2, but it only works for model converting from onnx to trt, and this issue is still occured when evaluting with TensorRT.

## Environment

**TensorRT Version**: 8.4.1.5
**NVIDIA GPU**: Tesla V100
**NVIDIA Driver Version**: 440.33.01
**CUDA Version**: 10.2
**Operating System**: Ubuntu

[2022-07-05 08:02] zerollzeng commented on #2123
After exporting to onnx, can you run the model with trtexec? I would suspect the torch and TRT may use different cuda libraries.

[2022-07-05 08:04] zerollzeng commented on #2122
can you share the onnx model here? also using polygraphy(https://github.com/NVIDIA/TensorRT/tree/master/tools/Polygraphy/polygraphy) to debug the accuracy issue is very useful

[2022-07-05 08:05] zerollzeng commented on #2121
see issue #2005

[2022-07-05 08:08] zerollzeng commented on #2120
Does it work in TRT 8.4? if not we will investigate this.

[2022-07-05 08:15] EinKung commented on #2123
Sure, u can export a onnx model by pytorch, and two patchs for cuda 10.2, they do work for converting model from onnx to trt with trtexec, but this issue will be occured when u wanna predict ur data with trt file.

[2022-07-05 08:42] nvpohanh commented on #2014
libcudart.so is CUDA runtime library (i.e. shared object). It should be installed when you install CUDA toolkit

[2022-07-05 09:05] Xinchengzelin commented on #2120
I tried  TensorRT8.4.1.5， the convert is sucessful.  But I really don't understand why TensorRT8.2.4 didn't work in NVIDIA RTX A4000 GPU  while others work well.   Besides, do you have some docs about myelin? It seems to be mysterious

[2022-07-05 09:09] nvpohanh commented on #2120
Myelin is a special fusion backend in TRT. Between TRT 8.2 and 8.4, we fixed plenty of bugs related to this backend.

[2022-07-05 09:16] lfcxlfcx commented on #2118
So I should keep those nodes fp32 type?

so i should keep those nodes fp32 type? and how can i do it with trtexec?

[2022-07-05 09:23] zerollzeng commented on #2123
Can you share the onnx model here?

[2022-07-05 09:52] EinKung commented on #2123
Sure, I uploaded it on MEGA Cloud, here is the link:
https://mega.nz/file/ztNjESbT#AN6XshkvQQEq7TtCDqVxn1VKGg8_JWLiO5638ecBAv0
And one thing i realized, TensorRT works with its sample program but does not wth python.

[2022-07-05 10:14] zerollzeng commented on #2123
Looks like there are similiar issue, https://github.com/NVIDIA/TensorRT/issues/1818 and https://github.com/NVIDIA/TensorRT/issues/2123 Can you check your cublaslt version in the log?

[2022-07-05 10:16] zerollzeng commented on #2123
also https://github.com/NVIDIA/TensorRT/issues/866

[2022-07-05 11:20] salidw commented on #2122
@zerollzeng  Thanks... let's try. This is my ONNX file.

https://drive.google.com/file/d/1c4X4VHcsRj9XStUXbh3AjowznSocl0rg/view?usp=sharing

[2022-07-05 15:11] zerollzeng commented on #2116
Also from your log, I don't think TensorRT gets involved here. so it would be better to ask in the Tensorflow repo.

[2022-07-05 18:24] kevinch-nv commented on #2069
We do not, we only test native Windows and native Ubuntu which both seem to be passing.

What's the use case of using WSL over the native OS?

[2022-07-05 19:13] nguyenvanhoang7398 opened #2124 "(Could not find any implementation for node {ForeignNode[Transpose_2713 + (Unnamed Layer* 4032) [Shuffle]...MatMul_2714]}.)"
Hi, I am trying to convert an Onnx model with dynamic inputs to TensorRT format but encounter an error about "Could not find any implementation for node...".
Can someone please assist with understanding this error message? Here is the model https://drive.google.com/file/d/12eL6eHxSepDz98GsOleQNe8I9qY8TU7s/view?usp=sharing.

This is my error message.
[code]

This is my trtexec command.
[code]

Thes

[2022-07-05 23:54] andrey-klochkov-liftoff commented on #2116
@zerollzeng

When I hit the problem I suspected that neither of the converters support IndexLookup (or rather TF hash tables) but I didn't find any evidence of that. Should this be documented somewhere or explained in the error messages?

Good point, somehow I thought the converter (that produces the model that can't be saved) is the scope of TensorRT itself, but you're right it's all in the TF re

[2022-07-06 00:02] andrey-klochkov-liftoff commented on #2116
So there are several issues in both in the TF and TensorRT repos that mention this problem (without anybody clearly confirming that TensorRT or TF-TRT do not support lookup tables indeed). This is the list of issues that cross reference each other (I'm linking to particular comments that say "it seems like" lookup tables are not supported):
https://github.com/tensorflow/tensorflow/issues/46254#iss

[2022-07-06 01:57] EinKung commented on #2123
Yep, it's cublas 10.2.3.254. And I noticed a warnning message before this issue is printed out, pasting it as following:
[07/05/2022-10:00:08] [TRT] [W] TensorRT was linked against cuDNN 8.4.1 but loaded cuDNN 8.2.0
[07/05/2022-10:00:10] [TRT] [E] 2: [ltWrapper.cpp::setupHeuristic::349] Error Code 2: Internal Error (Assertion cublasStatus == CUBLAS_STATUS_SUCCESS failed. )
[07/05/2022-10:00:10] [T

[2022-07-06 02:39] nvpohanh commented on #2124
![2022-07-06 10_37_29-D__workD_m2m100_418M-decoder onnx - Netron](https://user-images.githubusercontent.com/53919306/177456063-6714bc40-c056-47e6-8210-5a5d584458d5.png)

The input shapes of the `input_ids` and `encoder_attention_mask` are both `[batch,seq_length]` in your ONNX model, but the optShapes you provide has different `seq_length` between the two inputs. Could you re-export the ONNX and m

[2022-07-06 03:07] zerollzeng commented on #2123
Can you try remove
[code]
and all the torch stuff in your script? only leave the trt part.
like
[code]

[2022-07-06 03:38] zerollzeng commented on #2122
Which TRT version you are using?

[2022-07-06 04:34] nguyenvanhoang7398 commented on #2124
Thank you, I have changed the --opt-length flag in the `trtexec` command as below

[code]

Here are the params:
[code]

But the same error still persists.

[2022-07-06 05:20] salidw commented on #2122
@zerollzeng  Sorry for your patient. Here is my system envir.

- Jetpack	: 	4.6 [L47 32.6.1]
- CUDA		: 	10.2.300
- OpenCV	:	4.1.1
- Complied CUDA :	NO
- TensorRT	: 	8.0.1.6
- cuDNN		: 	8.2.1.32
- Cuda ARCH	:	5.3

[2022-07-06 05:55] nvpohanh commented on #1990
This has been fixed internally and will be available in next TRT release. Thanks for reporting this issue!

[2022-07-06 06:19] nvpohanh commented on #2124
Thanks. We will debug this.

[2022-07-06 06:36] lbq779660843 commented on #2106
Yes, the update of TRT can dismiss this error, and it seems TRT 8.4.1 has gotten rid of the concept of **BatchSize**.

[2022-07-06 06:36] #2106 closed

[2022-07-06 06:47] EinKung commented on #2123
No, it doesn't work. And I tried to solve all warning messages but it doesn't too.

[2022-07-06 06:47] EinKung commented on #2123
No, it doesn't work. And I tried to solve all warning messages but it doesn't too.

[2022-07-06 11:55] longer-is-better commented on #1611
8.2.5 works for me

[2022-07-06 12:28] YohannXu opened #2125 "Convert a quantized conv3d model failed"
## Description

I'm using pytorch quantization toolkit to quantize my model, which has some conv3d module. The QAT procedure is OK. But when i use trtexec to convert the onnx with Q/DQ pairs to engine, it failed! I have written some simple code to reproduce the error.

## Environment

**TensorRT Version**: 8.2.5.1
**NVIDIA GPU**: TITAN RTX
**NVIDIA Driver Version**: 470.103.01
**CUDA Version**: 11

[2022-07-06 13:27] zerollzeng commented on #2124
@nvpohanh I can reproduce the error, filed internal bug 3707368.

[2022-07-06 13:40] zerollzeng commented on #2122
I can't access to the onnx, request permission, can you check whether this can be reproduced on 8.4 or 8.2(latest jetson)

[2022-07-06 13:57] zerollzeng commented on #2123
my code
[code]

[2022-07-06 14:08] zerollzeng commented on #2125
I can export the onnx using your script, can you share the onnx model here?
[code]

[2022-07-06 14:09] zerollzeng commented on #2125
cc @ttyio

[2022-07-06 14:15] salidw commented on #2122
@zerollzeng  Sorry, I guessed :) that you have downloaded the file so I dropped it. However, I have shared my onnx file again at this link
https://drive.google.com/file/d/10jJdI8EjQoT5Sur2Rjx7GnqtqCTMiCTd/view?usp=sharing

[2022-07-06 15:07] #1990 closed

[2022-07-06 19:20] deephog opened #2126 "Segmentation model keeps getting all nan results after PTQ by pytorch_quantization"
Here is the code pieces I used to initialize and run the calibration, basically copied from the tutorial. After calibrated it for 50 batchs (400 images), the output is nan everywhere. I don't know what next I should be doing to debug it. Is it because my model has some layer that is not compatible with this method? If so, how can I apply partial quantization with this toolkit? Thanks!

from pytorc

[2022-07-06 22:08] deephog commented on #2126
I did a few more tests, the result turns out to be:
1. When percentile is 99.99, no matter what calibration image I use, when I apply the model to images of my specific scene, I always get "nan" values.
2. When I use images from my target scene as calibration image, and I set percentile to 99.9, I can get valid outputs.
3. When I use images from general training set (even though I used these image

[2022-07-07 00:01] achigin commented on #1759
@nvpohanh Sorry, I'm currently on vacation, will check and report later. Glad for the news at least :)

[2022-07-07 00:02] nvpohanh commented on #2125
could you try adding Q/DQ after the Conv? I am not sure if we have tactics for INT8-input FP32-output 3D convs (will need to check internally).

[2022-07-07 01:26] EinKung commented on #2123
Oh, it works? Yep, im gonna try to upgrade my environment to matched version or something. And more, i think this issue is caused by its python libs, cuz its c++ programs work with now settings and environment, so it's all ok about TensorRT, cuda and cudnn.

[2022-07-07 03:25] nvpohanh commented on #2021
This has been fixed and will be available in TRT 8.5 release. Thanks for reporting this issue!

[2022-07-07 07:36] Sidx-sys commented on #334
@zhouyuangan Thanks for the highligting the data_type issue! Similarly solved the issue for me.

[2022-07-07 09:11] matudouchen opened #2127 "When I use Python API quantized model with clip-ranges error reporting occurs"
## Description
The same steps can be generated engine(int8) when using RTX4000(tensorrt 8.0, cuda11.3), but when using Jeston AGX orin(tensorrt 8.4, cuda11.4)  reports an error(an illegal memory access was encountered). If the number of quantization layers is reduced, the Jeston can succeed like this：

Set dynamic range of x as [-0.9921314716339111, 0.9921314716339111]
Set dynamic range of 1472 as

[2022-07-07 10:18] YohannXu commented on #2125
you mean a mode like this
![2022-07-07 18-14-22 的屏幕截图](https://user-images.githubusercontent.com/17887665/177750303-48242c75-8fef-4267-8042-0c1adf24b9d0.png)
it doesn't work for me.
![2022-07-07 18-17-26 的屏幕截图](https://user-images.githubusercontent.com/17887665/177750983-c9bc8142-3477-491b-abd0-81edea758dd4.png)
@nvpohanh

[2022-07-07 10:45] zhoutianzi666 opened #2128 "why 7234 和 8406 diffs in shape when constructing network"
## Description

## Environment

**TensorRT Version**:
**NVIDIA GPU**:
**NVIDIA Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**Operating System**:
**Python Version (if applicable)**:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:

## Relevant Files

## Steps To Reproduce

[code]

- in 7234

[code]

- in 8406

[code

[2022-07-07 10:50] nvpohanh commented on #2128
Yes, that was a bug already fixed in TRT 8.4.

[2022-07-07 10:59] zhoutianzi666 commented on #2128
It seems like this: in 7234, shape infer is carried out when building engine.
In 8034, it seems that when every layer is added, shape infer will be carried out.
Is that right？

[2022-07-07 12:58] ManoharMarri opened #2129 "Error while inferencing a TensorRt model on Triton Server"
Getting the below error while inferencing a TensorRT model on Triton Server hosted on Google Kubernetes Engine.

what(): Assertion mUsedAllocators.find(alloc)!=mUsedAllocators.end() && “Myelin free callback called with invalid MyelinAllocator” failed.

This seems to be a TensorRT based error.

Can you please help resolve.

[2022-07-07 13:15] zerollzeng commented on #2127
Do you mean you remove some Q/DQ nodes?

[2022-07-07 13:22] zerollzeng commented on #2129
Do you have the model that can reproduce this error?

[2022-07-07 13:24] zerollzeng commented on #2126
@ttyio ^ ^

[2022-07-07 13:28] zerollzeng commented on #2125
Looks like they are not modified.

[2022-07-07 14:14] salidw commented on #2122
@zerollzeng Thanks for your help. I had used the same TRT version (8.0.1.6) but changed the code to allocate memory size between host and device. The problem was gone....but fps is only 4 which I need more :). I may test on TRT 8.4 per your recommendation.

[2022-07-07 14:14] #2122 closed

[2022-07-07 15:12] akankshabaranwal opened #2130 "Using TensorRT detectron on Orin"
## Description

Is TensorRT 8.4.1 supposed to work with Orin? I am following the steps from here to convert detectron2 model to Orin: https://github.com/NVIDIA/TensorRT/blob/8.4.1/samples/python/detectron2/README.md
I am trying out converting detectron model to tensorrt. I converted to onnx in a different setup (not on Orin).
I have been able to convert to create the onnx graph.
But while running

[2022-07-07 18:36] deephog opened #2131 "Mismatched type error when generating an engine for a quantized stereo-depth model"
onnx model : [link](https://drive.google.com/file/d/1xJyU7CnVqzc8tBU0_ruewTD1fgxrz1EA/view?usp=sharing)

used trtexec to generate the engine:

trtexec --onnx=test_quant_sim.onnx --saveEngine=test_quant_sim.engine --workspace=4096 --int8 --fp16 --noTF32 --verbose --noDataTransfers  --separateProfileRun --dumpProfile --useCudaGraph > test_quant_sim.log

When generating the engine for this onnx model

[2022-07-07 21:30] deephog commented on #1864
I encountered the same issue.

When I'm using 8.4.1.5 (8.4.0.6 as well), the compiling failed with following error code:

[07/07/2022-14:24:53] [E] Error[2]: [qdqGraphOptimizer.cpp::reportWeightlessTwoInputConvolutionAsError::230] Error Code 2: Internal Error (Conv_1444: Could not fuse 2nd input (kernel weights) of CONVOLUTION)

But it can be successfully compiled with earlier version 8.2.5.1

[2022-07-07 21:37] deephog commented on #2131
I previously closed the issue because I thought I figured it out by removing --noTF32 flag. It did successfully compile, but the entire engine fell back to TF32, so basically quantization is not achieved.

This is done with TensorRT 8.2.5.1 shipped with the newest docker image. I also tried 8.4.1.5, compilation failed with following message:

[07/07/2022-14:24:53] [E] Error[2]: [qdqGraphOptimizer.

[2022-07-07 22:46] ece85 opened #2132 "EfficientDet python sample script: create_onnx.py fail for EfficientDetD4 checkpoint"
## Description

/TensorRT/samples/python/efficientdet/python/create_onnx.py sample script fails in update_shapes() function for checkpoint created via finetuning an efficientdet-d4 pretrained model (no error when repeating process based on efficientdet-d7 model).

[code]

I found that the **node.inputs[0].shape[2]** is of size None

the following (hacky) code change enabled me to get past this pro

[2022-07-08 02:16] jacker-whh commented on #2070
Updates to drive OS 6.0.3 for the orin platform, tensorrt 8.4.10. The issue is resolved

[2022-07-08 02:17] #2070 closed

[2022-07-08 03:06] YohannXu commented on #2125
i tried 8.4, but the error still occur. @zerollzeng
![2022-07-08 11-00-23 的屏幕截图](https://user-images.githubusercontent.com/17887665/177908585-e0fa98a1-ce8d-412c-b0a3-b462807fe976.png)
maybe you can try my onnx model
[model.zip](https://github.com/NVIDIA/TensorRT/files/9068644/model.zip)

[2022-07-08 03:59] YohannXu commented on #2125
I update the library, it now works. Thanks @zerollzeng

[2022-07-08 04:59] yo1990 commented on #2019
@nvpohanh
Hi.
Any updates on this issue?

[2022-07-08 05:37] nvpohanh commented on #2019
we are still actively investigating this

[2022-07-08 06:56] nanmi opened #2133 "A Bug occurred when converting onnx containing 'ConvTranspose' to engine with trtexec tool"
## Description

A Bug occurred when converting onnx containing 'ConvTranspose' to engine with trtexec tool.
When using version `8.4.0.6` ,it is not ok, but using `8.2.4.2` it is ok

## Environment

**TensorRT Version**: 8.4.0.6
**NVIDIA GPU**: A10
**NVIDIA Driver Version**:
**CUDA Version**: 11.4
**CUDNN Version**:
**Operating System**: Ubuntu 18.04 LTS
**Python Version (if applicable)**:  3.8
**T

[2022-07-08 07:24] YohannXu commented on #2125
For a simple onnx above, it now works. But for a complex onnx, the error occur again at the first conv3d op.
[model.zip](https://github.com/NVIDIA/TensorRT/files/9069803/model.zip)
@zerollzeng

[2022-07-08 07:31] pangr opened #2134 "Does TensoRT support the fusion of leayrelu and conv?"

[2022-07-08 07:33] EinKung commented on #2123
I've done this by reinstalling environment, may some problems with my docker settings or something....

[2022-07-08 08:03] Audrey528 opened #2135 "Inference speed is weird."
I test inference in GeForce 3090 and Jeston TX2.
The env of 3090 is
[code]
The env of TX2 is
[code]

In 3090, I use darknet/yolov3 to inference and the inference time is 0.031s. And I also use yolov3_onnx of Tensorrt samples to inference, but the inference speed, 1.983s,  is slower. By the way, the inference time is calculated as follows.
![1657267179(1)](https://user-images.githubusercontent.com/

[2022-07-08 10:16] matudouchen commented on #2127
I'm sorry that not clearly decribe my problem. I try to generate quantized yolov5-6.0s model on the Jeston Orin platform. I used the calibiration file and the onnx which is inplict. I try to figure out the problem and I try to remove some calibration layers in the file (say cut off half of the calibration scalars), the Jeston AGX Orin can successfully quantize yolov5s, The cali file and code like

[2022-07-08 12:27] linhnq159 commented on #181
now , did you convert it successfully ? Can you show me cuz i meet the trouble trying to ONNX to TensorRT with F.conv2d on pytorch

[2022-07-08 12:54] zerollzeng commented on #2132
Does following https://github.com/NVIDIA/TensorRT/tree/main/samples/python/efficientdet work for you? I notice that our readme is based on
[code]
Can you try this?

cc @rajeevsrao

[2022-07-08 12:58] zerollzeng commented on #2133
Can you try 8.4 GA? it works for me
[code]

[2022-07-08 13:08] zerollzeng commented on #2130
It's ok

Looks like your cuda installation may have some problems, can you try reinstalling it again? also I wound suggest re-flash the Jetpack entirely.

[2022-07-08 13:11] zerollzeng commented on #2130
also you can use `ldd trtexec` to check the libraries

[2022-07-08 13:20] zerollzeng commented on #2131
try to reproduce with TRT 8.4.
[code]
![image](https://user-images.githubusercontent.com/38289304/177999907-726a4f3a-6166-4827-97d4-5c728958301d.png)

[2022-07-08 13:21] zerollzeng commented on #2131
@ttyio we don't support convolution kernel as a tensor right? it must be an initializer.

[2022-07-08 13:23] akankshabaranwal commented on #2130
I installed a newer version of pytorch 1.12 from here: https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-11-now-available/72048 and the conversion works fine now. Earlier I was building it from source and maybe that was messing something up.
This is with the old version of tensorrt (8.4.0).

[2022-07-08 13:27] zerollzeng commented on #2127
我还是不太明白你的问题，你可以用中文:-)

另外为什么你会需要删掉某些scale呢？

[2022-07-08 17:34] deephog commented on #2131
Just trying to understand the error message. According to the Documentation, TensorRT will try to swap the position of the Q layers backward and DQ layers forward to span as much as possible and merge them when they collide with the other set of Q/DQ layers, in order to maximize the number of operations being quantized.

This error message, sounds like during the swapping process, somehow one of t

[2022-07-08 20:37] ece85 commented on #2132
@zerollzeng and @rajeevsrao  - i updated my repo (https://github.com/ece85/Deploy_EfficientDet.git) to use nvcr.io/nvidia/tensorflow:22.01-tf1-py3.  I am still experiencing the same issue.

[2022-07-08 20:58] oxana-nvidia commented on #1644
Closing as no response provided in >=14  days. Please reopen if there are any updates.

[2022-07-08 20:58] #1644 closed

[2022-07-08 20:59] oxana-nvidia commented on #1637
Closing as no response provided in >=14  days. Please reopen if there are any updates.

[2022-07-08 20:59] #1637 closed

[2022-07-08 21:01] oxana-nvidia commented on #1513
Closing as no response provided in >=14  days. Please reopen if there are any updates.

[2022-07-08 21:01] #1513 closed

[2022-07-08 21:34] oxana-nvidia commented on #1389
Closing as no response provided in >=14  days. Please reopen if there are any updates.

[2022-07-08 21:34] #1389 closed

[2022-07-08 21:34] oxana-nvidia commented on #1317
Closing as no response provided in >=14 days. Please reopen if there are any updates.

[2022-07-08 21:34] #1317 closed

[2022-07-08 22:10] oxana-nvidia commented on #2126
may be related to https://github.com/NVIDIA/TensorRT/issues/1634
cc @jhalakp-nvidia

[2022-07-09 10:45] Mahsa1994 commented on #1289
@nvpohanh  Sry for the delay. Here is the link:

[ResNet50.onnx](https://drive.google.com/file/d/1yS9O5rkwObY5a9CVL6jiUHHE3csJFe5V/view?usp=sharing )

[2022-07-10 22:39] #2061 closed

[2022-07-10 22:39] AsiaCao commented on #2061
thanks @nvpohanh

[2022-07-11 02:56] ttyio commented on #2131
The `fnet.conv1.weight` is shared by multiple conv, and currently TRT cannot constant fold the weights that shared. Dynamic weights input support could fix this, this is already in TRT plan and actively under development.
Before that, @deephog could you WAR this by disable the weights sharing? maybe use graphsurgeon to make a copy of `fnet.conv1.weight`? Thanks!

[2022-07-11 03:43] ttyio commented on #2126
@deephog , could you do some `sensitive` test on your qat model following code:

https://github.com/NVIDIA/NeMo/blob/main/examples/asr/quantization/speech_to_text_quant_infer.py#L122

This might tell us which q/dq node contribute to the NaN, then lt's check the quantization information in this q/dq node, and either there is bug or maybe this node is not suitable for INT8.
thanks!

[2022-07-11 08:03] pangr opened #2136 "What does “Reformatting CopyNode for Input Tensor” mean in trtexec' dump profile"
## Description

What does “Reformatting CopyNode for Input Tensor” mean in trtexec' dump profile

## Environment

**TensorRT Version**:
**NVIDIA GPU**:
**NVIDIA Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**Operating System**:
**Python Version (if applicable)**:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:

##

[2022-07-11 08:34] nvpohanh commented on #2136
By default, TRT assumes that the network inputs/outputs are in FP32 linear (i.e. NCHW) format. However, many tactics in TRT require different formats, like NHWC8 or NC/32HW32 formats, so TRT automatically inserts Reformat layers to transform the format of the tensors.

If you want to eliminate the cost of these additional reformats for the network input, you may be able to specify the network inpu

[2022-07-11 08:48] Audrey528 commented on #2135
@nvpohanh Thanks for your reply. The previous code has added a synchronization after execute_async_v2(). And when I use yolov3_onnx of Tensorrt samples to inference , the occupation of GPU is 1757M, which should provides that used GPU. Am I right. However, when I use darknet/yolov3 to inference, the occupation of GPU is 12789M. I can't find the question.
![image](https://user-images.githubusercont

[2022-07-11 10:27] pangr commented on #2136
Sorry, it doesn't work, Is there any inference in pytorch_quantization, I just doesn't want to quantify “Gemm”

[2022-07-11 10:31] nanmi commented on #2133
oh no this is not work, sad
[code]

[2022-07-11 13:02] nvpohanh commented on #2133
Maybe try adding `--workspace=1024`?

[2022-07-11 14:30] HarrySm opened #2137 "Building SampleINT8API Docker ERRORS"

[2022-07-11 16:29] DavidNguyen95 opened #2138 "Detectron2 model convert to TensorRT"
I follow your sample here that support convert detectron2 model to TensorRT :
[https://github.com/NVIDIA/TensorRT/tree/main/samples/python/detectron2](url)

I share my code on colab here [https://colab.research.google.com/drive/1L7OcEkyetcqZeDB-TmiH0M85TOQ7ge6t#scrollTo=1zwdEdx8Em0K](url)

I stuck at convert from caffe to onnx graph

Error here:

`Traceback (most recent call last):
  File "TensorR

[2022-07-11 16:52] #2137 closed

[2022-07-11 21:46] deephog commented on #2131
Thank you for your reply! Actually I don't know why weight sharing is happening and I did not intentionally do that at all. And I tried to search the node you mentioned about in the graph, I didn't see why you think the weight is being shared.
![image](https://user-images.githubusercontent.com/1251361/178363394-2888e370-f0cd-469b-b7a8-ff4e9ad3d8e8.png)

And by the way, like I mentioned in the post

[2022-07-11 23:58] deephog commented on #2131
I see why you think it is weight sharing. The backbone (fnet) is indeed used twice. Actually to prevent this kind of issue, I tried to declare the module twice with different name, then loaded the same weight. In the original onnx file, there are two modules with different names. Somehow the ONNX-simplifier find this out and eliminated the cloned backbone. I need to find out how to prevent ONNX-si

[2022-07-12 01:41] pangr commented on #2134
Ok, Thank you for your reply

[2022-07-12 02:47] nanmi commented on #2133
I downloaded the latest GA version from the official website, then the version is `8.4.1.5`, and then I tried to follow your method, but it was unsuccessful. In addition, isn't the `--workspace` parameter canceled after tnesorRT version `8.4`?  isn't it set to the maximum space of video memory?
[code]

[2022-07-12 02:48] nanmi commented on #2133
@nvpohanh

[2022-07-12 02:52] nvpohanh commented on #2133
Yes, that is the thing that confused me as well. Why is TRT thinking that you have 0-workspace restriction even though you didn't add `--workspace` flag (i.e. infinite workspace) or when you add `--workspace=1024`?

Could you do `ldd ../TensorRT-8.4.1.5/bin/trtexec` and make sure that it links to the correct `libnvinfer.so.8`?

[2022-07-12 03:26] pangr commented on #2134
Does TensorRT support leakyrelu quantization?

[2022-07-12 03:45] nvpohanh commented on #2134
Whether the fusion happens depends on whether TRT has tactics supporting that. The very rough guidelines are:

- Conv+LeakyReLU should be fused in FP16 or in INT8 on Turing and Ampere GPUs.
- Other precisions and older GPUs are not guaranteed. If TRT doesn't have a tactic supporting this fusion, TRT will fall back to two-kernel approach.
- If QAT (i.e. Q/DQ ops) is used, then Conv+LeakyReLU can on

[2022-07-12 03:48] lygbuaa opened #2139 "how can I change onnx opset version in polygraphy?"
## Description
I was working on an onnx-tensorrt project, here is my onnx model custom_inverse.onnx
[custom_inverse.zip](https://github.com/NVIDIA/TensorRT/files/9089302/custom_inverse.zip)
First of all, I can run custom_inverse.onnx with **onnxruntime-1.11.1** correctly.

But then, I tried `polygraphy surgeon sanitize custom_inverse.onnx --fold-constants --output custom_inverse_op13_folded.onnx`,

[2022-07-12 09:56] Fuzhiyuan opened #2140 "When run "python -m pip install colored polygraphy --extra-index-url https://pypi.ngc.nvidia.com", Can`t find install.ps1"

[2022-07-12 10:40] Pawel842 opened #2141 "ONNX -> TRT Error Code 1 and 2: Cask (isConsistent) and Internal Error (Assertion enginePtr != nullptr failed.)"
## Description

Hello,

I'm trying to deploy ONNX model using TensorRT, but errors occours.
![image](https://user-images.githubusercontent.com/89902894/178472152-766ec09c-eddc-4474-810d-7ac45e3421d7.png)

Used command:
`./trtexec --onnx=/home/nvidia/trt_conversion/build-yolo-tensorrt/model/tfmodel_lin_19_batchsize.onnx --saveEngine=test.trt --verbose`

The model was converted to ONNX from 'SavedMo

[2022-07-12 11:32] zerollzeng commented on #2141
Can you try TRT 8.4?

[2022-07-12 11:44] zerollzeng commented on #2139
This error is cast by onnxruntime not polygraphy, I can run the model with polygraphy
[code]
As the log show above, looks like your onnx model is invalid, some initializer is never use. including those you see the error.

[2022-07-12 11:51] zerollzeng commented on #2138
@kevinch-nv ^ ^

You have to convert the engine On Jetson.

[2022-07-12 12:42] Pawel842 commented on #2141
The newest Xavier I got have tensorrt==8.2.1.8
and the same error showed up.

[2022-07-12 12:59] pangr commented on #2134
Thank you for your reply, I tried the above method, but the model inference dump profile is as follows, leakyrelu and conv do not seem to be fused
![image](https://user-images.githubusercontent.com/5838111/178495522-48d70c81-ad72-4ab8-b022-af27bd5b32ad.png)
![image](https://user-images.githubusercontent.com/5838111/178495625-c5337d44-fc81-4d69-8295-db9e564b57ee.png)

[2022-07-12 13:09] zerollzeng commented on #2141
[code]
looks like the issue has been fixed in 8.4, can you upgrade your jetpack version?

[2022-07-12 13:54] Pawel842 commented on #2141
So it is required to install JP5.0 or 5.1?
Is it possible to only upgrade tensorrt to 8.4?

[2022-07-12 14:32] habjoel opened #2142 "samples/python/detectron2"
Hi there,

I have been following the tutorial on samples/python/detectron2 to deploy a Mask-RCNN model to TensorRT. However, the following sentence makes me wonder:
`Detectron 2 Mask R-CNN R50-FPN 3x model is dynamic with minimum testing dimension size of 800 and maximum of 1333`

I keep reading these image sizes in relation with Mask-RCNN models. E.g. [on this page from ONNX on Mask-RCNN](https:/

[2022-07-12 15:51] zerollzeng commented on #2141
I would suggest installing the latest Jetpack, there are other dependencies that will need to upgrade too.

[2022-07-12 17:04] GremSnoort commented on #2129
Hello,
has the same error:
[code]
when running **trtexec** tool (from https://github.com/NVIDIA/TensorRT/tree/main/samples/trtexec) on environment:
ubuntu 20.04
CUDA as here: https://gitlab.com/nvidia/container-images/cuda/-/tree/master/dist/11.6.2/ubuntu2004
TensorRT as here: https://github.com/NVIDIA/TensorRT/blob/release/8.4/docker/ubuntu-20.04.Dockerfile
[code]
Running on GPUs:
    * NVIDIA Ge

[2022-07-12 18:01] azhurkevich commented on #2093
@SEHAIRIKamal So you definitely should not try to convert ONNX on Jetson, this will be a source of a lot of headaches related to libraries compatibility with ARM. We highly recommend converting ONNX on your computer -> taking that resulted ONNX and using it on Jetson device to build TRT engine from ONNX. ONNX models are portable, TRT engines are not (between different architectures).

Not sure how

[2022-07-12 18:14] azhurkevich commented on #2093
@SEHAIRIKamal you'll probably have to use [DeepStream](https://developer.nvidia.com/deepstream-sdk) for real time video inference. Not sure how PIL is supposed to play with it though.

[2022-07-12 22:13] deephog opened #2143 "Do I have to do PTQ before QAT with pytorch_quantization toolkit?"
In the only example provided in the toolkit, it loaded the PTQ calibrated weights and did the QAT based on it. There isn't a standalone QAT example without PTQ.

I tried to do QAT without PTQ (just quant_modules.initialize() to swap the layers and start training), it runs well in python and I got pretty good results. But when I try to export the QATed model to TRT, it gives me error saying "the sc

[2022-07-13 01:41] Fuzhiyuan commented on #2140
@zerollzeng
I just run that command, then can not find install.psl fiI le in polygraph document. So, I think I can not inform you more information.
The following is the tree which I get when the comman is finished.

`
|—python
|---|---lib
|     |    | site-package
|     |    |    |--colored
|     |    |    |--colored-1.4.3-py3.8.egg-info
|     |    |    |--polygraphy-0.36.2.dist-info
|     |    |

[2022-07-13 02:22] lygbuaa commented on #2139
@pranavm-nvidia Thanks for your patch, but which branch should I apply it, main or release/8.4?

[2022-07-13 03:42] duduscript commented on #1969
@marcortiz11 Thank you, I add an identity layer for output tensor solved this problem.

[2022-07-13 05:50] matudouchen commented on #2127
您好，非常感谢，因为我之前尝试8.4.0版本量化所有的结点会报错 (an illegal memory access was encountered)，所以删除一部分节点的进行了尝试。

除了这个问题之外我尝试使用显式量化的方式使用trtexec工具量化yolov5s模型，在tensorrt8.0、8.2、8.4.1都会量化成功，同样在8.4.0版本发生错误（Could not find any implementation for node model.0.conv.weight + PPQ_Operation_2_quantize_scale_node + Conv_0+PWN(PWN(sigmoid_1), Mul_2).)

我认为这会是版本的一个bug，但是我无法更改tensorrt版本，因为我使用的是jeston平台最新的jetpack包，tensorrt版本固定为8.4.0，

[2022-07-13 06:19] Xinchengzelin commented on #517
If the actual FLOPs(We deploy the engine in our project) is less than  `trtexec` FLOPs,  the reason is the deploy code we write,  right?

[2022-07-13 06:24] lygbuaa commented on #2139
@pranavm-nvidia Excellent, i applied this patch on release/8.4, and the [ONNXRuntimeError] is gone!

[2022-07-13 06:24] #2139 closed

[2022-07-13 10:58] zerollzeng commented on #2127
@ttyio Is this a known issue?

[2022-07-13 12:16] zerollzeng commented on #2129
@nvpohanh Looks like a real bug here.

[2022-07-13 17:25] dev0x13 opened #2144 "[Feature request] Make using incompatible timing caches for building CUDA engines not a hard error"
## Description

I am currently researching ways for speeding up building TensorRT's CUDA engines in the runtime from ONNX models using the C++ API. That is, I am loading the ONNX file, building a CUDA engine from it and then using the latter for inference.
For some specific reasons it is not possible for my application neither to prebuild engines before running the application nor to store those o

[2022-07-13 19:06] deephog commented on #2131
Here is an updated version of ONNX [file](https://drive.google.com/file/d/1GVmxOIIGN5btciDzAsa2N2n9TFKNl6xP/view?usp=sharing)

The previous "dual weights no input" errors are cleaned or evaded. However, a new error occurred which is difficult to trace.

Error[2]: [engineTacticSupplyHelpers.cpp::makeEngineTensor::55] Error Code 2: Internal Error (Assertion isMultiple(tensor.start[vectorDim], spv) f

[2022-07-13 21:40] kennethgomez01 opened #2145 "Compiling TensorRT for python3.9 in Jetson Nano"
I am just wondering how to compile TensorRT for python3.9, the tensor comes with Jetpack is for python3.6.

Operating System. Ubuntu 18.04.6 LTS (GNU/Linux 4.9.253-tegra aarch64)
Module: Jetson Nano Developer (4GB)

[2022-07-14 02:57] nanmi commented on #2133
Yes, the workspace parameter has been cancelled after `tensorRT 8.4`. By default, the maximum GPU memory space is used. If you want to set the size of the space used, you can use `--memPoolSize:worksapce=512`, and `trtexec` can not link to the correct so library😂, I will try again
$ ldd ../TensorRT-8.4.1.5/bin/trtexec
        linux-vdso.so.1 (0x00007ffdc7de9000)
        libnvinfer.so.8 => /usr/lib

[2022-07-14 06:49] kennethgomez01 commented on #2145
@d57montes Can you elaborate to how to accomplish this? Because whenever I run the ./build.sh I am getting the "no Make File"

[2022-07-14 07:27] sam-h-bean opened #2146 "Allocating TensorRT model on GPU consumes all available Memory"
## Description

When I llocate a TensorRT model on GPU it consumes all available memory on the device. I have tried instantiating the model with an empty GPU and with another model on the GPU and both work but fill the CUDA memory to full. This seems to indicate that TensorRT is consuming all available memory on GPU.

## Environment

**TensorRT Version**: 8.4.1.5
**NVIDIA GPU**: Tesla V100
**NVIDI

[2022-07-14 07:49] pangr opened #2147 "How to add QDQ before LeakyRelu"
## Description

## Environment

**TensorRT Version 8.4:
**NVIDIA GPU p40:
**NVIDIA Driver Version 470:
**CUDA Version 11.0:
**CUDNN Version 8.1:
**Operating System linux:
**Python Version (if applicable) 3.6:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:

## Relevant Files

## Steps To Reproduce

How to add QDQ before Leak

[2022-07-14 08:11] gzpan opened #2148 "The docstring of Python class tensorrt.IBuilderConfig.algorithm_selector is miss"
## Description

## Environment

**TensorRT Version**: 8.4.1
**NVIDIA GPU**:
**NVIDIA Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**Operating System**:
**Python Version (if applicable)**:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:
The screenshot of [python api](https://docs.nvidia.com/deeplearning/tensorrt/api

[2022-07-14 08:31] love-SE opened #2149 "convert .onnx to .trt"

[2022-07-14 09:00] Fuzhiyuan opened #2150 "load .trt file built by trtexec to create an engine by running engine = runtime->deserializeCudaEngine(), but get null"
I use trtexec to build an engine file, and try to load it by ifstream(name,std::ios::binary), but got null engine. what should Ido?

[2022-07-14 09:40] #2149 closed

[2022-07-14 12:40] DavidNguyen95 commented on #2138
Hello, Do you have any update? .
I am so confuse in your sample, You convert onnx to onnx graph using (onnx_graphsurgeon) and then convert to TRT.  why don't we convert ONNX to TensorRT directly? What extactly onnx_graphsurgeon do in this case?

[2022-07-14 13:39] d57montes commented on #2145
If you look inside build.sh, there's some environment variables that have to be set. Did you set those all correctly?

[2022-07-14 15:18] SEHAIRIKamal commented on #2093
Hi @zerollzeng
Thank you for your comments; this is what I have done, I have generated the ONNX model on my PC. Then, I used this ONNX model to generate the TensorRT engine on the Jetson Nano, and it works correctly.
For video testing, I will try to convert the existing code with OpenCV instead of PIL to be able to read images from the camera. I will givetry to deepstream also.
Thanks again

[2022-07-14 16:52] li2508264 opened #2151 "For any input TensorRT model output is all zero"
## Description

Generate a trt model by onnx ,but the output of trt is all zero ,just a zeros array, even different input.
This is the onnx model: https://drive.google.com/file/d/1CgVeSOk51NdZtSwQjO2kJ6u5oc8NyiLe/view?usp=sharing
my trt file : https://drive.google.com/file/d/17MF_M2BzTb7qvtoGKxmChsbUM0dVKhvI/view?usp=sharing
the code of onnx to trt:
[code]
the code of get_engine：
[code]
the code o

[2022-07-14 19:48] kennethgomez01 commented on #2145
Yes, I set them accordingly to settings. But since I am not an expert or experienced in compiling TensorRT directly from the source, it confused me. It would be better if you could provide some steps to support your ideas for accomplishing this. But I thank you for your help.

[2022-07-14 19:50] deephog commented on #2126
I couldn't get through the sensitivity test, but somehow I fixed the model by doing layer by layer quantization module swap. Now not only the PTQ never gives 'nan' values, the PTQ process itself became much faster.

I will close the thread for now as it is solved. I will keep looking for which layer caused the issue, if you guys are interested as well, please let me know, I will came back with wha

[2022-07-14 19:50] #2126 closed

[2022-07-14 19:58] d57montes commented on #2145
There are no additional steps other than the ones provided in TensorRT/python/README.md. If you're receiving any errors, it might help to share the commands you ran and the output.

From the issue I linked above (#1670):
[code]
If you do the above (with the new links), and recursively clone this repo (`git clone --recursive https://github.com/NVIDIA/TensorRT.git`), it should be good to go.

[2022-07-14 20:57] kennethgomez01 commented on #2145
Thanks for your reply. The issues occur when I enter the following command as follow.
`cd $TRT_OSSPATH/python
PYTHON_MAJOR_VERSION=3 PYTHON_MINOR_VERSION=9 TARGET_ARCHITECTURE=aarch64-linux-gnu ./build.sh`

The cd $TRT_OSSPATH/python  directory has no build.sh only folder name build.

[2022-07-15 03:31] pangr commented on #2143
Do I have to do PTQ before QAT with pytorch_quantization toolkit?

[2022-07-15 03:32] pangr commented on #2143
Has the problem been solved

[2022-07-15 03:43] deephog commented on #2143
No, but because I solved the problem that makes the PTQ very slow and buggy, now PTQ first then QAT is no longer an issue. I'm still interested in doing QAT alone though.

[2022-07-15 03:50] zhoutianzi666 opened #2152 "addFullyConnected will be replaced by addMatrixMultiply + addElementWise?"
## Description

## Environment

**TensorRT Version**:
**NVIDIA GPU**:
**NVIDIA Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**Operating System**:
**Python Version (if applicable)**:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:

## Relevant Files

## Steps To Reproduce

<img width="1132" alt="image" src="https://

[2022-07-15 03:53] zhoutianzi666 commented on #2128
please reply me

[2022-07-15 04:36] kennethgomez01 commented on #2145
This solved the problem by changing the build.sh /workspace/TensorRT to the location of TensorRT(Clone from Github)

[2022-07-15 04:36] kennethgomez01 commented on #2145
This solved the problem by changing the build.sh /workspace/TensorRT to the location of TensorRT(Clone from Github)

[2022-07-15 04:36] #2145 closed

[2022-07-15 05:27] Cuzny opened #2153 "3dconv takes too long"
3dconv takes too long. The model implemented in pytorch takes 60+ms, but it needs 1000ms+ after deployment on the C++ side through TensorRT. Is there any solution?

[2022-07-15 05:43] harshraj22 commented on #1820
@ttyio
Getting the following issue:
[code]

for the given code
[code]

[code]

[2022-07-15 05:53] Cuzny commented on #2153
input [3, 8, 256, 320] → [64, 8, 128, 160]
conv3d: out_channel=64,  kernel=1,7,7， stride=1,2,2，padding=0,3,3
this op costs 24ms....

[2022-07-15 06:27] yitian8377 opened #2154 "ONNX inference results are different from Pytorch inference results"
Refer to [https://github.com/NVIDIA/TensorRT/tree/master/tools/pytorch-quantization/examples](url)
1. calibrate_quant_resnet18
2. finetune_quant_resnet18
3. export to onnx
But the ONNX inference results are different from Pytorch inference results:

Mismatched elements: 980 / 1000 (98%)
Max absolute difference: 0.11406998
Max relative difference: 33.32787
x: array([[ 8.407020e-02,  2.851861e+00,

[2022-07-15 06:48] LeoCho1learning opened #2155 "Output of multiscaledeformableattention plugin is all zero"
hi, I'm trying to test the released multiscaledeformableattention plugin,  but all my output is 0.
here is my test code

    import tensorrt as trt
    import os
    from cuda import cudart
    import numpy as np

    def getDeformAttnPlugin():
      for c in trt.get_plugin_registry().plugin_creator_list:
          if c.name == 'MultiscaleDeformableAttnPlugin_TRT':
              return c.create_pl

[2022-07-15 07:12] #2155 closed

[2022-07-15 12:04] JackSnowWolf opened #2156 "How to compile tensorrt in safety runtime on GTX 30* series."
When I used GA version for 8.4.1 on GTX 3090 (installed with deb), I want to convert a simple resetnet50 onnx model to trt engine with trtexec in safety model. With using `--safe` flag, it said I didn't have safety runtime. I'm not sure about how to get an engine in safety mode on GTX 3090. I saw TensorRT had already provide `safe` runtime header in include folder.

Do you provide safe runtime `.s

[2022-07-15 12:48] hyperfraise commented on #2153
You should really give reproductible code and an environment info.

[2022-07-15 12:55] Cuzny commented on #2153
I'm sorry, my environment info:
Jetson Xavier NX 4.5.1 Ubuntu 18.04
CUDA 10.2 Cudnn 8.0.0

Simplify code:
ICudaEngine* createEngine(unsigned int maxBatchSize, IBuilder* builder, IBuilderConfig* config, DataType dt)
{

    INetworkDefinition* network = builder->createNetworkV2(0U);

    ITensor* data = network->addInput(INPUT_BLOB_NAME, dt, Dims4{32, 3, 256, 320});
    assert(data);

    std::map<s

[2022-07-15 13:36] hyperfraise commented on #2153
I'm not a TensorRT dev, but I'm interested in having the state of this software improve when it comes to 3d conv, so I'd like this to lead somewhere as fast as it can. Please share what hardware you use to do pytorch inference which runs faster in your observations. Also please use fully reproductible code. TensorRT devs will need the full instanciation of the network, optimization code, the comma

[2022-07-15 13:55] Cuzny commented on #2153
I'm sorry that my network cannot be shared.
But in fact, my network is slow only because of the op conv3d. The speed of BN3d and pool3d is similar to that of pytorch. If you want to optimize it, you can only optimize conv3d.

[2022-07-15 14:15] hyperfraise commented on #2153
Then you should

as I pointed out. If your problem isn't specific to your use case, it should appear on those as well.

[2022-07-15 14:32] Cuzny commented on #2153
I have run the resnet3d, it also takes so long.
git@github.com:tinchee/r3d_TensorRT.git

[2022-07-15 15:10] hyperfraise commented on #2153
Good luck.

[2022-07-15 15:56] zerollzeng commented on #2156
Safety is only for the Drive Platform(QNX).  @nvpohanh should we remove this flag in standard build?

[2022-07-15 16:05] zerollzeng commented on #2154
https://github.com/NVIDIA/TensorRT/issues/2103#issuecomment-1170081821

Your problem seems similar to https://github.com/NVIDIA/TensorRT/issues/2103. Does it apply to your case?

[2022-07-15 16:10] zerollzeng commented on #2153
@Cuzny Can you provide an onnx model here that only contains your conv3d operators? or a code sample that I can reproduce on my side?

also Can you try TRT 8.4 first?
cc @nvpohanh

[2022-07-15 16:15] zerollzeng commented on #2152
It should still work in 8.4 but will be deprecated in the future. more info: https://docs.nvidia.com/deeplearning/tensorrt/release-notes/tensorrt-8.html#rel-8-4-0-EA

[2022-07-15 16:22] zerollzeng commented on #2150
refer to https://github.com/zerollzeng/tiny-tensorrt/blob/d267b9cc9be5408a3c5a1b4c57e0be2d24a7de1d/src/Trt.cpp#L286

[2022-07-15 16:29] zerollzeng commented on #2151
I can reproduce it using polygraphy.
[code]
[I]         trt-runner-N0-07/15/22-09:26:31: output | Stats: mean=-0.0028956, std-dev=0.094472, var=0.008925, median=-0.013166, min=-0.17494 at (26, 3), max=0.1333 at (24, 5), avg-magnitude=0.07378
[I]         onnxrt-runner-N0-07/15/22-09:26:31: output | Stats: mean=-0.0028956, std-dev=0.094472, var=0.008925, median=-0.013166, min=-0.17494 at (26, 3), ma

[2022-07-15 16:31] zerollzeng commented on #2148
@pranavm-nvidia ^ ^

[2022-07-15 16:33] pranavm-nvidia commented on #2140
@Fuzhiyuan Are you trying to build from source, or use the pre-built wheels? For the pre-built wheels, all you need to do is:
[code]

[2022-07-15 16:38] pranavm-nvidia commented on #2148
Thanks for pointing this out, will fix

[2022-07-15 16:41] zerollzeng commented on #2146
I don't see TRT is involved in your Step to Reproduce. More like an issue on `optimum` or `transformers`

BTW can you try using trtexec to convert your model? e.g. `trtexec --onnx=model-quantized.onnx --int8 --fp16 --saveEngine=model-quantized.onnx.plan`

[2022-07-15 16:42] zerollzeng commented on #2144
@nvpohanh ^ ^

[2022-07-15 16:47] zerollzeng commented on #2143
@ttyio ^ ^

[2022-07-15 16:48] zerollzeng commented on #2142
@kevinch-nv Can you help triage it since Rajeev is OOO. thanks!

[2022-07-15 23:49] billysx opened #2157 "TensorRT not supporting ViT?"
Using the tutorial jupyter notebook
https://github.com/NVIDIA/TensorRT/blob/main/quickstart/IntroNotebooks/4.%20Using%20PyTorch%20through%20ONNX.ipynb
with only 2 modifications:

1. In block 1: `resnet50 = models.resnet50(pretrained=True).eval()` ->
`resnet50 = vit_b_16 = timm.create_model('vit_base_patch16_224', pretrained=True).eval()`

2. In block 6: `resnet50_gpu = models.resnet50( pretrained=

[2022-07-16 02:48] zerollzeng commented on #2157
TensorRT does support ViT, as you can see, you successfully convert the onnx to trt engine and you can see the inference latency and throughput in the log of trtexec.

[2022-07-16 03:31] li2508264 commented on #2151
Thx your reply @zerollzeng . So it means the inference code of python is too old？Sorry, polygraphy means the output not zeros?

[2022-07-16 06:50] tonyskypc opened #2158 "Question about INT8 quantization Slower"
## Description
yolov5s base pytorch-quantization

reference  https://github.com/maggiez0138/yolov5_quant_sample

onnx->fp16  3ms
qat->onnx->int8 4ms

why? please tell me，thanks.

## Environment

**TensorRT Version**:8.2
**NVIDIA GPU**: geforce 3060ti
**NVIDIA Driver Version**: 510
**CUDA Version**: 11.4
**CUDNN Version**: 7.2
**Operating System**: ubuntu 18.04
**Python Version (if applicable)**: 3

[2022-07-16 08:05] liwenju0 commented on #2040
I also encounter this problem, have U solved it?

[2022-07-16 08:45] kennethgomez01 commented on #2150
@zerollzeng can you elaborate a little more, because I also had the same issue when I tried to load the .trt. Thank you!