[2020-07-05 05:03] Gxqiang opened #664 "samples/trtexec compile failed!"
## Description

samples/trtexec compile failed!
`/usr/bin/ld: CMakeFiles/trtexec.dir/trtexec.cpp.o: in function `main':
trtexec.cpp:(.text+0xa6d): undefined reference to `initLibNvInferPlugins'
collect2: error: ld returned 1 exit status
make[2]: *** [opensource/trtexec/CMakeFiles/trtexec.dir/build.make:167：out/trtexec] 错误 1
make[1]: *** [CMakeFiles/Makefile2:1267：opensource/trtexec/CMakeFiles/trte

[2020-07-05 05:09] #664 closed

[2020-07-05 13:46] Zenvi opened #665 "Something Wrong with OSS after the Release of TensorRT 7.1"
Before the release, I was able to convert my RetinaFace FaceDetector to TRT engine file using the method:
[https://github.com/NVIDIA/TensorRT/issues/386#issuecomment-604183816](url)
Yet after the release, I get Segmentation Fault (core dumped) every time when I tried to do the conversion.
`Segmentation fault (core dumped)`
Yet another, creep things happen, when I enable the '--verbose' option in '

[2020-07-05 14:59] PiyalGeorge commented on #620
Hi, anyone was able to convert the yolov5 model to tensorrt model?

[2020-07-05 19:27] Shaked opened #666 "Ubuntu docker uses a broken link for NGC client"
## Description

Running the following command:

[code]

Ends up with:

[code]

I believe that the origin of the problem is located in  [docker/ubuntu.Dockerfile#L68](https://github.com/NVIDIA/TensorRT/blob/master/docker/ubuntu.Dockerfile#L68).

Following the instruction on https://ngc.nvidia.com/setup/installers/cli, it seems like the URL should be https://ngc.nvidia.com/downloads/ngccli_cat_linux

[2020-07-05 23:24] rmccorm4 commented on #666
Hi @Shaked ,

Nice catch, and you already found the fix 🙂

PR here: #667

[2020-07-05 23:27] #666 closed

[2020-07-06 01:02] Zenvi commented on #665
@rmccorm4 Summoning the big guy.

[2020-07-06 02:35] zhouyuangan commented on #334
Here is my code example, I had solved this problem. The problem occurs at `createEngine` function.
[code]
So the `data` will be kINT type，the `IConvolutionLayer` should accept `kFLOAT` type data.
[code]

## solution

change `ICudaEngine* engine = createEngine(maxBatchSize, builder, DataType::kINT);`
into `ICudaEngine* engine = createEngine(maxBatchSize, builder, DataType::kFLOAT);`

[2020-07-06 07:04] wanghr323 opened #668 "question about TensorRT mixed precision"
Hi, I've recently been using tensorRT for mixed precision inference, and according to the documentation instructions I can set the entire network to int8 precision:.
[code]
Then I can set the precision of some of these layers to fp32.
Using：

`network->getLayer(i)->setPrecision(PerTensorPrecision.at(tname));`

Now I have a question, how do I see exactly which layers are set to what precision by Te

[2020-07-06 12:29] TerryBryant commented on #638
@rmccorm4 after upgrade to tensort7.1, this problem fixed, thanks a lot!

[2020-07-06 13:04] liming312 opened #669 "Segmentation fault in int8 calibration using existing calibration cache file"
## Description

When I convert a model to int8 quantized model using existing calibration cache file (just generated in last run), there is "Segmentation fault" error as shown in the image below. But I do the conversion with calibration data (do not use off-the-shell calibration cache file), there is no such error.

## Environment

**TensorRT Version**: 7.0.0.11
**GPU Type**: Tesla T4
**Nvidia Dri

[2020-07-06 14:11] #669 closed

[2020-07-07 02:49] HelloAlone opened #670 "ERROR: builtin_op_importers.cpp:2179 In function importPad: [8] Assertion failed: inputs.at(1).is_weights()"
## Description

My current workflow is pb -> onnx -> tensorrt. Thanks to @jignparm , (refer [https://github.com/onnx/tensorflow-onnx/issues/994](https://github.com/onnx/tensorflow-onnx/issues/994)) I finally converted the original pb to onnx model. But I received a importPad error when converting onnx to tensorrt engine. It seems is a TensorRT issue according to jignparm.

ERROR: builtin_op_import

[2020-07-07 05:23] liming312 opened #671 "IndexError: _Map_base::at"
## Description

When I convert a model from ONNX to TensorRT, there is an error "IndexError: _Map_base::at" as shown in the image below. In this model, I intentionally removed a FC layer for debugging purpose. If I add the original FC layer to make it a normal classification network, everything works well.

![image](https://user-images.githubusercontent.com/67087947/86717440-091d2400-bfd7-11ea-846

[2020-07-07 06:37] oak-tree commented on #508
Hey, we are looking for a way to cross compiled our code with TensorRT as well. Any news about that?

[2020-07-07 19:05] #671 closed

[2020-07-07 23:16] rmccorm4 commented on #649
Hi @CallmeZhangChenchen ,

It looks like TensorRT 7.1 results are the same as ONNX Runtime for this model. So it might actually be that TensorRT 6 was not totally correct.

Can you share more details on your inference code? Perhaps there's an issue there.

[2020-07-08 05:41] liming312 opened #672 "Infinity scale in calibration cache file"
Hello,

Thanks for this great repo. I used the provided script to convert a searched network (onnx model) to int8 model with int8 calibration. The onnx model works fine but the output of trt engine is wrong. When I check the calibration cache file, I found many of the quantization scales are "Infinity" and the others are very large. I converted the cache file to json file, it looks as the attached

[2020-07-08 06:04] CallmeZhangChenchen commented on #649
Hi @rmccorm4
When I converted the model, the onnx version was 1.4.1, which was converted by mxnet1.6.0

[code.tar.gz](https://github.com/NVIDIA/TensorRT/files/4888783/code.tar.gz)

The above compressed package is my streamlined Cmake project, environment, temsorrt6.0, opencv3.4.6, eigen3, cuda10.0, cudnn7.6
I have tested this project and can get the correct results.
You can change the configuratio

[2020-07-08 07:17] yshvrdhn commented on #612
any updates @rajeevsrao ?

[2020-07-08 10:21] Shaked opened #673 "How should I compile ARM based on x86_64?"
Hello,

I'm trying to compile this repository for ARM. This is the steps I have taken so far:

- I have created a GCP VM with enough space (200GB)
- Install all [prerequisites](https://github.com/NVIDIA/TensorRT#prerequisites) on my host device.
- Download all .deb files from `sdkmanager`:

[code]

- Build the `ubuntu-cross-aarch64.Dockerfile` image. Currently **without** GPUs as I'm saving costs.

[2020-07-08 12:54] RunningLeon commented on #310
Have you solved this problem?

[2020-07-08 14:12] oak-tree commented on #673
@Shaked
I tried to  the following :
[code]

It did better and protopuf got it the 100%. But it fails to link CUDA libraries. So now my guess is that I'm still missing `cmake` varibale to tell the cross linker where are the libs?

[code]

[2020-07-08 17:43] makaveli10 opened #674 "how to make memset op async and use the same cuda stream for performing that operation"
Yolov5 tensorRT model works fine when not hooked up in deepstream so to fix that I need to make this memset op async and use the same cuda stream for cudaMemset [line no 4] op:

    void YoloLayerPlugin::forwardGpu(const float *const * inputs, float* output, cudaStream_t stream, int batchSize) {
           int outputElem = 1 + MAX_OUTPUT_BBOX_COUNT * sizeof(Detection) / sizeof(float);
          fo

[2020-07-08 19:44] Shaked commented on #673
@oak-tree

Your solution seems good!

I used the following:

[code]

Then I ran

[code]

At some point I see things like:

[code]

Attached full log:

[x.log](https://github.com/NVIDIA/TensorRT/files/4892890/x.log)

[2020-07-08 20:56] #672 closed

[2020-07-08 23:30] abx67 commented on #612
Same here, waiting for rectangular update @rajeevsrao  Many thanks!

[2020-07-08 23:33] rajeevsrao commented on #612
Sorry to keep you waiting - I was busy with the 7.1 OSS release. Updated ETA for this is by end-of-week (07/10).

[2020-07-09 07:47] RunningLeon commented on #310
Hi,
I met same problem when try to convert mxnet->onnx->tensorRT
Originally, prelu's slope param has shape of (C,) and the output info is :
`[TensorRT] ERROR: (Unnamed Layer* 11) [Parametric ReLU]: slope tensor must be unidirectional broadcastable to input tensor
[TensorRT] ERROR: (Unnamed Layer* 11) [Parametric ReLU]: slope tensor must be unidirectional broadcastable to input tensor
[TensorRT] ER

[2020-07-09 08:17] cloudhan commented on #310
If you are using mxnet to onnx, you need to monkey patch the conversion script with unsqueezed gamma tensor.
In mxnet prelu's gamma is stored as of shape [num_channel], whereas onnx unidirectional-broadcastable requires it to be of shape [1, num_channel, 1, 1].

[2020-07-09 11:55] Ram-Godavarthi opened #675 "Tensorflow to UFF to TensorRT conversion no detection on custom training"
## Description

Hallo,
I have a problem with ssd inception v2 2017-11-17 model.

I want to train using my dataset of 38 classes and port it to UFF and run the inference in TensorRT on Jetson Nano.

I was successful with all the steps above for standard model : ssd_inception_v2_2017_11_17.
But when I retrain it using my data. I am not getting any detection boxes in TensorRT.

Tensorflow training is

[2020-07-09 13:31] abidmalikwaterloo opened #676 "TensorRT backend Optimizations"
I am looking into TensorRT optimizations. Any idea where to start? and how to contribute?
I apologize if this is not the right forum to ask this question.

[2020-07-10 03:53] yuzhiyiliu commented on #213
self.grid_x = torch.cuda.FloatTensor([list(range(g))]*g).view([1, 1, g, g])
        self.grid_y = torch.cuda.FloatTensor([[x] * g for x in range(g)]).view([1, 1, g, g])

[2020-07-10 03:59] yuzhiyiliu commented on #213
The underlying data structure does not need to be converted, try try this
    self.grid_x = torch.cuda.FloatTensor([list(range(nGw))]*nGh).view([1, 1, nGh, nGw])
    self.grid_y = torch.cuda.FloatTensor([[x] * nGw for x in range(nGh)]).view([1, 1, nGh, nGw])

[2020-07-10 04:17] iamyeongjunkim opened #678 "protobuf version 3.0.0?"
plz check 3rd party version.

I cant download protobuf 3.0.0 while cmake build

[2020-07-10 07:08] rajeevsrao commented on #247
@fshi98 @edumotya can you please verify if this resolves the issue: https://github.com/NVIDIA/TensorRT/pull/679

[2020-07-10 07:09] rajeevsrao commented on #612
@yshvrdhn @edumotya @PiyalGeorge @abx67 can you please verify if this resolves the issue: https://github.com/NVIDIA/TensorRT/pull/679

[2020-07-10 08:14] Ram-Godavarthi commented on #581
Hello,
Have you successfully converted Tensorflow model to uff and then tensorRT?

What versions have yo used?
Tensorflow version =
Object detection api version =
Tensorlfow version on jetson nano =

Could you please let me know these.
Thank you

[2020-07-10 08:23] Ram-Godavarthi commented on #384
What version of tensorflow and object detection api must be used to to train and run the inference in TensorRT using sampleUffSSD.cpp script?

I want to use ssd inception v2 model.
standard model works perfectly. but not working with custom trained model.

So wanted to know the version to replicate the same.

I hope i get an answer.

I have posted in forums, github. and everywhere. but nobody resp

[2020-07-10 08:30] Ram-Godavarthi commented on #651
Hello,

I have not yet the got answer for this.

Please update the answer this.
Thank you

[2020-07-10 08:43] Ram-Godavarthi commented on #30
Hello,
Have you successfully converted Tensorflow SSD  model to uff and then tensorRT?

What versions have yo used?
Tensorflow version =
Object detection api version =
Tensorlfow version on jetson nano =

Could you please let me know these.
Thank you

[2020-07-11 04:58] #640 closed

[2020-07-12 02:12] #247 closed

[2020-07-12 14:35] GOBish commented on #137
Was there any progress made on this?
I have been able to creat an ONNX model of siamRPN, but when I try to convert to tensorRT it fails,

[code]

[2020-07-12 22:43] liming312 opened #680 "[A potential bug] TensorRT does not quantize model if conv stride is larger than 2."
## Description

I try to convert a PyTorch model to ONNX and then from ONNX to TensorRT. [torch2trt](https://github.com/NVIDIA-AI-IOT/torch2trt) is used to convert ONNX to TRT. Below is my model definition code snippet using PyTorch. When convolution kernel size is 3 and stride is 2 or 3, the converted TensorRT model does not quantize both inputs and layer activations. Currently, I know (kernel=7,

[2020-07-13 00:30] Hassan313 opened #681 "Calibration Cache Unnamed Layer for ONNX & Caffe Models"
I am Getting Unnamed Layers in the calibration cache file. I have used both ONNX model and Caffe model which has created Unnamed Layer. These layers are "batch normalization", "scale" and "Relu".

TRT-7000-EntropyCalibration2
data: 3caa54fc
(Unnamed Layer* 0) [Convolution]_output: 3d6969df
(Unnamed Layer* 1) [Scale]_output: 3ac9c5e4
(Unnamed Layer* 2) [Scale]_output: 3bb23f5c
conv1: 3bb2132a
pool1

[2020-07-13 02:52] RunningLeon commented on #310
Hi,
Thanks, I reshaped slope of PReLU to  [1, num_channel, 1, 1] and it worked.
BR

[2020-07-13 05:24] iobtl commented on #310
Hi @RunningLeon, could you share how did you manage to reshape the slop of PReLU using MXNet? Was it using the mx.Symbol API as such:
```mx.sym.LeakyReLU(data=data, ...)```

[2020-07-13 06:39] Scharfsinnig opened #682 "TensorRT docker image script error"
## Description

![image](https://user-images.githubusercontent.com/9099493/87278278-9f40d500-c516-11ea-817c-4c040a14c51b.png)
![image](https://user-images.githubusercontent.com/9099493/87278288-a36cf280-c516-11ea-8dac-c55e2bda23d4.png)

## Environment

**TensorRT Version**:  nvcr.io/nvidia/tensorrt:20.06-py3
**GPU Type**: Tesla-T4
**Nvidia Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**O

[2020-07-13 06:40] Scharfsinnig commented on #682
Where is the 20.05?

[2020-07-13 06:44] xkyi opened #683 "[TensorRT] INTERNAL ERROR: Assertion failed: f != 0 && (f & (f - 1)) == 0"
## Description
when I convert my onnx model to trt fp16 model, it works, however, when I convert to int8 mode, it raised the following error,
[code]

Any help would be appreciated!

## Environment

**TensorRT Version**:  7.0.0.11
**GPU Type**: 2080ti
**Nvidia Driver Version**: 430.64
**CUDA Version**: 10.0
**CUDNN Version**: 7.6.5
**Operating System + Version**: ubuntu
**Python Version (if applica

[2020-07-13 06:57] shuo-zhao commented on #454
Hi,
I got the same problem when I transed a onnx model to tensorrt. And the problem is when I got a onnx model, it has a padding layer which use to add channels. The padding layer runs well with onnxruntime but is not supported in tensorrt and get the same error:
Assertion failed: onnx_padding.size() == 8 && onnx_padding[0] == 0 && onnx_padding[1] == 0 && onnx_padding[4] == 0 && onnx_padding[5] ==

[2020-07-13 16:54] giussepi commented on #183
Hi @RizhaoCai

I just had the same issue with TensorRT 7.0. The solution, as mentioned in the [documentaiton](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#import_onnx_python),  was creating the network using the EXPLICIT_BATCH flag:

[code]

[2020-07-13 18:12] lapolonio commented on #231
I don't think I did. One way might be to reshape the tensor first.

[2020-07-13 22:10] Darshcg commented on #99
May I know how did you resolve the error? I am getting the same error

Thanks

[2020-07-13 22:15] rmccorm4 commented on #649
Hi @CallmeZhangChenchen ,

The C++ package you shared is pretty involved, and requires OpenCV installation, etc. so it would be difficult for me to go line by line looking for the issue and testing it.

Instead, I ran your model/engine through some [python inference code](https://github.com/rmccorm4/tensorrt-utils/blob/493aa3827ff2c9886436ee4cbe60fed79d5bd263/inference/infer.py) I have to get a be

[2020-07-14 08:26] rmccorm4 commented on #683
Hi @xkyi ,

Can you share an ONNX model that reproduces this issue?

[2020-07-14 08:29] rmccorm4 commented on #682
Hi @Scharfsinnig ,

That's likely a typo, I'll check it out. For now, please manually change the tag to 20.06 which was just added.

[2020-07-14 08:31] rmccorm4 commented on #681
Issue also being tracked here: https://forums.developer.nvidia.com/t/calibration-cache-unnamed-layer/141610

[2020-07-14 08:34] rmccorm4 commented on #680
Hi @liming312 ,

Out of curiosity, does this issue occur if you convert from ONNX -> TensorRT using the TensorRT API directly (ONNX parser), or a similar tool like `trtexec` ?

If not, then it may be specific to `torch2trt` which you can raise an issue for here: https://github.com/NVIDIA-AI-IOT/torch2trt/issues

[2020-07-14 08:36] rmccorm4 commented on #678
CC @rajeevsrao @kevinch-nv

[2020-07-14 08:41] rmccorm4 commented on #676
Hi @abidmalikwaterloo ,

Can you clarify what you're looking for? If you're asking how to start out and learn more about TensorRT, I recommend installing the latest TensorRT 7.1 package (or using a docker image from [NGC](https://ngc.nvidia.com/catalog/containers/nvidia:tensorrt), and running through the samples for a better understanding of the capabilities and usage of TensorRT.

[2020-07-14 08:43] rmccorm4 commented on #674
Hi @makaveli10 ,

Is this a question? Or an observation?

[2020-07-14 09:07] rmccorm4 commented on #665
Hi @Zenvi ,

The `build_OSS.sh` script you referenced will build the master branch of this repo and the onnx parser repo by default. The `nvcr.io/nvidia/tensorrt:20.03-py3` is TensorRT 7.0, but the current master branch of the OSS repo is for TensorRT 7.1.

You can probably achieve the same behavior you had before by doing something like this (didn't test myself):
[code]

or you could update to th

[2020-07-14 09:22] Zenvi commented on #665
Hey @rmccorm4 and thank you for your reply!
I tried the source build_OSS.sh "${BRANCH}" command and when building a former version of trtexec, resize ops are just not supported yet.
here's how I solved the issue:
1. docker run --runtime=nvidia -it -v $PWD:/mnt nvcr.io/nvidia/tensorrt:20.02-py3
2. source build_OSS.sh 20.02
3. modify the file in `./TensorRT/parsers/onnx/ModelImporter.cpp`: line: 175

[2020-07-14 09:22] #665 closed

[2020-07-14 09:29] xkyi commented on #683
Hi @rmccorm4 ,
the ONNX model is https://drive.google.com/file/d/1KaLNW8l8duyLI0rs7B0vOBRCqGBRpFdl/view?usp=sharing

[2020-07-14 10:12] tingggggg opened #685 "[TensorRT] Unsupported operation _ResizeNearest_TRT / _PyramidROIAlign_TRT /_CropAndResize..."
## Description

I build the env refer https://github.com/NVIDIA/TensorRT/issues/123#issuecomment-551269792.
And I success got the maskRCNN&fasterRCNN .uff file use sample code, then use trtexec to do inference all got PASSED.

But when I want to use own .py code to build trt engine with above succefull .uff file got the following ERROR: UFFParser

[TensorRT] ERROR: UffParser: Validator error: roi_

[2020-07-14 10:52] Darshcg opened #686 "Cuda failure: 209 Aborted (core dumped)"
Hi,
I am following this material(https://developer.nvidia.com/blog/nlu-with-tensorrt-bert/ 1 to convert to trt engine and run it on our GPU System. But when during Building the Engine(python python/bert_builder.py -m /workspace/models/fine-tuned/bert_tf_v2_base_fp16_384_v2/model.ckpt-8144 -o bert_base_384.engine -b 1 -s 384 -c /workspace/models/fine-tuned/bert_tf_v2_base_fp16_384_v2), I am getting

[2020-07-14 15:15] nik13 commented on #475
Facing same issue, found any solution?

[2020-07-14 15:56] liming312 commented on #680
Hi @rmccorm4 ,

Thanks for your reply. This is not specific to torch2trt. Now, I find the reason may be because TRT still use FP32 operation if it thinks it is faster than INT8 or INT8 for this operation is not available. As for my another large classification network, even if I specify strict type like [this](https://github.com/rmccorm4/tensorrt-utils/blob/master/int8/calibration/onnx_to_tensorrt

[2020-07-14 19:00] tripti-singhal commented on #99
@jageshmaharjan Could you share how you resolved this? I am getting this exact error and I tried editing CMAKE_CUDA_FLAGS in CMakeLists.txt to target my GTX 1080Ti GPUs, but still no luck.

[2020-07-14 20:08] rmccorm4 commented on #99
Hi @Darshcg @tripti-singhal ,

Per Dilip's earlier comment and the BERT demo requirements section (https://github.com/NVIDIA/TensorRT/tree/master/demo/BERT#requirements), I believe the BERT sample will only work on Compute Capability >= 7.0.

@Darshcg P100 is Compute Capability 6.0
@tripti-singhal 1080 Ti is Computa Capability 6.1

[2020-07-14 20:20] Darshcg commented on #99
Hi @rmccorm4,

Thank you for your response. May I know what to change in this for P100? set(CMAKE_CUDA_FLAGS “${CMAKE_CUDA_FLAGS} –expt-relaxed-constexpr –expt-extended-lambda -gencode arch=compute_70,code=sm_70 -gencode arch=compute_75,code=sm_75 -03”)

Thank you

[2020-07-14 20:21] rmccorm4 commented on #99
Hi @Darshcg,

I don't believe you can edit the flags to make it work for this sample in particular, I think it's a hardware limitation, and requires newer generation hardware to work. Though I'm not 100% sure on that.

[2020-07-14 22:14] rmccorm4 commented on #99
Hi @Darshcg ,

The custom plugins (CUDA kernels) used in this sample and the models associated with it depend on newer hardware features (SM >= 70), and will not run on P100.

However, it should be possible to grab a standard TF / PyTorch BERT implementation somewhere and export it to ONNX (preferably ONNX opset 11) with `tf2onnx`/`torch.onnx.export`, and convert that to TensorRT 7.1

That referen

[2020-07-15 03:16] jinfagang opened #687 "--best feature generated mixprecision model drop rapidly on mAP"
Hi, when I execute `trtexec` converting onnx model to trt engine, the generated engine file are smaller and speed almost half, so I suppose it actually did mixed precision on model.

However, the generated model performance much more worse than original. the command I am runing were:
[code]

Here is my question:

1. I am not send any calibration file how does it do quantization?
2. What else param

[2020-07-15 03:21] rmccorm4 commented on #687
Hi @jinfagang ,

I believe `--best` is equivalent to `--fp16 --int8`, and `trtexec` uses random data for `int8` calibration as you've guessed, as it's meant simply for quick testing and benchmarking.

You'd want to write your own calibrator class and feed it your own calibration data if you want the benefits of potential INT8 speedup while maintaining close to original model accuracy. Otherwise yo

[2020-07-15 03:53] jinfagang commented on #687
@rmccorm4 I simply using a command line tool `trtexec`, does there any proper way for me to add such a calibrator class? If am not remember wrong, original onnx2trt tools also have a int8 option, What's the difference between them?

[2020-07-15 04:57] rmccorm4 commented on #687
You can think of `trtexec` as basically a superset of `onnx2trt`, likely with some minor differences. Out of the two choices, `trtexec` is preferred. Either way, if you want to do INT8 for anything more than benchmarking, you'll need to use the Python or C++ TensorRT API to implement a calibrator. If you are only interested in FP32/FP16, then tools like `trtexec` should be sufficient on their own.

[2020-07-15 06:53] Scharfsinnig commented on #682
Thanks! I will try it later. I also found that the tensorrt-20.x series have some different file missing in docker images. Such as cafe model missing, pgm data missing and so on. I tried to put the TensorRT-5's data dir into tensorrt-20.x's container, rerun the same command, and it worked.
So, please check the missing files.

[2020-07-15 06:55] shuo-zhao commented on #454
Could anyone tell me how to fix it?
Thannx a lot!

[2020-07-15 07:02] RunningLeon commented on #310
First loaded mxnet checkpoint and reshape prelu param in arg_param and than save the new checkpoint and finally export it to onnx.
something like this:
`
model_dir = 'xxx/'
model_path = model_dir + 'model'
num_epoch = 1
sym, arg_params, aux_params = mx.model.load_checkpoint(model_path, num_epoch)
new_arg_params = {}
for k, v in arg_params.items():
    if 'relu' in k:
        v = v.reshape(1, -1, 1

[2020-07-15 09:05] wyp19960713 opened #688 "When I use the TensorRT to infer MoblieNet in the INT8 mode,I meet the following errors.How can I solve the problems?"
## Description
**[TensorRT] VERBOSE: Engine generation completed in 3.27319 seconds.
[TensorRT] VERBOSE: Calculating Maxima
[TensorRT] ERROR: ../rtSafe/safeRuntime.cpp (25) - Cuda Error in allocate: 2 (out of memory)
[TensorRT] ERROR: ../rtSafe/safeRuntime.cpp (25) - Cuda Error in allocate: 2 (out of memory)**
When the calibrator is activated,these errors occur.
The following is my code of calibra

[2020-07-15 09:06] MeghaGhosh opened #689 "Mask RCNN"
How can I use the sample mask rcnn TensorRT C++ inference code in Triton inference server? Any official solutions would really helpful.

Currently the sample only reads and writes PPM images - how can I extend this to include png/jpeg images? Is there a deployment-ready solution available for TensorRT Mask RCNN sample?

[2020-07-15 23:09] abx67 opened #691 "GridAnchorRect_TRT get shifted bbox"
## Description

I am trying to try the new commit https://github.com/NVIDIA/TensorRT/pull/679.

But I got the following result:
![image](https://user-images.githubusercontent.com/28716077/87608487-e95fbd00-c6b4-11ea-8a60-76ba6bb830c3.png)

The model supposed to output bbox of traffic light. But it seems to have a small shift for every bbox.

## Environment

**TensorRT Version**: Binary release 7.0

[2020-07-16 01:27] #648 closed

[2020-07-16 03:18] Darshcg commented on #99
Hi @rmccorm4,
This Post(https://github.com/NVIDIA/TensorRT/issues/106#issuecomment-528265655) says that it works for P100.

[2020-07-16 03:24] rmccorm4 commented on #99
@Darshcg are you running the sample from master branch? Or from 5.1 branch?

[2020-07-16 03:29] Darshcg commented on #99
@rmccorm4, I followed this (https://developer.nvidia.com/blog/nlu-with-tensorrt-bert/) exact same.

[2020-07-16 03:40] Darshcg commented on #99
@rmccorm4, when I followed https://github.com/NVIDIA/DeepLearningExamples/tree/master/TensorFlow/LanguageModeling/BERT/trt repo the engine was built perfectly. but while conferencing it was throwing the same error.

With TRT7, the engine is being Built on P100, but while running inference it is throwing exact same error.

[2020-07-16 08:26] EFanZh commented on #688
I think I am having the same problem converting a simple MNIST CNN model. Here is my code for reproducing (You need to install `tensorflow` and `tf2onnx` to run this):

[code]

[2020-07-16 08:35] rmccorm4 commented on #688
Hi @wyp19960713 @EFanZh ,

TensorRT 7.0 had known issues with INT8 calibration on models with dynamic shape. Please upgrade to TensorRT 7.1, the issue should be fixed.

[2020-07-16 08:39] EFanZh commented on #688
@rmccorm4

Actually, I am using TensorRT 7.1.3.4, the problem still exits.

[2020-07-16 08:43] rmccorm4 commented on #688
@EFanZh if your model has dynamic shape (-1/None in any dimension), have you defined an optimization profile?

I believe it's required for the INT8 calibration, and it will use the kOPT shape for calibration: https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#int8-calib-dynamic-shapes

[2020-07-16 12:07] wyp19960713 commented on #688
Hello, @EFanZh,
I have aksed the same issue to **NVIDIA** ,he suggested me to increase the **WORKSPACE_SIZE**.
But,when I haved used the GPU of RTX 2080 that maximum of GPU memory is **10989MB** and I have setted the **WORKSPACE_SIZE** to the max value,another error occured,as following:
[TensorRT] VERBOSE: Calculating Maxima
[TensorRT] ERROR: …/rtSafe/safeRuntime.cpp (25) - Cuda Error in allocate

[2020-07-16 18:01] yshvrdhn commented on #691
I am facing similar issues. @rajeevsrao

[2020-07-16 18:17] rajeevsrao commented on #691
Is it with the latest version on master or for 7.0?

[2020-07-16 21:05] yshvrdhn commented on #691
Its from the jetpack for xavier which has the tensorrt version 7.1 I had downloaded the master and built the OSS tools.

[2020-07-17 02:24] iobtl commented on #310
@RunningLeon Thank you!!!!

[2020-07-17 02:44] peijason opened #693 "How to build TensorRT parsers?"
## Description

Failed to configure **TensorRT parsers** with **BUILD_PARSERS ON**, with the following **ERROR** messages:

[code]

## Environment

**TensorRT Version**: 7.1.3.4 (current git)
**GPU Type**: Geforce 1050 Ti
**Nvidia Driver Version**: 450.57
**CUDA Version**: 11.0
**CUDNN Version**: 8.0.1 (beta)
**Operating System + Version**: Ubuntu 20.04
**Python Version (if applicable)**: 3.8.2
**

[2020-07-17 07:19] hadoop2xu opened #695 "where is trt/samples/python?"
The trt/samples Python folder does not exist for the latest code branch

[2020-07-17 08:50] shuo-zhao commented on #195
Also, the padding layer in trt is not support for padding on channel demensions, but it is a common sense in tensorflow. When convert tensorflow model to trt, it becomes a big problem to remove channel padding layers.

[2020-07-17 08:50] shuo-zhao commented on #195
@rmccorm4

[2020-07-18 08:48] oyrq commented on #437
@dtiny

[2020-07-18 08:59] oyrq opened #696 "I have a problem about setMaxBatchSize in TensorRT7.0"
I have the same problem [issue](https://github.com/NVIDIA/TensorRT/issues/437)
 Thanks!

## Environment
**TensorRT Version**: 7.0
**GPU Type**: 2080
**Nvidia Driver Version**: 418.45
**CUDA Version**: 10.1

[2020-07-18 21:38] bvandenbon opened #697 "credentials for downloads - please don't"
Why do we need to enter credentials on your webpage to download tensorrt ? What is the vision behind this ? What do you try to accomplish with this ? - I don't understand. Don't you want to make TensorRt more popular ?

As you know, it's already a really complicated installation procedure to get TensorRT + CUDNN + CUDA 10.2 + ... working but this kind of stuff just pushes it to the limit.

In prac

[2020-07-19 07:54] chenbohua3 opened #698 "why dynamic range for layer output tensors is set twice in sampleINT8API.cpp"
In the same function, [here](https://github.com/NVIDIA/TensorRT/blob/650d4b655d1b30b39e476f9317445d680f023fbb/samples/opensource/sampleINT8API/sampleINT8API.cpp#L340) and [here](https://github.com/NVIDIA/TensorRT/blob/650d4b655d1b30b39e476f9317445d680f023fbb/samples/opensource/sampleINT8API/sampleINT8API.cpp#L396)

Is there any special purpose？

[2020-07-20 01:15] shuo-zhao commented on #454
Hello?

[2020-07-20 02:03] Water2style commented on #618
Same warning,WARNING: onnx2trt_utils.cpp:217: Your ONNX model has been generated with INT64 weights, while TensorRT does not natively support INT64. Attempting to cast down to INT32.
[TensorRT] WARNING: onnx2trt_utils.cpp:243: One or more weights outside the range of INT32 was clamped

I use my pytorch model to ONNX....  Why it becomes INT64 after to ONNX

[2020-07-20 08:52] oyrq commented on #437
Hi, I set the parameter  builder->setMaxBatchSize(2) and using EXPLICIT_BATCH flag, but the first sample's output being correct and other sample outputs being all zero. Should I need to set the other parameter?

[2020-07-20 08:53] oyrq commented on #437
@rmccorm4

Hi, I set the parameter builder->setMaxBatchSize(2) and using EXPLICIT_BATCH flag, but the first sample's output being correct and other sample outputs being all zero. Should I need to set the other parameter?

[2020-07-20 08:57] insikk commented on #351
Is it fixed on TensorRT 7.1? On TensorRT 7.0, this bug still exists. If you can, please add hotfix to TensorRT 7.0.

[2020-07-20 11:15] llk2why commented on #557
Hi @rmccorm4 , I've generated an offline caliabration table with your python scripts, and here comes a question, how can I load the calibration table with C++ API without implementing an Int8 Calibrator since there exists a cache? My code has to run on different platforms, so I cannot just export offline engines with trtexec. Looking forward to your reply, thank you.

[2020-07-20 14:16] jkjung-avt commented on #302
My [jkjung-avt/tensorrt_demos](https://github.com/jkjung-avt/tensorrt_demos) repo could support most of the yolov3 and yolov4 models.  Feel free to give it a try.  It works not only on the Jetson platforms, but also x86_64 PCs.

If you still run into "out of memory (OOM)" problem, maybe you should consider reduce input image size from 608x608 to, say, 416x416.

[2020-07-20 14:23] jkjung-avt commented on #94
The problem could be that the "trt-yolo-app" does not parse the SPP cfg file (the "route" layers) correctly.  I have solved a similar issue in my [jkjung-avt/tensorrt_demos](https://github.com/jkjung-avt/tensorrt_demos) repo.  My code is modified from NVIDIA's "yolov3_onnx" python implementation.  It could support yolov3-spp and yolov4 models (yolov4 also contains SPP block).

[2020-07-20 17:23] rajeevsrao commented on #697
@bvandenbon I understand your frustration, and will forward your feedback to our marketing team. The reason we do this is to capture some analytics about TensorRT users and their usecases so we can better serve those markets.

[2020-07-20 17:25] rajeevsrao commented on #691
Can someone please provide a simple repro code?

[2020-07-20 17:36] rajeevsrao commented on #693
Do you have `libnvinfer.so.7` in your LD_LIBRARY_PATH?

[2020-07-20 17:40] rajeevsrao commented on #695
The python samples are currently only shipped with the GA release package:
https://developer.nvidia.com/nvidia-tensorrt-7x-download

The OSS repo does not contain sources for generating python bindings for our C++ API so we don't ship python samples either. We are considering these for a future release.

[2020-07-20 21:15] rmccorm4 commented on #557
Hi @llk2why ,

(For others) If your use case can generate engines offline, you can just read in the calibration cache using `trtexec`:
[code]

You can implement a very simple/minimal calibrator, where I believe the only methods you actually need to implement are `readCalibrationCache` and `writeCalibrationCache`.

For every other method, I believe you can just give a dummy implementation of:
[code

[2020-07-20 21:22] rmccorm4 commented on #437
Hi @oyrq ,

`builder->setMaxBatchSize` is only used/valid for *implicit* batch models. For *explicit* batch, the engine will use the batch size defined in the ONNX model. If the batch size is fixed in your ONNX model (1,16, 32, etc), then only those results will be correct, and anything else (if you created buffers larger than necessary), will have garbage data. If the batch size is dynamic in you

[2020-07-21 01:14] llk2why commented on #557
@rmccorm4 Thank you, it seems to make sense, I will give it a try right now.

[2020-07-21 06:19] oyrq commented on #437
Thank you very much. I use the batch size ONNX model. It's working

[2020-07-21 06:28] llk2why commented on #557
@rmccorm4 It works, but apart from these:

`getBatchSize` got called as well, so I just implemented with `return 1;`, I am not sure whether the batch_size has any side effect.

[2020-07-21 07:41] XinnWang commented on #670
i met the same problem. have you solved it ?

[2020-07-21 10:38] Ram-Godavarthi commented on #675
Hi @rmccorm4
I am waiting for your response regarding my issue with tensorRT.

Please solve this problem..

I am waiting since 1 month on this.

[2020-07-21 12:31] dhkim0225 opened #699 "OSS build_opensource.sh doesn't make out directory"
Hi, I'm trying to build OSS with this command in TRT20.06 container as [the comment said](
https://github.com/NVIDIA/TensorRT/issues/665#issuecomment-658066396_)
[code]

And some error messages came out together.
[code]

```cp: cannot stat 'out/libnv*': No such file or directory```

It seems TRT didn't make any files on TensorRT/builder/out directory.
Is there any other right way to build oss TRT?

[2020-07-21 18:58] rmccorm4 commented on #699
Hi @dhkim0225 ,

I think that can be fixed by changing `TRT_BIN_DIR` to `TRT_OUT_DIR` in this line based on the [CMakeLists.txt file](https://github.com/NVIDIA/TensorRT/blob/650d4b655d1b30b39e476f9317445d680f023fbb/CMakeLists.txt#L22):
[code]

[2020-07-21 20:35] minhtcai opened #700 "Error when cmake - Missing CUDA_nvinfer_LIBRARY"
Hi, I've trying to cmake but I got this error:

################

-- Found CUDNN: /usr/local/cuda-10.0/lib64/libcudnn.so
-- Found CUDNN include: /usr/local/cuda-10.0/include
-- Found OpenCV: /usr (found version "3.2.0")
-- Found OpenCV: /home/minh/opencv/build (found version "4.4.0")
install dir:/usr/local
-- Configuring done
CMake Error: The following variables are used in this project, but they

[2020-07-21 21:04] yshvrdhn commented on #691
@rajeevsrao Like a sample trt and sample image that shows the predictions ?

[2020-07-21 21:23] rmccorm4 commented on #699
Hi @dhkim0225 ,

Looks like the 20.07 container was just released and contains these fixes. Please try the 20.07 container instead.
[code]

[2020-07-21 21:24] rmccorm4 commented on #665
Just to update, these issues have been fixed in the 20.07 container:

https://github.com/NVIDIA/TensorRT/issues/699#issuecomment-662114078

[2020-07-21 21:25] #699 closed

[2020-07-22 08:43] beizhengren commented on #292
@rmccorm4 @un-knight Hi, does TRT7 support with TX2?
Thanks!

[2020-07-22 09:40] Y-U-KAY commented on #289
Hi

Is calibration-batch-size the same as network.get_input(0)[0]? Models download from ONNX Model Zoo have the fixed batch size, so profiles for different batches won't be generated in create_optimization_profiles(). But it still calibrates the models with the default batch size when I don't set calibration-batch-size. In the situation, only the first data is calculated? Histograms of activations

[2020-07-22 11:33] gilgilad opened #701 "struct TRT_DEPRECATED RegionParameters"
Tensorrt 7.1  marks struct  RegionParameters as deprecated.
However
TENSORRTAPI nvinfer1::IPluginV2* createRegionPlugin(nvinfer1::plugin::RegionParameters params);

is using it . is there another implementation of the struct?

[2020-07-22 19:27] #700 closed

[2020-07-22 23:09] wyhao31 commented on #608
Same error. The dimension looks ok to me. No idea about such error message.

[2020-07-23 03:33] hmcmmmmm opened #702 "[E] [TRT] ../rtSafe/coreReadArchive.cpp (38) - Serialization Error in verifyHeader: 0 (Version tag does not match)"
## Description

Found an error with T4 GPU inference with TensorRT
I double confirm the driver /cuda /tensorrt version compatibility, it's ok with nvidia description.

Could you can help me to this issue?

ERROR INFO:
root@9bccfc2bad7b:/mnt# unzip trt7_resnet50_fp32_t4_1.zip
Archive:  trt7_resnet50_fp32_t4_1.zip
  inflating: config.pbtxt
  inflating: imagenet1k_labels.txt
  inflating: resnet50.fp3

[2020-07-23 03:36] hmcmmmmm commented on #702
model name for NV: trt7_resnet50_fp32_t4_1.zip

[2020-07-23 03:39] rmccorm4 commented on #702
Hi @hmcmmmmm ,

I believe there's currently an issue with those pre-made trt7 engines. However, it's preferred the engines are built on the same machine they run on anyways.

So you can easily re-create the engine yourself like so:
[code]

[2020-07-23 03:52] hmcmmmmm commented on #702
Hi rmccorm4
Thanks very much for you help , i will try soon

[2020-07-23 03:53] Y-U-KAY commented on #289
Hi

Is calibration-batch-size the same as network.get_input(0)[0]? Models download from ONNX Model Zoo have the fixed batch size, so profiles for different batches won't be generated in create_optimization_profiles(). But it still calibrates the models with the default batch size when I don't set calibration-batch-size. In the situation, only the first data is calculated? Histograms of activations

[2020-07-23 03:53] Y-U-KAY commented on #289
Hi @rmccorm4,

Is calibration-batch-size the same as network.get_input(0)[0]? Models download from ONNX Model Zoo have the fixed batch size, so profiles for different batches won't be generated in create_optimization_profiles(). But it still calibrates the models with the default batch size when I don't set calibration-batch-size. In the situation, only the first data is calculated? Histograms of

[2020-07-23 04:09] hmcmmmmm commented on #702
Hi rmccorm4 ,
How to create fp16 and int8 engine?  THANKS

[2020-07-23 04:14] rmccorm4 commented on #289
Hi @Y-U-KAY ,

I'm not 100% sure on this, but I believe it's something like this:

For an EXPLICIT_BATCH ONNX model, it will use the batch size of the model. Meaning if it's a fixed batch size, it will use that batch size (>=1). If it's a dynamic batch size (-1), then it will use the batch size specified in the kOPT shape of the calibration profile. If no calibration profile is specified, I believ

[2020-07-23 04:22] w1ndseeker commented on #319
after onnx-simplifier with --skip-fuse-bn and use your code i build engine successful

[2020-07-23 04:53] Y-U-KAY commented on #289
Hi @rmccorm4,

Thanks for your reply. It's a fixed batch size, and the network desciption as shown below.
`2020-07-23 11:48:20 - __main__ - DEBUG - === Network Description ===
2020-07-23 11:48:20 - __main__ - DEBUG - Input  0 | Name: input  | Shape: (1, 3, 224, 224)
2020-07-23 11:48:20 - __main__ - DEBUG - Output 0 | Name: prob_Y | Shape: (1, 1000)
2020-07-23 11:48:20 - __main__ - DEBUG - === Opti

[2020-07-23 05:32] rmccorm4 commented on #289
Hi @Y-U-KAY ,

Assuming that's my INT8 script you're running (based on the log outputs), I haven't updated it much since before CalibrationProfiles were implemented. I'm not sure what the expected behavior is, but the 32 there is probably hard coded in my script as a default batch_size value or something. You can try experimenting by removing that and seeing what happens by default.

[2020-07-23 07:56] rmccorm4 commented on #702
Hi, just add the `--fp16` flag for FP16 to `trtexec`. And add both `--fp16 --int8` for INT8. `trtexec` is mostly used for benchmarking performance purposes.

[2020-07-23 08:53] tingggggg commented on #685
update info
------ 2020.07.23 ------
After use `trt.init_libnvinfer_plugins(trt.Logger(trt.Logger.WARNING), "")` in my .py code
Then use
[code]
can got the custom plugins (like above)

CustomEmbLayerNormPluginDynamic
CustomFCPluginDynamic
CustomGeluPluginDynamic
CustomQKVToContextPluginDynamic
CustomSkipLayerNormPluginDynamic
GridAnchor_TRT
GridAnchorRect_TRT
NMS_TRT
Reorg_TRT
Region_TRT
PriorBox_

[2020-07-23 13:01] XinnWang commented on #486
@Nioolek i met the same problem, have you solved it?

[2020-07-23 18:32] simejanko commented on #289
My issue was resolved by upgrading to version 7.1.

This issue was also resolved for me by upgrading to version 7.1. I'm using an explicit batch size model & can now do >1 batch sizes for INT8 calibration. Am I risking something by having batch size for INT8 calibration, that's different than the batch size in my explicit batch model? There were no warnings when I ran it.

[2020-07-24 01:54] hmcmmmmm commented on #702
Got it, thanks rmccorm4

[2020-07-24 08:45] ralovich opened #705 "With TensorRT 7.1.3 the UFF parser is still incapable of loading 3D convolution layers"
## Description

With TensorRT 7.1.3 the UFF parser is still incapable of loading 3D convolution layers.

## Environment

**TensorRT Version**: 7.1.3
**GPU Type**: GTX 1080
**Nvidia Driver Version**: 440.100
**CUDA Version**: 10.2
**CUDNN Version**: 8.0.0.180
**Operating System + Version**: Ubuntu 20.04
**Python Version (if applicable)**: NA
**TensorFlow Version (if applicable)**: NA
**PyTorch Vers

[2020-07-24 09:21] tingggggg commented on #685
Finally, I found need to init the plugin first.
`trt.init_libnvinfer_plugins(trt.Logger(trt.Logger.WARNING), "")`

[2020-07-24 09:21] #685 closed

[2020-07-24 09:35] tingggggg opened #706 "Build Plugins have different situation in TRT6 & TRT7"
## Description

I build env refer (https://github.com/rmccorm4/tensorrt-utils/tree/master/OSS) in TRT6 & TRT7

Both of them be build successfull.

But when I print out the total custom plugins, I found not same that in TRT6 & TRT7

TRT6

CgPersistentLSTMPlugin_TRT
RnRes2Br2bBr2c_TRT
SingleStepLSTMPlugin
FancyActivation
ResizeNearest
Split
InstanceNormalization
GridAnchor_TRT
NMS_TRT
Reorg_TRT
Regi

[2020-07-25 00:26] zccyman commented on #670
have same problem.

[2020-07-25 11:24] depthwise commented on #702
Same here, except I'm creating the engine on the jsame Jetson Xavier where I'm trying to execute it. @hmcmmmmm did you ever get this to work?

[2020-07-27 01:58] manhongnie opened #707 "dynamic input"
Is there a limit to the size of the dynamic input of tensorrt? If my training is 800×800, can I use 8000×8000 pictures when I dynamically input the test? Even bigger

[2020-07-27 02:01] manhongnie commented on #707
@rajeevsrao

[2020-07-27 07:24] depthwise commented on #702
Also confirmed: if I don't save the engine first and use it right after conversion, it works fine.

[2020-07-27 09:15] depthwise commented on #702
And also: this only seems to be a problem on the Jetson for me. Running the exact same code on a PC, it works fine.

[2020-07-27 12:43] mirkocoric opened #709 "Cannot run /demo/BERT"
## Description

Tried to run /demo/BERT
Successfully went through steps 1-3 from https://github.com/NVIDIA/TensorRT/tree/master/demo/BERT quick start guide

Step 4
mkdir -p /workspace/TensorRT/demo/BERT/engines && python3 builder.py -m /workspace/TensorRT/demo/BERT/models/fine-tuned/bert_tf_v2_large_fp16_128_v2/model.ckpt-8144 -o /workspace/TensorRT/demo/BERT/engines/bert_large_128.engine -b 1 -s

[2020-07-28 02:10] ChaunceySun7 opened #713 "[TensorRT] ERROR: ../rtSafe/cuda/cudaConvolutionRunner.cpp (303) - Cudnn Error in execute: 8 (CUDNN_STATUS_ EXECUTION_FAILED)"
## Description

I tried to convert my docker container to a new GPU(RTX 2070 driver version:440.83) environment .When I tried to rebuild my engine for my new environment,I got this error.Same environment only different GPU,so what's wrong with me？

[TensorRT] ERROR: ../rtSafe/cuda/cudaConvolutionRunner.cpp (303) - Cudnn Error in execute: 8 (CUDNN_STATUS_ EXECUTION_FAILED)
[TensorRT] ERROR: ../rtSa

[2020-07-28 03:19] MrLee12138 opened #714 "找不到zlib库"
你好，我在windows10环境下通过cmake编译TensorRT5.1，提示找不到zlib库，但是我已经在thirdparty文件夹下添加了zlib库并且已经编译，请问这个问题如何解决呢？谢谢

[2020-07-28 06:59] depthwise commented on #702
HM, never mind. I'm not sure what I did, but it seems to be load an engine on the Jetson now.

[2020-07-28 07:27] #63 closed

[2020-07-28 07:47] raccoonliukai opened #717 "error of bert demo in tensorrt6.0"
## Description

When I use bert demo in tensorrt6.0 with fp16. I find that datatype of embeddings(output ITensor of embLayer) will change after call enbeddings->getDimensions(). before it type==fp16, after it type==fp32. what cause this change？ Is it a bug?

## Environment

**TensorRT Version**: 6.0
**GPU Type**: T4
**Nvidia Driver Version**: 410.104
**CUDA Version**: 10.0
**CUDNN Version**:
**Ope

[2020-07-28 07:49] raccoonliukai commented on #717
[https://github.com/NVIDIA/TensorRT/blob/v6.0.1/demo/BERT/bert/bert.cpp](url) line 84.

[2020-07-28 09:33] MrRace opened #718 "CUDA version?"
The CUDA version refer to which one? Runtime version or  Driver version？
As we know use `nvidia-smi` and `which nvcc`  may show different version of CUDA. Which cmd should I use?
Thanks a lot!
By the way, `TensorRT7.0/demo/BERT` is empty, expect the example of the TensorRT7.0 in BERT.

[2020-07-28 10:09] jancio commented on #620
Yes, try onnx-simplifier

[2020-07-28 10:24] MrRace opened #719 "useradd: UID 0 is not unique"
When try to build the IMAGE,use command below:
[code]
error comes:
[code]
How to fix it?
Best regards!

[2020-07-29 03:16] Water2style opened #720 "[TensorRT] ERROR: ../rtSafe/cuda/reformat.cu (1255) - Cuda Error in NCHWToNHWC4: 400 (invalid resource handle)"
## Description
I converted a pytorch .pt model to ONNX, and then ONNX to TensorRT.
But the tensortRT output is all 0.

[TensorRT] ERROR: ../rtSafe/cuda/reformat.cu (1255) - Cuda Error in NCHWToNHWC4: 400 (invalid resource handle)
[TensorRT] ERROR: FAILED_EXECUTION: std::exception
******trt_outputs******  [array([          0,           0,           0,           0,           0,           0,

[2020-07-29 05:23] zccyman opened #721 "[ TensorRT ] ERROR: ../rtExt/cuda/cudaPointWiseRunner.cpp (117) - Assertion Error in PointWiseRunner"
## Description

I load [ONNX model](https://pan.baidu.com/s/1NARxptjtl31cWbdi0N274g password：onnx) using TensorRT. But get some erros as follow. both onnx model input shape and output shape are [1, 3, 256, 256].

: *************** Autotuning format combination: Float(1,256,65536,196608,196608), Float(1,256,65536,196608,196608) -> Float(1,256,65536,196608,196608) ***************
: Builder timing ca

[2020-07-29 05:43] deepakn94 commented on #586
I am seeing this same error when using the Python API.

[code]

Weirdly enough, `trtexec` seems to work fine on the same ONNX file. I tried rebuilding the ONNX parser from source.

This is the version of `tensorrt` I am using,

[code]

I'm attaching [two ONNX files](https://github.com/NVIDIA/TensorRT/files/4992805/onnx_files.zip) -- both run into the same error. Happy to provide any other informat

[2020-07-29 08:22] roborocklsm commented on #259
Actually, I would recommand to build pure TensorRT engine and load weights from pytorch/tensorflow models.

[2020-07-29 08:23] XinnWang commented on #360
@tymiao1220 i met the same problem. have you solved it?

[2020-07-29 08:41] roborocklsm opened #722 "Bug report for batchedNMSPlugin"
## Description

According to README of **batchedNMSPlugin**, the boxes input are of shape `[batch_size, number_boxes, number_classes, number_box_parameters]`. The box location usually consists of four parameters such as `[x_min, y_min, x_max, y_max]`.

But when I try to do with `number_box_parameters>4` (some other prediction head binding with prior bboxes), it fails.

## Environment

**TensorRT V

[2020-07-29 08:55] bronstein87 opened #723 "Can't parse simple network from ONNX."
## Description

I converted tensorflow model to onnx using tf2onnx and tried to parse it with TensorRT on my Jetson TX2. There are errors i get:

 ----------------------------------------------------------------
[code]
## Environment

**TensorRT Version**: 6
**GPU Type**: Jetson TX2
**CUDA Version**: 10
**TensorFlow Version (if applicable)**: 1.15.0

## Relevant Files
onnx model:
https://drive.goo

[2020-07-29 09:07] roborocklsm commented on #722
Or the output of batchedNMSPlugin could be a list of selected indices, this problem (feature?) would be solved.

[2020-07-29 09:16] MrRace opened #724 "build container, the dockerfile does not contain cuDNN-8.0"
I try to build the IMAGE use the centos.Dockerfile in `TensorRT/tree/master/docker`. But in the [Prerequisites Part](https://github.com/NVIDIA/TensorRT#prerequisites) the cuda and cudnn are all needed. It seems that the ` centos.Dockerfile `  lose the `cuDNN-8.0`.

[2020-07-29 10:26] Baenny commented on #437
Hi @oyrq,
I also have the same problem. I set the  ` builder.max_batch_size = 4`  in the process of converting .onnx to .trt and set `self.batch_size = 4` in the process of converting .weights to .onnx, but it still only infer the first image. Could u tell me how to infer the four images?
Thanks.

[2020-07-29 13:18] oyrq commented on #437
if you use TensorRT-7.x, you need export a batch size ONNX model. eg. dummy_input = torch.randn(4, 3, height, width)

[2020-07-29 15:31] srqj opened #726 "BERT demo --fp16 build error: ERROR: (Unnamed Layer* 2) [PluginV2DynamicExt]: could not find any supported formats consistent with input/output data types"
## Description

While repeating the demo of BERT large
`python3 builder.py -m /workspace/TensorRT/demo/BERT/models/fine-tuned/bert_tf_v2_large_fp16_128_v2/model.ckpt-8144 -o /workspace/TensorRT/demo/BERT/engines/bert_large_128.engine -b 1 -s 128 --fp16 -c /workspace/TensorRT/demo/BERT/models/fine-tuned/bert_tf_v2_large_fp16_128_v2`

results in error:

[TensorRT] INFO: Found 394 entries in weight m

[2020-07-30 03:47] dhkim0225 opened #727 "Cannot build CustomQKVToContextPluginDynamic layer."
## Description
Cannot build one CustomQKVToContextPluginDynamic layer.

I called ```net.mark_output()``` but it doesn't work.
[ERROR: Network must have at least one output] occured.

## Environment
20.06 tensorrt docker

**TensorRT Version**: 7.1.3
**GPU Type**: T4
**Nvidia Driver Version**: 450.51
**CUDA Version**: 11.0

## Steps To Reproduce
debug.py
[code]

```python debug.py``` gives me follow

[2020-07-30 04:35] kycocotree opened #728 "[Q] Why is different the host latency? (between min, max, median latency and end to end latency)"
Ubuntu 18.04
TensorRT 7.1.3
CUDA 10.2
CuDNN 8.0
GPU: Tesla T4
Model: yolo v3 (I'am customized a input size for my work.)

![Screenshot from 2020-07-30 13-41-30](https://user-images.githubusercontent.com/30614126/88881474-7b95c280-d26a-11ea-8826-fc9a60e58727.png)

![Screenshot from 2020-07-30 13-41-51](https://user-images.githubusercontent.com/30614126/88881481-7fc1e000-d26a-11ea-8421-123817131b56.

[2020-07-30 09:14] dhkim0225 commented on #727
duplicated implementation
[code]

[2020-07-30 09:14] #727 closed

[2020-07-30 10:33] Ram-Godavarthi commented on #592
Hi @rgc183 ,

Hi, I have install onnx using pip3 install tf2onnx

I want to convert my custom trained ssd inception v2 model to onnx and then to tensorRT (c++)

what command should I run and what modifications should I do??
Where will I find this file in my system to make changes??

case ::ONNX_NAMESPACE::TensorProto::UINT8: *trt_dtype = nvinfer1::DataType::kFLOAT; break;
https://github.com/onnx/o

[2020-07-30 10:53] turowicz commented on #592
@rmccorm4 could you assign a milestone to this issue?

[2020-07-30 10:54] turowicz commented on #592
@rgc183 does this mean your inference works well with this solution?

[2020-07-31 03:29] ll490187880 commented on #449
Have you solved the problem? I have also encountered this problem for crnn models. There is no acceleration for lstm module.

[2020-07-31 07:17] MrRace commented on #726
The problem,+10086

[2020-07-31 09:39] honghande commented on #319
@santhoshnumberone
yolov3_ To_ onnx.py My environment is as follows:

TensorRT Version: 6.0.1.5

GPU Type: 2080Ti

CUDA Version: 10.0

CUDNN Version: 7.6.5

Operating System + Version: ubuntu 18.04

python3.6

pytorch1.4.0

onnx1.5.0

The rest of this sample can be run with either version of Python

Then the code is masked: if sys.version_ Info [0] > 2: the error is as follows:

TypeError: Unicode

[2020-07-31 09:47] honghande commented on #111
yolov3_ To_ onnx.py My environment is as follows:

TensorRT Version: 6.0.1.5

GPU Type: 2080Ti

CUDA Version: 10.0

CUDNN Version: 7.6.5

Operating System + Version: ubuntu 18.04

python3.6

pytorch1.4.0

onnx1.5.0

The rest of this sample can be run with either version of Python

Then the code is masked: if sys.version_ Info [0] > 2: the error is as follows:

TypeError: Unicode-objects must be en

[2020-07-31 11:57] nazzzaroff opened #730 "[TensorRT] ERROR: Network must have at least one output"
Hi! I'm tring to convert [GRCNN ](https://github.com/jingjing-you/GRCNN_OCR.pytorch) to tensorrt, but get error:

[code]

If I convert grcnn to onnx I get warning, but grcnn.onnx is created:

then, when I try convert onnx to tensorrt I get an error:
[code]

```engine = builder.build_cuda_engine(network)```

[2020-07-31 12:02] roborocklsm opened #731 "Report Bug for Select Operation of Python API"
## Description

When I am trying to create SELECT layer by Python API, it gives me the following error message. It seems failed to create select layer.

[code]

## Environment

**TensorRT Version**: 7
**GPU Type**: RTX 2070
**Nvidia Driver Version**:  440
**CUDA Version**: 10.2
**CUDNN Version**: 8.0
**Operating System + Version**: Ubuntu 18.04
**Python Version (if applicable)**: 3.7
**TensorFlow

[2020-07-31 15:25] hande6688 opened #732 "Python onnx_ to_ tensorrt.py boxes, classes, scores: None None None????"
My environment is as follows:

TensorRT Version: 6.0.1.5

GPU Type: 2080Ti

CUDA Version: 10.0

CUDNN Version: 7.6.5

Operating System + Version: ubuntu 18.04

python3.6

pytorch1.4.0

onnx1.5.0
Run Python onnx_ to_ tensorrt.py The error is as follows:
Reading engine from file best.trt
Running inference on image 1.jpg...
boxes, classes, scores: None None None
None None None
Traceback (most recent

[2020-08-03 08:26] X-funbean opened #733 "Is it possible to build TensorRT7 with Cuda10.1?"

[2020-08-03 10:29] LitLeo opened #734 "How does TensorRT optimize memory usage？"
Hi all
I am doing a large model's inference using TenorRT.
The problem is that this model uses too much  GPU memory. When inference with batch_size=1, the gpu memory usage is 1.0+G...
I think most of the memory space is used to store intermediate results for each layer. I did my best to fuse the layers, but there are still 110+layers.
Is there any other ways to optimize memory usage?

1. Platform:

[2020-08-04 03:51] VCBE123 commented on #620
onnxruntime.capi.onnxruntime_pybind11_state.InvalidGraph: [ONNXRuntimeError] : 10 : INVALID_GRAPH : This is an invalid model. Error in Node:Slice_4 : No Op registered for Slice with domain_version of 12

[2020-08-04 10:33] Pudge-tao opened #735 "[TensorRT] ERROR: ../builder/Layers.cpp (3986) - Assertion Error in validate: 0 (nbResizeDim >= 0)"
## Description

## Environment

**TensorRT Version**: 7.1。3.4
**GPU Type**: Tesla T4
**Nvidia Driver Version**: 440.64.00
**CUDA Version**: 10.2
**CUDNN Version**: 8.0.1.13
**Operating System + Version**: centos7
**Python Version (if applicable)**: 3.7
**TensorFlow Version (if applicable)**: tensorflow2.2
**PyTorch Version (if applicable)**:
**Baremetal or Container (if container which image + tag

[2020-08-04 15:20] CoachRDeveloper commented on #721
Have the same issue. With us it was in a square, we worked around it by doing x * -1 * x instead of x^2 * -1.

[2020-08-05 11:17] KelvinCPChiu opened #736 "ScatterND Plugin missing for Torch to ONNX to TRT"
I am converting a Torch model to TRT. The original model could run but there are too many bounding box proposals. And I tried to add topK and argmax function to remove those low confidence bounding box. The conversion to ONNX is fine. But it failed when I am converting ONNX to TensorRT Engine. A scatterND plugin missing error message raised.

`
_____________________________________________________

[2020-08-06 01:53] silaopi opened #737 "IndexError: Attribute not found: pads"
When I try to convert onnx to tensorrt engine, this error occurs. Does anyone know how to fix it?

        with open(args.onnx_file_path, 'rb') as model:
            print('Beginning ONNX file parsing')
            if not parser.parse(model.read()): --> Report error here: IndexError: Attribute not found: pads
                print("ERROR: Failed to parse the ONNX file.")
                for error

[2020-08-06 02:59] winself commented on #726
Same problem,+10087.

[2020-08-06 06:52] sujoyrc commented on #453
@rmccorm4 I am trying to follow the FRCNN inference given in

https://github.com/NVIDIA/TensorRT/blob/master/samples/opensource/sampleFasterRCNN/sampleFasterRCNN.cpp

and am doing batch inference for batch sizes between 1 to 4 .  As per TensorRT documentation the inference time should remain roughly constant but it is increasing almost linearly.

Is the code in between lines 285-293 in the above l

[2020-08-06 08:14] sujoyrc opened #739 "Batch inference timings increasing almost linearly"
## Description

In NVIDIA documentation https://docs.nvidia.com/deeplearning/tensorrt/best-practices/index.html#batching it is stated

"Larger batch sizes are almost always more efficient on the GPU. Extremely large batches, such as N > 2^16, can sometimes require extended index computation and so should be avoided if possible. Often the time taken to compute results for batch size N=1 is almost i

[2020-08-06 08:17] zhaosj98 commented on #736
confidence := shape(batch, num_of_proposal)

_ , keep_idx = torch.topk(confidence, k=30, sorted=True, dim=1, largest=True)

obox_list = []
oconf_list = []
print(keep_idx.shape)
for b_idx in range(0, batch, 1):
  obox_list.append( boxes[b_idx, keep_idx[b_idx], :, :])
  oconf_list.append(confs[b_idx, keep_idx[b_idx], :])
oboxes = torch.stack(obox_list, dim=0)
oconfs = torch.stack(oconf_list, dim=0)

[2020-08-06 08:20] zhaosj98 commented on #730
You can try：
`last_layer= network.get_layer(network.num_layers - 1)
if not last_layer.get_output(0):
  network.mark_output(network.get_layer(network.num_layers` - 1).get_output(0))`
before `engine = builder.build_cuda_engine(network)`

[2020-08-06 08:40] KelvinCPChiu commented on #736
Thank you very much, @zhaosj98 ! It solved the scatterND problem. This makes me understand how ONNX to TRT works better.

[2020-08-06 08:40] #736 closed

[2020-08-06 08:46] zhaosj98 opened #740 "[TensorRT] ERROR: ../builder/Layers.cpp (121) - Assertion Error in resolveEqualOrUnknown: 0 (equalIfKnown(a, b))"
## Description
When I converted a transformer model on  pytorch backend of espnet(v 0.6.0) to onnx model, and then converted the onnx model to engine of tensorrt, I got this error.

[TensorRT] ERROR: ../builder/Layers.cpp (121) - Assertion Error in resolveEqualOrUnknown: 0 (equalIfKnown(a, b))

Does anyone have any suggestions? Thanks.

## Environment

**TensorRT Version**: 7.1.3.4
**GPU Type**: T

[2020-08-07 02:11] EFanZh commented on #688
I don’t think this is because of workspace size. My model is a very simple network, it should’t cost must GPU memory. And yes, I have tried setting `max_workspace_size` and the problem has not gone away.

[2020-08-07 06:30] #620 closed

[2020-08-07 14:50] justinblaber opened #741 "Make samples stand-alone (no "common" folder)"
General question, why is there this sub library ("common") for the code samples?

If we want to see a minimal working example, for example loading and performing inference for an ONNX model, we have to go through, parse all this extra non-tensorRT code just to get a simple example working. The code for samples shouldn't be refactored really at all... each sample should be independent so people can

[2020-08-08 03:53] Joevaen commented on #62
I have a same issue, could you please describe it in detail for me? I can't find the answer in the link.Thanks!

[2020-08-08 04:06] Joevaen commented on #62
Could you please provide your solution? I meet the same question.

[2020-08-08 08:58] twmht commented on #535
@rmccorm4
@Edwardmark

Did you get correct result after using the code you provided?

[2020-08-09 03:52] lrh454830526 commented on #670
Any idea to solve?

[2020-08-09 03:59] lrh454830526 commented on #670
Have you solved the problem?

[2020-08-10 07:48] ye1024 opened #742 "BERT demo --fp32 Unable to achieve accelerated optimization results in reports"
Description

While repeating the demo of BERT base
python3 builder.py -m /workspace/TensorRT/demo/BERT/models/fine-tuned/bert_tf_v2_base_fp16_128_v2/model.ckpt-8144 -o /workspace/TensorRT/demo/BERT/bert.engine -b 1 -s 384
and than run
python3 infer.py -e ./bert.engine -b 1 -v /home/chenjiasheng/zhixuda/bert_base/vocab.txt -p "TensorRT is a high performance deep learning inference platform that del

[2020-08-11 01:53] pauperonway commented on #719
refer to ( https://github.com/NVIDIA/TensorRT/pull/729/commits/ee96ad021294a5416441ab62a630039a1b306c8f )

[2020-08-11 02:59] #735 closed

[2020-08-11 02:59] zhaosj98 commented on #740
I solved the problem.
Replace
[code]
by
[code]
Firstly, negative indexes are not recommended when you convert a pytorch model to a onnx model. I tried `x_mask[:, :, :x_mask.shape[2]-2:2][:, :, :x_mask.shape[2]-2:2]`, and then got this error.  I replaced x_mask.shape[2] with a constant. This error was solved, but another error occurred. You can only slice at the first dimension of a tensor in tenos

[2020-08-11 03:02] #740 closed

[2020-08-11 03:14] mythke opened #743 "pytorch nearest upsample results is not match trt results"
## Description

## Environment

**TensorRT Version**: 7.1.3.0
**CUDA Version**: 10.2
**CUDNN Version**: 8.0.0
**Operating System**: Xavier JetPack 4.4
**ONNX Version**: 1.7.0
**Python Version (if applicable)**: 3.6.9
**PyTorch Version (if applicable)**: 1.6.0

## Relevant Files

I use pytorch model to onnx to tensorrt as follow:
Firstly, I use torch.onnx (opset=12) to generate a onnx file.
Secondl

[2020-08-11 03:24] kunyao2015 commented on #561
same problem, Is there any solution?

[2020-08-11 03:36] MrRace commented on #719
@pauperonway  Thanks a lot!

[2020-08-11 03:36] #719 closed

[2020-08-11 13:37] shen865069799 commented on #449
hi, i trained a crnn model with pytorch,and torch.onnx.export to onnx,when i use onnx model to infer with onnxruntime,the result is right,but when i use tensorrt parse onnx model, the result is wrong, and the output of tensorrt parsed is [-1,-1,-1], i think that this is due to lstm，should i modify crnn's lstm layer? i want to now how you can run with tensorr ,thx very much

[2020-08-12 07:02] blazeCCC opened #744 "the number of marked output will affect result"
i am trying Implement a 3-d detection network with tensorRT C++ api ,it has two errors:
(1): when i mark more than one itensor as output,it can acquire  a correct result,but when i  only mark one itensor as ouput ,it can't acquire a correct result(i just compare tensorRT output with pytorch's output)
(2) it's also have a warning  ,but i only add a 128 * 472 *252 tensorrt as output(it is one of a m

[2020-08-12 07:03] blazeCCC commented on #744
i have try to increase the workspace from 1GB to 10 GB ,it;s have same error and may can result in other problems!

[2020-08-12 08:04] 111qqz commented on #486
same problem here.  I also tried to convert 3D CONV model from pytorch to caffe to tensorrt,trt inference result is wrong.

[2020-08-13 01:21] WSTao opened #746 "Poor inference accuracy"
I use pytorch1.1 to onnx, tensorrt6 inference is normal, but when I use pytorch1.4 to onnx, tensorrt7 inference, the effect becomes very bad。
![tensorrt6](https://user-images.githubusercontent.com/30944722/90083905-629b1000-dd46-11ea-8bfb-5a62966b429e.jpg)
![tensorrt7](https://user-images.githubusercontent.com/30944722/90083911-6464d380-dd46-11ea-9f55-009e2233dad1.jpg)

[2020-08-13 07:46] twmht commented on #303
@prathik-naidu

I can't solve the issue with your workaround.  Do you have any update on this?

[2020-08-13 07:51] twmht commented on #303
@prathik-naidu

I just found out the error (ERROR: ../rtSafe/safeContext.cpp (133) - Cudnn Error in configure: 7 (CUDNN_STATUS_MAPPING_ERROR) is only related to the engine converted from onnx and using pytorch tensor as the input and output cuda memory. When using torch2trt (https://github.com/NVIDIA-AI-IOT/torch2trt) by converting from onnx to tensorrt, I never have this problem.

[2020-08-13 12:47] dhlrd commented on #458
have you solved this problem？i encounter this problem too.

[2020-08-14 03:52] Edwardmark commented on #535
@twmht Yes the result is right.

[2020-08-14 05:25] wanghr323 commented on #688
I meet the same issue... when i run int8 onnx model （resnet50 and mobilenet）, it will print:
`[08/14/2020-05:01:56] [V] [TRT] Engine generation completed in 4.22749 seconds.
[08/14/2020-05:01:56] [V] [TRT] Calculating Maxima
[08/14/2020-05:01:56] [E] [TRT] ../rtSafe/safeRuntime.cpp (25) - Cuda Error in allocate: 2 (out of memory)
[08/14/2020-05:01:56] [E] [TRT] ../rtSafe/safeRuntime.cpp (25) - Cud

[2020-08-14 07:54] ybpei opened #747 "How can I generating the correct int8 calibration table with parsing YOLO model?"
# Enviroments:
OS: Ubuntu 18.04
Graphic: Tesla T4
Cuda: 10.2
TensorRT: 7.0.0
Deepstream: 5.0

# Description:
I'm using deepstream Yolo parser to generated int8 calibration table with my custom ".cfg" and ".weight" file, parts of the cfg file shows as:
[net]
... ...

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=32
siz

[2020-08-16 01:58] kotzir commented on #693
I solved this error using these commands prior the build:

[code]

[2020-08-17 02:27] MRHZBSJ commented on #308
I am facing the same issue.
Jetson TX2
CUDA 10.0
TensorRT 5.0.6

[2020-08-17 08:56] MohammadKassemZein opened #748 "Jetson Xavier NX build"
Did anyone manage to build the project on Xavier NX with Jetpack 4.4?

[2020-08-17 17:02] peijason commented on #693
Problem solved.... Thank you ...

[2020-08-18 11:41] LitLeo opened #749 "IBuilder::setMaxWorkspaceSize() is not effective"
## Description

I'm building a large float32 model using API mode with static input shape.
This model has more than 100 layers and a large input shape. So it costs a lot of GPU memory.

When I set MaxWorkspaceSize = 10G, it's ok with maxBatchSize[1-6]. But when the maxBatchSize=7, error happens as follows.
[code]
I search the error, and find this happens due to the lack of workspace size. ButI inc

[2020-08-18 23:52] peijason opened #750 "Looking forward to seeing TensorRT for Ubuntu 20.04 with Python3.8 wheel ?"
- **Key**: Looking forward to seeing TensorRT for Ubuntu 20.04 with Python3.8 wheel ?
- **Doubts**: What's the relationship between this **Github TensorRT OSS** and **NVidia Official TensorRT**?
[![](https://api.gh-polls.com/poll/01EG1ZS4W2X338YSA0GBZ3HFTK/same%20)](https://api.gh-polls.com/poll/01EG1ZS4W2X338YSA0GBZ3HFTK/same%20/vote)
[![](https://api.gh-polls.com/poll/01EG1ZS4W2X338YSA0GBZ3HFTK/

[2020-08-19 04:00] LitLeo commented on #749
And when I set MaxWorkspaceSize = 10G and maxBatchSize=6, same error happens. Why？ It's weird！

[2020-08-19 07:45] Captain1986 commented on #183
but I meet network.num_layers equals to 0 bug : virtual nvinfer1::ILayer* nvinfer1::Network::getLayer(int) const: Assertion `layerIndex >= 0' failed
any suggestion is welcome

[2020-08-19 07:49] oleksii-udod commented on #183
https://github.com/NVIDIA/TensorRT/issues/183#issuecomment-657673563 helped me with the similar issue.

[2020-08-19 07:54] Captain1986 commented on #183
So, I need to upgrade my TensorRT 6.0.1.5 to TensoeRT 7?

[2020-08-19 08:03] oleksii-udod commented on #183
Not sure, I had the same issue with TensorRT 7. Maybe try  @giussepi solution with TensorRT 6 first.

[2020-08-20 07:46] charleybian commented on #402
Same problem on TensorRT-7.1.3.4, while old 7.0.0.11 is fine.
Debian 9
Try to upgrade to 7.1, and come across the problem:

[08/20/2020-15:19:11] [W] [TRT] /trt/TensorRT/parsers/onnx/onnx2trt_utils.cpp:216: Your ONNX model has been generated with INT64 weights, while TensorRT does not natively support INT64. Attempting to cast down to INT32.
While parsing node number 12 [GlobalAveragePool]:
ERROR:

[2020-08-20 19:55] rmccorm4 commented on #649
Closing due to no response.

[2020-08-20 19:55] #649 closed

[2020-08-21 06:55] twmht opened #751 "[Bug] Can't generate engine on very small network"
## Description

my workflow:
pytorch small network -> pytorch to onnx -> onnx to tensorrt (engine generation failed)

## Environment

**TensorRT Version**:  TensorRT 7.1.3
**GPU Type**:  RTX 2080 Ti
**Nvidia Driver Version**:  440
**CUDA Version**:  cuda10.2
**CUDNN Version**:  cudnn8
**Operating System + Version**:  ubuntu 18.04
**Python Version (if applicable)**:  3.7
**TensorFlow Version (if ap

[2020-08-21 08:42] CemalAker commented on #548
I have tested the same network with different environments. It still works on PC but **not on TX2**.

## Environment 3
**TensorRT Version**: 7.1.3.0
**GPU Type**: GTX 1080
**Nvidia Driver Version**: 440
**CUDA Version**: 10.1
**CUDNN Version**: 8.0.2
**Operating System + Version**: Ubuntu 18.04

Successful with Environment 3.

## Environment 4
**TensorRT Version**: 7.3.1 (jetpack 4.4)
**GPU Type**

[2020-08-25 00:37] rmccorm4 commented on #557
Thanks for the update @llk2why. Going to close this as the description and resolution seemed to work for you.

[2020-08-25 00:37] #557 closed

[2020-08-25 00:45] rmccorm4 commented on #733
Hi @X-funbean ,

The only combinations supported are those outlined in the Support Matrix for a given release: https://docs.nvidia.com/deeplearning/tensorrt/archives/tensorrt-713/support-matrix/index.html

Currentlly, you can't build the TRT_RELEASE from source with custom versions, you have to download the pre-built packages from the website.

[2020-08-25 00:45] #733 closed

[2020-08-25 00:49] rmccorm4 commented on #723
Hi @bronstein87 ,

I recommend you upgrade to the latest Jetpack release 4.4, which comes with TensorRT 7.1, and might be able to parse your example network. If not, please open a new issue with the TensorRT 7.1 errors.

[2020-08-25 00:49] #723 closed

[2020-08-25 02:11] wyp19960713 commented on #446
@YIYANGCAI 您好，我这边也遇到了同样的切片异常问题，您能方便告诉下是怎么解决的吗？
`
[TensorRT] ERROR: (Unnamed Layer* 238) [Slice]: slice size must be positive, size = [0,0,0]
[TensorRT] ERROR: (Unnamed Layer* 239) [Slice]: slice size must be positive, size = [0,0,0]
`

[2020-08-25 06:15] SergeLiu commented on #485
@JHMGo when I converting the model from the keras .h5 model to .pb then to .uff, I  need to add a custom wrapper but when building engine from .uff, custom layer is not supported, finally I delete all my custom layer from keras model

[2020-08-25 20:27] kevinch-nv commented on #426
@mdztravelling are you still having trouble with this issue with TRT 7.1? Can you attach the ONNX model you are running? (links in the original post seem dead)

[2020-08-25 20:30] #428 closed

[2020-08-25 21:00] kevinch-nv commented on #434
Thanks @dhkim0225 for the tip. Closing this issue.

[2020-08-25 21:00] #434 closed

[2020-08-26 06:45] kevinch-nv commented on #437
@dtiny  @Baenny are you still having trouble using the explict batch mode in TensorRT 7.x?

[2020-08-26 06:46] kevinch-nv commented on #696
Closing this issue since it looks like you've resolved your problem in #437.

[2020-08-26 06:46] #696 closed

[2020-08-26 06:48] kevinch-nv commented on #439
@copaah are you able to import your model with TensorRT now?

[2020-08-26 06:52] kevinch-nv commented on #446
@Hubert2102 @ZimingLu are you still having trouble with the performance of your model? Have you tried benchmarking with TensorRT 7.1?

[2020-08-26 07:04] kevinch-nv commented on #447
@nancy618618 are you still having this issue? I've noticed in the forum link @rmccorm4 posted that this issue was solved after moving to TRT 7 & the ONNX workflow. Can we close this issue?

[2020-08-26 07:21] kevinch-nv commented on #449
@ZimingLu @ll490187880 can you provide the models you are running?

[2020-08-26 07:23] kevinch-nv commented on #454
In TensorRT, we only support padding on the outer 2 dimensions of a tensor. How are you padding your input tensor?

[2020-08-26 09:00] hewumars commented on #670
I met the same problem.have you solved it ?
ERROR: builtin_op_importers.cpp:436 In function importConv: Assertion failed: inputs.at(2).is_weights()

[2020-08-26 10:26] XinnWang commented on #670
https://github.com/TRI-ML/packnet-sfm/issues/52

看看这个例子对你有没有帮助吧。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "NVIDIA/TensorRT"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月26日(星期三

[2020-08-26 22:57] rmccorm4 commented on #751
Hi @twmht ,

I was able to reproduce your error by running your code, but I was able parse your model successfully using `trtexec`:
[code]

I think there may be an issue with your script above. Please try double checking or simplifying the script to isolate the issue, as the ONNX model seems fine.

[2020-08-27 07:02] twmht commented on #751
@rmccorm4

so we can parse the onnx model produced from my script with trtexec, but can't parse with tensorrt python api?

[2020-08-27 07:09] twmht commented on #751
@rmccorm4

I finally found out a workaround by changing `input.flatten(1)` to `input.view([input.size(0), -1])`.

after that it can be parsed with python api.

by the way, I also tried to use torch2trt(https://github.com/NVIDIA-AI-IOT/torch2trt)  to convert to engine directly from pytorch.  the engine is built.  but the result is wrong when using multi batch.

for example,

I stack the same images

[2020-08-27 07:18] twmht commented on #751
Here is the code to convert `torch.view` with `torch2trt` (https://github.com/NVIDIA-AI-IOT/torch2trt/blob/master/torch2trt/converters/view.py#L17)

I have tried to change

[code]

to

[code]

but the multibatch issue still occurs. I am not sure what is the correct way to deal with `torch.view` when using torch2trt.

[2020-08-27 07:37] twmht commented on #751
@rmccorm4

I have tried to simplify my code as possible as I can.

you can ignore the pytorch part and only parse the onnx model by using tensorrt python api above.

[code]

I believe this is python api bug since `trtexec` works as expected.

[2020-08-28 02:24] rmccorm4 commented on #751
Hi @twmht ,

Your issue is this line:
[code]

Your ONNX model has a fixed batch size (you can view the model with Netron). You can also see this by the error TensorRT throws when you remove that line:
[code]

You're trying to force it to have a dynamic batch dimension with this line. However, this doesn't necessarily account for all of the other layers in the model that might also have a input/out

[2020-08-28 02:28] rmccorm4 commented on #751
Also, your issue here about dynamic batching is also likely related to trying to force dynamic batch on a fixed-shape model. You need to re-export your ONNX model with dynamic shape, and then try again, and you should get correct results with various batch sizes - assuming you set up your optimization profile and setup the execution context dimensions correctly.

You can use this code as a referen

[2020-08-28 03:17] twmht commented on #751
@rmccorm4

got it. I will try that as soon as possible.

by the way, I thought I could modify the dynamic batch without regenerating the onnx file due to this post (https://elinux.org/TensorRT/ONNX).

they said I can do this
[code]

is this corresponding to python code below?

[code]

[2020-08-28 03:21] rmccorm4 commented on #751
It's possible that it would work, but it's not guaranteed for every model and is bad practice.

That link mentions that here:

[2020-08-28 08:39] banbishan commented on #360
met the same problem. any resolution?

[2020-08-28 10:12] jackgao0323 opened #753 "Driver error when upgrade TensorRT 6 to TensorRT 7 using YoloV4 in INT8 mode"
## Description

I can using my code on TensorRT6 in INT8 and TensorRT 7 in FP32, but I getting the error like the following image when I use TensorRT 7 in INT 8.
![image](https://user-images.githubusercontent.com/17614632/91549601-c41fc900-e959-11ea-890f-8c088c744b78.png)

This is the verbose output.

![image](https://user-images.githubusercontent.com/17614632/91549627-ceda5e00-e959-11ea-8033-c991

[2020-08-28 11:20] taomiao opened #754 "BERT: nan output"
## Description

demo/BERT load a pytorch ckpt and build a try engine, output contains nan

## Environment
TensorRT6/TensorRT7 Docker image: 19.10-py3/20.07-py3

**TensorRT Version**:  6/7
**GPU Type**:  Titan XP/Tesla T4
**Nvidia Driver Version**: 418.56/440.30
**CUDA Version**: 10.1/11.0
**CUDNN Version**:
**Operating System + Version**:
**Python Version (if applicable)**:
**TensorFlow Version (i

[2020-08-29 15:16] pagepage800825 opened #755 "Results from SSD is wrong after serialized and deserialized."
## Description

I have followed the instruction in samplels/opensource/sampleSSD
The result was good, and shows
Label: car, confidence: 96.0587 xmin: 4.14486 ymin: 117.443 xmax: 244.102 ymax: 241.829

And then, I would like to serialize the engine to file for faster building again.
I do the following in the end of SampleSSD::infer:
IHostMemory* trtModelStream;
    trtModelStream = mEngine->seriali

[2020-08-31 07:05] HomeWave opened #756 "How to ensure portable across platforms?"
When using TensorRT to build engine, can we choose not perform GPU platform related optimization, so as to ensure that the serialized plan file can be used on different GPU platforms? In short, how to ensure/get portable across GPU platforms? Looking forward to the answer...

[2020-08-31 07:59] nazzzaroff commented on #730
Hi @zhaosj98! Thanks for answer!
I tried that
[code]
but I got the error again

[2020-08-31 08:17] G-Bong commented on #720
I met same issue

[2020-08-31 08:24] zhaosj98 commented on #730
@nazzzaroff
You can refer to the following code to debug and modify yours.
[code]

[2020-08-31 08:29] zhaosj98 commented on #730
@nazzzaroff
[code]
The reason for this error is that the number of layers in your parsed network is zero. So the index `network.num_layers - 1` is `-1`, which is less than zero.

[2020-08-31 08:46] lujq96 commented on #717
I see the same problem. Even if I delete the getDimensions() request, the output type will also be kFLOAT after next FullyConnected layer in bertModelDynamic().

[2020-08-31 11:45] hyc-xyz commented on #670
same problem

[2020-08-31 12:06] Jacoobr commented on #714
请问解决这个问题了吗 @MrLee12138

[2020-08-31 16:17] #267 closed

[2020-09-01 03:18] ttyio commented on #726
@srqj are you using master branch or the `release/7.1` branch?

[2020-09-01 10:02] bing1zhi2 opened #757 "please add more network_api python samples"
when I convert onnx model from pytorch to tensorRT, It has a lot of issues and it's hard to reslove them , So I want to use network api,but the sample ‘network_api_pytorch_mnist’ is too simple , It 's hard to learn how to write a network accroding existing network code.

[2020-09-01 18:31] rajeevsrao commented on #726
@srqj @MrRace @winself can you please confirm you are using TOT (specifically if you have this commit: https://github.com/NVIDIA/TensorRT/commit/4b918415339e4210013021616cbb571b1776959c)

[2020-09-01 18:42] rajeevsrao commented on #422
To be closed pending https://github.com/onnx/onnx-tensorrt/pull/418

[2020-09-01 18:55] rajeevsrao commented on #420
The INetworkDefinition object should be owned by the application and not the parser object. Can you please give an example of this bug if you have one @RicardSilva. Thanks.

[2020-09-01 19:00] rajeevsrao commented on #420
I'm closing this issue. In conclusion, the model weights can be converted to half prior to conversion from torch and to identify any ops with weights out of precision range, do a binary search of candidate layers by forcing precision with setPrecision and strict type as @rmccorm4 suggested earlier in the thread. @rmccorm4 is there an RFE against onnx-tensorrt or TensorRT?

[2020-09-01 19:00] #420 closed

[2020-09-01 19:03] rajeevsrao commented on #418
Closing as duplicate of https://github.com/NVIDIA/TensorRT/issues/626

[2020-09-01 19:03] #418 closed

[2020-09-01 19:04] rmccorm4 commented on #420
Hi @rajeevsrao,

Yes, I'll ping you.

[2020-09-01 19:17] rmccorm4 commented on #626
Hi,

Since it's been a few months, I'm going to assume this has been resolved. Feel free to update if otherwise.

[2020-09-01 19:17] #626 closed

[2020-09-01 19:31] RicardSilva commented on #420
I don't have code available atm but what triggered this error for me:
1. Obtain a INetworkDefinition using some parser (ONNX parser in my case)
2. Destroy the Parser object
3. Try to build an engine using the network definition

If the order of 2 and 3 are swapped then the engine construction succeeds without any problem. It is hard for me to say what could cause this but it looks like there is so

[2020-09-02 01:27] MrRace commented on #726
I use the `release/7.1`

[2020-09-02 01:42] MrRace commented on #726
My builder.py :
![image](https://user-images.githubusercontent.com/10300313/91922421-90012b00-ed00-11ea-8ceb-e863f41f0afd.png)

[2020-09-02 07:22] banbishan opened #758 "mask rcnn sample crash"
## Description

a strange error has be reported when run mask rcnn sample use vs2019.

## Environment

**TensorRT Version**: TensorRT-7.0.0.11
**GPU Type**: gtx1650 & rtx2080ti
**CUDA Version**: 10.0
**CUDNN Version**: 7.6.3
**Operating System + Version**: windows 10
**Python Version (if applicable)**: 3.6
**TensorFlow Version (if applicable)**: 1.14.0
**IDE**:vs2019
vs2019 report error:
![image](

[2020-09-02 10:00] ctxqlxs opened #759 "The padding value of IPoolingLayer is different form MaxPooling2D in tensorflow.keras"
**TensorRT:**
Padding value depends on pooling type, -inf is used for max pooling and zero padding for average pooling
But in **Tensorflow.keras:**
padding value is the nearest neighbor

**Example**
[code]

[2020-09-02 13:08] srqj commented on #726
Thanks for your reply, yes I'm using the master branch 6be3234.

[2020-09-02 13:24] srqj commented on #726
Thanks for your reply! Yes, my branch (master 6be3234) contains the commit 4b91841.

[2020-09-03 05:23] #759 closed

[2020-09-03 06:27] hellosummer8850 commented on #442
Hi, I found that I met the same issue, could you explained a little bit more about your solution "I solved it by reshaping its size before passing it into conv"?
I change all my tf.shape and Tensor.get_shape() with np.shape, but the error occurs still. following are the Conv2D code:
    @staticmethod
    def conv2d(inputdata, out_channel, kernel_size, padding='SAME',
               stride=1, w_ini

[2020-09-03 07:29] edumotya commented on #247
Well @rajeevsrao , now the uff parser does not find the plugin:

`[TensorRT] ERROR: UffParser: Validator error: MultipleGridAnchorGenerator: Unsupported operation _GridAnchorRect_TRT`

I am creating the plugin node using this code:

[code]

I started from the container nvcr.io/nvidia/deepstream-l4t:5.0-20.07-base. I also tried to rebuild the OSS components on Jetson, with no success, the error is

[2020-09-03 09:48] fish-finger opened #762 "Opensource TensorRT python bindings PLLLLLEEEAAAAASSSSEEEEEEE!!"
## Description

You keep locking out access to code even when there is NO COMMERCIAL REASON TO DO SO!!!!!

Your a hardware provider FFS, so why bother forcing your consumers to use pre-compiled binaries that are based on particular OS / framework versions nobody can use unless our computer systems are completely aligned with NVIDIAs.

Stop being A**HATS and put the TensorRT environment fully OS so

[2020-09-03 13:57] mk-nvidia commented on #762
Hi @fish-finger , please specify which OS/framework/TensorRT versions you're using (. Please also describe the error(s) you saw. Thanks!

[2020-09-03 14:13] MattDerry opened #763 "TensorRT ONNXParser errors on onnx slice op with a zero size dimension that is valid onnx"
## Description

In pytorch, I am training a slightly modified (just the input and output layers) `torchvision.resnet18` model and exporting the resulting model to an onnx file using `torch.onnx.export()`. The onnx model is subsequently loaded in tensorrt for inference.  The input layer is modified to support input of `(batch, 5, 64, 128)`, and is declared like so:

`self.resnet.conv1 = nn.Conv2d(5

[2020-09-03 14:14] fish-finger commented on #762
Lets start with the python bindings for the TensorRT. Your supporting Python 3.7 with CUDNN 8 / CUDA 10-2. The python wheel contains and ".SO" file which will not working with later versions of Python 3.8. Why provide an embedded binary that can only be used with a specific python version, if you provide the source code I could compile it myself to the python version I use in production.

And I wo

[2020-09-03 17:13] mk-nvidia commented on #762
Coincidentally, we're already planning to open source the Python bindings for the TensorRT API in the next few months. I'll forward your feedback to the Deepstream team as well. Thanks for your patience.
Happy to hear more feedback about other things we can improve to make your experience better.

[2020-09-03 17:48] nvzhihanj commented on #762
There are a variety of containers you can find on https://ngc.nvidia.com/catalog/containers/nvidia:tensorrt, which could potentially save your time setting up the environments locally. You can also refer to the release notes for the CUDA/TensorRT version you want: https://docs.nvidia.com/deeplearning/tensorrt/container-release-notes/index.html

[2020-09-03 18:37] fish-finger commented on #762
The nvidia containers are (after many 100s hours of investigation) not that useful since they dont publish the dockerfiles and just make it harder to understand the apis to the nvidia hardware.  AI devops/engineering is a fantastically complex business, your containers are useless for anything other than running demos Nvidia prepared. Worse you force folks to use authentication to create tensorRT

[2020-09-03 18:42] fish-finger commented on #762
Chaps, are you serious, a couple of months, were just talking about python bindings?

[2020-09-03 20:45] mk-nvidia commented on #762
There are other features / bug fixes in the release schedule before we get to the task of releasing these bindings.

[2020-09-03 21:08] pranavm-nvidia commented on #762
To get the Dockerfiles, you can try something like:
[code]
using `docker image ls` to figure out the image ID.

[2020-09-04 02:52] EFanZh commented on #688
Hi @rmccorm4, Is there any updates on this one?

[2020-09-04 04:04] rmccorm4 commented on #688
Hi @EFanZh ,

I'm not sure what errors you're experiencing, but I had to edit your code a lot.

1. `get_batch` needs to be implemented
2. Most other things raise this error `RuntimeError: Unable to cast Python instance to C++ type (compile in debug mode for details)`, I believe also because of `get_batch` not being implemented correctly.

I made a sample Calibrator class from yours here and buildi

[2020-09-04 04:27] abhi-kumar commented on #564
Could you please mention the steps taken to rebuild the engine?

[2020-09-04 06:45] WSTao opened #764 "How to extract the features of the middle layer of the model"
tensorrt extracts the features of the middle layer of the model as the input of the custom layer. For example, extract the conv3 layer features and input them to the custom ROIPooling layer

[2020-09-04 08:01] EFanZh commented on #688
@rmccorm4 Thank you for your response, I have run my script again, and the out of memory error has gone. Maybe some other program had occupied my GPU memory at that time.

[2020-09-04 08:02] somekindsoffood opened #765 "sample_uff_ssd crashes on Jetson (JP 4.4)"
I am running the sample_uff_ssd with the following enviroments.

TX2
ubuntu 18.04
JetPack 4.4
Cuda 10.2
cudnn 8.0
python 3.6.5
Tensorrt 7.1

[code]

I got the sample_uff_mnist run correctly but met this error,can someone helps figure out what going wrong here.
Many thanks.

[2020-09-04 08:47] georgeliu95 commented on #731
`np_bool` and `logging` not defined though.
Use `builder.create_network(1)` instead. [Builder - tensorrt](https://docs.nvidia.com/deeplearning/tensorrt/archives/tensorrt-713/api/python_api/infer/Core/Builder.html#tensorrt.NetworkDefinitionCreationFlag)

[2020-09-04 11:25] bing1zhi2 opened #766 "how to add two ITensor using python api ."
Can't find an useful layer In INetworkDefinition

[2020-09-04 11:34] derekwong66 commented on #442
Assuming the shape before passing it into conv is (16, 32, 256). add one more tf.reshape to its shape like tf.reshape(feature, (16, 32, 256)) then it will be solved

[2020-09-04 19:26] pranavm-nvidia commented on #766
You probably want the [Element-wise layer](https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Graph/Network.html?highlight=add_elementwise#tensorrt.INetworkDefinition.add_elementwise) with the [SUM op](https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Graph/Layers.html#tensorrt.ElementWiseOperation)

[2020-09-04 21:21] rmccorm4 commented on #688
No problem. I'm going to close this issue for now. Feel free to open a new issue if the solutions above don't work for you with the latest TensorRT version.

[2020-09-04 21:21] #688 closed

[2020-09-05 02:26] bing1zhi2 commented on #766
yes,It is.... thank you~

[2020-09-05 02:26] #766 closed

[2020-09-05 06:47] hellosummer8850 commented on #442
@derekwong66 > > little bit more ab

Perfectly solved! Thanks so much!

[2020-09-05 08:02] fish-finger commented on #762
Fair play, decent feedback and technical as well from multiple sources, tips hat.

1. You have a job to do and a release pipeline but NVIDIA are simply not customer focused, go open source with TRT, DEEPSTREAM and supporting software. We Abandoned DEEPSTREAM since all the advantages of using it were outweighed by the combination of closed code binaries and poor architecture (who rights glue code i

[2020-09-05 08:31] bing1zhi2 opened #768 "Dynamic inputs can't add optimization profile use Python Api"
I use python network api build a small engine successfully, but when I try to build a Dynamic Shape model following the instruction of this:
[https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#runtime_dimensions](url).

I got an error says
[code]

I set the log level to Verbose but got no more information, what I miss?

# code :

[code]

# env

tensorRT    7.1.3.4
cuda 10.2
p

[2020-09-05 16:08] nkhdiscovery commented on #301
I faced the same issue, my code simply had a detector class, in the constructor I was creating the cuda context; you have to avoid using pycuda autoinit, and instead create your context separately like:
`device = cuda.Device(0)
context = device.make_context()`
[see this: https://forums.developer.nvidia.com/t/tensorrt-do-inference-error/77055 , and you may also need a trt engine context too for doi

[2020-09-06 14:29] nazzzaroff commented on #730
@zhaosj98 Thanks!
I've tried your code with torchvision.models.resnet18 and get the error

[code]

Did I convert resnet to onnx in a wrong  way?
[code]

[2020-09-06 16:55] zhaosj98 commented on #730
I converted the pytorch model to onnx model, and then converted it to tensorrt engine successfully. Following is my modifications.
[code]
The code for converting the pytorch model to  onnx model is same as yours.
[code]

My tensorrt version is 7.1.3.4, cuda version is 10.2, cudnn version is 8.0, pytorch version is 1.6.0.

[2020-09-07 04:00] thunder95 commented on #748
simillar question, i am using tensorrt 6,  so need to build the project  on xavier nx with jetpack4.3.

[2020-09-07 08:47] manhongnie opened #769 "pb2uff"
I want to know how those custom ops in the config.py file "convert-to-uff frozen_inference_graph.pb -O NMS -p config.py" and how tensorrt can find them directly, if I install tensorrt on a computer , Copy these files, can I directly use the "convert-to-uff frozen_inference_graph.pb -O NMS -p config.py" command?

[2020-09-07 08:52] manhongnie commented on #769
For example this op="ResizeNearest_TRT"

[2020-09-07 10:06] karanjakhar commented on #753
Did you find the solution?

[2020-09-07 10:15] jackgao0323 commented on #753
No, I don't know why I get this error.
Did you face the same issue?

[2020-09-07 10:19] karanjakhar commented on #753
yes

[2020-09-07 10:20] karanjakhar commented on #753
I am converting Yolov4 from onnx to engine format

[2020-09-07 10:45] jackgao0323 commented on #753
I have posted this error on NVIDIA forum. They also didn't answer me.

[2020-09-07 11:05] karanjakhar commented on #753
I solved it.
Just update driver.

[2020-09-07 11:08] jackgao0323 commented on #753
Congrats!!
But I'm using Jeston NX, it can't update the driver.  HAHA

[2020-09-07 11:09] karanjakhar commented on #753
:)

[2020-09-07 11:12] karanjakhar commented on #753
I am working v100. TX2 might be my next target. Let's see what happens then. If you solve it please let me know the solution.

[2020-09-07 11:14] jackgao0323 commented on #753
I remember TX2 CANT using INT8 mode. If you want to running in INT8, you need to use Xavier or NX.

[2020-09-07 11:25] karanjakhar commented on #753
okay. Thanks

[2020-09-07 14:11] chrschinab opened #770 "Inference on a model prequantized in pytorch"
Hallo,
I want to run inference on a resnet50 model prequantized to INT8 in pytorch . Is there a way to deploy this model in TensorRT? As far as I understood only a quantized ONNX model is accepted by TensorRT. However, currently, Pytorch does not support the conversion to quantized ONNX.
Is it possible to deploy a model prequantized in TFLite with TensorRT?

[2020-09-08 01:21] #769 closed

[2020-09-08 01:21] manhongnie commented on #769
1

[2020-09-08 01:59] Pudge-tao commented on #720
I also confuse about this error in dynam input

[2020-09-08 11:52] ahangchen commented on #303
@twmht how to init the memory by pycuda?

[2020-09-08 21:16] pranavm-nvidia commented on #762
I understand your frustration; Hopefully open-sourcing the Python bindings will alleviate at least some of the issues you've highlighted here.

We really do appreciate your feedback, but we'd appreciate it even more if you keep our [code of conduct](https://developer.nvidia.com/code-conduct) in mind for your future posts.

[2020-09-08 21:18] pranavm-nvidia commented on #768
I think you've almost got, it except that when you build the engine, you need to provide your profile:
[code]

[2020-09-09 07:02] Eralien opened #772 "Onnx GraphSurgeon subgraph does not cleanup correctly"
## Description

I was doing some tests based on the OnnxGS example 3 (isolate a subgraph). This example demonstrated how to separate a subgraph by giving input and output tensors, and leaving everything else to OnnxGS.

However, when I was trying to cut out a different part of the graph, an unused node was not eliminated after calling `cleanup()` method.

What the original model is:
![original mod

[2020-09-09 16:17] fish-finger commented on #762
Rebuilding entire AI pipelines for a specific python version (for a small firm) post Covid 19 is not a small deal,  and unfortunately folks dont listen unless you SHOUT sometimes.

[2020-09-10 00:19] vujadeyoon opened #773 "NvInfer.h not found"
Dear all,

I manage to install TensorRT using a tar file by referring to the [official NVIDIA site](https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html#installing-tar) and try to convert PyTorch model to TensorRT model. The example codes for the TensorRT are [TensorRT-RetinaFace](https://github.com/wang-xinyu/tensorrtx/tree/master/retinaface).
However, I'm having a problem with

[2020-09-10 02:11] EFanZh opened #774 "Int 8 calibration accuracy is affected by calibration batch size"
## Description

When using int 8 calibration, different calibration batch sizes affects the result CUDA engine accuracy.

## Environment

**TensorRT Version**: 7.1.3.4
**GPU Type**: GeForce GT 730
**Nvidia Driver Version**: 450.66
**CUDA Version**: 11.0.3
**CUDNN Version**: 8.0.2.39
**Operating System + Version**: Arch Linux
**Python Version (if applicable)**: 3.6
**TensorFlow Version (if applicab

[2020-09-10 09:29] zhou-frank opened #775 "Compile onnx parser error"
## Description

When I compile the onnx parser, I have encounter the `class nvinfer1::IShuffleLayer’ `has no member named `setZeroIsPlaceholder` error.

## Environment

**TensorRT Version**: 7.1.3.4
**GPU Type**: RTX2080
**Nvidia Driver Version**:  440.100
**CUDA Version**: 10.2
**CUDNN Version**: 8.0
**Operating System + Version**: Ubuntu 18.04
**Python Version (if applicable)**: 3.6
**PyTorch Ve

[2020-09-10 09:40] georgeliu95 commented on #757
Do you mean how to reconstruct a network in TensorRT? If so, I am studying these things too. And I think we can use `network.add_xxx` to define our networks. See our API document [TensorRT Python API](https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/index.html) for more information.

[2020-09-10 09:48] bing1zhi2 commented on #757
@georgeliu95 Yes .   I konw the api document, but don't konw  how to add same layer to my network, like lstm,seems to need to set four gate weights,but don't know how exactly to do it.  the c ++ example is hard to read....

[2020-09-10 13:03] quietsmile commented on #446
请问你的问题解决了么？

[2020-09-10 13:04] quietsmile commented on #446
请问，你这边实验的加速比如何？谢谢。

[2020-09-10 13:05] quietsmile commented on #449
请问你这个问题解决了么？最后加速明显么？谢谢

[2020-09-10 17:30] hyperfraise opened #776 "All optimizations aren't compatible with 3d layers"
Hi. I'm very interested in being able to use the full range of optimizations on 3d convolution BatchNorms and Pooling layers. Do you know when it might be ready ?

Some ressource indicating what is missing :  https://docs.nvidia.com/deeplearning/tensorrt/support-matrix/index.html
My speedup on 3d networks are pretty low for now compared to FP16 inference in pytorch.

[2020-09-10 20:54] pranavm-nvidia commented on #772
Good catch, this is happening because `cleanup()` walks backwards from the output tensors to figure out what tensors are used. The problem is that it doesn't stop even once it gets to a tensor that is a graph input.

Thanks for pointing this out, I'll fix it shortly.

[2020-09-11 03:57] cocoyen1995 commented on #625
Hi @rmccorm4,

Sorry to bother you. I'm trying to create an INT8 inference engine.
After some research, my understanding is that,
I have to prepare the trained image and label file to get a cache file for creating INT8 engine in TRT,
or getting the tensor's min max value and handle this part manually by coding.

[Here](https://drive.google.com/file/d/15Wg84DsYkItkEzDJMlHKMKXADH2NyLdv/view?usp=shar

[2020-09-11 04:14] BokyLiu opened #777 "Question about Trt7.1 mutil batch inference"
in trt5, serialize trt with shell:
`
./trtexec --onnx=example.onnx --saveEngine=example.trt --fp16 --batch=5
`
then deserialize example.trt in my c++ project and run inference with variable batch, the time consuming is  direct ratio with batch num.
For example, i program to do inference two times, first with one batch time consuming is 10ms, second with two batch time consuming is 20ms.

in trt7.1

[2020-09-11 06:29] yurui777 commented on #477
Hello, can u share your way to solve this problem if u have done??

[2020-09-11 07:25] cocoyen1995 commented on #557
Hi @le8888e ,

I'm trying to convert an onnx model(UNET in my case) to INT8 engine as you did before with C++.
I've searched for a while but didn't find any example of making calibration file with c++(only found many with python).
Since I'm on a Windows computer, cannot installing tensorrt with python, those of work can't be done as I expected...
I want to know how you make calibration file with r

[2020-09-11 08:53] cocoyen1995 commented on #659
Hi @azad96 ,

I'm encountering the same issue with you Q_Q
Do you have any solution now?

[2020-09-11 09:27] azad96 commented on #659
Hi @cocoyen1995,

Unfortunately I don't. It seems like there is not any sample showing how to do it.

[2020-09-11 09:33] le8888e commented on #557
Hi @cocoyen1995 ,

First you need to implement Class int8EntroyCalibrator like in this file
[tensorRT.txt](https://github.com/NVIDIA/TensorRT/files/5207969/tensorRT.txt)

Then in the step of convert onnx model to TRT engine, you need to declare an instance of int8EntroyCalibrator like
calibrator = new int8EntroyCalibrator(maxBatchSize, calibration_images, calibration_table_save_path);

Then pass c

[2020-09-11 10:01] cocoyen1995 commented on #557
Hi, @le8888e ,

Thanks for your quick reply!
I'll try that out and let you know the result ^^
Have a nice weekend!
如果過程中有其他問題我再提出，先說聲謝謝囉!

[2020-09-13 00:57] xkszltl commented on #697
We had the same kind of questions for years, and it's the biggest blocker for our TensorRT adoption, especially on Windows.

The analytics you captured is inaccurate, because the "probe" is too huge for your sample, and you'll be observing the side effect of the probe.

[2020-09-13 01:00] xkszltl commented on #640
@rmccorm4 @ausk
What's the outcome of investigation?
We hit this kind of issue frequently.

[2020-09-13 14:50] vujadeyoon commented on #773
Dear all,

I found a solution related to the problem, non-NvInfer.h.
The installation method related to TensorRT plugin seems to be missing from the [official NVIDIA site](https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html#installing-tar).
I wrote the installation method and experiments between PyTorch and TensorRT-Torch2TRT are summarized for the customized ResNet-18 including

[2020-09-14 02:01] XiaoyuWang199 commented on #764
You can mark out the layer you want as output layer, then extract the output layer features.

[2020-09-14 02:20] cocoyen1995 commented on #557
Hi @le8888e ,

不好意思又打擾了。我剛剛仔細看了下您提供的程式碼，針對`prepareImage()`這個函式的部分想請問一下，
如果我的模型訓練時是用HWC的順序，截至目前我完成的推論程式也是用HWC，這樣有需要換成CHW嗎?
另外，若原本我的模型吃的輸入是使用1/255.0做歸一化，一樣要改成1/127.5去做嗎?
(還是方便的話能跟您加個微信進一步請教嗎? 我的id是`cocococoyenyen`，想說這部分的討論好像太細節了不確定在這邊發問適不適合ˊˋ

[2020-09-14 02:36] XiaoyuWang199 opened #778 "Algorithms selected propblem while use int8 precision"
## Description
Algorithms selected propblem while use int8 precision。  TensorRT 7.1 add a new function to choose the algorithm manually.
it works well in fp32 percision because algorithms are  choosed for inference.  while in calibration progress,  choose algorithms will
occur problems .
[TRT][Debug]Builder timing cache: created 0 entries, 0 hit(s)
[TRT][ERROR]../builder/tacticOptimizer.cpp (1577)

[2020-09-14 08:18] #772 closed

[2020-09-14 10:06] jiagh2010 commented on #310
export-model.py in create_onnx_graph_proto IndexError: list index out of range.

[2020-09-14 13:28] ivanhc commented on #490
Hi,

You can serialize and deserialize using the following code, I have used it in the example "sampleUffMaskRCNN" and it is working

    // Create and save engine
    std::string precision = ((mParams.fp16==1) ? "fp16" : "fp32");
    std::string name_engine = "mrcnn_nchw.uff." + precision + ".engine";
    bool create_engine = true;
    if (create_engine)
    {
        // Create engine
        mEn

[2020-09-15 06:24] wen2857602 opened #779 "The inference result of the ave pooling is different on trt 5.1.3 and trt 7.1.3"
## Description

I add poolinglayer on trt 5.1.3 and trt 7.1.3 respectively. The configuration of this layer is the same as caffe parser, as follows:
    network->addPoolingNd(*tensors[0], nvinfer1::PoolingType::kAVERAGE,
                            nvinfer1::Dims2(kernel_size[0], kernel_size[1]));
    pool->setPaddingMode(nvinfer1::PaddingMode::kCAFFE_ROUND_UP);
    pool->setStrideNd(nvinfer1::Dim

[2020-09-15 08:58] twmht opened #780 "Illegal Memory Access with ShuffleNet"
## Description

## Environment

**TensorRT Version**:  7.1.3
**GPU Type**:  GTX-1070-Ti
**Nvidia Driver Version**:  440.33.01
**CUDA Version**:  10.2
**CUDNN Version**:  8.0.2
**Operating System + Version**:  ubuntu 18.04
**Python Version (if applicable)**:  3.7.4
**TensorFlow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (which commit + image + tag)**:

[2020-09-15 22:53] golden0080 opened #782 "IBuilder::buildEngineWithConfig returns `nullptr`"
## Description

I used C++ API to build new TensorRT engine from ONNX parser.
I had to make hacks to make ONNX parser to support Custom Plugins and the parsed network looks fine.
But when calling `IBuilder::buildEngineWithConfig`, the result is always `nullptr` and no information to help me debug this.

## Environment

**TensorRT Version**: 7.0.0
**GPU Type**: Nvidia 2080Ti
**Nvidia Driver Version

[2020-09-16 09:17] twmht commented on #780
it's related to shufflenetV2, onnx models in https://github.com/onnx/models/tree/master/vision/classification/shufflenet also have this issue.

[2020-09-16 11:30] beizhengren commented on #531
@jinfagang Hi, do you solve the problem?

[2020-09-16 14:46] pranavm-nvidia commented on #782
Can you try with verbose logging?

[2020-09-16 15:18] SvanKeulen commented on #354
After testing TensorRT 7.1.3
[code]
I can confirm the issue is now resolved.

[2020-09-16 15:18] #354 closed

[2020-09-16 22:50] yingsiq commented on #130
+1

[2020-09-17 01:12] golden0080 commented on #782
Managed to make it work by setting a bigger `MaxWorkspaceSize` to builder.
I will try verbose logging and really think if the function returns `nullptr` and it deserves some logging higher than verbose only.

[2020-09-17 01:15] golden0080 commented on #782
Tried with verbose logging:
[code]

Basically nothing after building function returns.

[2020-09-17 01:54] mk-nvidia commented on #751
@twmht Is your bug resolved? If so please close this issue.

[2020-09-17 02:08] mk-nvidia commented on #749
@LitLeo Do you face the same error with TensorRT-7.1? Can you share a repro case/representative model that we can use to investigate the error at our end? Thanks

[2020-09-17 02:14] mk-nvidia commented on #748
@MohammadKassemZein / @thunder95 are you hitting errors while building, or are you looking for directions to build on this platform? Are you cross compiling or building natively?

[2020-09-17 02:14] twmht commented on #751
@mk-nvidia
not confirm yet. I will close this issue if the problem is gone.

[2020-09-17 03:30] mk-nvidia commented on #746
@WSTao Please share steps to reproduce this problem, the OS, Framework, TensorRT version, driver etc. that you're using.

[2020-09-17 03:40] mk-nvidia commented on #744
@blazeCCC please include the following information in the bug so we can help you.
A link to a repro case would also be very helpful in diagnosing the problem

## Environment

**TensorRT Version**:
**GPU Type**:
**Nvidia Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**Operating System + Version**:
**Python Version (if applicable)**:
**TensorFlow Version (if applicable)**:
**PyTorch Version

[2020-09-17 03:52] mk-nvidia commented on #741
@justinblaber Thanks for the suggestion. We'll take that into consideration for future releases.
FYI @rajeevsrao

[2020-09-17 04:01] mk-nvidia commented on #739
@sujoyrc Which TensorRT version are you hitting this with?

[2020-09-17 04:04] mk-nvidia commented on #737
@silaopi Please share either the model or a test case that reproduces the error.

[2020-09-17 04:04] ttyio commented on #742
Hi @ye1024 , the `inference.py` is mainly used for functional test. We measure perf using `perf.py`, and we can build a binary `build/perf` if you want to try cuda graph.

The perf data in README is collected from a more friendly command wrapper `bash scripts/inference_benchmark.sh --gpu <arch>` . Could you take a try? thanks.

[2020-09-17 04:07] mk-nvidia commented on #734
CC @kevinch-nv @rmccorm4

[2020-09-17 04:27] mk-nvidia commented on #751
@twmht Is https://github.com/onnx/onnx-tensorrt/issues/519 the same issue as this one? If so please close one of these issues. Makes our tracking job a bit easier. Thanks!

[2020-09-17 04:40] Bidski commented on #582
I am experiencing a very similar (if not the exact same) issue. My use case is creating (and deleting) a context in multiple different threads, resulting in multiple contexts being created and GPU memory growing until there is none left.

The TensorRT Best Practices guides says

So I would expect this to work.

[2020-09-17 04:44] mk-nvidia commented on #730
Thanks for the helpful comments @zhaosj98
@nazzzaroff did that solve the error you were seeing?

[2020-09-17 04:47] mk-nvidia commented on #728
CC @rmccorm4 @kevinch-nv @rajeevsrao

[2020-09-17 05:22] mk-nvidia commented on #724
@MrRace what build command did you use to build the container?

[2020-09-17 05:22] twmht commented on #751
@mk-nvidia

yup. the two issues are both related. closing this now.

[2020-09-17 05:22] #751 closed

[2020-09-17 05:46] silaopi commented on #737
@mk-nvidia
Model is shown below:

[code]

[2020-09-17 05:51] uni19 opened #783 "IResizeLayer with dynamic batch size"
TensorRT version 7.1.3.4

[code]

To work with dynamic batch size, the first dimension of outShape is set -1.   Then, TensorRT complains "../builder/cudnnBuilderGraph.cpp (780) - Assertion Error in checkDimsSanity: 0 (dims.d[i] >= 0)".

So, how can I make IResizeLayer works with dynamic batch size? Or this is not supported?

Thanks

[2020-09-17 07:35] sujoyrc commented on #739
@mk-nvidia TensorRT version 7.1.2

[2020-09-17 09:00] CaptainJohansson opened #784 "how to use TensorRT registered plugins in My application?"
according to the develop guide,  the first step is to call initLibNvInferPlugins(void* logger, const char* libNamespace)() in my application code and then add an embedded plugin (such as leakyReLU)using the below codes:
//Use the extern function getPluginRegistry to access the global TensorRT Plugin Registry
    auto creator = getPluginRegistry()->getPluginCreator("LReLU_TRT", "1");
    // const P

[2020-09-17 09:01] CaptainJohansson commented on #784
//Use the extern function getPluginRegistry to access the global TensorRT Plugin Registry
    auto creator = getPluginRegistry()->getPluginCreator("LReLU_TRT", "1");
    // const PluginFieldCollection* pluginData = creator->getFieldNames();
    // -------------------- pluginfield -------------------------------------
    PluginField* tempField;
    tempField = (PluginField*)malloc(sizeof(PluginFie

[2020-09-17 15:01] pranavm-nvidia commented on #783
You can use [setInput](https://docs.nvidia.com/deeplearning/tensorrt/archives/tensorrt-713/api/c_api/classnvinfer1_1_1_i_resize_layer.html#a0c8fca7b93c914f8fd7272b3687fe99b) to set the output shape to a runtime value

[2020-09-17 15:36] xusk commented on #593
are you sure ?  the tensorrt 7.0.11  find gpu memery leak

[2020-09-17 15:38] uni19 commented on #783
@pranavm-nvidia  Thank you for your response very much！

First, my model have multiple resize layer, if using multiple input shape binding to specify their output shape, I think this is not easy to use.

Second, if use IShapeLayer for this, how can I compute the target output shape? Add a plugin to compute the output shape?

[2020-09-17 15:46] pranavm-nvidia commented on #783
@uni19 Yes, it would be fairly verbose for multiple resize layers. An automated import path, like the ONNX parser, might be easier to use.

To do it it manually though, you can use regular TRT layers with IShapeLayer. For example, to double the image size for an NCHW input (in psuedo-code):
[code]
(of course, in this example case, you could just use [setScales](https://docs.nvidia.com/deeplearning

[2020-09-17 15:56] uni19 commented on #783
@pranavm-nvidia For the scale factor case, I can use `addScales`. But I want to fix the target output size. It seems that i need to add a plugin.

[2020-09-17 16:00] uni19 commented on #783
@pranavm-nvidia  Oh, I think I can do this, thank you
`
shape = shape * (1, 1, 0, 0) + (0, 0, h, w)
`

[2020-09-17 19:19] SharifElfouly opened #785 "Missing Makefile in <TensorRT root directory>/samples/sample_uff_maskRCNN directory"
## Description

I'm currently trying to run the TensorRT Uff-MaskRCNN sample like described [here](https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/sampleUffMaskRCNN).

I'm able to run the first step **Prerequisites** successfully but get stuck at the first step of **Running the sample**, where the the model should be compiled using the Makefile. The problem is that there is no Ma

[2020-09-18 03:46] HaoLiuHust commented on #593
Yes, I am sure, I have use 7.1 GA in our products.

[2020-09-18 04:45] Bidski opened #786 "Deserializing model results in segmentation fault"
## Description

I serialise a model using

[code]

and then deserialize it using

[code]

When I use the deserialized engine and allocate a buffer using the [BufferManager](https://github.com/NVIDIA/TensorRT/blob/master/samples/common/buffers.h#L236) class, I get a segmentation fault when trying to copy data to the input buffer.

[code]

However, if I build the engine from a UFF file (same as [thi

[2020-09-18 09:24] #783 closed

[2020-09-18 09:26] uni19 opened #787 "cant output of IPluginV2IOExt or IPluginV2DynamicExt be used as shape tensor"
as title

[2020-09-18 09:44] #787 closed

[2020-09-18 10:42] baskervill commented on #749
Can you try  IBuilderConfig::setMaxWorkspaceSize instead of IBuilder? "IBuilder::setMaxWorkspaceSize()  API will be removed in a future release, use IBuilderConfig::setMaxWorkspaceSize instead." since 6.0, quote from doc https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_builder.html.

[2020-09-18 15:17] xusk commented on #593
thanks, i’m ok

[2020-09-19 08:14] brucelee78 opened #788 "TensorRT-7.1.3.4/samples/sample_uff_maskRCNN get error: 'str' object has no attribute 'name'"
## Description

when Convert the h5 model to the UFF model,according to README.md file:
`python mrcnn_to_trt_single.py -w ../data/mask_rcnn_coco.h5 -o ../data/mrcnn_nchw.uff -p ./config.py`
but i got a error:
[code]
so, how can i solve it ,please help me, thank you~!!

## Environment

**TensorRT Version**: 7.1.3.4
**GPU Type**: TITANRTX
**Nvidia Driver Version**: 440.110
**CUDA Version**: 10.2
**C

[2020-09-19 11:21] wumeng2 commented on #152
@rmccorm4 hi, thank you for tensorrt. it is nice tools. Now, I  need to use tensorrt7.0 for cuda10.0 and cudnn7.6 in jetson nano(arrch64).  I know tensorrt6.0 for cuda10.0 in jetpack4.3 and tensorrt7.1 for cuda10.2 in  jetpack4.4. Is this way to compile tensorrt7.0 from source  feasibleI ?  Looking forward to your reply.

[2020-09-21 06:15] wanghr323 opened #789 "How to get the information of each layer in cudaengine"
When I am using tensorrt, when I adjust the log level to kverbose, at the end of buildEnginewithconfig, I can see that the log prints out the information of all the layers in the engine, but can I get this information in the program? What? (Not just through these logs)

[2020-09-21 06:43] Qiancj0605 opened #790 "Inconsistent prediction results of the same model with different accuracy"
TensorRT 7.1
Protobuf 3.13.0
python 3.6.10
cuda 10.2
tensorflow 1.12.0

I have a bert model in onnx format，convert onnx to trt model with 16 precision and 32 precision respectively, the infer results of the two trt models with the same input result are inconsistent。
Has any boss met？

[2020-09-22 06:12] MuhammadAsadJaved opened #791 "Custom Tensorflow-Yolov3 to onnx and then to trt.engine"
Hi,
     I am using the TensorFlow version of yolov3, it's not the same as the darknet, it used two yolov3 for feature extraction from visual and infrared images and then perform feature fusion and finally object detection.

My project can run in GTX 1080 Ti at about 40 FPS , but in Xavier NX the speed is 2 FPS.
Now my goal is to convert this TensorFlow model to onnx and trt engine to speed up in

[2020-09-22 09:58] Scottchou7 commented on #348
Hi, I am new to C++ and TensorRT. I tried to modify "sampleOnnxMNIST.cpp" for loading a MobileNetV1 to classify my own data. However the output value was wrong. Below is my code. Can anyone help? (BTW: I use [keras2onnx](https://github.com/onnx/keras-onnx) convert .h5 to .onnx)

OS: Win10 (Visual Studio 2017)
GPU: 2080 Ti
TensorRT version:  7.1.3.4
CUDA version: 11.0
Cudnn version: 8.0.2
onnx vers

[2020-09-22 13:35] gutianchang commented on #720
i meet same issue. does anyone know how to use do_inference in sub-thread?

[2020-09-22 17:49] pranavm-nvidia commented on #791
Provided a short overview of the two approaches below, hope it helps!

# TF -> ONNX -> TRT

This is the approach we typically suggest for best performance. It involves exporting your TF model to ONNX, and then importing the ONNX model into TensorRT.

Steps:
1. Convert your TF frozen graph or checkpoint to ONNX. You can refer to the [tf2onnx README](https://github.com/onnx/tensorflow-onnx#getting-s

[2020-09-22 21:09] ashuezy opened #792 "Installing TensorRT on docker | Depends: libnvinfer7 (= 7.1.3-1+cuda10.2) but 7.2.0-1+cuda11.0 is to be installed"
## Description

My base system is ubuntu 18.04 with nvidia-driver. **I just installed the driver and it is showing cuda 11.**
While installing TensorRT in the docker it is showing me this error. I haven't installed any drivers in the docker image.

[code]

NVIDIA-SMI 450.66       Driver Version: 450.66       CUDA Version: 11.0

Details about the docker
docker pull nvidia/cuda:10.2-devel-ubuntu18.0

[2020-09-23 00:43] justinblaber opened #793 "Installation tips"
Two things which should maybe be added to the README:

1) First, the user should be added to the `docker` group so the docker build commands can run without sudo. When its run with sudo it complains about added user 0 (conflict with root)

2) At the end you need to run `make install` to ensure the built files are copied over to your tensorrt installation

Might sound stupid but its nice just doing

[2020-09-23 01:48] Scottchou7 opened #794 "How to use OpenCV in "sampleOnnxMNIST.cpp" ?"
Hi, I am new to C++ and TensorRT. I trained a MobileNetV1 to classify my own data in Keras. I tried to load this model by modifying "[sampleOnnxMNIST.cpp](https://github.com/NVIDIA/TensorRT/blob/master/samples/opensource/sampleOnnxMNIST/sampleOnnxMNIST.cpp#L238-L264)". However the output value was wrong. I think the reason is the way I use OpenCV. I have referenced "[sampleFasterRCNN.cpp](https://

[2020-09-23 01:50] Scottchou7 commented on #794
[code]

[2020-09-23 01:51] MuhammadAsadJaved commented on #791
@pranavm-nvidia  Got it. Thank you for the explanation.

[2020-09-23 06:41] canhld94 commented on #741
So I'm not the only one who feel that the samples are too complicated. IMO, the samples are highly over-engineered. The purpose of samples is to help users to understand the API, but here the samples itself introduces several new classes and APIs. When I see an API or class, I don't know where it comes from, the core tensorrt or the samples. I think in the future, developers should just make simpl

[2020-09-23 08:08] ping28198 commented on #630
I  have the same question

[2020-09-23 08:55] huliang2016 commented on #377
@float123 have you fixed your problem yet?

[2020-09-23 10:40] Sanster commented on #377
I'm having the same problem

[2020-09-23 13:52] ivanpanshin opened #795 "How to use NMS with Pytorch model (that was converted to ONNX -> TensorRT)"
All right, so, I have a PyTorch detector SSD with MobileNet. Since I failed to convert model with NMS in it (to be more precise, I converted it, but TRT engine is built in a wrong way with that .onnx file), I decided to leave NMS part to TRT.

In general, there are several ways to add NMS in TRT:

1. Use graphsurgeon with TensorFlow model and add NMS as graphsurgeon.create_plugin_node
2. Use CPP c

[2020-09-23 14:28] pranavm-nvidia commented on #795
You can use [ONNX-GraphSurgeon](https://github.com/NVIDIA/TensorRT/tree/master/tools/onnx-graphsurgeon) to [modify the ONNX model to include a plugin node](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#using_custom_layer). You can look at the [onnx_packnet](https://docs.nvidia.com/deeplearning/tensorrt/sample-support-guide/index.html#onnx_packnet) example for details.

[2020-09-23 21:06] DilipSequeira commented on #749
The documentation here could be clearer. Here's what it says:

_Some TensorRT algorithms require additional workspace on the GPU. The method `IBuilderConfig::setMaxWorkspaceSize()` controls the maximum amount of workspace that may be allocated, and will prevent algorithms that require more workspace from being considered by the builder._

i.e. `maxWorkspaceSize` is the discretionary memory that th

[2020-09-24 00:41] mk-nvidia commented on #737
Thanks @silaopi, we're looking at the problem

[2020-09-24 00:57] mk-nvidia commented on #732
@hande6688 do you see this problem with a recent TensorRT release as well?

[2020-09-24 01:41] zjd1988 commented on #630
![企业微信截图_16009116198073](https://user-images.githubusercontent.com/7134030/94091117-039edf80-fe4a-11ea-9bc6-bec9844901e5.png)
@ping28198  latest document not support yet

[2020-09-24 03:34] tzattack commented on #149
I have the similar problem when I try to infer an offline model with
`[E] [TRT] Cuda initialization failure with error 100. Please check cuda installation: http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html.`

[2020-09-24 05:57] Qiancj0605 commented on #790
Has anyone encountered it?

[2020-09-24 07:49] ivanpanshin commented on #795
Wow, ONNX-GS, nice! And just to be 100% sure: it's possible to use ONNX-GS in the same way as the regular GS to use this CPP NMS plugin (https://github.com/NVIDIA/TensorRT/tree/master/plugin/batchedNMSPlugin), correct?

[2020-09-24 08:03] ttyio commented on #601
Hello @aishangjj Did you try a clean build of the plugin? could you share your full code to reproduce the SIGSEGV if you still hit error? thanks!

[2020-09-24 09:41] PatrickNa commented on #753
I am facing the same error message. I am running it on a RTX 2070 Super. To which driver are you referring to? CUDA, or Nvidia
graphic driver?

[2020-09-24 13:24] PatrickNa commented on #753
Upgrading the CUDA version and all components along the way solved the problem for me. I upgraded from CUDA 11 to CUDA 11.1. A more expressive error message would be much appreciated though.

[2020-09-24 13:27] ashuezy commented on #792
Can you provide support Nvidia ?
We are stuck on our deployment for a very important client of ours.
TensorRT seems to taking cuda versions for the base machine instead of the docker for which it is installed.

[2020-09-24 14:10] pranavm-nvidia commented on #795
Yes, correct. You can replace the old NMS subgraph/node with a new node whose `op` is set to the plugin name. There are two ways to do this, which I've outlined below.

## Old-GS Style
In the simplest case, you can create the node and insert it into the graph like old GS, e.g.:
[code]

## Layer + Register API

If you're reusing this across multiple models, or using the plugin multiple times in the

[2020-09-25 05:19] #786 closed

[2020-09-25 06:18] dianhong01 commented on #793
[Manage Docker as a non-root user](https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user)

 I also set `sudo chmod 666 /var/run/docker.sock`.

[2020-09-25 06:41] wangweiw opened #796 "how to get the bert inference performance on A100?"
I could run the benchmark on A100, and get the results like this :
![image](https://user-images.githubusercontent.com/3614967/94234859-180fd480-ff3d-11ea-8c46-5c498ec3651d.png)

But how to convert the latency time into sentence/s?
![image](https://user-images.githubusercontent.com/3614967/94234901-2fe75880-ff3d-11ea-94f5-ae6f4a404653.png)

[2020-09-25 07:20] HappyKerry commented on #755
hello，have you solved the problem？I moved the sampleSSD code ，and compiled in tensorrt7.1.3，got the wrong detections like yours

[2020-09-25 07:27] canhld94 commented on #788
This error caused by `_get_node_name(nodes)` expects `nodes` is a list of graph nodes create by `gs.create_plugin_node`, but in the `config.py` file,  a list of nodes name is passed to `dynamic_graph.remove()`. You can work around this error either by one of the two following ways:
- In file `config.py`, create a list of input nodes with `gs.create_plugin_node` and pass it to `dynamic_graph.remove

[2020-09-25 09:53] HappyKerry opened #797 "sampleSSD TensorRT 5 up to TensorRT7.1.3"
I used the sampleSSD code in TensorRT5,
it can get right detections in trt5,
but get wrong detections in trt7.1.3 using the same code, why?

[2020-09-25 09:53] Chenyangzh commented on #582
hello, I am facing the same issue.
In my case, I create contexts in the main thread and each of them are used for different worker threads. The context will be deleted if a worker thread finished and exit. The gpu memory utilization increases if I repeat creating and destroying.
Any solution for that?

Thanks!

[2020-09-25 13:40] lowsfer commented on #739
That statement is not always true.
"Often the time taken to compute results for batch size N=1 is almost identical to batch sizes up to N=16 or N=32"
This statement is removed from the newest guide.

It applies to a some layers, e.g. Fully-connected, where the most cost is on reading weights rather than computation. N=1 and N=16 needs to read the same amount of weights.
It also applies to some spe

[2020-09-25 16:59] linukc commented on #735
@Pudge-tao how did you solve this problem?

[2020-09-25 17:26] linukc opened #799 "Onnx to tensorrt"
## Description

buf = engine.serialize() - > NoneType object has no attribute 'serialize'
[TensorRT] ERROR: ../builder/Layers.cpp (3986) - Assertion Error in validate: 0 (nbResizeDim >= 0)

## Environment

**TensorRT Version**: 7.1.3.0
**GPU Type**: Jetson Nano
**CUDA Version**: 10.2.89
**CUDNN Version**: 8.0.0.180
**Operating System + Version**: ubuntu 18.04 (Jetpack 4.4)
**Python Version (if app

[2020-09-26 18:54] zhangyux15 opened #800 "3080 support"
## Description
I run tensorrt sample with 3080 failed, but works for 2080ti by setdevice.

## Environment

**TensorRT Version**: 7.1.3.4
**GPU Type**: 3080
**Nvidia Driver Version**: 456.38
**CUDA Version**: 11.0
**CUDNN Version**: 8.0
**Operating System + Version**: Windows
**Python Version (if applicable)**:
**TensorFlow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal

[2020-09-27 01:58] spxcds opened #801 "TensorRT binary always fails to download"
I'm trying to download TensorRT 7.2 binary release from NVidia Developer Zone, but I always got errors.
Under most circumstances I got network error, sometimes it appears "Failed to ssl_handshake: closed" and also "Nginx 502 Bad Gateway".

![截屏2020-09-27 上午9 53 01](https://user-images.githubusercontent.com/9909857/94353809-f0894b00-00a7-11eb-8807-449dd0b758b2.png)

![截屏2020-09-27 上午9 52 46](https:

[2020-09-27 02:42] bing1zhi2 commented on #757
I  reconstruct some network sucessfully in TensorRT with python api, and I push it to my github:
 https://github.com/bing1zhi2/TensorRT_samples
I found It's simple if you take same time to read the offical doc( actually I haven't  figured out how to add lstm layer   :-D ， maybe some other day? <(*￣▽￣*)/ )

[2020-09-27 02:42] #757 closed

[2020-09-27 03:44] #801 closed

[2020-09-27 21:26] linukc commented on #799
look carefully at the versions of the libraries on the device where you will deploy the network

[2020-09-27 21:26] #799 closed

[2020-09-28 02:12] ttyio commented on #647
@EdwardVincentMa , could you enable verbose log and paste it here for better triage? thanks

[2020-09-28 02:25] ttyio commented on #668
Hi @wanghr323 , we can enable verbose log, and find the layer precision start with line "Engine Layer Information".

[2020-09-28 02:30] ttyio commented on #646
Hi @Stephenfang51 , have you tried call `createExecutionContext` twice, and each camera use one of the `IExecutionContext`? thanks.

[2020-09-28 02:43] ttyio commented on #659
Hello @azad96 @cocoyen1995 , TensorRT int8 calibrator would generate an calibration cache file, in side the cache file we have dynamic range for each tensor line by line. You can either use C++ calibrator to generate this file or edit the range in this file. For more detail, could you check https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/sampleINT8#calibration-file? thanks

[2020-09-28 02:46] ttyio commented on #661
@ll490187880 could you provide a repro for better triage? thanks.

[2020-09-28 02:58] ttyio commented on #663
Hello @kunalgoyal9 , TensorRT would check all the intermediate layer outputs during calibration stage, and the `uniformly zero` warning means that we find these tensors output are zeros during calibration given the calibration data you feed.
Could you try feeding with a different dataset on calibration? or try to mark these layer as network output, and see if they are really zeros in an FP32 run.

[2020-09-28 03:20] ttyio commented on #662
Hello @prathik-naidu , We will have larger workload when use larger batch size, the increased workload will potentially increase occupancy on each SM if the GPU is `hungry` in small batch size. However, if there is already enough workload to fully occupy the device for batch size one, then there is no more perf gain when increate the batch size.
Could you provide nsightCompute dump for both batch

[2020-09-28 03:27] jkjung-avt commented on #659
@ttyio How are we supposed to interpret the values in the calibration cache file?

[code]

For example, in the MNIST example above, if I convert the value for "data" into float32, I get:

[code]

This "0.007845180109143257" equates to 1 / 127.5.

So I guess each unit in INT8 corresponds to this float32 value.  Is that right?

In other words, the dynamic range of the "data" tensor is [ -128 * 0.007

[2020-09-28 05:21] ttyio commented on #659
@jkjung-avt Yes, the interpret is correct. And the dynamic range in TensorRT is symmetric, so we use [-127 * 0.007845180109143257, 127 * 0.007845180109143257], you can find more detail in http://arxiv.org/abs/2004.09602

[2020-09-28 05:33] jkjung-avt commented on #659
@ttyio Thanks for the confirmation.

[2020-09-28 08:03] brucelee78 commented on #788
hello , thank you to give a tips!
and I follow your tips, i select the second way: modify line 330 `remove_names = set(_get_node_names(nodes))` to `remove_names = nodes`

but get another problem:
`
Using output node mrcnn_detection
Using output node mrcnn_mask/Sigmoid
Converting to UFF graph
Traceback (most recent call last):
  File "mrcnn_to_trt_single.py", line 164, in <module>
    main()
  File

[2020-09-28 12:48] canhld94 commented on #788
Actually, I haven't checked the error thoroughly. But I assume that you are using the default samples shipped with tensorRT, that's why you got the error. You can take a look at the samples in this repo, I see that they have fixed this error in `config.py` here, so it should work.

[2020-09-29 00:47] jhalakp-nvidia commented on #747
Looks like the application is using **Int8EntropyCalibrator** instead of **Int8EntropyCalibrator2**. [See](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#optimizing_int8_c) for more details.

`    Int8EntropyCalibrator calibrator1(1, "image_list_test.txt", "", "test.calibration", 3, 416, 416, "data");
`

**Int8EntropyCalibrator** performs calibration after builder optimiz

[2020-09-29 02:20] mk-nvidia commented on #697
@bvandenbon @xkszltl We do provide a way of downloading TensorRT without entering credentials (not for Windows, unfortunately):
[4.2.1. Using The NVIDIA Machine Learning Network Repo For Debian Installation](https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html#maclearn-net-repo-install-rpm)

Does this help?

[2020-09-29 02:44] mk-nvidia commented on #682
This has been fixed since 20.06. Closing.

[2020-09-29 02:44] #682 closed

[2020-09-29 03:32] jiuzhuanzhuan commented on #545
I have the same error, have you solved this problem?

[2020-09-29 03:46] xkszltl commented on #697
That's exactly what I did for Linux, but when we building something cross-platform it's more of all-or-none situation.

[2020-09-29 06:14] kycocotree opened #802 "tensor rt cuda graph use with plugin."
## Description

## Environment

**TensorRT Version**:  7.1.3.4
**GPU Type**: GTX 1080
**Nvidia Driver Version**: 440.100
**CUDA Version**: 10.2
**CUDNN Version**:  8.0
**Operating System + Version**: Ubuntu 18.04
**Python Version (if applicable)**:
**TensorFlow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (which commit + image + tag)**:

## Relevant File

[2020-09-29 07:37] golden0080 opened #803 "TensorRT Engines running with Tensorflow on a single GPU?"
## Description

What I'm trying to do is doing inferences on 2 different models on 1 single GPU - one TRT engine and the other TF model.
I deliberately keep them in different threads, and even tried to manually create `CUcontext` to isolate their runtime.
But what I saw is:
- When only running TRT or TF models, they can do inference just fine.
- When enabling both, TF model is broken upon first in

[2020-09-29 08:01] Jacoobr opened #804 "[TRT] FAILED_EXECUTION: Unknown exception"
When i try to run the [instanceNormalizationPlugin](https://github.com/NVIDIA/TensorRT/tree/master/plugin/instanceNormalizationPlugin), i get the Error bellow:

[code]
And the input buffers is a [1x16x200x200] float32 data, when run the code bellowed, the error occurred!!
[code]
BTY, the network build with explicitBatch:
[code]
Anyone has any idea about this error?

[2020-09-29 08:15] hhhharold commented on #439
same issue, anyone has solved this?

[2020-09-29 10:22] sunilpankaj opened #805 "ScatterND Plugin not found while converting onnx into tensorrt model"
Able to convert pytorch model into onnx and validated onnx output with pytorch. it's working fine. But when I try to convert onnx into tensorrt engine, it fails at onnx parser and return this error.

[TensorRT] ERROR: INVALID_ARGUMENT: getPluginCreator could not find plugin ScatterND version 1

Onnx version : 1.6.0
Tensorrt version : 7.1.3.4

Can anyone please help here, how can I add ScatterND pl

[2020-09-29 20:34] mk-nvidia commented on #731
@roborocklsm As the error suggests, you need to be using explicit batch.

[2020-09-29 20:34] #731 closed

[2020-09-29 21:42] bvandenbon commented on #697
@mk-nvidia yes, this is very valuable ! 👍
Thank you for this information !

[2020-09-29 21:42] #697 closed

[2020-09-29 23:56] rajeevsrao commented on #238
Closing based on final comment from @dhkim0225

[2020-09-29 23:56] #238 closed

[2020-09-30 00:04] rajeevsrao commented on #195
@OtisZZ your RFE looks similar to https://github.com/onnx/onnx-tensorrt/issues/378. Can we please move the discussion over to that?

[2020-09-30 00:04] #195 closed

[2020-09-30 00:10] rajeevsrao commented on #36
@dflamand can you pleae check if the newly added Windows [makefile ](https://github.com/NVIDIA/TensorRT/blob/master/cmake/toolchains/cmake_x64_win.toolchain) and [instructions](https://github.com/NVIDIA/TensorRT#building-the-tensorrt-oss-components)  work for you? Will close the issue, but feel free to reopen if you face issues.

[2020-09-30 00:10] #36 closed

[2020-09-30 00:37] rajeevsrao commented on #143
@xiaocenxiaocen yes, the ExecutionContexts are assumed to be invalid when the Engine object destroyed (i.e., they must be destroyed prior to it).

[2020-09-30 00:37] #143 closed

[2020-09-30 00:58] rajeevsrao commented on #292
Folks, please check the Jetpack 4.4 SDK with TensorRT 7.1.3 and support for TX2: https://developer.nvidia.com/embedded/jetpack

[2020-09-30 00:58] #292 closed

[2020-09-30 00:59] rajeevsrao commented on #295
@lingjiew @taomiao you can get demoBERT w/ TensorRT 7 support here: https://github.com/NVIDIA/TensorRT/tree/master/demo/BERT

[2020-09-30 00:59] #295 closed

[2020-09-30 01:46] rajeevsrao commented on #323
CgPersistentLSTMPlugin_TRT is exclusive to the GA releases (closed source) and not included in the OSS release. The snippet in the developer guide  is for illustration.

[2020-09-30 01:46] #323 closed

[2020-09-30 01:58] ttyio commented on #564
Hello @abhi-kumar rebuild the engine is the same steps as build a new engine.

Hello @JachinMa could we close this issue since it is solved? thanks.

[2020-09-30 01:59] rajeevsrao commented on #297
Its a nested namespace (under enclosing namespace "sample")

[2020-09-30 01:59] #297 closed

[2020-09-30 02:06] ttyio commented on #565
Hello @HaoLiuHust , thanks for the question.
there is a space-memory tradeoff, Have you tried change to a smaller workspace size when build the engine, to see if this helps. If you still not satisfy on the memory consumption. Could you share your model so that we can do a further analysis to see if the extra memory is reasonable? Thanks.

[2020-09-30 02:10] rajeevsrao commented on #335
Please provide a repro case/sample for us to investigate.

[2020-09-30 02:11] tensorflowt commented on #317
Have you solved the problem yet ？

[2020-09-30 02:12] ttyio commented on #569
Hello @EdwardVincentMa , thanks for your question.
Could you try ONNX model? We support `prelu` in onnx parser and the caffe parser is deprecated in release 7.0 https://docs.nvidia.com/deeplearning/tensorrt/release-notes/tensorrt-7.html#rel_7-0-0.
Thanks.

[2020-09-30 02:19] rajeevsrao commented on #349
@PythonImageDeveloper please let us know if this is still and issue and attach a standalone repro, unless the sample is part of an NVIDIA project. Thanks.

[2020-09-30 02:44] ttyio commented on #572
Hello @yizhaoyanbo, thanks for you question,

A brief introduction to the TensorRT optimization: Each layer in tensorRT have different implementation, and each implementation accept different input and output layout. We call the transform from one layout to another layout as `reformat`. We consider the TensorRT optimization as a dynamic programming problem (find out best combination of layer imple

[2020-09-30 02:50] ttyio commented on #575
Hello @manhongnie , thanks for you question
UFF is deprecated in https://docs.nvidia.com/deeplearning/tensorrt/release-notes/tensorrt-7.html#rel_7-0-0
could you try export to onnx using https://github.com/onnx/tensorflow-onnx ? thanks.

[2020-09-30 02:51] zerollzeng commented on #800
I am wondering what's the TensorRT 8.0 release date, in next major version the 30x series device should be supported.

[2020-09-30 02:52] ttyio commented on #645
Hello @manhongnie , sorry currently there is no official support for windows build in the opensource repo.

[2020-09-30 03:05] #565 closed

[2020-09-30 03:46] kevinch-nv commented on #426
Closing due to inactivity. If this is still an issue, please feel free to reopen.

[2020-09-30 03:46] #426 closed

[2020-09-30 03:49] kevinch-nv commented on #458
@pageedward is it possible to provide the network you are running?

[2020-09-30 04:07] kevinch-nv commented on #456
You may have to run `docker/build.sh` in the demo/BERT folder first to generate the container locally.

[2020-09-30 04:16] rajeevsrao commented on #414
Hi @ryanolson thanks for the suggestion. Lets coordinate internally with Pietro.

[2020-09-30 04:17] ttyio commented on #625
Hello @cocoyen1995 , thanks for your question.

FYI, you can also use calibration cache in C++, please check the sample code in
https://github.com/NVIDIA/TensorRT/blob/master/samples/common/EntropyCalibrator.h#L66
https://github.com/NVIDIA/TensorRT/blob/master/samples/opensource/sampleINT8/sampleINT8.cpp#L238

The tensor information is not part of the model, only the weights and constant values ar

[2020-09-30 04:21] rajeevsrao commented on #411
Myelin is our graph compiler that processes subgraphs in ONNX loops. We don't yet have plugins for myelin graphs, and parsing will fail if the subgraphs can't be handled by myelin. We have filed this as an RFE as Ryan mentioned. Thanks.

[2020-09-30 04:23] rajeevsrao commented on #405
@lxl910915 have your questions been addressed? Any further clarifications?

[2020-09-30 04:31] rajeevsrao commented on #387
@dtiny can you please shed some light on your usecase. Perhaps a proxy model or description of the layers that are slow?

[2020-09-30 04:46] rajeevsrao commented on #382
@tmyh123 please let us know if the ONNX workflow works for you, or provide the UFF repro case. Thanks.

[2020-09-30 04:51] ttyio commented on #610
Hello @HaoLiuHust , thanks for reporting
Could you help to try if the problem still exist in TensorRT 7.2, please download from https://developer.nvidia.com/nvidia-tensorrt-download.
thanks!

[2020-09-30 05:01] ttyio commented on #606
Hello @Hoogck , thanks for you question.
For BERT with classification problem, you have to append another fullyconnect layer at the end of the network, then the output is changed from [sequence, hidden, 1, 1] to [sequence, 2, 1, 1], you can check our sample for more detail:
https://github.com/NVIDIA/TensorRT/blob/release/7.1/demo/BERT/builder.py#L348

[2020-09-30 05:09] ttyio commented on #606
Hello @Hoogck , please check this "Pooler" code lines, it transforms from  [sequence, hidden, 1, 1]  to [hidden] and answered your question.
https://github.com/NVIDIA/DeepLearningExamples/blob/master/TensorFlow/LanguageModeling/BERT/modeling.py#L232

[2020-09-30 05:19] ttyio commented on #598
Thanks @haifenghan for reporting, now fixed in the link, could you help to check?

[2020-09-30 05:25] ttyio commented on #636
Close since we already answered and there is no activities in the past 3 weeks, please create another issue if you still have problems, thanks!

[2020-09-30 05:25] #636 closed

[2020-09-30 05:26] ttyio commented on #634
Close since we already answered and there is no activities in the past 3 weeks, please create another issue if you still have problems, thanks!

[2020-09-30 05:26] #634 closed

[2020-09-30 05:27] ttyio commented on #612
Close since we already fixed the issue and there is no activities in the past 3 weeks, please create another issue if you still have problems, thanks!

[2020-09-30 05:27] #612 closed

[2020-09-30 05:28] ttyio commented on #599
Close since we already answered and there is no activities in the past 3 weeks, please create another issue if you still have problems, thanks!

[2020-09-30 05:28] #599 closed

[2020-09-30 05:32] ttyio commented on #587
Close since we already give suggestion and there is no activities in the past 3 weeks, please create another issue if you still have problems, thanks!

[2020-09-30 05:32] #587 closed

[2020-09-30 05:33] kevinch-nv commented on #462
This issue is fixed in TensorRT 7.1. If this problem persists, feel free to open another issue against TRT 7.1,

[2020-09-30 05:33] #462 closed

[2020-09-30 05:40] kevinch-nv commented on #465
Due to the limited memory size of Jetson, it is expected that some large models that can run on desktop would fail to run on Jetson.

We are actively working on reducing the memory footprint of ONNXRT-TRT, any updates will come from a future release of ONNXRT.

[2020-09-30 05:41] kevinch-nv commented on #469
Closing due to inactivity.

[2020-09-30 05:41] #469 closed

[2020-09-30 05:42] #474 closed

[2020-09-30 05:43] kevinch-nv commented on #476
@sun-dr can you provide the model you are having trouble with? In addition have you tried the ONNX import path? The Caffe import path has been deprecated.

[2020-09-30 05:44] #479 closed

[2020-09-30 05:44] #481 closed

[2020-09-30 05:46] ttyio commented on #584
Close since we already answered and there is no activities in the past 3 weeks, please create another issue if you still have problems, thanks!

[2020-09-30 05:46] #584 closed

[2020-09-30 05:50] kevinch-nv commented on #484
@BloomBerry are you still having this issue? From the trace it looks like your trtexec is linked with an older plugin library `/usr/lib/x86_64-linux-gnu/libnvinfer_plugin.so.5`.

[2020-09-30 05:54] kevinch-nv commented on #437
Closing due to inactivity.

[2020-09-30 05:54] #437 closed

[2020-09-30 05:55] kevinch-nv commented on #447
Closing due to inactivity.

[2020-09-30 05:55] #447 closed

[2020-09-30 05:57] kevinch-nv commented on #485
UFF has been deprecated, so closing this issue. We recommend going through the tf2onnx path if you plan on running future tensorflow models in TensorRT.

[2020-09-30 05:57] #485 closed

[2020-09-30 06:03] ttyio commented on #583
Hello @anshkumar , thanks for your question

We have cuSparse library in https://docs.nvidia.com/cuda/cusparse/index.html, not supported by TensorFlow yet (https://github.com/tensorflow/tensorflow/issues/5193)
And in Ampere we introduced sparsity tensorcore
(https://blogs.nvidia.com/blog/2020/05/14/sparsity-ai-inference/), and TensorRT support plan is under development. Once it is ready, we can us

[2020-09-30 06:30] Jacoobr commented on #805
Hi, sunilpankaj. Maybe you should register the ScatterND in [builtin_op_importers](https://github.com/onnx/onnx-tensorrt/blob/fbebb144744b3be8defecd8478d74940056df305/builtin_op_importers.cpp). The builtin_op_importers write the logical operations  that tensorrt called when onnx-tensorrt try to convert onnx model to trt engine. BTY, you also can implement the ScatterND with plugin manner, like [pl

[2020-09-30 06:36] ttyio commented on #586
Hello @x-jeff, @deepakn94
onnx-trt support for external data feature is supported in TensorRT 7.1.3, you can also upgrade to latest TensorRT 7.2.0 to fix this. Could you take a try? thanks.

[2020-09-30 06:43] piaohe111 commented on #566
I have met the same problem !  Have you solved it ?

[2020-09-30 06:52] zzzzwj commented on #512
Meet the same problem with 5.6M Pytorch-EDSR model. I've tried multi optimization profiles and found that with maximum input shape of 1x3x250x250 the engine build procedure consumes at least 8GB GPU memory, however in pytorch, it consumes less than 1GB to infer. My CUDA version is 10.2, TensorRT is 7.0.0.11. All experiments are run on an 1080Ti GPU. Is there any update upon this issue?

[2020-09-30 06:57] HaoLiuHust commented on #610
Tested it on 7.1GA, it's ok now. Sorry for the late confirm

[2020-09-30 06:57] #610 closed

[2020-09-30 07:05] #487 closed

[2020-09-30 07:08] rajeevsrao commented on #360
Please try the updated instructions from: https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/sampleUffMaskRCNN#generating-uff-model

[2020-09-30 07:09] kevinch-nv commented on #490
@sotpapathe are you still having issues with serializing/deserializing? Or are you stuck on the resize issue you mentioned above?

[2020-09-30 07:14] kevinch-nv commented on #491
@feitiandemiaomi it would be easier to write on plugin to handle that one custom denseblock layer in this case. As @rmccorm4 mentioned, we are deprecating the Caffe parser in favor of the ONNX parser. I will be closing this issue, feel free to re-open or create a new one if you have issues regarding this in the future.

[2020-09-30 07:14] #491 closed

[2020-09-30 07:18] kevinch-nv commented on #542
Closing since #649 is also closed.

[2020-09-30 07:18] #542 closed

[2020-09-30 07:19] edumotya opened #807 "UffParser: Unsupported operation _GridAnchorRect_TRT"
## Description

I started from the container [nvcr.io/nvidia/deepstream-l4t:5.0-20.07-base](nvcr.io/nvidia/deepstream-l4t:5.0-20.07-base) and I used python to create the plugin MultipleGridAnchorGenerator with the operation GridAnchorRect_TRT for rectangular anchors. However, the uffparser complains about this operation:

`[TensorRT] ERROR: UffParser: Validator error: MultipleGridAnchorGenerator:

[2020-09-30 07:22] kevinch-nv commented on #496
@yjiangling have you solved this issue? Can this be closed?

[2020-09-30 07:26] kevinch-nv commented on #498
@Edwardmark closing this issue. We have CMake files for samples, parsers, and plugins in the repository, please use those to build.

[2020-09-30 07:26] #498 closed

[2020-09-30 08:11] haif-liu opened #808 "[TensorRT] ERROR: (Unnamed Layer* 4) [ElementWise]: elementwise inputs must not be Int32"
## Description
when i use parser.parse(model.read()),

[TensorRT] ERROR: (Unnamed Layer* 4) [ElementWise]: elementwise inputs must not be Int32

tensort 5.1

[2020-09-30 09:07] ttyio commented on #581
Hello @ArtlyStyles , thanks for reporting
could you try tf-onnx, and parse the onnx model, UFF is deprecated in release 7.0 (https://docs.nvidia.com/deeplearning/tensorrt/release-notes/tensorrt-7.html#rel_7-0-0).
Please let us know if you still hit error in ONNX path, thanks.

[2020-09-30 09:30] ttyio commented on #582
Hello @Roulbac @Bidski @Chenyangzh , thanks for reporting issue here.
Could you help to upgrade to release 7.2.0 to see if the leak still exist? thanks.

[2020-09-30 09:44] ttyio commented on #637
Caffe is deprecated in release 7.0, close since there is no activities in the past 3 weeks, please create another issue if you still have problems, thanks!

[2020-09-30 09:44] #637 closed

[2020-09-30 10:35] rtrobin commented on #411
@rajeevsrao Thanks for the info. By the way, nvidia already released myelin recommendation framework. The myelin here in onnx parser may need a new name.

[2020-09-30 11:15] haifenghan commented on #598
It's OK for me. Thanks for the update @ttyio

[2020-09-30 11:15] #598 closed

[2020-09-30 14:02] Semen52 commented on #790
Hi,
I am not sure about the root cause, but it is expected. Because Nvidia uses some optimizations for fp16 and lose something in final numbers. Also results for each engine generation using fp16 may be different due to indeterministic process.
But for fp32 the results have to be the same.

[2020-09-30 14:05] Semen52 commented on #756
As far as I know this is impossible for TRT 7.0. For example the same plan is portable between 2080Ti and RTX5000.

[2020-09-30 16:21] mk-nvidia commented on #800
We're in the process of releasing an updated TensorRT version 7.2.x very soon which will add support for RTX 30xx GPUs, thanks for your patience.

[2020-09-30 16:24] zerollzeng commented on #800
So when will 8.x cversion comes out? 😃

Mayank Kaushik <notifications@github.com> 于 2020年10月1日周四 上午12:22写道：

[2020-09-30 18:40] yangfh2004 commented on #130
+1

[2020-09-30 20:37] #800 closed

[2020-09-30 20:39] mk-nvidia commented on #756
@HomeWave sorry, this is unsupported. Furthermore we don't have any plans to support it in the near future.

[2020-09-30 20:39] #756 closed

[2020-10-01 16:50] sksenthilkumar commented on #308
For all those facing this error with nvidia docker like `nvcr.io/nvidia/tensorrt:20.01-py2` `nvcr.io/nvidia/tensorrt:20.03-py3`
try running the docker as `nvidia-docker run` instead of `docker run`. This solved the issue for me.

[2020-10-02 08:01] zhangcui2gr opened #809 "why i could not use the command "trtexec"?"
I am starting in learning the tensorrt.
I want to use the command "trtexec".I have done the README.md command, like that

[code]
but it show that

[code]
`# Copy every EXTRA_FILE of this sample to bin dir`

then i try the command "trtexec", but it shows that no this command
hope for your answer!!!
thanks you very much!!!

[2020-10-02 08:08] zhangcui2gr opened #810 "why i could not use the command "trtexec"?"
I am starting in learning the tensorrt.
I want to use the command "trtexec".I have done the README.md command, like that
[code]
Where `<TensorRT root directory>` is where you installed TensorRT.`
but it show that
[code]
then i try the command "trtexec", but it shows that no this command
hope for your answer!!!
thanks you very much!!!

[2020-10-02 09:22] carlosgalvezp opened #811 "TF-ONNX-TRT workflow: INT8 calibration, get dynamic range during training?"
Hi,

I would like to do INT8 calibration without using TensorRT to compute the dynamic range, for a number of reasons. Instead, I would like to compute statistics at training time in TF (since then we actually get to see ALL the data, not just 500 images) and then pipe that to TensorRT.

The problem is that the pipeline is quite involved: TF -> ONNX -> TRT, and in the process the original TF layer

[2020-10-02 14:12] Darshcg opened #812 "Issue while converting from ONNX to TensorRT Engine"
Hi,
I am Converting my Custom Pytorch Model to TRT Engine file. I am able to convert the model to Onnx, but I am facing an Issue while converting from Onnx to the Engine file.
I am getting the error as:
AttributeError: ‘NoneType’ object has no attribute ‘serialize’.
I am giving the correct shape as an input to the build engine function.
And for the Resnet50 model, I am able to convert successfully

[2020-10-02 14:13] Darshcg commented on #812
I tried with trtexec command, I am getting the error as attached below:

While parsing node number 195 [Resize]:
ERROR: ModelImporter.cpp:124 In function parseGraph:
[5] Assertion failed: ctx->tensors().count(inputName)
[09/25/2020-11:02:52] [E] Failed to parse onnx file
[09/25/2020-11:02:52] [E] Parsing model failed
[09/25/2020-11:02:52] [E] Engine creation failed
[09/25/2020-11:02:52] [E] Engine

[2020-10-02 18:40] justinblaber opened #813 "Pytorch -> ONNX -> TensorRT incorrect TensorRT results"
I have a trained pytorch model, UNET type architecture that I've already trained. I can convert to ONNX successfully and inference results, although slightly different from pytorch, are very similar. However, when I convert from ONNX to TensorRT, the results are more different and results in an incorrect segmentation.

Pytorch and onnx were both compiled from source to ensure the same cuda and cud

[2020-10-02 18:49] justinblaber commented on #812
One thing that might help is to look at the terminal output when you convert in the jupyter notebook. There's probably an unsupported operation being converted (for me, upsampling caused issues...)

[2020-10-02 19:06] Darshcg commented on #812
Dear @justinblaber

Thanks for your kind response.
I followed your advice(Looking at the terminal output when I am converting in a Notebook).
I got the output in the terminal as:
**[TensorRT] ERROR: Network must have at least one output
[TensorRT] ERROR: Network validation failed.**

[2020-10-02 19:26] justinblaber commented on #813
I've experimented around and if I replace the upsampling operation with a transposed convolution it appears to make the differences mostly go away (within fp32 reasonableness)... I actually tested the upsampling operation individually (i.e. model = nn.Upsample), then converted, and the results were the exact same... so that makes me think there's some other deeper rooted issue here.

[2020-10-02 20:25] mk-nvidia commented on #670
Thanks for reporting, we'll take a look.

[2020-10-02 20:42] mk-nvidia commented on #660
FYI @kevinch-nv

[2020-10-02 20:44] #668 closed

[2020-10-02 20:57] mk-nvidia commented on #675
Hi @Ram-Godavarthi, are you still hitting this problem?
Please retry this using the ONNX parser with a newer version of TensorRT (JetPack 4.4 includes TensorRT 7.1.3).
We've deprecated the UFF parser and will no longer be fixing UFF parser issues, so the ONNX parser is the way to go.
Do respond back if you still hit problems. Thanks!

[2020-10-04 03:31] zeroepoch commented on #673
@Shaked,
Your original problem was due to missing the `-DCMAKE_TOOLCHAIN_FILE` argument. That is why you were running into incompatible ELF files. From looking at the CMake files I see you might need to set `CUDNN_ROOT_DIR` to where cuDNN is located for AArch64. It should be the directory that contains `lib(64)` and `include`. Can you try building with `make ... VERBOSE=1` which will give you more

[2020-10-04 09:55] jkjung-avt commented on #747
@ybpei  In case it helps, I shared my implementation of Int8EntropyCalibrator2 in [jkjung-avt/tensorrt_demos/blob/master/yolo/calibrator.py](https://github.com/jkjung-avt/tensorrt_demos/blob/master/yolo/calibrator.py).  It uses TensorRT Python API.

You could further refer to [Demo #6: Using INT8 and DLA core](https://github.com/jkjung-avt/tensorrt_demos#int8_and_dla) for how to build the calibrat

[2020-10-04 10:07] jkjung-avt commented on #585
I shared my results applying INT8 TensorRT optimization on yolov3/yolov4 models in my [jkjung-avt/tensorrt_demos](https://github.com/jkjung-avt/tensorrt_demos#int8_and_dla) repository.

For example, I tested TensorRT YOLOv3 engines on Jetson Xavier NX (JetPack-4.4: CUDA 10.2, cuDNN 8 and TensorRT 7.1.3) and got the following frames-per-second (FPS) numbers.  (Note these FPS numbers include all of

[2020-10-05 19:05] Darshcg opened #814 "[TensorRT] ERROR: Network must have at least one output [TensorRT] ERROR: Network validation failed."
Hi,
I am converting my Custom model from ONNX to TRT.

I am using the below code to convert from ONNX to TRT:

`import tensorrt as trt
TRT_LOGGER = trt.Logger(trt.Logger.WARNING)
trt_runtime = trt.Runtime(TRT_LOGGER)
def build_engine(onnx_path, shape = [1,1,224,224]):
with trt.Builder(TRT_LOGGER) as builder, builder.create_network(1) as network, trt.OnnxParser(network, TRT_LOGGER) as parser:
build

[2020-10-05 19:14] Darshcg commented on #814
Hi,
I am converting my Custom model from ONNX to TRT.

I am using the below code to convert from ONNX to TRT:

`import tensorrt as trt
TRT_LOGGER = trt.Logger(trt.Logger.WARNING)
trt_runtime = trt.Runtime(TRT_LOGGER)
def build_engine(onnx_path, shape = [1,1,224,224]):
    with trt.Builder(TRT_LOGGER) as builder, builder.create_network(1) as network, trt.OnnxParser(network, TRT_LOGGER) as parser:

[2020-10-05 20:23] pranavm-nvidia commented on #814
Can you share the entire log? Generally "Network must have at least one output" indicates an error happened earlier in the network.

[2020-10-06 03:34] Darshcg commented on #814
Hi Pranav,
Thanks for your reply.

Here is the ONNX model: https://drive.google.com/file/d/1pwZfvJYykX1LDRY_5f789ADIwLsYtIl-/view?usp=sharing

And here is the Log I get while I run ONNX to TRT script:
[TensorRT] WARNING: onnx2trt_utils.cpp:198: Your ONNX model has been generated with INT64 weights, while TensorRT does not natively support INT64. Attempting to cast down to INT32.
[TensorRT] WARNING

[2020-10-06 03:39] Darshcg commented on #814
This is the code I am using for Pt to ONNX conversion:

import torch
import torch.onnx
model_pt_path = "model.pt"
model_def_path = "model.py"
return_layers = {'layer2': 1, 'layer3': 2, 'layer4': 3}
model = torchvision_model.create_retinaface(return_layers)
model.load_state_dict(torch.load(model_pt_path),strict=False)
dummy_input = torch.randn(1,3,112,112)
torch.onnx.export(model, dummy_input, "Fac

[2020-10-06 03:46] Darshcg commented on #183
Hi,
I am converting my Custom model from ONNX to TRT.

I am using the below code to convert from ONNX to TRT:

[code]
The error I am facing is:
[TensorRT] ERROR: Network must have at least one output [TensorRT] ERROR: Network validation failed

TensorRT Version : 7.0.0-1.
Cuda Version : 10.2

May I know how to get rid of this Issue? would be a great help!

Thanks

[2020-10-06 14:31] justinblaber opened #815 "8 bit quantization calibrator error"
## Description

I've implemented the `trt.IInt8EntropyCalibrator2` as so:

[code]

[code]

Terminal output shows:

[code]

The strange thing is it appears to actually convert it to int8. I've nvprof'd the resulting engine and it is using int8 instructions. But the errors are concerning.

## Environment

**TensorRT Version**:  TensorRT-7.2.0.14
**GPU Type**: 2070 Max-Q
**Nvidia Driver Version**:  4

[2020-10-06 14:40] pranavm-nvidia commented on #814
Can you try printing out any parser errors immediately after parsing?
You can add two lines after `parser.parse(model.read())`:
[code]
That should enable you to see the actual error.

And lastly, I tried your model with an internal version of TensorRT, and it appears to be working. So whatever the issue is, it should be fixed in a later release.

[2020-10-06 14:43] pranavm-nvidia commented on #813
@justinblaber Would you be able to share your model (or a proxy)?

[2020-10-06 19:43] Darshcg commented on #814
Hi @pranavm-nvidia,

Thanks very much for your reply.
I added the above two lines in the code; I got the output as:
**In node 210 (parseGraph): INVALID_GRAPH: Assertion failed: ctx->tensors().count(inputName)**

Thanks

[2020-10-06 19:46] Darshcg commented on #814
I also tried with trtexec utility, with the command: trtexec --onnx=Face_Detection.onnx --verbose --explicitBatch --shapes=input.1:1x3x112x112
The log for the command has been attached below:
[code]

[2020-10-06 20:42] pranavm-nvidia commented on #814
I believe this was resolved in TensorRT 7.1. Could you try upgrading to 7.1 or newer to see if that resolves it?

[2020-10-06 21:32] golden0080 commented on #803
Any updates on this?

[2020-10-07 05:03] Darshcg commented on #814
Hi @pranavm-nvidia,
Thanks very much for your reply.
I am converting the Models inside the Containers. Having said that, how to upgrade the TRT version to 7.1 inside the Container?
Currently I have
TensorRT Version: 7.0.0-1.
Cuda Version: 10.2

Looking forward to your reply.

Thanks!

[2020-10-07 08:24] Darshcg commented on #814
Hi @pranavm-nvidia,
I tried the conversion with TRT v7.1. I got the Error like this:
[code]

[2020-10-07 14:38] pranavm-nvidia commented on #814
We don't currently support Scatter. You might be able to prevent PyTorch from generating the op though with something [like this](https://github.com/NVIDIA/TensorRT/issues/736)

[2020-10-07 18:56] tamisalex commented on #792
I am also experiencing this issue. Trying to get deepstream 5 and TensorRT 7.1.3.4 in a docker container and I came across this issue.

[2020-10-08 06:38] Qiancj0605 commented on #790
Thanks for answering。@Semen52
is there a way to avoid it?

[2020-10-08 06:46] Semen52 commented on #790
As far as I know it will be possible with TRT 7.2. It will contains a new feature for serialization an algo type for each layer.
For example Winograd for some Conv layer and etc. In this case it will guarantee the same output for fp16 mode execution.

[2020-10-08 07:10] Qiancj0605 commented on #790
Thanks, i try it。@Semen52

[2020-10-08 11:39] Mishok43 opened #816 "Slow 3D convolution on RTX 2070 (by using -fp16, too)"
## Description

I have a simple 3D Convolution model and have some problem with inferecing it using TensorRT on RTX 2070.
Model:
![image](https://user-images.githubusercontent.com/19211368/95453269-30d3ad80-0973-11eb-85c8-e0391ebbe282.png)

This is dump profile with **fp16**:
![image](https://user-images.githubusercontent.com/19211368/95453093-ea7e4e80-0972-11eb-8ad9-ef22e8931d02.png)
**fp32**:
![

[2020-10-08 13:52] shamoqianting opened #817 "How can I compile without git and internet"
Hi guys,
Is it possible to compile tensorRT from source in an environment without internet connection ?
 I mean the automatically download using git can not be used. But I can download the needed sources from another computer.
I tried but got stuck at the step of building protobuf.
what I got is the following:

`[  0%] Performing download step (download, verify and extract) for 'third_party.protob

[2020-10-09 02:24] #817 closed

[2020-10-09 02:33] yjiangling commented on #496
Thank you very much for your time, I'm sorry to forget close it. I'll close it now!

[2020-10-09 02:33] #496 closed

[2020-10-10 02:53] mltloveyy opened #818 "How to serialize model with the required computing power"
Is there an interface function that can set the computing power to generate the desired serialization model？
The computing power of my robot and the notebook are different, and it's more troublesome to rebuild on the robot.
Use the notebook generated model on the robot, it will get an error named "The engine plan file is generated on an incompatible device, expecting compute 6.1 got compute 7.5, p

[2020-10-10 06:43] leosk-knight commented on #491
@kevinch-nv How do I define denseblock_param? in caffe.proto?

[2020-10-10 07:00] MuhammadAsadJaved commented on #791
Hi,
     I am able to convert TF frozen_graph.pb to .onnx  but having problems in building engine  .onnx model to .trt.

I am trying this command.

[code]

and got the following errors.
![webwxgetmsgimg](https://user-images.githubusercontent.com/28862708/95648328-dec49080-0b08-11eb-80d3-632ce65e2ef4.jpeg)

So Can you give some guidelines to handle this error?

I have attached my .pb and .onnx mode

[2020-10-10 07:24] leosk-knight opened #819 "How to design a caffe plugin layer"
@kevinch-nv As mentioned in issue 491: https://github.com/NVIDIA/TensorRT/issues/491, How to design a caffe plugin layer?
How do I define denseblock_param? in trtcaffe.proto?
For the release version of TensorRT, is there a demo to demonstrate how to add a user-defined plugin?

[2020-10-12 07:28] Darshcg commented on #814
Hi @pranavm-nvidia,

Thanks for your reply.
Previously you replied that the conversion is working with the Internal version of Tensorrt. Can we get access to an Internal Version for a try?
Actually, the model has to be deployed for the Production on the Jetson Nano.

[2020-10-12 09:04] ys0232 commented on #639
have same problem. Can solve this problem when update Tensorrt-7.0 to Tensorrt-7.1?

[2020-10-12 09:31] farleylai commented on #303
Before any access to cuda through `pytorch`, import the following:

[code]

@prathik-naidu
This is not resolved as @twmht mentioned but there is something going around between `pytorch` and `pycuda` initialization  I suppose.

[2020-10-12 10:16] Darshcg opened #820 "Issue regrading size and type of the model during conversion from ONNX to TRT"
Hi Nvidia Support Team,

I am trying to convert our Custom model from ONNX to tensorrt Model in Jetson Nano. The conversion is happening without errors, but after the Conversion the size and type of the TRT Model being generated in Jetson Nano are completely different when I am converting in my Local System.

-> Size of the ONNX Model= 251 MB
->Size of the TRT Model being generated in Jetson Nano=

[2020-10-12 14:10] pranavm-nvidia commented on #791
@MuhammadAsadJaved Which version of TensorRT are you using? I think this bug was fixed in 7.1. Can you try 7.1 or newer?

[2020-10-12 17:36] pranavm-nvidia commented on #814
Unfortunately I can't share internal builds publicly. You could implement the ScatterND layer as a plugin to unblock yourself for now, or wait for the next public release of TRT (after 7.2), which should include a ScatterND implementation

[2020-10-12 19:20] #749 closed

[2020-10-13 01:49] MuhammadAsadJaved commented on #791
I am using 5.0,  OK. I will try with 7.1 as well. Thank you.

[2020-10-13 02:30] sdu2011 commented on #737
any update？ meet same error

[2020-10-13 03:06] peterlee909 commented on #615
Same question. Need help. Please.

[2020-10-13 08:38] ttyio commented on #742
Hello @ye1024 , we will close since get no response for more than 3 weeks, please reopen if you still see perf mismatch, thanks

[2020-10-13 08:38] #742 closed

[2020-10-13 13:06] jianxiezhendong opened #822 "nvinfer1::IPluginV2DynamicExt::enqueue (float *)outputs[1] == nullptr"
I write a op which has multiple output using the TensorRT plugin. But when I get the second address of output, I find the address points to nullptr.
Could you give me some ideas?

[2020-10-13 19:55] mk-nvidia commented on #748
Closing due to no response from user.

[2020-10-13 19:55] #748 closed

[2020-10-13 19:56] mk-nvidia commented on #746
Closing due to no response from user.

[2020-10-13 19:56] #746 closed

[2020-10-13 19:57] mk-nvidia commented on #744
Closing due to no response from user.

[2020-10-13 19:57] #744 closed

[2020-10-13 19:59] mk-nvidia commented on #734
FYI we'll soon be publishing additional documentation on memory usage in TensorRT

[2020-10-13 20:04] mk-nvidia commented on #730
Closing due to no response from user.

[2020-10-13 20:04] #730 closed

[2020-10-13 20:05] #724 closed

[2020-10-13 20:05] mk-nvidia commented on #676
Closing due to no response from user.

[2020-10-13 20:05] #676 closed

[2020-10-13 20:12] mk-nvidia commented on #674
Closing due to no response from the user.

[2020-10-13 20:12] #674 closed

[2020-10-13 20:19] mk-nvidia commented on #714
@MrLee12138 TensorRT5.1 is pretty old now, please retry with the latest TensorRT version to see if this error still exists. Please also paste logs of all relevant error messages.

[2020-10-13 20:25] mk-nvidia commented on #720
@Water2style @G-Bong @Pudge-tao @gutianchang Please attach an example network that shows this problem, so that we can work on determining the bug.

[2020-10-13 21:14] pranavm-nvidia commented on #822
Just to double check, are you returning the correct number of outputs in:
[code]
?

[2020-10-14 00:58] mk-nvidia commented on #819
@leosk-knight Please see https://docs.nvidia.com/deeplearning/tensorrt/sample-support-guide/index.html#plugin_sample
As indicated earlier, we're deprecating the UFF and caffe paths and recommend switching to ONNX.

[2020-10-14 00:58] #819 closed

[2020-10-14 01:02] mk-nvidia commented on #810
@zhangcui2gr The resulting trtexec binary file will be in <TensorRT root directory>/build/out/
You can either add this folder to your PATH, or run trtexec via `<TensorRT root directory>/build/out/trtexec`

[2020-10-14 01:02] #810 closed

[2020-10-14 01:02] mk-nvidia commented on #809
Dupe of #810

[2020-10-14 01:02] #809 closed

[2020-10-14 01:05] mk-nvidia commented on #788
Closing, see @canhld94 's comment above for fix details.

[2020-10-14 01:05] #788 closed

[2020-10-14 01:19] jianxiezhendong commented on #822
@pranavm-nvidia Yes, I set the correct number of outputs in this function.

[2020-10-14 01:55] crystalwan opened #823 "Resize layer provides two ways to resize tensor dimensions. But got the different results, when the mode is kLINEAR"
## Description

Hi, We used tensorrt c++ API to create resize layer to achive upsample Function. The input size is (1,512,7,10), the outputsize is (1,512,14,20). We use the two ways to set the output Dimensions(), but got the different results, why?

way 1:
`IResizeLayer* upsample = network->addResize(*conv1->getOutput(0));`
`Dims4 upsample_dim{1,512,14,20};`
`upsample->setOutputDimensions(upsampl

[2020-10-14 02:40] ttyio commented on #601
Hello @aishangjj , I will close this for now because have not get response for 20 days. Please reopen if you still hit error, thanks~

[2020-10-14 02:40] #601 closed

[2020-10-14 03:14] ttyio commented on #823
Hello @crystalwan , thanks for the question.

When we did not provide the `scale` input, TRT will take the responsibility to calculate the `scale`, and we will check the `ResizeMode` and `AlignCorners`, when `alignCorners` is `true` and `resizeMode` is `kLINEAR`, the scale calculation behavior the same as `coordinate_transformation_mode` set to "align_corners" in ONNX (https://github.com/onnx/onnx

[2020-10-14 04:13] ttyio commented on #815
Hello @justinblaber , thanks for reporting the issue.

The error come from the calibration stage when TensorRT collect data statistics from intermediate tensors, the error will result some inaccuracy dynamic range is generated, or some layer fallback to `fp32` precision due to lack of `int8` dynamic range. So even with this error, when you check your engine, you can still see model partially run i

[2020-10-14 05:02] ttyio commented on #811
Hello @carlosgalvezp , thanks for your question.

In TensorRT we provide 2 ways for customer to provide the `int8` dynamic range:

- Using the `setDynamicRange` https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_tensor.html#a956f662b1d2ebe7ba3aba3391aedddf5
- Using the calibration cache https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/sampleINT8#calibratio

[2020-10-14 05:21] ttyio commented on #802
Hello @kycocotree , thanks for reporting the issue.

cuda graph use with trt plugin works, and we have `demoBERT` that support cuda graph and most of the layers were written in plugin, https://github.com/NVIDIA/TensorRT/tree/release/7.1/demo/BERT

Is the above `cuda::decode` function called inside `enqueue`?  If so could you move out all the `cudaMalloc`, `cudaMemcpyAsync`, `cudaMemset`? Some of t

[2020-10-14 05:29] ttyio commented on #789
Hello @wanghr323 , thanks for you question.

Have you tried derive your own logger class from `ILogger` and parse the verbose log in this class member function `log`? Thanks!

https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_logger.html

[2020-10-14 06:51] crystalwan commented on #823
Thanks.
When I want to build a engine with dynamic shapes , the IResizeLayer can't use the first way to set the Output Dimensions to achieve upsample operation, because the last layer output dimensions is (1,512,-1,-1). And we must ensure the inference result be consistent to the first way (specify output dimensions directly).  What should I do, any suggestions?

[2020-10-14 07:03] jianxiezhendong commented on #822
@pranavm-nvidia Thanks for your reply! I solved this problem. In function "executeV2", I make an error in "engine bindings". The number of outputs bindings  is less than the correct num. Thanks!

[2020-10-14 07:44] ttyio commented on #778
Hello @XiaoyuWang199 , thanks for reporting.

This is an internal optimization that we only provide 1 tactic candidate in the first pass of calibration, to speed up the build process of the first pass. And seems this optimization broken the algorithmselector :-(

Do you have any specific reason that you want to enable algorithmselector in the first pass of calibration? Thanks.

[2020-10-14 09:24] ttyio commented on #754
Hello @taomiao , thanks for reporting.

Could you elaborate more on how to reproduce the nan issue including your ckpt and input? thanks.

[2020-10-14 09:27] ttyio commented on #764
Thanks to @XiaoyuWang199 to provide the solution. I will close this issue. @WSTao you can reopen if you have more questions, thanks all again.

[2020-10-14 09:27] #764 closed

[2020-10-14 22:10] za13 opened #824 "Unable to run sampleOnnxMNIST with CMake"
I'm using cmake 3.18. I tried the 1st step in "Running the sample" in https://github.com/NVIDIA/TensorRT/tree/master/samples/opensource/sampleOnnxMNIST

I went to <TensorRT root directory>/samples/sampleOnnxMNIST, entered `cmake ..` and got

    unknown CMake command "set_ifndef" in sampleAlgorithmSelector/CMakeLists.txt

I then changed that to `set`. I then got this error

    CMakeError at <Tens

[2020-10-15 00:29] ttyio commented on #818
Hello @mltloveyy , thanks for reporting.
Sorry current TensorRT serialized engine files are not portable across platforms, we have to build the engine on the production deployment environment.

More details in https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#work

Could you elaborate more on the troublesome to rebuild on the robot? Thanks.

[2020-10-15 04:16] ttyio commented on #673
I will close this issue since we already provide the solution, @Shaked  please reopen if you still hit issues, thanks!

[2020-10-15 04:16] #673 closed

[2020-10-15 04:54] ttyio commented on #816
Hello @Mishok43 , thanks for reporting.

I have checked your log, and I'd like to point out 2 things:

1.  some lines like  `Tactic: xxx skipped. Scratch requested: aaa, available: bbb`
It means you can have more tactic as candidate if you increase the `max_workspace_size` in `builderConfig`. https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Core/NetworkConfig.html#tensorrt.IBuild

[2020-10-15 05:01] ttyio commented on #796
Hello @wangweiw , thanks for reporting.

we can use formula `1000ms / time_per_batch_in_ms * batch_size` to calculate `sentences/s`, and in your case the `batch_size` is 1, so you only need `1000/1.70694....`

[2020-10-15 05:10] ttyio commented on #774
Hello @EFanZh , thanks for reporting

Yes, your observation is right. The calibration pass try to extract the intermediate tensor data distribution statistics. We will build a histogram in the calibration stage, and this step is done on-the-fly, we have to expand the histogram when we observe a new absolute max in the incoming new calibration batch. As a result, we change the behavior of expanding

[2020-10-15 05:16] ttyio commented on #790
Hello @Qiancj0605 , I will close this since you already get answer, please reopen if you have more questions, thanks

[2020-10-15 05:16] #790 closed

[2020-10-15 05:48] lablabla commented on #753
Thanks guys!
Updating the nvidia drivers worked for me (CUDA 10.2, upgrading to 450.80.02)

[2020-10-15 06:12] ttyio commented on #784
Hello @CaptainJohansson , you are using the correct way to construct plugin when you do not have the header file of the plugin. If you own the plugin source, you can get rid of the `pluginfield`. Here is an example in the C++ demoBERT in `rel-6.0` :

- register plugin: https://github.com/NVIDIA/TensorRT/blob/release/6.0/demo/BERT/plugins/skipLayerNormPlugin.cu#L132
- plugin constructor:  https://g

[2020-10-15 06:20] ttyio commented on #822
close since this is solved, thanks

[2020-10-15 06:20] #822 closed

[2020-10-15 06:25] ttyio commented on #812
Hello @Darshcg , thanks for reporting.

Could you check you onnx model using some visualization tool to see if the model really has no `output`?

If you see the model has `output` but `onnx-trt` missed it, could you share your onnx file with us for better triage? thanks!

[2020-10-15 06:40] ttyio commented on #803
Hello @golden0080 , thanks for reporting

Is it possible that you are trying to touch gpu memory that allocated in different ctx from the log? You are using multiple ctx, so you have to prepare two copy of input for each framework. Also remember to switch ctx when switch between frameworks.

API cuCtxSetCurrent:
https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__CTX.html#group__CUDA__CTX_1g

[2020-10-15 06:50] Darshcg commented on #812
Hi @ttyio,

Here is the ONNX Model I am trying to convert: https://drive.google.com/file/d/1-XGtDAPrd5v-IQPRS3M44lssmjnkN1WR/view?usp=sharing.

[2020-10-15 07:13] Darshcg commented on #812
Also, I tried with trtexec utility with the command:  **!trtexec --onnx=last.onnx --verbose --explicitBatch --shapes=input.1:1x3x320x192**

I get the log like this:
[code]

[2020-10-15 07:26] ttyio commented on #804
@Jacoobr , thanks for reporting.

could you provide the full steps for repro? thanks.

[2020-10-15 08:44] zldrobit commented on #805
I encountered the same problem as OP.
I use trtexec tool for converting onnx to TensorRT model.
I notice that there's no ScatterND plugin in TensorRT.

[2020-10-15 09:45] Darshcg opened #825 "UNSUPPORTED_NODE: Assertion failed: scales.is_weights() && "Resize scales must be an initializer!"
Dear Team,

I am trying to convert my Custom Pytorch model to TRT model.

I converted the Pytorch model to the ONNX model successfully using the code below:

[code]

This worked Successfully.
But while Converting ONNX Model to TRT Model I am getting an error. The Complete log has been attached below:

[code]

May I know how to get rid of this?

Environment:
**TRT version: 7.1
Target: Jetson Nano.

[2020-10-15 11:36] karanjakhar commented on #753
glad to know that.

[2020-10-16 00:16] gabepack opened #826 "index to gather must not exceed length of vector"
## Description

I'm encountering an error when attempting to convert an ONNX model that my team uses for inference to TensorRT. The model can be parsed, but engine construction fails with the following.

[code]

Strangely, if I extract the small sub-model that contains `Gather_2` and the few relevant graph nodes and inputs that precede `Gather_2`, I am able to build an engine for the small sub-mod

[2020-10-16 03:45] ranjiewwen opened #827 "infer tensorrt7 result diff ?"
when i export onnx batch_size=1, and then input tensorrt infer batch_size=4, while tensorrt infer result only result one result, other three zeros, why this happen, when use tensorrt6 can get right result

[code]

[2020-10-16 05:51] ranjiewwen commented on #437
i think when max_batch_size=4, and export onnx batch size=4, then the output will be 16, but only first four result is right, other is zeros, so when use explicit batch, builder.max_batch_size = 1 will no have garbage data.

[2020-10-16 06:00] ranjiewwen commented on #827
myabe i found solution from: https://github.com/NVIDIA/TensorRT/issues/437#issuecomment-661658620

[2020-10-16 08:10] ttyio commented on #823
Thanks @crystalwan
I have checked pytorch implementation, and you are right, when `align_corners = true`, we should always use the output dims and input dims to calculate the `transformation_mode`, else we will hit this mismatch.

Before we fix this issue, you can WAR it by using `IResizeLayer::set_input`, I have prototype a python version code, the C++ code should be similar, could you take a try

[2020-10-16 08:24] ttyio commented on #812
Hello @Darshcg , from your log it seems that we hit some issue come from the onnx `resize` node, we had some fix for `resize` in the latest 7.2 release, What is your TRT version,  could you take a try on the 7.2 release? thanks!

[2020-10-16 08:38] jkjung-avt opened #828 "Failed to build a "yolov4-tiny" TensorRT engine for DLA core on Jetson Xavier NX"
## Description

Cannot build a "yolov4-tiny" TensorRT engine for DLA core on Jetson Xavier NX due to the following error.  (I have previously reported this issue on [NVIDIA Developer Forum](https://forums.developer.nvidia.com/t/problem-building-tensorrt-engines-for-dla-core/155749) but do not get a response for over 2 weeks.  So I'm re-posting the issue here.)

## Environment

**TensorRT Version**

[2020-10-16 08:40] ttyio commented on #813
Hello @justinblaber , thanks for reporting

We had some issue for `upsample` when `align_corners = true` and user provide `scale` instead of `size` , more detail I have comment in https://github.com/NVIDIA/TensorRT/issues/823#issuecomment-709896445

I see you did not assign `align_corners` in your pasted `upsample` sample, and the `align_corners = false` by default, we should not hit the bug. Howe

[2020-10-16 08:45] ttyio commented on #827
Hello @ranjiewwen , thanks for sharing

I will close this issue since you already get the answer, and please reopen if you have more question, thanks

[2020-10-16 08:45] #827 closed

[2020-10-16 10:04] GY0913 opened #829 "Cannot run global average pool on an input with dynamic spatial dimensions"
when I export my model to  onnx file and try to parse the onnx network,I got this error:
Assertion failed: !isDynamic(kernelSize) && "Cannot run global average pool on an input with dynamic spatial dimensions!"
environment：
pytorch 1.5
trt：TensorRT-7.0.0.11
cuda：10.2

[2020-10-16 17:48] rajeevsrao commented on #500
@whatdhack can you please check if this is resolved for you in 20.09 (or 20.10 to be posted on 10.23)?

[2020-10-16 18:05] kevinch-nv commented on #437
@ranjiewwen when using explicit batch mode, you no longer have to specify `builder.max_batch_size`, as TensorRT will just use the batch size specified in the model.

[2020-10-16 18:54] rajeevsrao commented on #436
@hashishoya AFAIK its not possible to convert the TLT model to tensorflow pb. You might want to ask in the [TLT forums ](https://forums.developer.nvidia.com/c/accelerated-computing/intelligent-video-analytics/transfer-learning-toolkit/17) to be sure.

We don't have a sample to share for fasterRCNN based on TF-ObjDet API just yet (as of rel-7.2). Please watch the OSS releases for updates.

[2020-10-16 18:55] #436 closed

[2020-10-16 21:03] rajeevsrao commented on #417
@twmht please share the repro test. It does sound like a bug.

[2020-10-16 22:16] rajeevsrao commented on #416
@bosssaurav can you please share the weights (caffemodel) and full prototxt by uploading to a personal repo/drive? Also note that we will be deprecating Caffe parser starting with the next major release, and recommend that you switch your workflow to ONNX..

[2020-10-17 03:15] crystalwan commented on #823
Thanks,
I try to use `IResizeLayer::set_input` with c++ codes in my project, it works!

[2020-10-17 05:04] twmht commented on #417
@rajeevsrao

closing this issue unitil I have time to prepare the testing report.

[2020-10-17 05:04] #417 closed

[2020-10-18 00:31] rajeevsrao commented on #402
@jianyin2016 @charleybian the issue you described was likely fixed with [this commit](https://github.com/onnx/onnx-tensorrt/commit/1dc27c14043536daa2239f4f38f4102f380c7d35#diff-b23eabdc4ee3ebabdbb607535b2ed80c471093b0fef41a5b53bce876ca9ec96d).  Can you please conform, and if not please provide a repro test?

[2020-10-18 00:37] rajeevsrao commented on #401
@rtrobin can you please describe what nodes these are. The tactic selection (build) time depends on the number of nodes as well as the type (number of tactics/formats supported by it). If you have a repro test please share.

[2020-10-18 01:02] rajeevsrao commented on #400
@jlygit 6mins for 75 convs is a bit excessive. If you can share the model, I can take a look. Thanks.

[2020-10-18 01:52] rajeevsrao commented on #399
@royinx please try the 7.1 or later releases and let us know if this is still an issue. As Ryan mentioned above, this looks like the Softmax bug in 7.0.

[2020-10-18 01:55] rajeevsrao commented on #396
@yflv-yanxia please provide a repro test or check if this is fixed in release 7.1

[2020-10-18 02:32] rajeevsrao commented on #395
@PaulZhangIsing please test with a more recent version of TensorRT (7.x) and let us know if this still fails.

[2020-10-18 02:44] rajeevsrao commented on #392
@peyer can you please attach the weights you used: `mbnv1_ssd.caffemodel`?

[2020-10-18 16:04] rajeevsrao commented on #384
@hwh-hit the original issue you reported is fixed as Ryan mentioned. Please confirm.

@Ram-Godavarthi please see Aasta's response on the forum here for details on re-training SSD-InceptionV2-COCO17 for TensorRT:
https://forums.developer.nvidia.com/t/how-to-retrain-ssd-inception-v2-coco-2017-11-17-from-the-tensorrt-samples/76851/15
Please create a separate ticket for any issues you encounter.

[2020-10-18 16:04] #384 closed

[2020-10-18 16:09] rajeevsrao commented on #381
@Vincent9797 please try the new Windows build instructions (using Powershell) in the [Quickstart guide](https://github.com/NVIDIA/TensorRT#building-the-tensorrt-oss-components). Reopen this ticket if you see issues.

[2020-10-18 16:09] #381 closed

[2020-10-18 16:11] rajeevsrao commented on #380
@cathy-kim following up on Ryan's request, can you please share the model or an isolated example if possible? Thanks.

[2020-10-19 00:35] ttyio commented on #823
Thanks @crystalwan , internally we have fixed this, closing since we have workaround for the public release. and please reopen if you have more question.

[2020-10-19 00:35] #823 closed

[2020-10-19 04:03] bosssaurav commented on #416
@rajeevsrao

https://github.com/bosssaurav/DL.git

[2020-10-19 04:59] cathy-kim commented on #380
@rajeevsrao Hi. I cannot share the model because of NDA. I'm gonna make an isolated example and upload it. Thanks

[2020-10-19 05:59] BowenFu commented on #639
This should have been fixed in Tensorrt-7.1.

[2020-10-19 06:19] ttyio commented on #808
@haif-liu , thanks for reporting
Could you try latest tensorRT 7.2?

[2020-10-19 09:29] #784 closed

[2020-10-19 10:04] iemanjohary opened #830 "upgrading from tensorrt 7.1.0 to 7.1.3"
## Description

I developed a plugin in tensorrt version 7.1.0 and it was working great without any problem the engine was refittable and almost every minute i refite it. now I upgraded my tensorrt to 7.1.3 and the same code without any change taking inference witout any problem but after reffing the engine when taking inference it shows this error and abort.

terminate called without an active ex

[2020-10-20 00:05] Mishok43 commented on #816
Thank you, I got it. Because of your recommendations I have changed the arhitecture of my model to different one
![image](https://user-images.githubusercontent.com/19211368/96524158-27561980-1280-11eb-929d-3b811952bb6d.png)
But the tensorrt inference is really strange for UpSampling3D layers. It generates a lot of layers with names: StatefulPartitionedCall/functional_1/up_sampling3d_1/split:12 cop

[2020-10-20 00:15] mk-nvidia commented on #629
Closing due to no response from issue reporter. Please reopen if this problem still exists.

[2020-10-20 00:15] #629 closed

[2020-10-20 00:17] mk-nvidia commented on #631
Please note that we're deprecating the UFF parser. As @rmccorm4 mentioned, please utilize the ONNX parser.

[2020-10-20 00:17] #631 closed

[2020-10-20 00:18] mk-nvidia commented on #635
Closing due to no response from issue reporter.

[2020-10-20 00:18] #635 closed

[2020-10-20 00:25] mk-nvidia commented on #639
@ningningG @ys0232 Can you please check if you still hit this problem with TensorRT-7.2 or TensorRT-7.1? Thanks

[2020-10-20 00:30] mk-nvidia commented on #641
Closing due to no response from the user.

[2020-10-20 00:30] #641 closed

[2020-10-20 00:35] mk-nvidia commented on #642
@pustar Were you able to resolve your bug? Please also try out newer TensorRT versions, 7.2 should be available this week.

[2020-10-20 02:07] mk-nvidia commented on #602
@Beam-wi  Can you please try this with TensorRT-7.1? I tried reproducing the problem with this version but I couldn't.

[2020-10-20 02:10] mk-nvidia commented on #590
@warren-lei please add details of the version of TensorRT you used, CUDA versions, and whether you tried a native or container build.

[2020-10-20 02:14] mk-nvidia commented on #518
Closing due to no response from issue reporter.

[2020-10-20 02:14] #518 closed

[2020-10-20 02:18] mk-nvidia commented on #505
@Edwardmark TensorRT 7.x uses a cmake-based build system so it already contains `CMakeLists.txt`
See: https://github.com/NVIDIA/TensorRT/blob/master/CMakeLists.txt

[2020-10-20 02:18] #505 closed

[2020-10-20 03:16] mk-nvidia commented on #657
Yes, the network wouldn't produce the right results in the case above.
You could shuffle the channels of the weights of the first layer to match your input channel order.

[2020-10-20 03:16] #657 closed

[2020-10-20 05:36] ttyio commented on #563
Hello @liupengkd , thanks for reporting
Do you have custom plugin in the network? Is it possible the leak come from the plugin? Or are you using only native TRT layers?

Also, have you tried TRT 7.2? thanks!

[2020-10-20 05:40] ttyio commented on #561
Hello @feilingdeng , @kunyao2015 thanks for reporting

Did you run inference in different CUDA stream? You could also run nsight compute to check the SM occupancy and other execution detail, thanks.

[2020-10-20 05:43] ttyio commented on #560
Hello @omais-shafi , thanks for reporting
Could you elaborate more on what is `MAP`? did you mean the ONNX operator to TRT native layer mapping?

[2020-10-20 05:57] ttyio commented on #553
Hello @urbaneman , thanks for reporting
From https://github.com/onnx/onnx/blob/master/docs/Operators.md, `PriorBox` is not a native ONNX operator. If you have plugin implementation for this layer, you could add new ONNX operator follow `InstanceNormalization`. thanks.

code: https://github.com/onnx/onnx-tensorrt/blob/master/builtin_op_importers.cpp#L1610

[2020-10-20 06:05] ttyio commented on #550
Close since get no response for more than month, @yflv-yanxia please reopen if you still have issue, thanks!

[2020-10-20 06:05] #550 closed

[2020-10-20 06:11] ttyio commented on #535
Close since this is solved, thanks all

[2020-10-20 06:11] #535 closed

[2020-10-20 06:39] ttyio commented on #530
Hello @VCBE123 , thanks for reporting

sample code for the usage of gpu allocator
https://github.com/NVIDIA/tensorrt-laboratory/blob/33b6fdf2935cd49944ae7d16601cc58f6199cd49/trtlab/tensorrt/include/trtlab/tensorrt/allocator.h

FYI, you cannot reduce the memory footprint to the model size, because tensorrt use cudnn/cublas, and after the first API call into these library, the CPU/GPU memory used fo

[2020-10-20 07:02] #794 closed

[2020-10-20 09:45] slevashov opened #831 "Building TensorRT 7.1.3.4 with CUDA 11.1"
I am unable to build the TensorRT 7.1.3.4 with CUDA toolkit 11.1. The make -j$(nproc) finished with error:
 recipe for target 'parsers/onnx/getSupportedAPITest' failed. This id because it expect libnvrtc.so.11.0 instead of libnvrtc.so.11.1 installed with CUDA 11.1. Unfortunately the CUDA 11.0 no longer available on developer.nvidia.com/cuda-downloads portal.
How can I build the TensorRT 7.1.3.4 wi

[2020-10-20 09:59] marsmiao commented on #649
Have u ever tried to use same context for different batch-sized input which is accepted by the profile? As far as I have observed, it will cause huge problem.

[2020-10-20 10:02] marsmiao commented on #593
Are you sure the different batch-size output is correct? maybe you check the memory leak but not the result?

[2020-10-20 10:12] marsmiao commented on #489
As far as I have observed, when using same context to infer different batch-size request, e.g. batch 10, batch 2, batch6 this pattern to infer, once the batch-2 request have executed inference, the next batch-6 will only have the first 2 batchs' results correct, with the last 4 batches appear incorrect.

[2020-10-20 10:23] bladesaber opened #832 "onnx convert error"
## Description

[TensorRT] ERROR: (Unnamed Layer* 0) [Convolution]: at least 4 dimensions are required for input
In node 1 (importBatchNormalization): INVALID_NODE: Assertion failed: scale_weights.shape == weights_shape
Number of errors: 1
Description of the error: Assertion failed: scale_weights.shape == weights_shape
Line where the error occurred: 695
Error code: INVALID_NODE
Model was not parse

[2020-10-20 10:25] bladesaber commented on #832
Please someone give me help, :)

[2020-10-20 10:45] bladesaber opened #833 "INVALID_GRAPH: Assertion failed: ctx->tensors().count(inputName) in tensorrt 7.0.0.11"
## Description

INVALID_GRAPH: Assertion failed: ctx->tensors().count(inputName)

with strange Warning: onnx2trt_utils.cpp:198: Your ONNX model has been generated with INT64 weights, while TensorRT does not natively support INT64. Attempting to cast down to INT32.

I believe my onnx exported by pytorch..onnx.export is based on float32

## Environment

**TensorRT Version**:  7.0.0.11
**GPU Type**:

[2020-10-20 12:50] slevashov commented on #831
I have found the soure to download CUDA 11.0.
https://developer.nvidia.com/cuda-11.0-download-archive
Sorry. The Issue is closed.

[2020-10-20 12:50] #831 closed

[2020-10-20 19:21] xkszltl commented on #800
@mk-nvidia Any timeline/ETA for the very soon 7.2.x?

[2020-10-20 19:59] Myron1996 opened #834 "Unable to Install Tensorrt 6.0.1.5 with CUDA 10.1 on Ubuntu 18.04"
Can someone please help me with following issue. I am trying to install Tensorrt 6.0.1.5.
**System Configuration**

- Ubuntu 18.04

- CUDA 10.1

- CUDNN 7

- Tensor-RT - `nv-tensorrt-repo-ubuntu1804-cuda10.1-trt6.0.1.5-ga-20190913_1-1_amd64.deb`

[code]

[2020-10-21 01:42] mk-nvidia commented on #800
@xkszltl 7.2.1 is now live.

[2020-10-21 02:40] HaoLiuHust commented on #593
We already used it in our products, it is correct

[2020-10-21 02:41] HaoLiuHust commented on #489
We already used it in our products, it is correct

[2020-10-21 04:11] bladesaber opened #836 "error happen in cmake of Tensorrt OSS"
## Description

Building for TensorRT version: 7.0.0.1, library version: 7.0.0
-- The CUDA compiler identification is unknown
-- Detecting CUDA compiler ABI info
-- Detecting CUDA compiler ABI info - failed
-- Check for working CUDA compiler: /usr/local/cuda/bin/nvcc
-- Check for working CUDA compiler: /usr/local/cuda/bin/nvcc - broken
CMake Error at /usr/bin/cmake/share/cmake-3.19/Modules/CMakeTe

[2020-10-21 11:31] ZhangChuann opened #837 "Core dump with Bert inference on Tesla-P4"
## Description
I can run "python build.py" correctly, and generate "bert_base_128.engine" sucessful.

but during run： python3 inference.py -e /workspace/TensorRT/demo/BERT/engines/bert_base_128.engine -p "TensorRT is a high performance deep learning inference platform that delivers low latency and high throughput for apps such as recommenders, speech and image/video on NVIDIA GPUs. It includes par

[2020-10-21 12:00] bladesaber opened #838 "ctx->tensors().count(inputName)"
I really need help

## Description

I have install tensorrt oss, but it still report the error.

trtexec  --onnx=test.onnx --saveEngine=ttt.trt

it output:
ctx->tensors().count(inputName)

and when I use onnx-simplifier
it output:
Assertion failed: convertOnnxWeights(initializer, &weights, ctx)

## Environment

**TensorRT Version**:  7.0.0.11
**GPU Type**: GTX1660Ti
**Nvidia Driver Version**: nvid

[2020-10-21 14:28] QQJayden commented on #264
Excuce me, has the problem been solved?

[2020-10-21 17:11] pranavm-nvidia commented on #838
This was fixed in 7.1

[2020-10-21 17:11] pranavm-nvidia commented on #833
This should be fixed in 7.1 and newer

[2020-10-21 17:14] pranavm-nvidia commented on #832
Can you try this with a newer version of TensorRT?

[2020-10-21 23:51] mk-nvidia commented on #782
@golden0080 Thanks for reporting this, we should fix both the root cause and the logger behavior. Can you please share your model so we can repro this at our end?