[2022-04-22 16:48] senecobis commented on #1882
@ttyio I've tried to use polygraphy surgeon sanitize model.onnx --fold-constants --output model_folded.onnx but the error is unchanged, I guess is not possible to fold N-D shapes in my case.

[2022-04-22 16:58] senecobis commented on #1882
The only solution would be to switch to the other implementation in torch vision of padding. Another solution that worked **for me**, for what regards paddings, was to remove the padding with onnx surgeon.

Btw I hitted another conversion error with trtexec...

04/22/2022-16:51:56] [E] [TRT] parsers/onnx/ModelImporter.cpp:780: While parsing node number 261 [Gather -> "1712"]:
[04/22/2022-16:51:56]

[2022-04-23 02:51] STAROFWIND commented on #1882
I think you should try to convert without shape input.

Vào 23:58, T.6, 22 Th4, 2022 Roberto Pellerito ***@***.***>
đã viết:

[2022-04-23 06:22] IamNaQi opened #1945 "Error Code 1: Myelin (Compiled against cuBLASLt 10.2.2.0 but running against cuBLASLt 11.4.2.0.)"
Hi I am using TensorRT for an image detection in python but getting this issue. we have tested this on Linux and working well but got issues on windows. This is issue of only getting on python , [C++ inference ]( https://github.com/zhiqwang/yolov5-rt-stack/tree/main/deployment/tensorrt)working smoothly. I am also attaching yoloV5n6.trt.onnx file for further tests. Please help me out in this Error.

[2022-04-23 07:44] leimeng86 opened #1946 "TensorRT compilation on Linux Ubuntu succeeded vs. on Windows 10 failed"
## Description

PyTorch nn.module compiled by TensorRT on Linux cannot be compiled on Windows with error of "Segmentation fault".

About the PyTorch nn.module:
PyTorch implementation of the relation module of [Relation Distillation Networks for Video Object Detection](https://arxiv.org/abs/1908.09511) which is based on ["Relation Network for Object Detections"](https://arxiv.org/abs/1711.11575)

#

[2022-04-23 08:05] senecobis commented on #1882
Can you elaborate more? what you mean without "shape input"

[2022-04-23 08:52] whaozl opened #1947 "Min value of this profile is not valid and Max value of this profile is not valid[please help me,thanks]"
## Description

## Environment

**TensorRT Version**: TensorRT-8.4.0.6
**NVIDIA GPU**: P100
**NVIDIA Driver Version**: 510.47.03
**CUDA Version**: cuda_11.4.3_470.82.01_linux.run
**CUDNN Version**: cudnn-11.4-linux-x64-v8.2.4.15.tgz
**Operating System**: centos7
**Python Version (if applicable)**: 3.7
**Tensorflow Version (if applicable)**: none
**PyTorch Version (if applicable)**: 1.9.0+cu111
**B

[2022-04-23 09:07] STAROFWIND commented on #1882
I mean that you could try convert using trtexec like: bin/trtexec  --onnx=h5.onnx --verbose --explicitBatch --saveEngine=h5.trt --shapes=input:1x320x320x3. But I don't know why I get the error with input shape. then I just run bin/trtexec  --onnx=h5.onnx --verbose --explicitBatch --saveEngine=h5.trt ( without shapr input) and It can convert. Although the shape input is actually is 1x320x320x3

[2022-04-23 14:28] 773041642 opened #1948 "The volume of a tensor cannot exceed 2^31-1 (tensorRT 8.0.16)"
[Matrix Multiply]_output: tensor volume exceeds (2^31)-1, dimensions are [4,65536,65536])

what should I do?

[2022-04-24 03:31] zerollzeng commented on #1931
sounds like a bug, can you provide a reproduce?

cc @ttyio

[2022-04-24 03:55] zerollzeng commented on #1934
I can reproduce this on 8.4. @ttyio do we support group convtranpose in QAT?

[2022-04-24 05:44] zerollzeng commented on #1941
refer to https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_int8_calibrator.html#a7ab91ef32e13f445c54f17597df29154

an unofficial code sample:
https://github.com/zerollzeng/tiny-tensorrt/blob/master/src/Int8Calibrator.cpp

[2022-04-24 05:49] zerollzeng commented on #1944
https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#shuffle-layer and https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#concatenation-layer should be helpful to you

[2022-04-25 02:55] ttyio commented on #1934
@tzskp1 , currently we only enabled loop based convtranspose. The limitation is that for the INT8 IO, we have to fit the requirement that channel at least 4 times groups number, like in your case, you have to modify to:

     model = torch.nn.ConvTranspose2d(
      256, 64, 4, stride=2, padding=1,
      output_padding=0, groups=64, bias=False)

I will create RFE to enable non loop based convtransp

[2022-04-25 03:07] Mavericky-j opened #1949 "Confused about the design concept of Explicit quantization Q/DQ node in pytorh_quantizaiton toolkit"
Description
I am very confused about the design concept of the Q/DQ node during QAT. now that TensorRT has the implementation of int8 conv op,

why we cannot quantize weights and activations to int8 then use int8 conv op directly during explicit quantization?

and why we must use DQ to restore precision? If we act like this, take number 3 as example, is it like that we don’t use integer 3 but use

[2022-04-25 08:28] ttyio commented on #1949
Hello @Mavericky-j
My understanding for Q/DQ. The traditional PTQ issue is that the INT8 loss is not seem during training. With the inserted Q/DQ (aka, fake quant) nodes, now the quantization loss is also seems during training, DL framework would use the Q/DQ pair to quant the float tensor to int8 tensor, while the computation is still in FP32/FP16. By doing this we can minimalize the loss by fine

[2022-04-25 08:34] ttyio commented on #1948
@773041642 , tensor size has 2G limitation in TensorRT, could you make your network smaller? Thanks

[2022-04-25 08:40] 773041642 commented on #1948
Whether there is a way to modify this limit, changing the size will affect the accuracy of the model .

[2022-04-25 08:46] ttyio commented on #1946
@leimeng86 ,
Do you mean the Linux passed while Windows failed? Could you confirm that the same onnx is loaded in TRT?
Also I see 2 warning in your log complains the `cuBLAS/cuBLASLt` version mismatch, and `cuDNN` version mismatch, also better to fix this warning. Thanks!

[2022-04-25 09:29] ttyio commented on #1947
Hello @whaozl , for dynamic shape, we have api `set_binding_shape` to set the shape in the profile, and use `context.get_binding_shape` instead of `engine.get_binding_shape` to query the shape.
Also the warning you see because that the range provide for each input is a ranged value, and sometimes all input with the minimal input is not a valid case in real case, so TRT will not reject your network

[2022-04-25 09:33] ttyio commented on #1945
@IamNaQi , seems the cublaslt that loaded in the python not compatible with TRT. Maybe this is because pytorch did not load the cublaslt installed in your system, but the one that installed with trt.
Could you try import tensorrt before pytorch in your code? not sure if this helps. Thanks

[2022-04-25 09:40] ttyio commented on #1943
@hannan72 , we had some optimization for the dynamic shape profile switch in the 8.4. Could you take a try?

For the dynamic batch_size and sequence_length, what's the issue did you hit? thanks!

[2022-04-25 09:44] ttyio commented on #1933
Hi @hliunim , we also have TF-TRT project https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html

Could you check if the TF1.10 in any container from https://docs.nvidia.com/deeplearning/frameworks/tensorflow-release-notes/index.html? Thanks

[2022-04-25 09:53] ttyio commented on #1941
@netuserjun could you elaborate more on why `SampleInt8 cannot making proper calibration file.`,  the sample used standard interface to dump the calibration cache, see https://github.com/NVIDIA/TensorRT/blob/main/samples/common/EntropyCalibrator.h#L81

Also from your attached code, I see you used library called `odtk::Engine`, maybe this library require some calibration cache format that not TRT s

[2022-04-25 11:30] ttyio commented on #1937
@sanxchep , currently we don't support native multi-GPUs support. It's the user's responsibility to manager multi-GPUs, split the model and run the sub graphs in pipeline. TensorRT is no special like other CUDA applications under this environment.

[2022-04-25 11:36] ttyio commented on #1940
@vuminhduc97 , how did you measure the time, the TRT `enqueue` API is asynchronous, `you need insert explicit `cudaStreamSynchronize` if you want to measure the kernel execution time only. Else the memcpy_dtoh also include the inference execution time. Thanks!

[2022-04-25 11:39] sanxchep commented on #1937
@ttyio If this is the case, can you direct me towards helpful documentation to do the same. I've noticed the trt docs aren't structured properly (an opinion, or maybe i dont have enough technical knowledge). So any links would be helpful.

Or else any other implementations under tensor RT that would have loaded large transformer model?

[2022-04-25 11:40] ttyio commented on #1948
@773041642 , sorry this is not configurable , because many kernel implementations using 32bit when addressing the offset in tensors.

[2022-04-25 11:47] ttyio commented on #1936
@imharshitagrawal , could you create issue in https://github.com/triton-inference-server/server/issues, triton is maintained in a separate team, thanks!

[2022-04-25 11:49] ttyio commented on #1932
@zhangxiaodi ,
for torch1.2.0 to onnx, could you take a check https://pytorch.org/docs/1.2.0/onnx.html#torch.onnx.export?

for onnx to trt, could you try `trtexec --onnx=<your_onnx_file> --fp16/--int8`
thanks!

[2022-04-25 12:12] #1948 closed

[2022-04-25 12:25] ttyio commented on #1937
@sanxchep yes we are working on improving the documents ;-(

Currently we have a single GPU T5 demo in https://github.com/NVIDIA/TensorRT/tree/main/demo/HuggingFace/T5, but sorry there is no demo show how to pipeline/tensor parallel the model yet.

The native support for multi node multi GPU is in the plan, before it is supported, Maybe worth try https://github.com/NVIDIA/FasterTransformer, it sup

[2022-04-25 12:42] whaozl commented on #1947
@ttyio
[code]

this min shape (1,7,80) is valid, (1,6,80) 、(1,5, 80)or (1,1,80) is really not valid. And the originnal torch  model can not unfold.

but I try (1,7,80) or (1,100,80), the originnal torch model can unfold.

but I try TRT dynamic， it throws error as follow:

[code]

can you help me? thank you.

[2022-04-25 12:48] hannan72 commented on #1943
@ttyio Thanks a lot for your response. Sure. In TRT 8.4, the function for switching is the same as the previous one?

[2022-04-25 12:50] hannan72 commented on #1943
Also for  the second part, the issue was that at the first step I tried to convert the onnx model to TRT with double dynamic dimensions (dynamic batch_size and sequence length). However, the performance was degraded considerably. Then, I decide to set one of the dimensions as dynamic and switch between profiles for the second dimension.

[2022-04-25 12:58] ttyio commented on #1927
Hello @BigPandaCPU , are they on the same GPU?

One thing I want to point out is that TRT is not guarantee to determine when build engine that has different batch size , different gpu or different platform. But usually this did not change the accuracy because NN is robust by its nature, and even works in lower precision.
Also this is problem is not limited to TRT.  see PyTorch (https://pytorch.org

[2022-04-25 13:10] ttyio commented on #1943
Hello @hannan72
8.4 and 8.2 are only minor version upgrade, so the APIs are compatible, should no need to change your code.

For the perf degrade, I forget to mention the best practice is that enable verbose log, if you see words like `foreign node`, `myelin`, then the perf will degrade if you have dynamic dim more than 1. We will fix this limitation in future version.
Also for models with boolean

[2022-04-26 00:10] ttyio commented on #1881
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:10] #1881 closed

[2022-04-26 00:11] ttyio commented on #1864
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:11] #1864 closed

[2022-04-26 00:11] ttyio commented on #1859
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:11] #1859 closed

[2022-04-26 00:11] ttyio commented on #1844
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:11] #1844 closed

[2022-04-26 00:11] ttyio commented on #1841
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:11] #1841 closed

[2022-04-26 00:12] ttyio commented on #1840
Closing since now the 8.4EA is available, please reopen if you still have issue, thanks!

[2022-04-26 00:12] #1840 closed

[2022-04-26 00:12] ttyio commented on #1837
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:12] #1837 closed

[2022-04-26 00:12] ttyio commented on #1827
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:12] #1827 closed

[2022-04-26 00:13] ttyio commented on #1826
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:13] #1826 closed

[2022-04-26 00:13] ttyio commented on #1820
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:13] #1820 closed

[2022-04-26 00:13] ttyio commented on #1805
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:13] #1805 closed

[2022-04-26 00:13] ttyio commented on #1803
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:13] #1803 closed

[2022-04-26 00:13] ttyio commented on #1796
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:13] #1796 closed

[2022-04-26 00:14] ttyio commented on #1792
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:14] #1792 closed

[2022-04-26 00:14] ttyio commented on #1787
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:14] #1787 closed

[2022-04-26 00:15] ttyio commented on #1767
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:15] #1767 closed

[2022-04-26 00:16] ttyio commented on #1713
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:16] #1713 closed

[2022-04-26 00:16] ttyio commented on #1715
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:16] #1715 closed

[2022-04-26 00:16] ttyio commented on #1726
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:16] #1726 closed

[2022-04-26 00:17] ttyio commented on #1736
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:17] #1736 closed

[2022-04-26 00:17] ttyio commented on #1739
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:17] #1739 closed

[2022-04-26 00:18] YLongJin commented on #1713
Tanks  i  solove it by antoher

[2022-04-26 00:18] ttyio commented on #1740
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:18] #1740 closed

[2022-04-26 00:19] ttyio commented on #1744
Now we already released 8.4EA, could you take a try? I will close this for now, please reopen if you still have issue, thanks!

[2022-04-26 00:19] #1744 closed

[2022-04-26 00:19] ttyio commented on #1712
Closing since no activity for more than 3 weeks, please reopen if you still have issue, thanks!

[2022-04-26 00:19] #1712 closed

[2022-04-26 02:09] ttyio commented on #1917
@handoku ,  your issue is fixed in 8.4 GA, please upgrade 8.4 GA when we release the binary in https://developer.nvidia.com/tensorrt, thanks!

[2022-04-26 02:21] #1917 closed

[2022-04-26 02:22] Xinchengzelin commented on #1917
Thanks for your advices,  I compared and changed my code with trtexec code,  now it works. Thank you very much

[2022-04-26 02:38] leimeng86 commented on #1946
@ttyio ,

Yes, "the Linux passed while Windows failed".

The ONNX files are exported on Windows and Linux respectively. I just tried to use the ONNX file exported on Linux on Windows in TensorRT, which yielded the same error message "Segmentation fault".

The mismatch warning messages also show up when I use TensorRT on Linux. (please refer to the attached log file) I will try to fix the mismatche

[2022-04-26 03:48] handoku commented on #1917
@ttyio thanks，and when will the GA version be released

[2022-04-26 05:54] ttyio commented on #1917
@handoku , GA should be available in earl June, thanks!

[2022-04-26 06:04] sanxchep commented on #1937
@ttyio I understand, Thanks for the help! let me see if i can churn up something!

[2022-04-26 06:04] #1937 closed

[2022-04-26 12:10] kobzaond opened #1950 "Shuffle layer causes an 'Internal Error': (Assertion status == kSTATUS_SUCCESS failed. )"
## Description
Shuffle layer causes an 'Internal Error': (Assertion status == kSTATUS_SUCCESS failed. )

I am building a neural network through Python API. In the input, I have a list of tokens, first I collect embeddings from embedding layer and obtain a tensor of shape (-1, 768); [Note, this part does not cause any error while building]; Next I am trying to reshape the tensor by inserting a shuf

[2022-04-27 07:20] ttyio commented on #1520
@quocnhat , python is just a thin layer that wrap C++ using pybind11, check https://github.com/NVIDIA/TensorRT/tree/main/python, there should not be any accuracy difference, do you have simple repro? thanks

[2022-04-27 07:33] yeliang2258 opened #1951 "Question about INT8 quantization ranges"
Hi, I have two questions and I am looking forward to replying:

1. it is written in the file that the activation value will be quantized to -128~127, then when I set tensor->setDynamicRange(min_float, max_float), if the value of tensor is less than min_float, is it quantized to -128?
2. If you need to use the QuantizeLinear OP in ONNX to express this quantization relationship, how should scale and

[2022-04-27 09:30] louisquinn commented on #1710
Hey @4ff4n did you find a solution for this? I'm facing the same thing with a Mask-RCNN model.

[2022-04-27 10:26] riyaj8888 opened #1952 "docker image creation"
I am trying to create docker image directly from docker script that is provided here but i ma getting below issue

 => ERROR [internal] load metadata for docker.io/nvidia/cuda:11.4.2-cudnn8-devel-ubuntu20.04                                                  12.3s
 => [auth] nvidia/cuda:pull token for registry-1.docker.io

[2022-04-27 17:21] okorzh commented on #866
@jinfagang @WYRTDCQ Could you please check what is the version of cublas that you currently have? TensorRT is expecting it to be 10.2.3

I had the same issue when I've tried to use incremental patches for the old 10.2.0 cuda. But when I've installed cuda 10.2.2 first and than applied 2 patches the issue is resolved.

[2022-04-27 19:22] 4ff4n commented on #1710
@louisquinn  In order to proceed, you need to re-export the saved model. If you don't re-export the model with with float_image_tensor as input type, the conversion process will fail.

Best!

[2022-04-28 01:51] ttyio commented on #1748
This will be fixed in 8.4GA, thanks!

[2022-04-28 02:23] BigPandaCPU commented on #1927
Thank you for your reply@ttyio,they are not the same GPU. Windows :GPU1050Ti, Ubuntu:GPU 2080Ti.
I have run the same model and the same input data  both on ubuntu and  windows, with the pytorch.
the outputs below,they are very close.
![预测结果](https://user-images.githubusercontent.com/25834151/165661558-6a5a71fd-6515-4962-aac6-43695bfa344d.png)

and I also run it with tenosorrt python API,the result

[2022-04-28 05:24] tzskp1 commented on #1934
Thank you for your response.
I tried to export 1 / 4 groups conv layer.
But performance of 1 / 4 groups conv layer worse with 1 groups conv layer.
Is it caused by loop based implementation?

[2022-04-28 06:00] kimdwkimdw opened #1954 "Exploding results in nvcr.io/nvidia/tensorrt:"21.06~22.03"-py3 8.x"
## Description

Results are exploding to `inf`

## Environment

**TensorRT Version**: 8.x  ex) [8.2.3](https://docs.nvidia.com/deeplearning/tensorrt/release-notes/index.html)
**NVIDIA GPU**:  RTX 3090
**NVIDIA Driver Version**:  495.29.05
**CUDA Version**: 11.5
**CUDNN Version**:
**Operating System**: Linux Ubuntu

## Relevant Files

[
](https://github.com/NVIDIA/TensorRT/issues/1707)
https://gist

[2022-04-28 09:35] leemengxing commented on #1881
Hi, I have the same problem. For example, the swish activation function int8 is slower than fp16.  because fp16 mode is half and int8 is implemented by fp32. Even if trtexec turns on -- int8 -- fp16, it doesn't change.
[yolov5s_mix_silu.log](https://github.com/NVIDIA/TensorRT/files/8581508/yolov5s_mix_silu.log)
@ttyio

[2022-04-28 13:00] snlpatel001213 opened #1955 "tensorflow 1.15 is not available on PIP"
## Description
MaskRCNN documentation requires tensorflow==1.15 to be installed but is no more available from pip.
Ref:  https://github.com/NVIDIA/TensorRT/tree/main/samples/sampleUffMaskRCNN

Please update the tutorial to the latest TensorFlow releases

## Environment

**TensorRT Version**: 8.1
**NVIDIA GPU**: P1000
**NVIDIA Driver Version**:  470.103.01
**CUDA Version**: 11.6
**CUDNN Version**:

[2022-04-29 00:54] Emilio66 commented on #1928
are there any updates about the problem progress?

[2022-04-29 10:18] AllentDan commented on #1823
Same here. Wonder for some operations that cannot use FP16, overflow for example, what could we do to make them FP32 while keeping others FP16.

[2022-04-29 11:06] Data-Iab commented on #1634
Another thing you may want to check is the calibration file of the `int8_calibrator`. Make sure there's no previous file with the same name, if so, remove it first.

[2022-04-29 18:09] IamNaQi commented on #1945
@ttyio  Thank you so much for your great help. This minor change saved our a lot of time.

[2022-04-29 18:09] #1945 closed

[2022-04-30 05:06] zhangjoey115 opened #1961 "TensorRT8 int8 model convtranspose layer output error"
## Description

Hello,

I'm debugging a INT8 model and want to mark some model layer as output. But I got error while I tried "mark all" command.
![image](https://user-images.githubusercontent.com/7994012/166245371-f0e51ddc-62a4-464f-bfed-b7575fbb7307.png)

Because mark all works fine with normal float onnx models, I'm wondering if this "mark all" function is not supported by TensorRT for INT8 mod

[2022-04-30 12:37] csq20081052 commented on #1332
Hi, I got the same error as yours. Can you tell me how to fix this problem? Do I need to install some ".deb" file? Thx.

[2022-05-02 06:17] naor2013 opened #1962 "Support for ONNX opset version 15"
## Description

I did not test it out yet but I can't find anything claiming TensorRT supports export from opset version 15.
It would be great if it would be supported because of the addition support to optionals in opset version 15 is really helpful for my model.

[2022-05-02 08:42] GitForKriti commented on #1727
Hi,i have set the right binding name but still getting the same issue.

[2022-05-02 08:59] dvirla opened #1963 "Converting onnx to trt engine ("weights and output must be in same phylum")"
## Description

I'm following the notebook for converting pytorch model into trt engine and getting the following error when trying trtexec:

[05/02/2022-11:31:38] [I] Finish parsing network model
[05/02/2022-11:31:38] [E] Error[2]: [constantNode.cpp::checkSanity::15] Error Code 2: Internal Error (Assertion phylum(params.weights.type()) == phylum(*outputs[0]) failed. weights and output must be in

[2022-05-03 06:26] triple-Mu opened #1964 "How to register skiplayernorm in onnx for tensorrt parser"
## Description

## Environment

**TensorRT Version**:
**NVIDIA GPU**:
**NVIDIA Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**Operating System**:
**Python Version (if applicable)**:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:

## Relevant Files

## Steps To Reproduce

[2022-05-04 17:52] DaveBGld opened #1965 "Quick Start, Unable to prepare engine"
## Description
When converting ONNX model, I get an error:
[Error (Could not find any implementation for node ArgMax_260.)](https://forums.developer.nvidia.com/t/error-could-not-find-any-implementation-for-node-argmax-260/212988)

## Environment

**TensorRT Version**: 8.2.0
**NVIDIA GPU**: RTX3090
**NVIDIA Driver Version**: 510.60.02
**CUDA Version**: Cuda compilation tools, release 11.4, V11.4.15

[2022-05-05 02:10] TUT-jiayou commented on #1332
* I can not find good way to fix the bug.
* I copy the needed dynamic libraries (.so file) from the development Kit to the X86 machine.

[2022-05-05 06:10] csq20081052 commented on #1332
OK, I got it. Thank you~

[2022-05-05 06:11] deephog opened #1966 "Model quantized with explicit precision mode (with Q/DQ nodes) failed in engine generation"
Here is the ONNX model I used to generate the engine: [model](https://drive.google.com/file/d/1DAF3dYsFO7aN7ZmPoNEdnCRTsKTqTCKm/view?usp=sharing)

It is quantized with torch_quantization toolkit, following the most simple instructions that was given (Using quant_modules.initialize() to automatically replace all the supported layers, no manual Q/DQ placement), and calibrated following the same code

[2022-05-05 08:07] MamaShip commented on #1920
@ttyio Excuse me, can you estimate the official release time of this feature?

The lowest engine solution works fine. But we wonder how long this will take.

[2022-05-05 10:41] nanditam1 opened #1967 "Error in : Doing inference using the engine file using ./trtexec [Tensorrt 8.0 OSS with CUDA 11.3]"
I need to build Tensorrt 8.0 OSS with CUDA 11.3, and the build files were generated without errors. However on running inference using engine file, I see an error /Tensort8.0/TensorRT/plugin/instanceNormalizationPlugin/instanceNormalizationPlugin.cu (286) - Cuda Error in enqueue: 906 (operation would make the legacy stream depend on a capturing blocking stream)

terminate called after throwing an

[2022-05-05 10:53] pommedeterresautee commented on #1845
The decoder part exported to ONNX and reused by TensorRT is the one without caching (of K, V representations).
Hugging face version enable caching by default.
On short seq len, TRT is faster as Pytorch is both memory bound (takes time to read the cache) and has some overhead.
Longer seq len, the time to recompute K, V representations for all tokens dominates TRT computation, where Hugging Face jus

[2022-05-05 11:14] VikasOjha666 commented on #1845
@pommedeterresautee You mean in TensorRT repo they export the model without past key values hence that's the reason right?.

[2022-05-05 11:14] pommedeterresautee commented on #1845
Yes that's what I mean

[2022-05-05 13:59] deephog commented on #1966
That node Concat_1406 is an output node from a Concat op that is used as input node of multiple other ops.

Could it be the "SplitQAcrossPrecedingFanIn" applied to all these following nodes, which tried to "clone" the same input node with the same set of clone names, that caused this conflict?

[2022-05-06 00:06] digiwang opened #1968 "Update ONNX parser submodule pointer"
## Description

Y'all need to **update** the **submodule pointer** for the **ONNX parser** on the TRT **release/7.0** branch. Right now it's pointing to [84b5be1](https://github.com/onnx/onnx-tensorrt/tree/84b5be1d6fc03564f2c0dba85a2ee75bad242c2e), but some of the files - specifically `builtin_op_importers.cpp` - has C++ 17 code in it (e.g., it uses constexpr). I believe the correct ONNX parser **

[2022-05-06 05:24] Mavericky-j commented on #1144
does someone has ideas about dealing with the different scale before add node?

[2022-05-06 07:46] jonbakerfish commented on #1011
Hi @ttyio , do you have any examples of how to use these two APIs and how to check the verbose log? I tried to add these to my network, but it seems that the int trt engine did not change.

[2022-05-06 09:10] ttyio commented on #917
Closing since this is solved in last comment, thanks!

[2022-05-06 09:10] #917 closed

[2022-05-06 09:35] ttyio commented on #1011
@jonbakerfish , did you enable `kSTRICT_TYPES` https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/namespacenvinfer1.html#abdc74c40fe7a0c3d05d2caeccfbc29c1ad3ff8ff39475957d8676c2cda337add7 ?
to check the precision, you can check `layer information` part in the log , we have logged in/out IO, thanks!

[2022-05-06 10:06] ttyio commented on #1927
@BigPandaCPU , sorry for the delay response,
I only see 4 images in the last post, Is the first 2 images from pytorch, next 2 images from trt python API? and where is the trt C++ API result?

could you also enable verbose log level, and attached the log here? I want to check if the same tactic is selected. Thanks!

[2022-05-06 10:23] nanmi opened #1969 "genericReformat.cu::executeMemcpy::1334] Error Code 1: Cuda Runtime (invalid argument)"
## Description

When I run engine for inference, I got this :
[E] [TRT] 1: [genericReformat.cu::executeMemcpy::1334] Error Code 1: Cuda Runtime (invalid argument)

Some people think it is a bug of TRT8 for torch.cat, reference link: <https://blog.csdn.net/oZincO/article/details/124397604>

## Environment

**TensorRT Version**: 8.2.4.2
**NVIDIA GPU**: A10
**NVIDIA Driver Version**: 470.82.01
**CUDA

[2022-05-06 12:25] ttyio commented on #1934
Hello @tzskp1 , sorry for the delay response, it is partially because of the loop base implementation, But if you try 1 / 32, you can get more speed up from tensorcore. thanks!

[2022-05-06 12:31] ttyio commented on #1951
@yeliang2258 ,
1. yes, it is clipped to the boundary, we also have a whitepaper explain more details in https://arxiv.org/pdf/2004.09602.pdf
2. currently only symmetric quantization is supported in TRT, so the zero must set to 0. To generate the Q/DQ nodes, we recommend https://github.com/NVIDIA/TensorRT/tree/main/tools/pytorch-quantization

Thanks

[2022-05-06 13:57] ttyio commented on #1950
@kobzaond , is this code taken from https://github.com/NVIDIA/TensorRT/blob/main/demo/BERT/builder_varseqlen.py? the error come from the plugin instead of shuffle according to your error message. Could you follow the original code or explain where and why do you want to insert this shuffle? thanks!

[2022-05-06 14:08] ttyio commented on #1961
Hello @zhangjoey115 , I assume you are using the `mark all` function in the polygraphy.
first `mark all` not can hidden some issue while debug accuracy, this is because without `mark all` output, some layers are fused together, but the fusion is broken when `mark all` output. The fusion kernel and unfused kernel did not share the same implementation, even you have tuned accuracy for the unfused ve

[2022-05-06 14:16] ttyio commented on #1962
@naor2013 , may I know which operator in opset 15 is needed in your model? thanks!

[2022-05-06 15:17] naor2013 commented on #1962
@ttyio I don't know of a specific operator (as I mentioned I didn't test it with TensorRT), but I need the new optional logic.
I think they have 2/3 operators for the optional logic? I'm not quite sure.

[2022-05-07 00:45] ttyio commented on #1964
@triple-Mu , could you try create onnx node with type `CustomSkipLayerNormPluginDynamic` and correct `plugin_version`, `type_id`, 'beta', 'gamma', 'ld'..., the onnx parser has a fallback path, when there is no registered op, we will search the plugin list and load the plugin with the same name, more detail see

https://github.com/onnx/onnx-tensorrt/blob/e9456d57605c883cdf985e634ab483e2c1500bb1/bui

[2022-05-07 00:49] ttyio commented on #1969
@nanmi have you tried 8.4EA? could you share us a repro if you still see failure, thanks!

[2022-05-07 01:28] ttyio commented on #1967
@nanditam1 , have you tried remove ` --useCudaGraph`? the errors seems related to cuda graph capture, and this plugin using cudnn, maybe there is some cudnn api not compatible with cuda graph.

[2022-05-07 13:42] zhangjoey115 commented on #1961
@ttyio Thanks a lot for detailed replay!
Yes, I'm using polygraphy to debug the accuracy issue. I tried marking only several layer and it works!

But while I compare the layer output between float model and INT8 trt model, I found that one ConvTranspose2d layer give quite different output with float model. The inputs to ConvTranspose2d(=Relu output in following pic) in 2 models are almost same(dif

[2022-05-07 15:13] 773041642 opened #1970 "custom Knn plugin"
I have a custom Knn plug-in, but it is only correct in FP32, but wrong in FP16, may I ask what properties I need to set? Waring as follow:
 no conforming implementation was found for requested layer computation precision and output precision.

[2022-05-08 08:50] mcjqwer opened #1971 "whl is not supported on Xavier"
## Description

## Environment
**gcc version**:7.5.0
**TensorRT Version**: 8.0.3.4
**NVIDIA GPU**: Xavier
**NVIDIA Driver Version**:
**CUDA Version**: 10.2
**CUDNN Version**: 8.2.1
**Operating System**: ubuntu18.04
**Python Version (if applicable)**: 3.6
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**: 1.7.0
![Screenshot from 2022-05-08 16-45-45](https://user-images.git

[2022-05-08 08:51] mcjqwer commented on #1971
![Uploading Screenshot from 2022-05-08 16-50-40.png…]()

[2022-05-08 08:54] mcjqwer commented on #1971
![Screenshot from 2022-05-08 16-50-40](https://user-images.githubusercontent.com/59089548/167288967-fbf53880-6431-442e-800c-545a6b92eb6c.png)
I can run the mnist sample successfully on the Xavier.
Is the problem of GCC version?

[2022-05-08 08:56] mcjqwer commented on #1971
![11](https://user-images.githubusercontent.com/59089548/167289055-a8bfab85-87c2-4af6-96b3-36aa45cd767b.PNG)

[2022-05-08 13:14] nanditam1 commented on #1967
@ttyio Thanks for your response! Yes removing --useCudaGraph solved the problem of this error. Would you suggest I reinstall cudnn to avoid this incompatibility?

[2022-05-08 23:06] ttyio commented on #1967
@nanditam1 , not sure if reinstall the same cudnn version helps. I would suggest upgrade to latest TRT which use a newer cudnn, thanks!

[2022-05-09 07:20] GenVr commented on #1845
@pommedeterresautee so there is no solution for now, right?

[2022-05-09 08:29] ShaneYS commented on #1406
I get the same error with TensorRT 7.1.3.0 on Xavier.
The tensorrt version is bundled with Xavier, so I can't upgrade tensorrt to 8.x.
How should I convert fake-quant onnx model to tensorrt engine?

[2022-05-09 08:37] ShaneYS opened #1972 "pytorch fake quantization model parse failed with TensorRT 7.1.3.0"
#1406

I want to convert fake quantization onnx model to tensorrt engine, and get the same error as in this problem.

I use TensorRT 7.1.3.0 and Xavier. The tensorrt version is bundled with Xavier, so I can't upgrade to 8.x.

How should I solve this error on tensorrt7.x ?

[2022-05-09 09:48] hopezhou commented on #17
thank you!

[2022-05-09 09:58] #1970 closed

[2022-05-09 10:33] lzwhard commented on #1769
same problem

[2022-05-09 12:16] zhangjoey115 commented on #1961
@ttyio By the way, I've already fixed the "axis=(0)" in pytorch_quantization code for convtranspose2d, but the results are still differ a lot.
Is there any other way to fix this problem? Or I should not quant all convtranspose layers? Thanks!

[2022-05-10 07:14] dvirla commented on #1963
@ttyio @pbridger @aaronp24 @lukeyeager  Can anyone please assist?

[2022-05-10 08:27] ShaneYS commented on #1407
Tensorrt uses symmetric quantization, how does it deal with bias in batchnorm？

[2022-05-10 08:44] joihn opened #1973 "INT8 and FP32 in the same ONNX model"
## Description

I have a FP32 model.
To optimise transfer speed of my image to GPU, I want to transfer my image as Int8 instead of FP32.

I modified my ONNX model to receive image in int8, and cast them to FP32 on the GPU for futher processing
![image](https://user-images.githubusercontent.com/11663917/167586575-c9c2bd71-22df-4371-b811-abd7bbfe802b.png)
 This work very well with ONNX. When I try t

[2022-05-10 09:08] PeterHorvath10 opened #1974 "Does strict types enforce requested precision?"
Hi,

I have the following code for defining a 2-layer MLP in TensorRT and running it on Jetson Nano (Maxwell arch) :

[code]

The used flags for the engine are the following:

[code]

The engine output:
[code]

My goal is to have fp16 precision for every layer regardless if it is slower or not. The input layer has 32-bit floats defined as input and I assume the builder is talking about the input l

[2022-05-10 14:14] hjchen2 commented on #1821
I have tried adding an identity layer after the slice operation, which can bypass this error.
[code]

[2022-05-10 17:11] austinmw opened #1975 ".engine vs .plan file"
Hi, I often see reference to `.engine` and `.plan` files. Are these the same thing?

If I have an `end2end.engine` file (from [MMDeploy](https://github.com/open-mmlab/mmdeploy)) and my Triton server is looking for a `model.plan` file, can I simply rename my `end2end.engine` to `model.plan`? Or are these different?

[2022-05-11 02:50] vuminhduc97 opened #1976 "trtexec error Cuda Error in findFastestTactic: 700"
## Description

## Environment

**TensorRT Version**: 7.1.3
**NVIDIA GPU**:
**NVIDIA Driver Version**:
**CUDA Version**: 11
**CUDNN Version**:
**Operating System**:
**Python Version (if applicable)**:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:

## Relevant Files

## Steps To Reproduce

Hi Nvidia team!
 I rebuild TensorR

[2022-05-11 03:09] un-knight commented on #1407
parameters in batchnorm are fused into the previous conv layer.

Best Regards,

Junxian Ye

University of Electronic Science and Technology of China (UESTC)

YangShuai ***@***.***> 于2022年5月10日周二 16:27写道：

[2022-05-11 07:54] 201419 commented on #1821
It works for me. Thank you very much!

[2022-05-11 08:06] ShaneYS commented on #1407
Conv and BN can be fused into one layer in a normal graph.
But for QDQ graph, tensorrt only support symmetric quantization, so conv op don't have bias. In this case, how to fuse bias of BN to Conv?

[2022-05-11 10:03] zerollzeng commented on #1975
Yes they are the same, actually, you can name it any name you want :-)

[2022-05-11 10:05] zerollzeng commented on #1971
pip install **./**tensorrt_xxxx.whl

you need to add a path prefix on the whl

[2022-05-11 11:36] franferraz98 commented on #1538
Hey,

How did you manage to install the TensorFlow Object Detection API? Both tensorflow-addons and tensorflow-text are not supported on Jetson, so I'm stuck on the first step, can't even export the model.

[2022-05-11 13:05] zerollzeng commented on #1974
you need BuilderFlags::OBEY_PRECISION_CONSTRAINTS

[2022-05-11 13:46] PeterHorvath10 commented on #1974
thank you for your answer. I forgot to mention that I am using TensorRT 8.0.1 where this flag is not available unfortunately.
Do I have to switch to a newer version in order to make sure the precision constraints are enforced?

[2022-05-11 14:15] marcortiz11 commented on #1969
Same happens to me. I have a ONNX graph with a concatenate operation at the end of itwhich is the source of my errors. TensorRT 8.2.1 throws an error at runtime while previos TensorRT version does not.

[2022-05-11 14:19] #1975 closed

[2022-05-12 03:17] wang7393 opened #1977 "windows TensorRT inference time fluctuates greatly"
## Description
windows TensorRT inference time (enqueueV2) fluctuates greatly,  as fllows
![QQ截图20220512111259](https://user-images.githubusercontent.com/29936604/167985093-70da010f-1ce0-4ec5-bb9d-88f7e0316532.png)

## Environment

**TensorRT Version**:  8.4.0.6
**NVIDIA GPU**:  T600
**NVIDIA Driver Version**:  511.65
**CUDA Version**: 11.6
**CUDNN Version**: 8.x
**Operating System**:  win10
**Pyt

[2022-05-12 06:33] nvpohanh commented on #1977
Could you share your code about how you measure the latency? If you are using cudaEventSynschronize(), please make sure that the cuda event is created with cudaEventDefault flag instead of cudaEventBlockingSync flag.

Compare to Linux, Windows tends to have worse context switching overhead and sometimes a sleeping CPU thread cannot be waked up immediately.

[2022-05-12 06:42] nvpohanh commented on #1967
This is not related to CUDNN. It is because our InstanceNorm plugin used to have synchronous CUDA API calls within enqueue() function: https://gitlab-master.nvidia.com/TensorRT/Public/oss/-/blob/release/8.0/plugin/instanceNormalizationPlugin/instanceNormalizationPlugin.cu#L281

These have been fixed in the latest (8.2 and 8.4) plugin. Please update your plugin code to release/8.2 or release/8.4 br

[2022-05-12 07:06] galagam commented on #1971
@mcjqwer it looks like you've downloaded an x86 version of TensorRT to Jetson Xavier. However, the Jetson family of modules contain ARM CPUs. See more details here: [Jetson Modules](https://developer.nvidia.com/embedded/jetson-modules).
In any case, TensorRT should already be installed as part of the JetPack SDK. Please check `/usr/src/tensorrt` to verify it exists.
To upgrade the JetPack SDK to t

[2022-05-12 07:08] #1971 closed

[2022-05-12 07:10] #1079 closed

[2022-05-12 07:12] jackwish commented on #1974
@PeterHorvath10 For 8.0, you need to set precision for _all layers_ via `ILayer->setPrecision()` in addition to enforce the computation precision.

See https://github.com/NVIDIA/TensorRT/blob/8.0.1/include/NvInfer.h#L571-L589

As @zerollzeng shared, `BuilderFlags::OBEY_PRECISION_CONSTRAINTS` is recommanded if you can migrate to 8.4.

[2022-05-12 07:18] galagam commented on #1142
@anantgupta129 by "custom" - do you mean custom weights, or custom layers?
See below a partial list of directions to help you debug this further:
1. Which power mode are you using?
2. What other processes are you running on the Jetson Nano? (0.2s per image should result in 5 fps, not 3fps)
3. Which JetPack/TensorRT versions? Try upgrading
4. Profile the network's runtime layer by layer, using `trt

[2022-05-12 07:28] galagam commented on #1431
You're using a quite old version of TensorRT. Please attempt to reproduce with TensorRT 8.x.

[2022-05-12 07:40] wang7393 commented on #1977
@nvpohanh  the test code as fllows, But I used the same code to test with the Win10-Ubuntu subsystem, and the inference time still fluctuated wildly
` auto time_2 = std::chrono::high_resolution_clock::now();`
`bool status = m_context->executeV2(m_buffers->getDeviceBindings().data());`
`auto time_3 = std::chrono::high_resolution_clock::now();`
`std::chrono::duration<double, std::milli> dElapsedTime

[2022-05-12 07:52] un-knight commented on #1407
Why conv hasn't bias in symmetric quantization, I don't understand. As far
as I know, symmetric or asymmetric quantization scheme has no influence on
the bias, since bias can be implemented with an element-wise add after a
convolution without bias.

Best Regards,

Junxian Ye

University of Electronic Science and Technology of China (UESTC)

YangShuai ***@***.***> 于2022年5月11日周三 16:06写道：

[2022-05-12 08:41] jasxu-nvidia commented on #1965
@DaveBGld Increase the workspace size can fix your problem, e.g. `trtexec --onnx=fcn-resnet101.onnx --fp16 --workspace=4096 --minShapes=input:1x3x256x256 --optShapes=input:1x3x1026x1282 --maxShapes=input:1x3x1440x2560 --buildOnly --saveEngine=fcn-resnet101.engine`

I think the story here is that when we writing the quick start guide, we are using TRT 7.x and at that time, 64MB workspace should be

[2022-05-12 08:43] PeterHorvath10 commented on #1974
thank you for the reply, it is now almost clear. Just two more questions, by all layers you mean every layer except the input (layer) as it is just a Tensor (ITensor where just the datatype can be defined)? Also in the documentation you sent it says "Layer input type would also get inferred from layer computational precision.", does this mean that it converts the input to the required layer precis

[2022-05-12 09:58] jackwish commented on #1974
@PeterHorvath10 regarding you two questions

`ITensor` inputs (assuming added via `INetworkDefinition->addInput()`) are not layers. So they can be skippped.

I'd say, the input will be such precision - part of the layer attribute. TensorRT will convert the data types between layers if needed, the conversion is not part of the particular layer. So don't worry about the data type of network input.

[2022-05-12 10:03] jackwish commented on #1966
@deephog Thank you for reporting this! It's a known issue and will be fixed in the next release.

[2022-05-12 10:12] wangxudong-cq opened #1978 "On building TensorRT i get the error :TENSORRT_LIBRARY_INFER TENSORRT_LIBRARY_INFER_PLUGIN are set to NOTFOUND"
## Description

cmake .. -DCUDA_VERSION=10.2
[code]

## Environment
nvidia-smi
![image](https://user-images.githubusercontent.com/76459010/168048076-cc404074-28c7-4cd2-8b50-57faf00f676e.png)

**TensorRT Version**:
8.2.4

**NVIDIA GPU**:
GeForce GTX 1050 Ti

**NVIDIA Driver Version**:
hoe to check?

**CUDA Version**:
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
B

[2022-05-12 10:25] nanmi commented on #1969
Yes, according to your suggestion, I tried version `8.4EA`, and I found that this problem still exists. I located the error generated in step `context->enqueue(batch_size, (void**)buffers, stream, nullptr);`,  but strangely, this problem will not affect the result of inference,

[2022-05-12 10:26] nanmi commented on #1969
it seems to look like this

[2022-05-12 11:14] nvpohanh commented on #370
@Sixkplus Is it possible to share the Caffe model and the ONNX model with repro commands so that we can debug why there is perf discrepancy? Thanks

[2022-05-12 11:17] nvpohanh commented on #681
@rmccorm4 Is this causing any issue? By default, TRT gives tensors names like `(Unnamed Layer* 0) [Convolution]_output` unless you manually override it using TRT APIs.

[2022-05-12 11:20] nvpohanh commented on #805
I think ScatterND is supported as of TRT 8.4 EA. @rajeevsrao could you confirm?

[2022-05-12 11:29] nvpohanh commented on #915
PR: #1979

[2022-05-12 12:03] #1974 closed

[2022-05-12 12:31] jackwish commented on #1928
@Emilio66 @KeyLD Thanks for reporting this, please try if this workaround can resolve your issues:

Locate to the directory of `libcublas.so`, e.g. `/usr/local/cuda/lib64` for most cases, and create the symbol links

[code]

[2022-05-12 12:39] #1825 closed

[2022-05-12 12:52] #1702 closed

[2022-05-12 13:55] galagam commented on #1773
Was not able to reproduce. Since this works within the docker container, it is most likely a faulty installation.
Please consider a fresh installation of driver, CUDA and TensorRT.

[2022-05-12 13:57] #1773 closed

[2022-05-12 14:09] galagam commented on #1963
Was not able to reproduce on either TensorRT 8.2 or 8.4.
Please attempt to reproduce using this shortened version of the linked notebook:

ONNX generation:
`import torchvision.models as models
import torch
import torch.onnx

# load the pretrained model
resnet50 = models.resnet50(pretrained=True, progress=False).eval()

BATCH_SIZE=32

dummy_input=torch.randn(BATCH_SIZE, 3, 224, 224)

# export the m

[2022-05-12 17:10] mk-nvidia commented on #1976
@vuminhduc97 Can you please try this with the [latest 8.2 TensorRT release](https://developer.nvidia.com/tensorrt-getting-started)?
If it's still not fixed, please attach a representative model that we can use to reproduce the problem.

[2022-05-12 21:36] rmccorm4 commented on #681
Hi @nvpohanh , more of a quality of life issue than a blocker. However since the issue is so old, I think we can just close it for now.

[2022-05-12 21:36] #681 closed

[2022-05-13 00:12] htran170642 commented on #805
this repo: https://github.com/NVIDIA/trt-samples-for-hackathon-cn
but you'd better use Tensorrt 8x, it's already supported many plugins like that

[2022-05-13 02:45] wangxudong-cq opened #1980 "On buildinig python api get the error: "void value not ignored as it ought to be""
## Description
./build.sh
[code]

## Environment
nvidia-smi
![image](https://user-images.githubusercontent.com/76459010/168201129-d3e77583-3609-4a2c-870b-22c76c2781ec.png)

TensorRT Version:
8.2.4

NVIDIA GPU:
GeForce GTX 1050 Ti

NVIDIA Driver Version:
hoe to check?

CUDA Version:
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Oct_23_19:24:38_PDT_201

[2022-05-13 02:53] wangxudong-cq commented on #1978
This is caused by my misoperation, close the problem

[2022-05-13 02:53] #1978 closed

[2022-05-13 05:24] nanditam1 commented on #1967
ok I shall try with upgraded plugin and update once I have the result. Thank you.

[2022-05-13 06:09] DonggeunYu opened #1981 "cudaMemcpy different output value in enqueue function."
@ttyio
Copied the ones array to outputs[0].
When I tried outputting the output[0] value down to the host, the value was filled with 1.
However, after building with the TensorRT model and receiving the result in python, only the first element had a value of 1 and the rest were 0 (empty).

Could the cudamemcpy method be wrong?
Or is it a memory address mapping error?

In enqueue function:
[code]

[2022-05-13 06:25] DonggeunYu commented on #1981
I expected:
[code]

But I get:
[code]

[2022-05-13 07:04] wwdok opened #1982 "[ShapeInferenceError] Input tensor must have at least 2 dimensions"
Hello, @rajeevsrao @pranavm-nvidia @borisfom, i am using onnx-graphsurgeon to isolate a subgraph, this is the code:
[code]
this is the original onnx model:
[model_float32.zip](https://github.com/NVIDIA/TensorRT/files/8684772/model_float32.zip)

this is the exported subgraph model:
[subgraph1.zip](https://github.com/NVIDIA/TensorRT/files/8684773/subgraph1.zip)

then i try to run the exported model

[2022-05-13 08:36] oneoneling opened #1984 "quickstart\SemanticSegmentation\tutorial-runtime.ipynb. This file can't get the right result."
ValueError: cannot reshape array of size 1 into shape (1026,1282)

output_buffer = cuda.pagelocked_empty(size, dtype)
output_memory = cuda.mem_alloc(output_buffer.nbytes)
bindings.append(int(output_memory))

[2022-05-13 08:50] WhatGhost opened #1985 "TensorRT onnx parser 解析优先级"
修改skipLayerNormPlugin后（未修改PluginName和Version）编译成so文件后，通过--plugin=xxx.so引入，但是paser依然使用的是默认的skipLayerNormPlugin而非自己改过重新编译的so文件，请问这个parser的优先级是什么呢如果遇到自己编译的plugin与原有的重名的话

[2022-05-13 12:54] huubvh95 commented on #1980
I am having the same problem

[2022-05-13 13:28] pranavm-nvidia commented on #1982
@wwdok When you use `to_variable`, it's erasing the tensor shape. Since those tensors are already variables, you can omit the call to `to_variable`.

This works for me:
[code]

[2022-05-13 15:40] rajeevsrao commented on #805
Yes, TensorRT 8.4 EA release has support for ONNX ScatterND Operator.
https://developer.nvidia.com/nvidia-tensorrt-8x-download

[2022-05-15 04:20] #1984 closed

[2022-05-15 17:06] KeyLD commented on #1928
Hi @jackwish,
Thanks for reply, I'm sorry that the error still occurs after creating the symbol links. Have you succeed to convert model while using GRU layer or LSTM layer?

Any idea will help me.

[2022-05-16 04:11] Zero-Qzy opened #1987 "TensorRT 8.4.0.6 3D deconvolution undefined symbol: getBuilderPluginRegistry"
## Description

Hello， I use the TensorRT to transform the model and this problem occurs:
[code]

part of my source code are follows:
[code]
vrn is make up of nn.Conv3d:
[code]

## Environment

**TensorRT Version**: 8.4.0.6
**NVIDIA GPU**: RTX A5000
**NVIDIA Driver Version**: 495.44
**CUDA Version**: 11.5
**CUDNN Version**:
**Operating System**: ubuntu 20.04
**Python Version (if applicable)**: 3.8

[2022-05-16 04:15] Zero-Qzy commented on #1987
my transform code is:
[code]

[2022-05-16 06:03] DonggeunYu commented on #1981
The problem was caused by not forcing the data format.
Those who found the cause of the problem also suffered a lot. I think this issue should be shared in the official documentation.

https://forums.developer.nvidia.com/t/tenosrrt-fp32-engine-cant-get-the-same-output-as-the-pytorch-model-monoflex-model/185343/7

[2022-05-16 06:03] #1981 closed

[2022-05-16 07:05] jackwish commented on #1985
@WhatGhost Thanks for reporting this issue!

How do you use plugin?
What does "paser依然使用的是默认的skipLayerNormPlugin而非自己改过重新编译的so文件" mean in practice?

In general, if you load it as an _additional_ plugin (similar to your `--plugin=xx.so` case), you need to bump the version and adjust the code which bridges the model and the plugin.

[2022-05-16 07:18] jackwish commented on #1973
@joihn Thank you for reporting this issue!

As the log tips, currently, TensorRT requires quantization parameters when working with INT8 data type . The parameter can be either provided by Q/DQ or PTQ. If you expect these INT8 to be a representaiton of float data, refer to https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#working-with-int8 to check how to setup.

Or, if you

[2022-05-16 09:18] Sanctionist opened #1988 "TensorRT 识别onnx算子LayerNormalization报错"
## TensorRT 识别onnx算子LayerNormalization报错
使用
trtexec --onnx=model.onnx
提示
[05/16/2022-09:00:42] [E] [TRT] parsers/onnx/ModelImporter.cpp:785: ERROR: parsers/onnx/builtin_op_importers.cpp:4870 In function importFallbackPluginImporter:
[8] Assertion failed: creator && "Plugin not found, are the plugin name, version, and namespace correct?"

**TensorRT Version**:
**NVIDIA GPU**: T4
**NVIDIA Driver Ver

[2022-05-16 09:57] qihang720 opened #1989 "Error[4]: [graphShapeAnalyzer.cpp::processCheck::581] Error Code 4: Internal Error (Concat_1: dimensions not compatible for concatenation)"
## Description
I use trtexec to infer my dynamic input model, there are some errors.

[05/16/2022-17:42:26] [E] Error[4]: [graphShapeAnalyzer.cpp::processCheck::581] Error Code 4: Internal Error (Concat_1: dimensions not compatible for concatenation)
[05/16/2022-17:42:26] [E] Error[2]: [builder.cpp::buildSerializedNetwork::609] Error Code 2: Internal Error (Assertion enginePtr != nullptr failed. )

[2022-05-16 10:49] wangxudong-cq commented on #1980
I comment pyInt8.cpp,then excute build.sh,but there is some error for tensorrt.so which compiled by build.sh.
[code]

[2022-05-16 17:07] lazycal opened #1990 "[Bug] --loadInputs not working: input name mismatch when Flatten is the input node"
## Description

I created a model with an input named `i0`. However, when I tried to pass an input with `--loadInputs=i0:id.bin` to `trtexec` to run the model, I got the following error: `Cannot find input tensor with name "i0" in the engine bindings! Please make sure the input tensor names are correct.` Below is my code snippet to create the model and input:

[code]
![image](https://user-images.g

[2022-05-17 01:50] nvpohanh commented on #1990
It looks like TRT has done some optimization around the Flatten op and the input tensor name has changed. Could you try the following?

- `trtexec --onnx=output.onnx --saveEngine=output.engine --buildOnly`
- Then, use the python script to get the input tensor names of the engine:

[code]

[2022-05-17 03:00] lazycal commented on #1990
@nvpohanh Sure, I tried the script and its output is `__o0`.

[2022-05-17 03:01] lazycal commented on #1990
The full output:
[code]
and the script:
[code]

[2022-05-17 05:02] WhatGhost commented on #1985
@[jackwish](https://github.com/jackwish)
谢谢您的解答

我是通过--plugin=SkipLayerNorm.so 来引入的，需要升级到哪个版本呢？您说的 bridges the model and the plugin.具体是指？

[2022-05-17 06:05] DaveBGld commented on #1965
I can confirm that the larger workspace allows the command to execute with no errors.

I did not try the converted model in the quick start code, since I have already implemented my own.

[2022-05-17 06:05] #1965 closed

[2022-05-17 06:19] jasxu-nvidia commented on #1988
LayerNormalization should be supported in TRT 8.2.3. Can you provide your model? Or a minimum model that can help repro the failure?

[2022-05-17 07:40] galagam commented on #1989
For dynamic shapes models, you need to supply valid input profiles:
i.e. `./trtexec --onnx=ch_PP-OCRv3_rec_infer.onnx --minShapes=x:1x3x1x1 --optShapes=x:1x3x5x5 --maxShapes=x:1x3x10x10`
In case of error, it is recommended to run with `--verbose` to view more detailed logging.

Please confirm issue is resolved.

[2022-05-17 07:49] galagam commented on #1406
@ShaneYS You can upgrade most to most recent [JetPack version](https://developer.nvidia.com/embedded/jetpack).
Currently, this is JetPack 4.6.1 that includes TensorRT 8.2.

[2022-05-17 07:49] galagam commented on #1972
Closing as this is a duplicate of #1406.

[2022-05-17 07:49] #1972 closed

[2022-05-17 07:53] nvpohanh commented on #1990
yes, could you now try: `trtexec --onnx=output.onnx --loadInputs='__o0':id.bin`?

[2022-05-17 08:37] nvpohanh commented on #1158
@poornimajd Have you tried the latest TensorRT and see if this has been fixed? Thanks

[2022-05-17 08:38] nvpohanh commented on #1161
@chengweige Could you show me the content of the post-processing part? What is it doing? Thanks

[2022-05-17 08:40] nvpohanh commented on #1235
@tirankas This usually means that the driver version does not match the expected driver version by that container. Could you run `nvidia-smi` to show what driver version you have in the local machine? Thanks

[2022-05-17 08:45] nvpohanh commented on #1300
@hao6699 TensorRT's execution context is not thread-safe, i.e. you can not use the same context from multiple threads. Could you try creating one execution context per thread? Thanks

Basically,
[code]
This line needs to occurs four times, one for each thread.

[2022-05-17 08:47] nvpohanh commented on #1274
@quic-nmorillo IIRC, this has been fixed in TRT 8.2 or TRT 8.4 EA. Could you try the latest TRT version?

TRT 8.0 did not support network I/O having dtype == kBOOL.

[2022-05-17 08:50] nvpohanh commented on #1338
@zy30106 Could you elaborate on what "net outpt of int8 is euqal to that of fp32" means? Like latency is the same? Or the output values?

Also, please share what GPUs you were using. You can check which layers use INT8 by utilizing the engine inspector API: https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#engine-inspector

[2022-05-17 08:52] nvpohanh commented on #1367
@Neronjust2017 Yes, you can allocate only one set of input/output buffers, and use that set of buffers (called "bindings") to call different contexts' enqueueV2() function. However, you will need to manage the synchronization on your own to make sure that no two contexts are running inference at the same time, creating race conditions.

[2022-05-17 08:53] nvpohanh commented on #1368
Could you share your code? This should be possible.

[2022-05-17 08:54] nvpohanh commented on #1403
@leiwen83 For sparsity math to be faster than dense math, typically the input and output channels need to be 256 or above. In your case, the input and output channels are only 64, so although TRT does recognize the sparsity pattern, the sparse kernel runs more slowly than the dense kernel, so TRT still uses dense kernel for that layer.

If you increase the input/output channel size to 256 or 1024,

[2022-05-17 08:57] nvpohanh commented on #1385
@842974287 Yes, this only holds for implicit batch dim mode. For explicit batch dim mode, axis 0 is just the batch dimension. We need to fix our documentation. Thanks for pointing this out.

[2022-05-17 09:04] nvpohanh commented on #1386
@wuxiaoping1127 Could you enable verbose logging so that we can look at the details? It is possible that this workload is so tiny that INT8 math doesn't give sufficient performance benefit. Thanks

[2022-05-17 12:05] hannan72 commented on #1943
Thanks @ttyio
Yeah, for me I saw myelin in the logs and my network is a transformer based network. That would be really great if you can also support this in your future version. I would appreciate if you tell me whenever it gets ready.

[2022-05-17 13:13] caufrank opened #1991 "Valgrind detected TensorRT(7.1.3) memory leak when running trtexec on Jetson Xavier NX with JetPack 4.5.1"
command: valgrind --tool=memcheck --leak-check=full /usr/src/tensorrt/bin/trtexec --loadEngine=xx.bin
 definitely lost memory are detected by valgrind, below is part of output:
HEAP SUMMARY:
==20862==     in use at exit: 549,750,836 bytes in 310,895 blocks
==20862==   total heap usage: 1,086,806 allocs, 775,911 frees, 1,564,456,808 bytes allocated
==20862==
==20862== 440 bytes in 110 blocks are po

[2022-05-17 14:05] ttyio commented on #1961
@zhangjoey115 , sorry for the delay response, do you share a simple repro onnx model? thanks!

[2022-05-17 15:02] Obs01ete commented on #1741
Found solution here https://forums.developer.nvidia.com/t/tensorrt-8-0-installation/180498/6

[2022-05-17 15:44] lazycal commented on #1990
@nvpohanh Yeah that works. I just realized that I may not be clear: actually the issue is just intended to report a bug and no urgency is needed (since both the unsqueeze one and your solution work as workarounds). Sorry if I didn't make it clear :-).

[2022-05-18 01:30] jackwish commented on #1928
@KeyLD Can you confirm that the symbol links `/usr/local/cuda/lib64/libcublas.so` and `/usr/local/cuda/lib64/libcublasLt.so` are newly created? I believe @Emilio66 's issue can be resolved by this workaround.

If it's not resolved still, could you share your mode and log with `trtexec --verbose ...`?

[2022-05-18 01:37] BigPandaCPU commented on #1927
Sorry for making you confuse. I put the  tensorrt C++ API, tensorrt python API, pytorch API  both on windows and on ubuntu predict results as below.

![Snipaste_2022-05-18_09-28-25_tenosorrt_C++ API](https://user-images.githubusercontent.com/25834151/168938657-2586950b-f946-44c4-a163-2280e4dd03c9.png)

![Snipaste_2022-05-18_09-30-38_tensorrt_python](https://user-images.githubusercontent.com/258341

[2022-05-18 02:02] KeyLD commented on #1928
Hi, @jackwish
I confirmed the symbol links as follow.
[code]

Here is the detailed log and the simpilifed onnx model file:
[build_gru.log](https://github.com/NVIDIA/TensorRT/files/8712702/build_gru.log)
[only_gru.zip](https://github.com/NVIDIA/TensorRT/files/8712706/only_gru.zip)

[2022-05-18 02:39] jackwish commented on #1985
@WhatGhost Could you share a bit more detail of your use case? For example, are you using `trtexec` directly or a modified version. And how do you confirm that it's using _the old one_, if any logs?

By _bridges the model and the plugin_ I mean the code that parses the original model and creates the plugin layer. You might need to update the plugin version (say `5`), and adjust the parser code lik

[2022-05-18 02:51] BigPandaCPU commented on #1927
@ttyio， In order to make the problem description clearer， I will describe the problem in Chinese.
问题背景：我们使用tensorrt python API 对nnunet（医学图像分割，我们用于人体下肢股骨和胫骨的分割）进行加速，相对于pytorch API有明显的提高，尤其是在使用fp16精度的时候，但耗时还是较长。此时我们想试试tensorrt的C++ API。将python的nnunet使用C++来实现，工作量比较大。我们先验证在tensorrt C++ API预测结果的准确性，与pytorch预测的结果差别不大，我们才进行下一步。但在验证过程中，发现tensorrt C++ API预测的结果与pytorch预测的结果差别很大。（以上都是在相同的模型，相同的输入下测试的。）上面的三幅图，

[2022-05-18 04:07] nvpohanh commented on #1990
I see. Thanks for the feedback. We can take a look at why the input tensor name is changed.

One question: does the input tensor name change if the network contain more than one op? Such as a normal ONNX file containing the whole network?

[2022-05-18 04:53] WhatGhost commented on #1985
@[jackwish](https://github.com/jackwish)
我是直接使用的trtexec
trtexec --onnx=/target/decoder.onnx --saveEngine=/target/decoder.plan \
    --minShapes=xxxxx \
    --optShapes=xxxxx \
    --maxShapes=xxxxx\
  --workspace=$workspace --verbose --fp16 \
    --plugins=/target/SkipLayerNorm.so

SkipLayerNorm.so是我修改TensorRT/plugin/SkipLayerNormPlugin 并重新编译生成的（并未更改name和version），因为我在其中增加了几条debug调试输出信息但是并未按照预期打印所以

[2022-05-18 05:17] DonggeunYu commented on #1761
@schegde
did you solve it?
There is no problem when padding=0 is used.
Different results from PyTorch only when padding=1 or higher.

[2022-05-18 06:04] jackwish commented on #1985
Yes. As described, two changes are needed:
* Update the plugin name or version
* Adjust the ONNX parser code like [this](https://github.com/onnx/onnx-tensorrt/blob/e9456d57605c883cdf985e634ab483e2c1500bb1/builtin_op_importers.cpp#L2228).

Does your model contains a SkipLayerNorm operator? I think the default ONNX parser cannot handle a SkipLayerNorm operator...

[2022-05-18 06:30] jackwish commented on #1928
@KeyLD I can reproduce the failre without the symbol links, and got pass with the symbol links created. Could you please check your setup?

[2022-05-18 06:43] KeyLD commented on #1928
It works! Thanks a lot!

[2022-05-18 06:49] jackwish commented on #1928
Glad to hear :)

[2022-05-18 10:34] WhatGhost commented on #1985
好的明白，谢谢您的解答
我还有另外一个问题，就是如果我定义了一个与原有的相同name与version的plugin（例如上文所述的SkipLayerNormPlugin）,trtexec会默认读取原有的plugin而不是通过--plugin=xxx.so方式引入的plugin是吗

SkipLayerNorm operator是改了下网络生成的

[2022-05-18 11:28] jackwish commented on #1985
It depenens on which one is the first try to register. Others won't be registered. In your case, `--plugin` will be registered later.

[2022-05-18 12:26] WhatGhost commented on #1985
那这个注册的顺序我在哪里能够查阅到呢，通过何种方式引入的plugin的注册顺序优先级更高呢

[2022-05-18 13:20] yeliang2258 opened #1992 "The problem about Resnet structure in explicit quantization model"
![image](https://user-images.githubusercontent.com/30516196/169048103-065ee787-d9ea-48ba-ae66-651aa086dcba.png)
I would like to know if the direct connection of resnet needs extra Q and DQ in explicit quantization, that is, whether the position of the red box needs Q and DQ.
Looking forward to your answer, thank you

[2022-05-18 13:38] yeliang2258 commented on #1992
https://github.com/NVIDIA/TensorRT/issues/1293

[2022-05-18 14:11] jackwish commented on #1985
It's not about priority, there is no such concept. There is only one plugin of name/version can be registered, which is not about priority. The behavior is undefined when using customized plugins with the same name and version of the already provided ones.

As metioned above, the name or version need to be changed to be distinguished from the _official_ ones. If you don't want to change the name o

[2022-05-18 15:44] lazycal commented on #1990
@nvpohanh Yes.
![image](https://user-images.githubusercontent.com/7333325/169085355-54624e9c-7a9c-436c-af20-c3e95678047a.png)
For example, I add ReLU and the input name still got changed (to the input name of ReLU). To reproduce, use the following code:
[code]

I also tried changing N or the rank of `i0` to 2D, and the issue also occurs in both cases.

[2022-05-18 17:58] WhatGhost commented on #1985
@jackwish
好的明白，十分感谢您的耐心解答

[2022-05-19 00:18] frank-wei opened #1993 "TensorRT add_constant output type is Float even though input type is float16"
Here is a question regarding the add_constant. The output type should align with input.
https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_network_definition.html#abc2efbce2179ca650e0efc48108d42b1

constant = network.add_constant(value.shape, to_numpy(value))
(Pdb)  constant.get_output(0).dtype
<DataType.FLOAT: 0>
(Pdb) value
tensor([[ 0.3374,  1.0107, -1.4355],
        [

[2022-05-19 02:48] nvpohanh commented on #1992
@yeliang2258 Yes, you need to add Q/DQ pair in the residual add branch to get the best performance by running it in INT8. If not, the "Add" will have to perform in FP16/FP32 which can lead to bad performance.

[2022-05-19 02:51] nvpohanh commented on #1993
In TensorRT, the precision is decided after the autotuning. TensorRT will try all kind of precisions: FP32/FP16/INT8 (as long as you enable them) and decide which one to use for best performance. Therefore, don't worry about the `dtype` that TensorRT reports when you are constructing the INetworkDefinition.

If you really want to force that tensor to have specific dtype, you can override the dtype

[2022-05-19 03:25] yeliang2258 commented on #1992
Hi, thank you for your answer.  where can I find an example script that quantize the model and evaluates the quantized model accuracy ?

[2022-05-19 03:36] nvpohanh commented on #1992
Maybe you can follow the instructions in these links?
https://developer.nvidia.com/blog/achieving-fp32-accuracy-for-int8-inference-using-quantization-aware-training-with-tensorrt/
https://www.nvidia.com/en-us/on-demand/session/gtcspring21-s31653/

[2022-05-19 04:02] zhangjoey115 commented on #1961
@ttyio Thanks for response!
Please find attached model for reference. The output from final convtranspose is different between onnx and trt.  Looking forward your reply!
[convtrans.zip](https://github.com/NVIDIA/TensorRT/files/8723318/convtrans.zip)

[2022-05-19 06:15] nvpohanh commented on #1505
@YLongJin This should have been fixed in the latest TensorRT version. Could you try TRT 8.2 or 8.4 EA? Thanks

[2022-05-19 06:15] nvpohanh commented on #1491
@entropyfeng This performance issue should have been fixed as of TensorRT 8.2. Could you try a newer TensorRT version? Thanks

[2022-05-19 06:17] nvpohanh commented on #1473
@sterben25 Could you try `del engine` and see if the memory is freed? Also, please keep in mind that the engine can only be freed if the contexts created from that engine have all been freed first. Thanks

[2022-05-19 06:20] nvpohanh commented on #1472
@SmileTM Two things:

1. Please create the network with EXPLICIT_BATCH flag.
2. The input to the FullyConnected layers are expected to have at least 4 dimensions, while yours have only 1 dimension.

Let me know if you still run into issues after these fixes. Thanks

[2022-05-19 06:24] nvpohanh commented on #1409
@hyperfraise Groups convs are not friendly to INT8 tensor cores so 28% performance gain looks reasonable to be. For INT8 to be 2x of FP16 in performance, you need number of channels (C and K) to be very large (say, >=1024). In group convs, the C and K for each group is usually only 32 or 64, which is not good for INT8 tensor cores.

If you are still interested in figuring out why the performance g

[2022-05-19 06:25] nvpohanh commented on #1428
TRT 7.2 does not support such a new GPU (SM86). Please use newer TensorRT versions. Thanks

[2022-05-19 06:31] nvpohanh commented on #1799
@yuanhuachao Is this still true in the latest main branch? I made a few optimizations for BS>1 cases a while ago and would like to know if you can see the performance speed-up now. Thanks

[2022-05-19 06:32] nvpohanh commented on #1799
Also, please share which TensorRT version and which GPU you used. Thanks

[2022-05-19 06:35] nvpohanh commented on #1786
According to this page: https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html

CUDA-11.6 requires r510 driver or above. Could you try newer driver versions? Thanks

[2022-05-19 06:36] nvpohanh commented on #1768
This will be fixed in TRT 8.4 GA

[2022-05-19 06:37] nvpohanh commented on #1768
Note that for Turing+ GPUs, this issue will not happen

[2022-05-19 06:38] nvpohanh commented on #1754
You can use libraries like this one to convert float to half: https://github.com/ramenhut/half

[2022-05-19 06:41] nvpohanh commented on #1660
@DCC-lzhy Could you try TensorRT 8.2 or 8.4EA? TRT 7.2 did not have very good support for dynamic shapes.

[2022-05-19 06:42] nvpohanh commented on #1657
I think this has been fixed as of TensorRT 8.2 or 8.4EA. Could you try upgrading TensorRT version? Thanks

[2022-05-19 06:45] nvpohanh commented on #1801
@berkay1 In your execution script, could you make sure engine's get_binding_shape(1) and get_binding_dtype(1) matches your expectation?

[2022-05-19 06:47] nvpohanh commented on #1807
This is a known issue and we are trying to improve the performance for longer sequence lengths. Thanks

[2022-05-19 06:49] nvpohanh commented on #1819
@zelabean Did you create one execution context per thread? TensorRT execution context is not thread safe and should not be shared across threads.

[2022-05-19 06:51] nvpohanh commented on #1823
First of all, you must enable trt.BuilderFlag.FP16 in builder config in order to use FP16 for any layer.

If you want to keep some layers to FP32, you can then set the layer precisions and set OBEY_PRECISION_CONSTRAINTS or PREFER_PRECISION_CONSTRAINTS in builder config to achieve this.

[2022-05-19 06:52] nvpohanh commented on #1830
@weimingzha0 Is there any reason why you still have to use implicit batch dim? Implicit batch dim mode is deprecated and will be remove in the future. Thanks

[2022-05-19 06:56] nvpohanh commented on #1926
22.04 image is available now: https://catalog.ngc.nvidia.com/orgs/nvidia/containers/tensorrt/tags

Closing this.

[2022-05-19 06:56] #1926 closed

[2022-05-19 06:59] nvpohanh commented on #1987
@Zero-Qzy Could you make sure that `libnvinfer_plugin.so` is in your LD_LIBRARY_PATH paths?

[2022-05-19 07:09] Zero-Qzy commented on #1987
@nvpohanh Hi,there are so many versions of TensorRT in my environment. I change the order of my LD_LIBRARY_PATH and LIBRARY_PATH, so the problem is solved. Thank you for your help!

[2022-05-19 07:59] nvpohanh commented on #1987
Got it! closing this

[2022-05-19 07:59] #1987 closed

[2022-05-19 08:31] VikasOjha666 commented on #1807
@nvpohanh Could you please provide any expected timelines for this?

[2022-05-19 09:02] nvpohanh commented on #1807
I currently don't have an ETA yet, but I would expect that the upcoming TRT 8.4 release should include some performance improvements compared to TRT 8.4.0.6.

Also, I realized that you were using K80, which has been an outdated GPU. Is it possible that you can try Volta+ GPUs since most of our analysis is done on Volta+ GPUs? Thanks

[2022-05-19 09:05] #1801 closed

[2022-05-19 09:24] nvpohanh commented on #1807
@VikasOjha666 Could you also let us know if you add "--enable-kv-cache" flag? Thanks

[2022-05-19 09:40] VikasOjha666 commented on #1807
@nvpohanh I can try with T4 or P100. I used the tensorRT repo's code to convert the model.Hene there was no way to specify the flag.

[2022-05-19 14:47] franferraz98 opened #1994 "Cannot run SSD Mobilenet V2 FPNLite 320x320 as TRT engine on Jetson Nano"
## Description

Hi,

I’ve been trying to run a retrained model from the Tensorflow Object Detection model zoo, the [SSD Mobilenet V2 FPNLite 320x320](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8.tar.gz). I’ve trained it with my own dataset and converted it to ONNX and TRT on my computer sucessfully.

Now I’m trying to run this mo

[2022-05-19 16:24] wraveane commented on #1538
It might help to do all the TF Object Detection API tasks from a PC where you have TensorFlow fully installed, create the onnx file there as well. Then just copy the converted onnx file to your Jetson device and build the TensorRT engine on the jetson itself. That way, you don't need to install TensorFlow or any of its dependencies on the device.

[2022-05-20 04:32] nvpohanh commented on #1993
Why do you require the inputs to the Einsum/Concat to be in the same type? TRT will choose the dtypes for you and convert them between dtypes if needed.

[2022-05-20 04:34] nvpohanh commented on #1807
Do you mean using trtexec to generate the engine? If so, could you share the command you use? If not, how did you generate the engine, if you are not using the OSS HuggingFace demo code?

[2022-05-20 06:15] jackwish commented on #1985
@WhatGhost I am going to close this issue as it's like a QA issue. Feel free to reopen if you encounter any further failure.

[2022-05-20 06:15] #1985 closed

[2022-05-20 07:35] VikasOjha666 commented on #1807
@nvpohanh I used the same huggingface demo code from tensorRT repo to do the conversion.

[2022-05-20 08:20] Sanctionist commented on #1988
It's a bit difficult to provide a model, if 8.2.3 is already supported, is there some minor version difference? Which version of ngc is explicitly supported? 22.03/22.04/22.05?

[2022-05-20 08:36] franferraz98 commented on #1538
Hi @wraveane,
Yes, I tried that and it worked. My issue now is that I can't run the model that is generated. I'm getting this error:
![image](https://user-images.githubusercontent.com/48053914/169488798-bed83193-35cc-447a-aa8c-4dacf30f0187.png)

Both when I run `inference.py` or `trtexec`. Any ideas on what might be happening?
Thanks!

[2022-05-20 08:56] nvpohanh commented on #1807
Oh I see. Just to confirm, did you use the command in this page? https://github.com/NVIDIA/TensorRT/blob/main/demo/HuggingFace/notebooks/t5.ipynb

I will also run some local experiments to find out the performance difference between TRT and frameworks (PyTorch) for longer sequence lengths like 512.

[2022-05-20 09:32] VikasOjha666 commented on #1807
@nvpohanh I tried with the older version of this notebook before updation.

[2022-05-20 13:30] joihn opened #1995 "trtexec segfault on AGX 64 only"
I'm converting a ONNX model to `.engine`
`trtexec  --fp16  --onnx=/home/maxime/model.onnx --saveEngine=out.engine`

This commands used to work well on **nvidia xavier AGX 32gb** with jetpack 4.6.
However, I recently upgraded to **nvidia xavier AGX 64gb**  and I have the following segfault  (tested both on jetpack 4.6 and 4.6.1)

[code]

## Environment

**TensorRT Version**: TensorRT v8201

**CUDA

[2022-05-20 16:56] frank-wei commented on #1993
TRT will throw an error:
[05/20/2022-09:55:16] [TRT] [E] 4: [layers.cpp::validate::5680] Error Code 4: Internal Error ((Unnamed Layer* 0) [Einsum]: einsum input tensors 0 and 1 have incompatible types Half and Float)

[2022-05-20 18:55] YupengEBots commented on #1846
Same Problem here

[2022-05-21 13:08] QinganZhang opened #1996 "Question about Layer Fuse"
When I run Swin Transformer in TensorRT, I use nsight system to record time line as following.
![image](https://user-images.githubusercontent.com/72648020/169652369-ebc393a9-7834-48fe-a558-b7577b61fbba.png)

I want to know what it is inside the foreign node, so I want to disable layse fusing in foreign node. Foreign node is the part of
multi-head self attention approximately.

I mark some layers i

[2022-05-22 07:16] #1996 closed

[2022-05-23 05:04] nvpohanh commented on #1993
@frank-wei I checked internally and that issue has been fixed as of TensorRT 8.4 EA (TRT 8.4.0.11). Could you give it a try with TensorRT 8.4 EA? Thanks

[2022-05-23 07:44] ys0232 commented on #1947
[TRT] [E] 7: [shapeMachine.cpp::execute::565] Error Code 7: Internal Error (IAssertionLayer (Unnamed Layer* 4) [Assertion]: condition[0] i
s false: (EQUAL (# 2 (SHAPE 0)) (# 3 (SHAPE 0))). For input: '0' all named dimensions that share the same name must be equal. Note: Named dimensions were presen
t on the following axes: 2 (name: '?'), 3 (name: '?')
condition '==' violated
Instruction: CHECK_EQU

[2022-05-23 08:46] taxuezcy opened #1997 "Error While parsing node number 205 [Range -> "652"]:"
Tensorrt version:8.4.0.6
the error is
ModelImporter.cpp:748: While parsing node number 205 [Range -> "652"]:
[05/23/2022-15:51:21] [E] [TRT] ModelImporter.cpp:749: --- Begin node ---
[05/23/2022-15:51:21] [E] [TRT] ModelImporter.cpp:750: input: "1055"
input: "648"
input: "646"
output: "652"
name: "Range_271"
op_type: "Range

[2022-05-23 08:58] nvpohanh commented on #1409
@hyperfraise Could you share trtexec logs with these flags? `--verbose --profilingVerbosity=detailed --dumpLayerInfo --dumpProfile --separateProfileRun --noDataTransfers --useCudaGraph` This will enable very verbose logs that I can take a look. Thanks

Please provide these cases:

- "Regular" 3d model FP16 and INT8
- "Regular" 2d model FP16 and INT8
- "Resnext" 3d model FP16 and INT8
- "Resnext" 2

[2022-05-23 09:19] gary88christie opened #1998 "model size not change after quantize"
## Description
After I follow calibrate_quant_resnet50.ipynb to quantize and calibrate a model, the model I saved has the same model size as origin.
Is it abnormal?

## Environment

**TensorRT Version**: 8.2.4.2
**NVIDIA GPU**: 3080Ti
**NVIDIA Driver Version**: 465.31
**CUDA Version**: 11.3
**CUDNN Version**: 8.2.1
**Operating System**:
**Python Version (if applicable)**: 3.8
**PyTorch Version (if

[2022-05-23 09:48] jstumpin commented on #1980
The origin of the error is actually somewhere else (at least for me). Swapping these sections resolved it for me:
https://github.com/pybind/pybind11/blob/master/include/pybind11/cast.h#L1177-L1189
https://github.com/pybind/pybind11/blob/stable/include/pybind11/cast.h#L1180-L1189
Seems like an unreported regression issue in the latest [pybind11](https://github.com/pybind/pybind11).

[2022-05-23 10:42] awarebayes commented on #846
He is using CudaMemcpy which is device blocking, use CudaMemcpyAsync instead

[2022-05-23 13:20] MovsisyanM opened #1999 "Unsupported operation _MultilevelCropAndResize_TRT"
## Description

I'm trying to run PeopleSegNet (from Tao toolkit with Deepstream), I got this error.

[code]

## Environment

**TensorRT Version**: 8.2.5.1-1+cuda11.4
**NVIDIA GPU**: GeForce RTX 3090
**NVIDIA Driver Version**: 470.103.01
**CUDA Version**: 11.4
**CUDNN Version**: 8.4.0.27-1+cuda11.6
**Operating System**: Ubuntu 20.04
**Python Version (if applicable)**: 3.8.10 (default, Mar 15 2022,

[2022-05-24 05:17] cszhz opened #2001 "Can I use A10 env compile/optimize a model and run the plan on T4"
Hello
I want to compile a model and run it in a different environment.
In TVM, I can use "target" parameter
I just want to know if I  use A10 environment compile/optimize a model, can I run the plan on T4?

thanks.

[2022-05-24 05:31] the-final commented on #1768
okay, got it, thanks

[2022-05-24 05:31] #1768 closed

[2022-05-24 06:11] zerollzeng commented on #2001
TVM is kind of off-topic here :-).

Yes for the TVM compiled.so. because it just contains the TRT networks(not built yet)
e.g.
with tvm.transform.PassContext(opt_level=3, config={'relay.ext.tensorrt.options': config}):
    lib = relay.build(mod, target=target, params=params)

can be exported on an A10 env and loaded on T4. but please make sure the TRT version you are using for the 2 cards is the s

[2022-05-24 06:13] zerollzeng commented on #1999
Post it on https://forums.developer.nvidia.com/c/accelerated-computing/intelligent-video-analytics/deepstream-sdk/15 would be a better choice.

[2022-05-24 06:15] zerollzeng commented on #1998
Yes, it's expected. you may refer to https://github.com/NVIDIA/TensorRT/issues/1690

[2022-05-24 06:17] zerollzeng commented on #1997
There should be an ERROR message after this log. can you paste it here? also the onnx operators support list can be found at https://github.com/onnx/onnx-tensorrt/blob/main/docs/operators.md

[2022-05-24 06:19] zerollzeng commented on #1995
This is due to a missing target for the TRT build, and it will be fixed in jetpack 5.0

[2022-05-24 06:25] cszhz commented on #2001
thank you for quick response.
Actually I go through the API document and don't find such functionality.

[2022-05-24 06:25] #2001 closed

[2022-05-24 07:01] Sanctionist commented on #1988
Using trtexec prompts that this operator is not supported, but using python's onnx.parse is ok. closed this

[2022-05-24 07:01] #1988 closed

[2022-05-24 08:00] joihn commented on #1995
I suspected the carrier board software [patch](https://connecttech.com/product/rogue-carrier-nvidia-jetson-agx-xavier/) to be somewhat responsible.

Thereforce I tried with another carrier board I had (salvaged from a Xavier32GB devkit, reference 945-82972-0045-0000). and reflashed everything with jetpack 4.6.1.

When executing `trtexec --fp16 --onnx=/home/maxime/model.onnx --saveEngine=out.engine

[2022-05-24 09:28] a954217436 opened #2002 "How to disable logger so that there is no output on the screen when initializing?"
![111](https://user-images.githubusercontent.com/42532862/169999406-20d7ac04-8301-474c-990e-147bca26fd93.jpg)

[2022-05-24 10:32] nvpohanh commented on #2002
@a954217436 Just set the verbosity level of the logger to kERROR: https://github.com/NVIDIA/TensorRT/blob/main/samples/trtexec/trtexec.cpp#L149

[2022-05-24 10:34] nvpohanh commented on #1570
@matinhosseiny Should you show the verbose logs so that we can debug this? Thanks

[2022-05-24 11:04] a954217436 commented on #2002
OK, it works. Thanks a lot~

[2022-05-24 11:04] #2002 closed

[2022-05-24 11:58] VikasOjha666 commented on #1807
@nvpohanh Just tried with new updated notebook with larger sequence length this time the model is faster for longer sequences too. I tested it with batch_size 1 and sequence length up to 432 for t5-base. Seems like the absence of past_key_values i.e. specified by KV was the reason for performance loss for larger sequences as T5 use it in case of larger sequences. Will check later for large batch l

[2022-05-24 12:53] Tengfei09 opened #2003 "Unable to dump Profile info for the BERT model"
## Description

In TensorRT/demo/BERT, how do collect the timing results of all layers in bert_large_128.engine(like trtexec did)?

## Environment

**TensorRT Version**: 8.2.4
**NVIDIA GPU**: NVIDIA A100-PCIE(40GB)
**NVIDIA Driver Version**: 510.47
**CUDA Version**: 11.6
**CUDNN Version**: 8.2
**Operating System**: Ubuntu20.4
**Python Version (if applicable)**: 3.8
**Tensorflow Version (if applica

[2022-05-24 17:37] matinhosseiny commented on #1570
I was working on this last year. I fixed it. if someone has this problem change the code to newer version.

[2022-05-24 17:37] #1570 closed

[2022-05-25 03:27] nvpohanh commented on #1807
The HF demo does not support past_key_values (i.e. `--enable-kv-cache` flag) in the TRT path yet. This is currently a work in progress and will be added in future releases.

[2022-05-25 05:01] nvpohanh commented on #1409
In summary:

- 2D ResNet:
  - FP16: 3.51453 ms
  - INT8: 1.98148 ms
  - perf delta: 1.77x
- 2D ResNeXt:
  - FP16: 129.289 ms
  - INT8: 66.0366 ms
  - perf delta: 1.96x
- 3D ResNet:
  - FP16: 102.845 ms
  - INT8: 63.0923 ms
  - perf delta: 1.63x
- 3D ResNeXt:
  - FP16: 73.2933 ms
  - INT8: 56.712 ms
  - perf delta: 1.29x

[2022-05-25 05:04] nvpohanh commented on #1409
The reason why 3D ResNeXt doesn't get the same speed-up is because it spends ~69% of the e2e runtime in the first 7x7x7 Conv layer:

[code]

This layer will run in FP16 even when the INT8 is enabled because INT8 TensorCore kernels will have to pad the input channel from 3 to 32, which makes it slower than the FP16 TensorCore kernels. So you only get speed-up on other layers, which only take ~30% o

[2022-05-25 07:47] taxuezcy commented on #1997
the log is :
[05/25/2022-15:35:26] [E] [TRT] ModelImporter.cpp:748: While parsing node number 205 [Range -> "652"]:
[05/25/2022-15:35:26] [E] [TRT] ModelImporter.cpp:749: --- Begin node ---
[05/25/2022-15:35:26] [E] [TRT] ModelImporter.cpp:750: input: "1055"
input: "648"
input: "646"
output: "652"
name: "Range_271"
op_type: "Range"

[05/25/2022-15:35:26] [E] [TRT] ModelImporter.cpp:751: --- End no

[2022-05-25 07:54] GeneralJing commented on #1414
[05/25/2022-07:52:34] [TRT] [E] 1: Unexpected exception basic_string::_S_construct null not valid
[05/25/2022-07:52:34] [TRT] [I] build_serialized_network.
[05/25/2022-07:52:34] [TRT] [I] [MemUsageChange] Init CUDA: CPU +0, GPU +0, now: CPU 728, GPU 313 (MiB)
Traceback (most recent call last):
  File "builder.py", line 155, in <module>
    engine = runtime.deserialize_cuda_engine(plan)
TypeError:

[2022-05-25 08:30] jstumpin commented on #1670
Using conda (python) 3.8 here, errors went away after inserting `link_directories(/usr/lib/aarch64-linux-gnu/tegra)` into CMakeLists.txt.

[2022-05-25 09:37] Eric-chuan opened #2005 "it is not support grid_sample operation?"
Hi,
ONNX already supports the grid_sample operator in their operation version 16, but I found that tensorrt does not support it, will it support it in the future?

[2022-05-25 11:03] scuizhibin opened #2006 "Serialization and deserialization are normal, the dimension and the input dimension in the onnx file are different during inference"
## Description

I wrote a GatherElements plugin and registered it with onnx-tensorrt. However, the serialization can be successful when the ./trtexec command is used, Serialization and deserialization are normal。But during inference, the input of the model is fixed, which is different from the input dimension in onnx.

## Environment
**TensorRT Version**:tensorrt 7.2.1
**NVIDIA GPU**:  3060
**NVID

[2022-05-25 20:16] dennex commented on #1019
Are there any workarounds if we are using TensorRT version 8.0.16?
Our C++ code, CUDA, CuDNN are all setup with TensorRT 8.0.16 and it would break a lot of projects to upgrade to 8.2

[2022-05-25 21:45] oxana-nvidia commented on #1628
Hi @omi9y ,
Could you please share more details about TensorRT and cuda version that you are using? Also if possible please provide examples of the images that are not working correctly.

Also we encourage to use the following template when filing an issue:

TensorRT Version:
NVIDIA GPU:
NVIDIA Driver Version:
CUDA Version:
CUDNN Version:
Operating System:
Python Version (if applicable):
Tensorflo

[2022-05-26 00:37] nvpohanh commented on #1512
@rajeevsrao Do you have any insight on this?

[2022-05-26 00:39] nvpohanh commented on #1510
@shiyuetianqiang TensorRT does not support unsigned quantization. Could you try setting `unsigned` to False?

[2022-05-26 00:42] nvpohanh commented on #1509
@OYCN Unfortunately, with TensorRT 6, the option is very limited. As you said, if you implement the Range plugin, you will probably need to hard-code the output dimensions for your use case.

If you are doing just `A[1, :, 4]`, I think there is a way to use ONNX to achieve this without using Range op, but you will need to manually update the ONNX file using ONNX-graphsurgeon.

Upgrading TensorRT v

[2022-05-26 00:43] nvpohanh commented on #1501
@doramasma If that happens, it is probably a TensorRT bug. Could you provide the repro steps so that we can debug this? Thanks

[2022-05-26 00:45] nvpohanh commented on #1500
@ramaneswaran So is this issue solved? If so, I am closing this issue. Thanks

[2022-05-26 00:46] nvpohanh commented on #1497
@h9945394143 Could you make sure you link it to `libcudnn.so` and `libnvinfer.so`? Thanks

[2022-05-26 00:47] nvpohanh commented on #1496
@doramasma Could you share your ONNX file so that we can assist you? Thanks

[2022-05-26 00:48] nvpohanh commented on #1490
@h9945394143 How did you install TensorRT? `File format not recognized` means you may have installed the wrong build.

[2022-05-26 00:50] nvpohanh commented on #1484
@rajeevsrao Do we support F.inverse and F.grid_sampler today?

[2022-05-26 00:58] NothingToSay99 commented on #588
Hi~~I met the same ERROR but the program run correctly. Could you share your way to fix it

[2022-05-26 01:04] rajeevsrao commented on #1484
@JuncFang-git ONNX `GridSample` support is coming soon in TensorRT, but we don't have any reference implementations in cuda kernel. Perhaps this torch cuda implementation might be use to you:
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/GridSampler.cu

[2022-05-26 01:08] rajeevsrao commented on #1512
@hobrasoft thanks for reporting the issue. The documentation looks busted and likely regressed when we added support for rectangular featuremap inputs in `GridAnchor` plugin. @nvpohanh please create an internal bug request and assign to @samurdhikaru .

[2022-05-26 01:13] oxana-nvidia commented on #1600
Hi @ganyk,
Thanks for providing detailed repro!

The issue here is not enough memory on your device to run this network with input (256, 512, 32, 32). Even without dynamic shapes. I'm getting OOM error in torch.onnx.export when I'm running without dynamic shapes and this input:
`
dummy_input = torch.randn((256, 512, 32, 32), requires_grad=False)
`

I suggest you adjust kMAX in your shape to a smal

[2022-05-26 02:35] oxana-nvidia commented on #1577
Hi @Fontaine-Mathieu,

Could you please try to run your test with more recent version of TensorRT? I see changes added to the related code starting TensorRT 8.2.
If the issue is still present please provide steps to reproduce.

[2022-05-26 02:42] Xinchengzelin opened #2007 "The compatible problme between Cuda11.6 and TensorRT8.4.0.6/TensorRT8.2.4.2"
##
When I use trtexec to convert onnx model to trt engine, it shows the error: ```Assertion `!transp_src_ten->is_mod()’ failed while building TensorRT engine with batch = 1```
The error is like [here]([Assertion `!transp_src_ten->is_mod()’ failed while building TensorRT engine with batch = 1](https://forums.developer.nvidia.com/t/assertion-transp-src-ten-is-mod-failed-while-building-tensorrt-engin

[2022-05-26 03:24] wanduoz opened #2008 "torch/tf custom op to trt"
I'm just getting started with trt and wonder if there are some complete instructions or examples about converting pytorch/tf model, which has custom op/layer to tensorrt . I find a closed issue (https://github.com/NVIDIA/TensorRT/issues/6), but those links are invalid. Thank you.

[2022-05-26 03:36] zerollzeng commented on #2003
I'm not very familiar with demoBERT, but dump profile is supported in build time, not inference time.

[2022-05-26 03:39] zerollzeng commented on #2005
@ttyio should be able to answer this question.

[2022-05-26 03:50] oxana-nvidia commented on #1576
Hi @wojiazaiyugang,

You can try to use Triton Inference Server that has TensorRT as one of its backends.
https://github.com/triton-inference-server/server/blob/main/docs/model_management.md

[2022-05-26 03:51] Tengfei09 commented on #2003
No, According to TensorRT [docs](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#trtexec) ,  "--dumpProfile" is an option that used in the inference stage. it will print out  per-layer performance profile information.

--loadEngine=<file>: Load the engine from a serialized plan file instead of building it from input ONNX, UFF, or Caffe model.
--batch=<N>: Specify the batch

[2022-05-26 04:29] oxana-nvidia commented on #1563
Hi @marcbelmont,
Thanks for reporting the issue!

I see two issues with proposed solution:
1) potential performance impact
2) it changes plugin semantics

I've filed internal ticket for TensorRT developers to investigate if the changes can be added to the code.
Internal bug number: 3659884
cc @rajeevsrao

[2022-05-26 05:05] oxana-nvidia commented on #1556
Issue is still reproducible with TensorRT 8.4.

I've filed a request for TensorRT developers to investigate
internal bug number 3659918

[2022-05-26 05:27] nvpohanh commented on #2007
@Xinchengzelin Could you share your ONNX model so that we can try to repro the issue? Thanks

[2022-05-26 05:31] nvpohanh commented on #1480
@ZyrianovS Your case (1) is correct. TensorRT only supports symmetric quantization, so it will see the input range as [-1, 1] rather than [0, 1]

[2022-05-26 05:37] oxana-nvidia commented on #1540
@hotpeppeper Link with the model is not working for me. Could you please upload your model one more time?

[2022-05-26 05:45] Tengfei09 commented on #2003
@nvpohanh If possible, could you help me to address this issue? More details have been shared before at this window.

[2022-05-26 05:45] nvpohanh commented on #2003
Assigning to myself. You're correct that dumpProfile is something at runtime.

[2022-05-26 05:46] nvpohanh commented on #2003
I will try to repro this first

[2022-05-26 05:52] nvpohanh commented on #1409
@hyperfraise Yes, the the first layer of the 2D networks also does not run in INT8, but its portion in terms of e2e runtime is not that large. Consider this: in 3D case, the first layer is a 7x7x7 conv, while in 2D case, the first layer is 7x7 conv.

(7x7x7) / (3x3x3) = 12.7x
(7x7) / (3x3) = 5x

so you can see that the overhead of the first conv layer is much higher in 3D case than in 2D case.

[2022-05-26 06:21] galagam commented on #1834
Depending on the specific model & weights, post training quantization may indeed lead to some accuracy loss.
Please review the material on quantization aware training on [NVIDIA Developer blog](https://developer.nvidia.com/blog/achieving-fp32-accuracy-for-int8-inference-using-quantization-aware-training-with-tensorrt/).

[2022-05-26 06:21] #1834 closed

[2022-05-26 06:26] galagam commented on #1833
This could be a bug, but without more information we would not be able to reproduce. @HollrayChan Please consider providing the model you've used and the conversion scripts that generated these results.

[2022-05-26 06:29] galagam commented on #1828
Duplicate of #1833

[2022-05-26 06:29] #1828 closed

[2022-05-26 06:40] galagam commented on #1779
Please @SM1991CODES I have reviewed the files in the Google Drive folder, but I cannot find the script/command you've used in order to generate the TensorRT engine. Please provide said script in order to allow us to reproduce.

[2022-05-26 06:45] galagam commented on #1769
Linking similar issue #1771

[2022-05-26 06:54] galagam commented on #1762
TensorRT will choose a higher precision kernel if an implementation with the precision you've selected is not available, or if using it results in a higher overall runtime on the device (i.e. due to added reformatting).
In any case, I would recommend upgrading to a more recent [JetPack](https://developer.nvidia.com/embedded/jetpack) version.

[2022-05-26 06:54] #1762 closed

[2022-05-26 08:19] nvpohanh commented on #2007
@Xinchengzelin It asked me to log in to Baidu but I don't have an account

[2022-05-26 08:35] galagam commented on #1821
Was not able to reproduce with TRT 8.4, CUDA 11.4, Ubuntu 20.04.
Please provide more details on your environment in order to allow us to reproduce.

[2022-05-26 09:02] Xinchengzelin commented on #2007
@nvpohanh
Please find the model in the below repo(Sorry I couldn't upload the model in issues):
https://github.com/Xinchengzelin/model

[2022-05-26 09:19] nvpohanh commented on #2007
@Xinchengzelin I can see the model now. Thanks!

However, I am not able to repro this error. It works for me in my CUDA-11.6 environment. Could you tell me about which container you used? If you do not use the container, how did you install CUDA/CUBLAS/CUDNN/TensorRT? Also, could you show the verbose logs? Thanks

[2022-05-26 09:26] nvpohanh commented on #1512
Internal bug id: 3660418

Assigned to @samurdhikaru

[2022-05-26 09:36] nvpohanh commented on #1990
Internal bug tracking id: 3660435

We are investigating the issue. Will keep you updated. Thanks

[2022-05-26 09:50] handoku opened #2009 "SSA validation FAIL tensor concat_19_0'.1__mye152's uses list size does not match the actual use in the program:1 vs. 0"
## Description
when use trtexec to convert a model (eventhough model's input shape is fixed) to trt engine, I get this myelin error：
[code]

To be honest, recently, I have encontered lots of `myelin errors` , especially something like `dims/size not match`. I understand some optimization pass need to fuse op, combine tensors, change tensors' layout/shape etc. And I understand trt 8.4 GA may will f

[2022-05-26 10:00] Xinchengzelin commented on #2007
I didn't use container,  how to make sure if I install  CUDA/CUBLAS/CUDNN/TensorRT correctly?

[log.md](https://github.com/NVIDIA/TensorRT/files/8778135/log.md)

[2022-05-26 10:05] nvpohanh commented on #2009
I can repro the failure using TRT 8.2. The issue is gone when I use TRT 8.4 GA internal release candidate, which will probably be released in June. Please stay tuned for TRT 8.4 GA release. Thanks for your patience.

[2022-05-26 10:13] nvpohanh commented on #1954
@kimdwkimdw Could you share the ONNX file directly so that we can repro this faster?

Also, could you try clipping the input values to [-1.0, 1.0] and the weights to [-0.1, 0.1] and see if it still explodes? The range of `torch.rand((1, 81, 80))` is sometimes too large for FP16 networks.

[2022-05-26 10:15] nvpohanh commented on #2007
The log says:
[code]
Could you try using and older version of CUDA-11.6 toolkit that contains cuBLAS-11.8 instead of cuBLAS-11.9?

[2022-05-26 10:23] Xinchengzelin commented on #2007
This warning really matters?  But why batch_size =10 , this warning is still, but the trt engine could be converted?

[2022-05-26 10:23] nvpohanh commented on #1954
Oh I see, the culprit may be the `l2_normalize` op because it tends to overflow in FP16. One thing you can try is to force that layer to run in FP32 by setting the layer precision to kFLOAT and set kOBEY_PRECISION_CONSTRAINTS flag in builder config.

In trtexec, you would add `--precisionConstraints=obey --layerPrecisions=<LAYER_NAME>:fp16` where <LAYER_NAME> will be the names of the layers corres

[2022-05-26 10:24] handoku commented on #2009
Are you able to access myelin module code? if you can, could you please provide some detailed error info about this error?

The model I uploaded is simplified by my custom script with `onnx graphsurgeon`.  And before this simplification, it can be exported to trt normally. If you can provide some details, I could/might avoid this problem with some more modifications.

[2022-05-26 10:28] nvpohanh commented on #2003
I can repro this, but this is not a bug in TensorRT. The issue is that `input_ids` and `segment_ids` are the token indices used to look up from the embedding tables. However, since trtexec uses random inputs, the embed lookup goes out-of-bound, causing cuda illegal memory access.

To solve this, you need to pass in "real input data" using trtexec's `--loadInputs` flag. Let me know if you need help

[2022-05-26 10:29] nvpohanh commented on #2003
Or a simpler approach is to change the random range of the INT32 input from [-128, 127] to [0, 2]: https://github.com/NVIDIA/TensorRT/blob/main/samples/common/sampleUtils.h#L210

[2022-05-26 10:47] Tengfei09 commented on #2003
Thanks for your description, I get your point.
Currently, I don't have the "real input data" at hand. As for the alternative solution you provided, the only thing I need to do is change the range, do I need to recompile the _trtexec_?

[2022-05-26 10:55] eric642 opened #2010 "Error Code 1: Myelin (Compiled against cuDNN 10.2.1.0 but running against cuDNN 11.9.3.0.)"
## Description

## Environment
nvcr.io/nvidia/tensorrt:22.04-py3
**TensorRT Version**:
**NVIDIA GPU**: t4
**NVIDIA Driver Version**: 510.47.03
**CUDA Version**:
**CUDNN Version**:
**Operating System**:
**Python Version (if applicable)**:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Baremetal or Container (if so, version)**:

I will show the following error prompt

[2022-05-26 10:58] eric642 commented on #2010
And I see that the cudnn version used by the process is 8.4.0
![image](https://user-images.githubusercontent.com/19191915/170474866-a62be108-9a9b-4289-a626-011ca6971a5a.png)

[2022-05-26 11:47] ttyio commented on #2005
Yes, it is in the plan, thanks

[2022-05-26 11:53] ttyio commented on #1019
@dennex , I do not know any easy workarounds for this, we add cuda kernel to implement this, maybe you need write your own plugin.

[2022-05-26 12:27] Tengfei09 commented on #2003
@nvpohanh  I could get what I want now.  Thank you very much!!!!

[2022-05-26 12:27] #2003 closed

[2022-05-26 14:42] c90mkl opened #2011 "use fp16 input for the network only"
I was using trt 7.2, and with the setting `network->addInput(inputname, DataType::kHALF, ...)`, because my input data is in fp16, I can feed data with half precision to my network properly. However, I upgraded my trt to 8.0.1.6, with the same code I got the wrong result. After reviewing, I found if I change it to `network->addInput(inputname, DataType::kFLOAT, ...)` and convert my fp16 input to fp

[2022-05-26 18:18] oxana-nvidia commented on #1548
Hi @siahuat0727,

Could you please try more recent version of TensorRT?
you test is passing for me when I'm using TensorRT 8.4:

[code]

[2022-05-26 19:11] pommedeterresautee opened #2012 "TensorRT 8.2.4/8.2.5 are not anymore able to build GPT neo (works with 8.2.2 / 8.2.3)"
## Description

Model GPT-NEO from Hugging Face was working on TensorRT up to version 8.2.3.
https://huggingface.co/EleutherAI/gpt-neo-2.7B

According to release notes, TRT 8.2.4 is supposed to fix issues on GPT2 XL but seems to have broken GPT-NEO.
The error message looks like:

[code]

## Environment

**TensorRT Version**: 8.2.4 / 8.2.5
**NVIDIA GPU**: 3090 RTX
**NVIDIA Driver Version**: 515.43.

[2022-05-26 21:31] oxana-nvidia commented on #1571
closing this one as issue is discussed in https://github.com/NVIDIA/TensorRT/issues/1595

[2022-05-26 21:31] #1571 closed

[2022-05-26 23:22] siahuat0727 commented on #1548
Ok. Thanks!

[2022-05-27 00:23] austinmw commented on #2010
I also just hit this error trying to run `trtexec`.

[2022-05-27 01:47] eric642 commented on #2010
I didn't use trtexec

[2022-05-27 01:55] eric642 commented on #2010
I converted the model again, and there was no error

[2022-05-27 02:03] nvpohanh commented on #2010
@eric642 Is this already fixed?

[2022-05-27 02:50] eric642 commented on #2010
@nvpohanh Yes, it has been fixed

[2022-05-27 02:52] eric642 commented on #2010
My model was converted in another trt environment at first, after re-conversion in nvcr.io/nvidia/tensorrt:22.04-py3 the problem is solved

[2022-05-27 02:58] nvpohanh commented on #2010
Thanks! than I will close this issue.

[2022-05-27 02:58] #2010 closed

[2022-05-27 03:03] nvpohanh commented on #2011
@c90mkl Could you try `network->getInput(index)->setType(DataType::kHALF)` and see if that works? If it still doesn't work, please try TensorRT 8.2 or attach verbose logs so that we can investigate it. Thanks

[2022-05-27 03:05] nvpohanh commented on #2003
@Tengfei09 Meanwhile, I am improving the embedding plugin used in demoBERT so that it doesn't do out-of-bound access even when the input indices are bad. Thanks for reporting this :)

[2022-05-27 03:23] nvpohanh commented on #2012
I can repro this failure with TRT 8.2.4/8.2.5. But this is fixed in TRT 8.4 EA (8.4.0, already released) and the GA (8.4.1, will be released soon). Could you try TRT 8.4 EA?

Meanwhile, I am adding this network to our internal testing so that it won't regress in the future. Thanks

[2022-05-27 03:25] Tengfei09 commented on #2003
you mean _embLayerNormPlugin_ ? As I know, several optimized implementations of embedding have been provided by FasterTransformer. Is your implementation similar to theirs?

[2022-05-27 03:37] c90mkl commented on #2011
How to activate verbose logs in trt? Do we have a demo? Thanks!

[2022-05-27 03:58] nvpohanh commented on #2003
Yes, that plugin. The issue is that these two lines are not doing correct boundary checking: https://github.com/NVIDIA/TensorRT/blob/main/plugin/embLayerNormPlugin/embLayerNormKernel.cu#L197-L198

And yes, this plugin is similar (if not almost identical) to that in FasterTransformers.

[2022-05-27 04:42] kimdwkimdw commented on #1954
@nvpohanh Before TensorRT 8.x, TensorRT 7.x doesn't make overflow in FP16 with same trtexec command.

It is sad to add additional command like `--precisionConstraints=obey --layerPrecisions=<LAYER_NAME>:fp16`.

Thanks for investigating the problem. I hope TensorRT can automatically detect problem like overflow after converting.
I had no problem in TensorRT 7.x....

[2022-05-27 04:44] nvpohanh commented on #1954
This is already on our roadmap.

Could you share the verbose logs by adding `--verbose` with TRT 7.x and 8.x? It is possible that TRT 7.x was not using FP16 for those layers.

[2022-05-27 04:47] c90mkl commented on #2011
I tried the code you mentioned with trt 8.2.1.8, it didn't work. The log is
`
Layer(Reformat): Reformatting CopyNode for Input Tensor 0 to (Unnamed Layer* 0) [Convolution] + (Unnamed Layer* 1) [Scale] + (Unnamed Layer* 2) [Activation], Tactic: 1002, net_inout_fp16[Half(1,256,128,150)] -> Reformatted Input Tensor 0 to (Unnamed Layer* 0) [Convolution] + (Unnamed Layer* 1) [Scale] + (Unnamed Layer* 2

[2022-05-27 04:47] kimdwkimdw commented on #1954
It can be easily reproduced using my script https://github.com/triton-inference-server/server/issues/3978#issuecomment-1111737215/ https://gist.github.com/kimdwkimdw/2188b4b9ff9f9bf2f7e8dbd999769796

Only change is using [TensorRT ngc versions](https://catalog.ngc.nvidia.com/orgs/nvidia/containers/tensorrt) `21.03~21.06, not `22.01`

[2022-05-27 04:57] c90mkl commented on #2011
This log helps. I have 5 outputs in total, with trt 8, only one last output is right, and this log shows only `final_out_04 `is in float, others are in half, so outputting all 5 results without half->float conversion will have the result that I got. This is weird, I believe trt 7 set all outputs to float in default. @nvpohanh Why do we have such a divergence between 7 and 8? What solution do we ha

[2022-05-27 04:59] nvpohanh commented on #2011
I don't think there should be any divergence, but anyway, could you try setting `network->getOutput(index)->setType(DataType::kHALF)` or `network->getOutput(index)->setType(DataType::kFLOAT)` depending on which dtype you want? Thanks

[2022-05-27 05:25] zacario-li opened #2014 "How to perform different models in different gpu simultaneously"
Hi,
    I have 4 models, so I installed 4 GPUs(RTX3090). I loaded 4 models into different GPUs(I've checked it).
    Is there any way to perform 4 models in different GPUs simultaneously?

[2022-05-27 05:29] c90mkl commented on #2011
After I manually set all outputs to float, the results are normal now in trt 8. I print the log of the same network  in trt 7, without `network->getOutput(index)->setType(DataType::kFLOAT)` , final output layers are as following:

all outputs are in float.

So with half-precision net input and fp16 mode, in trt 7, all 5 output layers give me float result;  In trt 8, with fp16 input, only the last

[2022-05-27 05:57] nvpohanh commented on #2014
Yes, you can. Just create an execution context on each gpu and run them in parallel.

If you are still not sure how to do that, I recommend that you try Triton inference server, which does it for you: https://github.com/triton-inference-server/server

[2022-05-27 06:32] nvpohanh commented on #2011
Could you try TensorRT 8.2 and/or 8.4 EA to see if the issue still exists? If so, we can take a look

[2022-05-27 06:41] taxuezcy commented on #1997
i already do  constant folding when export onnx ,but still wrong, but need remove dynamic_axes

[2022-05-27 07:06] zacario-li commented on #2014
@nvpohanh
Thanks for your suggestion.
I use asyncio and concurrent.futures.ThreadPoolExecutor to try this, but always got
[code]
Is there any way to use python API to do this?

[2022-05-27 07:08] nvpohanh commented on #2014
@zacario-li Could you share your code?

[2022-05-27 07:18] c90mkl commented on #2011
I tested it in 8.2.1.8, the problem is reproduced.  Sorry that I don't have time for 8.4 EA testing.

[2022-05-27 07:37] nvpohanh commented on #2014
@zacario-li According to this: https://stackoverflow.com/questions/65416902/cupy-error-when-pushing-popping-pycuda-context

`make_context()` also pushes the context to stack, so currently you have 8 contexts pushed to stack but only call `pop()` 4 times.

[2022-05-27 07:37] nvpohanh commented on #2011
@c90mkl could you share your ONNX file? Maybe the ONNX file already mark the output tensors' dtypes?

[2022-05-27 07:48] c90mkl commented on #2011
I didn't use ONNX. The network is built by using TRT C++ API like `addConvolutionNd`, `addActivation`, e.t.c.

[2022-05-27 08:01] nvpohanh commented on #2011
I see. Then could you provide the code for us to repro this issue? Or do you think the current workaround is sufficient?

The rules in TRT should be: By default, we assume all input and output tensors are in kFLOAT. If you want any of them to be kHALF, you should explicit set them. That said, I am not sure why in your case some outputs became kHALF automatically.

[2022-05-27 08:42] zacario-li commented on #2014
@nvpohanh thank you very much, fixed it.
solution:
[code]

[2022-05-27 08:46] nvpohanh commented on #2014
cool! then I will close this.

[2022-05-27 08:46] #2014 closed

[2022-05-27 09:01] Fontaine-Mathieu commented on #1577
Sorry i forgot about this post, i've fixed the error by updating TensorRT
https://forums.developer.nvidia.com/t/cant-build-a-dynamic-shapes-network/192960/4
Thanks

[2022-05-27 09:01] #1577 closed

[2022-05-27 11:16] pommedeterresautee commented on #1845
Just released a way to get caching on tensorrt

https://github.com/ELS-RD/transformer-deploy/blob/main/demo/generative-model/t5_tensorrt.py

It's a trt version of the ort notebook in the same folder which contain explanations.

[2022-05-27 11:38] nvpohanh commented on #1845
We are currently working on adding support for KV-cache to GPT2/T5 demo. Please stay tuned. Thanks for your patience.

[2022-05-27 13:04] pommedeterresautee commented on #1845
That's awesome! It has been quite painful to make it work on trt because of the limitation on the if node (same output shapes). We have a plan to clean things but it would probably be definitely better if done by the trt maintainers.

May I ask you if it will support any decoding algo like the new constrained beam search (https://huggingface.co/blog/constrained-beam-search)? (And the many decoding

[2022-05-27 13:40] VikasOjha666 commented on #1845
@pommedeterresautee Thanks for sharing sir.

[2022-05-28 06:30] #1409 closed

[2022-05-28 06:38] hyperfraise commented on #1409
Thank you for your help. This wasn't about TRT but about architecture afterall.

[2022-05-29 12:28] EdwardVincentMa opened #2017 "/usr/bin/ld: cannot find -lnvinfer"
[ 81%] Building CXX object CMakeFiles/cc_plugin.dir/process/plugin/common/kernels/kernel.cpp.o
[ 83%] Building CXX object CMakeFiles/cc_plugin.dir/process/plugin/cc_rcnn_plugin.cpp.o
[ 84%] Building CXX object CMakeFiles/cc_plugin.dir/process/plugin/plugin_common.cpp.o
[ 86%] Building CXX object CMakeFiles/cc_plugin.dir/process/plugin/cc_plugin_register.cpp.o
[ 87%] Building CXX object CMakeFiles/

[2022-05-30 01:27] nvpohanh commented on #2017
@EdwardVincentMa Where did you install `libnvinfer.so` at?

[2022-05-30 02:26] EdwardVincentMa commented on #2017
i did not install libnvinfer.so, how to install libnvinfer?

[2022-05-30 04:16] nvpohanh commented on #2017
@EdwardVincentMa Please refer to the the README: https://github.com/NVIDIA/TensorRT#prerequisites

[code]

[2022-05-30 05:54] nvpohanh commented on #1385
I have updated the docs internally. It will appear in future TensorRT versions. Thanks for reporting this!

I am going to close this issue for now. Please let me know if you have more questions. Thanks

[2022-05-30 05:54] #1385 closed

[2022-05-30 10:36] nvpohanh commented on #1590
@yuekaizhang trtexec does not support multiple optimization profiles yet

[2022-05-30 14:12] jackwish commented on #2008
@wanduoz You might be interested in this doc: https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#extending

It serves as a all-in-one doc for custom layer.

[2022-05-30 14:14] jackwish commented on #2006
@scuizhibin Could you please create a repo at GitHub to serve these code? It will be helpful for us to navigate through and discuss per-line. Thanks!

[2022-05-30 14:19] jackwish commented on #1690
Thanks @zerollzeng for your support!
@Water2style Is this still an issue for you?

[2022-05-30 14:19] jackwish commented on #1998
@zerollzeng Thank you for the support.
@gary88christie Please let me know if any further issue.

[2022-05-30 14:22] jackwish commented on #1997
@zerollzeng thank you for the support.
@taxuezcy Could you check if the inputs of the `Range_271` in your model are initializers?

[2022-05-30 20:20] ismet-dagli opened #2018 "Missing Data for the Samples"
## Description

I'm currently using Xavier AGX and AGX Orin platforms with 7.1.3 and 8.4.0 versions respectively. Many of the samples can't run because they throw missing data errors. Here are some of the names from my attempts:

-sample_fasterRCNN
-sample_uff_ssd
-sample_int8
-sample_ssd
-sample_uff_mask_rcnn

## Environment

**TensorRT Version**:  8.4.0
**NVIDIA GPU**:  ORIN AGX with NVIDIA Ampe

[2022-05-30 22:42] azhurkevich commented on #2008
@wanduoz I would also suggest checking out our samples ([tensorflow object detection](https://github.com/NVIDIA/TensorRT/tree/main/samples/python/tensorflow_object_detection_api) or [detectron 2](https://github.com/NVIDIA/TensorRT/tree/main/samples/python/detectron2)). Most common layers/ops in object detection/vision that are not supported in TRT natively yet are Non-maximum Suppression and ROI A

[2022-05-30 22:52] azhurkevich commented on #1994
@franferraz98 you tried to build en engine on Jetson from ONNX right (not transferring the same engine build on your computer to Jetson)?

[2022-05-30 23:34] azhurkevich commented on #1994
I think #1538 might be a potential solution, instructions listed by @wraveane. Please reach out if we can further help you.

[2022-05-31 01:55] zerollzeng commented on #2018
there is a corresponding readme in each sample that contains the data preparation like https://github.com/NVIDIA/TensorRT/tree/main/samples/sampleFasterRCNN,  Perhaps that's what you are missing.

[2022-05-31 05:57] wanduoz commented on #2008
Thanks for your reply. I will check the doc later. There are still some questions need to be confirmed. First of all, for torch model which contains custom op/layer, I need to deal with custom op in onnx and then custom op in tensorrt. Therefore, I need to follow onnx custom op doc so that my pth can convert to onnx successfully. Then follow your instructions so that my onnx model can convert to t

[2022-05-31 06:02] wanduoz commented on #2008
Thank you so much.
Hopefully the already existing plugins will meet the demand and I can just focus on the model itself. I barelly know about CUDA so it do take time to study.

[2022-05-31 06:02] wanduoz commented on #2008
Thank you so much.
Hopefully the already existing plugins will meet the demand and I can just focus on the model itself. I barelly know about CUDA so it do take time to study.

[2022-05-31 07:04] c90mkl commented on #2011
Thanks, the methods are sufficient for my current. I'll provide the code once I have time.

[2022-05-31 08:54] yo1990 opened #2019 "TRT inference results are different from ONNX inference results"
## Description

The inference results of the model converted from ONNX with trtexec are clearly different from the inference results of the original ONNX.

## Environment

**TensorRT Version**:  8.0.1
**NVIDIA GPU**:  NVIDIA GeForce RTX 3070
**NVIDIA Driver Version**:  470.103.01
**CUDA Version**: 11.4
**CUDNN Version**:
**Operating System**: Ubuntu 18.04
**Python Version (if applicable)**: 3.7
**

[2022-05-31 09:24] nvpohanh commented on #2019
@yo1990 Could you try TRT 8.2 or 8.4EA to see if it is fixed in later version?

Based on the output values you shared, it seems that TRT's output values happen to be 16x of ONNXRT's output values. That means TRT may not apply the final normalization correctly.

[2022-05-31 10:12] #1994 closed

[2022-05-31 10:13] franferraz98 commented on #1538
If anyone is interested in using Jetpack 4.6.1 and Docker, this solution has worked for me: https://forums.developer.nvidia.com/t/cant-execute-trt-engine-on-jetson-nano/214921/2

Thanks for the support!

[2022-05-31 12:04] #1999 closed

[2022-05-31 14:10] azhurkevich commented on #2008
@wanduoz I am not an expert on TF-TRT hence won't lay out a step by step guide for you. However, for TF-TRT you are correct, you can go straight from tensorflow to tensorrt. We have a similar project for pytorch called [Torch-TensorRT](https://pytorch.org/TensorRT/). Back to TF-TRT, some tensorflow specific ops will be left as is and rest that are convertable into tensorrt will be able to convert

[2022-05-31 14:13] azhurkevich commented on #1994
@franferraz98 Great! Please reach out if you encounter any other issues.

[2022-06-01 01:45] yo1990 commented on #2019
@nvpohanh
Thanks for your reply.
I tried TRT 8.2.5.1 and 8.4.0.6 respectively, no change.
Is there any other possible cause?

[2022-06-01 01:46] nvpohanh commented on #2019
Thanks for trying. We will try repro this issue and keep you posted.

[2022-06-01 03:19] wanduoz commented on #2008
Thank you for your reply. Your reply completely solves my doubts. I think torch-trt is applying trt acceleration in torch. But I will focus on using triton to deploy my model. Currentlly, I don't use any custom op. My boss ask me to do some research about this. I do hope that released plugins can cover all ops I need.

You guys can close this issue. Thank you both for your answers.

[2022-06-01 03:45] nvpohanh commented on #2019
I can repro this locally. I have filed an internal tracker (id: 3666457). Our engineer will debug and fix this issue. Will let you know if I get any updates. Thanks for reporting this!

[2022-06-01 06:19] jackwish commented on #2008
Thanks! Closing this issue. Feel free to reopen if any further questions.

[2022-06-01 06:19] #2008 closed

[2022-06-01 06:30] qihang720 commented on #1989
Thank you for your reply.  I have solved this problem, I'm sorry I forgot my pulication before. Thanks again!

[2022-06-01 06:30] #1989 closed

[2022-06-01 10:06] DataXujing opened #2020 "Normalize_TRT Plugin runtime Error!!!"
Input Data Dim: [ 20000,1,1,31], and I applied TensorRT 8.2.3 API ， When I use like :

[code]
to construct the network,

I build the engine successfull!!! but in runtime, I get an Error:

[code]

Does the Normalize_TRT could't support TensorRT 8.2.3?

[2022-06-01 10:17] nvpohanh commented on #2020
@DataXujing Could you show your code about how to load the engine and run the inference? thanks

[2022-06-01 16:20] 773041642 opened #2021 "softmax error"
![image](https://user-images.githubusercontent.com/56188697/171450851-2b1bf25e-1bc5-4245-b163-ff0629868681.png)

**TensorRT Version**:TensorRT 8.4EA
**NVIDIA GPU**: NVIDIA 2080T
**CUDA Version**: cuda10.2
**Operating System**: windows

I made this error when I increased the input tensor size to (1,65536,6). Does Softmax need larger memory to run, or is it caused by some fusion operations

[2022-06-02 01:17] nvpohanh commented on #2021
@773041642 It looks like a TRT bug. Could you share the ONNX file you used or the code you use? Thanks

[2022-06-02 02:37] nvpohanh commented on #2020
@DataXujing Thanks for the code. We will try repro the issue.

Meanwhile, could you help us to figure out which function call caused the seg fault? Did it fail at `deserialize_cuda_engine()` or `cudaMemcpy()` or `execute_v2()`? Thanks

[2022-06-02 03:03] 773041642 commented on #2021
I repeated the error with the following code:
![image](https://user-images.githubusercontent.com/56188697/171544060-e2e14e45-6935-4d4f-b22b-b6056da8ec2c.png)

Error is as follows:
![image](https://user-images.githubusercontent.com/56188697/171544191-7d0356fc-2ab2-4da6-8e07-d299bdc6f390.png)

[2022-06-02 03:34] nvpohanh commented on #2021
Thanks for the code. We will debug this internally.

Meanwhile, could you do an experiment for me? If you set the input size to `{1, 65535, 16, 16}`, does it still fail?

[2022-06-02 03:55] 773041642 commented on #2021
when i set the input size to `{1, 65535, 16, 16}` , it  can work.

 I did a couple of other experiments, For an input of size `{a, b, 16 ,16}`, if a*b ≥ 65536, it can't work.

[2022-06-02 03:58] DataXujing commented on #2020
@nvpohanh `execute_v2()` caused the seg fault!

[2022-06-02 05:22] nvpohanh commented on #2021
@773041642 Thanks. I can repro the issue internally and we will debug/fix this.

Btw, which axis do you want to do softmax on? You are using `0x4` which means you are doing softmax on the first 16 of the `{1, 65536, 16 (<-this axis), 16}`. Is this what you want? If you want to do softmax over the "65536" dimension, the axes should be set to `1 << 1` which is `0x02`.

[2022-06-02 06:13] 773041642 commented on #2021
Thanks for your reply. When I set the axes to be 0x02, engine can be built.

But the code in PyTorch looks like this `nn.Softmax(dim=-2)`, so I must do softmax on the first 16.

[2022-06-02 06:32] nvpohanh commented on #2021
I see. That makes sense.

I have created an internal tracker (id: 3668379). Will let you know when we fix the issue. Thanks for reporting this.

[2022-06-02 06:35] nvpohanh commented on #1969
@nanmi Could you share your ONNX file or the code you used so that we can repro and debug? Thanks

[2022-06-02 07:34] DonggeunYu opened #2022 "TopK is slower compared to PyTorch."
## Description
TopK is slower compared to PyTorch.
PyTorch: 5.19e-06s
TensorRT: 3.94e-05s

## Environment

**TensorRT Version**: TensorRT 8
**NVIDIA GPU**: A100
**NVIDIA Driver Version**:
**CUDA Version**: V11.6.55
**CUDNN Version**:
**Operating System**: Ubuntu 18.04
**Python Version (if applicable)**: 3.8
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**: 1.10.2+cu113
*

[2022-06-02 07:40] TangJiamin commented on #671
Hello, I want to konw why the problem happened and how did you solve this problem. If you can reply, I will be so appreciate!

[2022-06-02 08:02] nvpohanh commented on #2022
@DonggeunYu Your input size is only `(1, 10)` which is super tiny, so it is expected that CPU will be faster than GPU in this case. For GPU to be faster than CPU, you need to increase the problem size so that the work can be distributed across multiple CUDA cores.

(in case you don't realize, this part of PyT code is measuring CPU performance, not GPU performance)

[code]

[2022-06-02 08:09] nvpohanh commented on #2020
I can repro this issue. I have filed internal tracker (id: 3668545) and we will debug/fix this. Will let you know when we fix it. Thanks for reporting this issue.

[2022-06-02 08:11] nvpohanh commented on #1158
I am going to close this due to >2wk of no action. Please feel free to reopen if this issue still exists. Thanks!

[2022-06-02 08:11] #1158 closed

[2022-06-02 08:11] nvpohanh commented on #1161
I am going to close this due to >2wk of no action. Please feel free to reopen if this issue still exists. Thanks!

[2022-06-02 08:11] #1161 closed

[2022-06-02 08:11] nvpohanh commented on #1235
I am going to close this due to >2wk of no action. Please feel free to reopen if this issue still exists. Thanks!

[2022-06-02 08:11] #1235 closed

[2022-06-02 08:11] nvpohanh commented on #1274
I am going to close this due to >2wk of no action. Please feel free to reopen if this issue still exists. Thanks!

[2022-06-02 08:11] #1274 closed

[2022-06-02 08:11] #1300 closed

[2022-06-02 08:11] nvpohanh commented on #1338
I am going to close this due to >2wk of no action. Please feel free to reopen if this issue still exists. Thanks!

[2022-06-02 08:11] #1338 closed

[2022-06-02 08:12] nvpohanh commented on #1367
I am going to close this due to >2wk of no action. Please feel free to reopen if this issue still exists. Thanks!

[2022-06-02 08:12] #1367 closed

[2022-06-02 08:12] nvpohanh commented on #1368
I am going to close this due to >2wk of no action. Please feel free to reopen if this issue still exists. Thanks!

[2022-06-02 08:12] #1368 closed

[2022-06-02 08:12] nvpohanh commented on #1403
I am going to close this due to >2wk of no action. Please feel free to reopen if this issue still exists. Thanks!

[2022-06-02 08:12] #1403 closed

[2022-06-02 08:12] #1386 closed

[2022-06-02 08:12] nvpohanh commented on #1428
I am going to close this due to >2wk of no action. Please feel free to reopen if this issue still exists. Thanks!

[2022-06-02 08:12] #1428 closed

[2022-06-02 08:13] nvpohanh commented on #1472
I am going to close this due to >2wk of no action. Please feel free to reopen if this issue still exists. Thanks!

[2022-06-02 08:13] #1472 closed

[2022-06-02 08:17] DonggeunYu commented on #2022
@nvpohanh
The input size was set to [1, 4000], and the K of TopK was set to 1000.
It's slow though.

[2022-06-02 08:21] nvpohanh commented on #2022
could you try input size = [4096, 4096] and K of TopK set to 10?

[2022-06-02 08:28] DonggeunYu commented on #2022
Torch: 1.4278623792860242e-05
TensorRT: 6.728702121310764e-05

[2022-06-02 08:52] nvpohanh commented on #2022
Could you try this script? Thanks

I am getting `0.0008830735416147206` for PyTorch and `0.0005037088562982275` for TRT using TRT 8.2.1 on A100-SXM-80GB.

[code]

[2022-06-02 08:53] nvpohanh commented on #2022
oh, btw, we should not include the `output = torch.empty(size=shape, dtype=self.dtype, device=self.device)` part in TRT's timing

[2022-06-02 09:16] DataXujing commented on #2020
OK， Thank you for your reply！ @nvpohanh

[2022-06-02 09:37] #2021 closed

[2022-06-02 11:03] RichardWooSJTU opened #2024 "How to share weights between different engines?"
In our application, we have to build two or more engines whose layers can use the same weights. However, when we build these engines directly, the device memory allocated for weights will be copied many times. So is there any methods to make these engines share device memory?

For example:
[code]

[2022-06-02 16:31] zerollzeng commented on #2024
If I understand correctly, the layers and weights are all the same across engines. Can you try to build 1 engine and create multiple ExecutionContext for the engine? It should satisfy your need.

refer to https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_execution_context.html#details

[2022-06-02 16:34] doomooo commented on #967
Hi, I meet this problem with ONNX QAT model in TensorRT7.2. Any suggestions? (BTW, TensorRT8 has no problem.) @ttyio

[2022-06-02 16:53] WangYX-TKZ opened #2025 "TensorRT C++ get incorrect result ion Ubuntu ,but get right on windows10"
Ubuntu:
cuda:11.4
cudnn:8.2.4
tensorRT:8.2.5.1、8.2.0.6
GPU:3060ti *2

window10:
cuda：11.4
cudnn:8.2.4
tensorRT:8.2.0.6
GPU:3070

the same C++ project on Ubuntu get the absolutely incorrect result, but on window10 and jetson nx platform can work,
by the way the samplemnist programme also get the incorrect result on ubuntu, it can run no error.

I update the tensorRT from 8.2.0.6 to 8.2.5.1, it can

[2022-06-02 17:01] WangYX-TKZ commented on #2025
additional,I run the cudnn test programme mnistCudnn. the result is correct.

[2022-06-02 18:30] vilmara opened #2026 "[Bug/Feature Request] -Native TensorRT to support “string” datatype for CV models"
## Description
This bug/feature request is for native TensorRT to support “string” datatype for object detection models.

Models trained with Google AutoML include string datatype (which is not supported by TensorRT). I have applied several methods (TF-ONNX-TRT, TF-UFF-TRT) to optimize the object detection model (trained with Google AutoML) and its variants (saved_model, frozen graph, onnx, tflite

[2022-06-02 19:05] NavKumarGit opened #2027 "Issue in Pytorch to TensorRT Conversion with dynamic Sequence Length for XLMRoberta Model"
**Issue:**Conversion works well with the dynamic axis 1 i.e. batch size, While trying conversion with both dynamic axes i.e. batch size & input text sequence length for the Huggingface XLMRoberta base model.

**Reason:** to use dynamic sequence length: for trained xlm-Roberta-base pytorch model, the short text has different predicted logits from the exact text with paddings to make the uniform len

[2022-06-03 00:55] RichardWooSJTU commented on #2024
In our real application, the two engines perform different tasks so that they have different layers except the convolution layers, . This example is just to reduce the differences between engines as much as possible. If two identical engines cannot share the weights,  we have to give up tensorrt.

[2022-06-03 01:57] nvpohanh commented on #2026
@rajeevsrao FYI

[2022-06-03 02:01] nvpohanh commented on #2027
@NavKumarGit Could you share the ONNX file so that we can repro and debug the issue? I would also suggest trying TRT 8.4EA because TRT 8.4 should have better support for multiple dynamic axes compared to TRT 8.2. Thanks

[2022-06-03 02:10] RichardWooSJTU commented on #2024
@nvpohanh Thank you very much for your advice! I think I'm going to give that a try

[2022-06-03 03:38] WangYX-TKZ commented on #2025
The samplemnist code of tensorrt can not get correct result. I just make the Project.
I think the same reason make the issue for my code.

[06/03/2022-11:35:46] [I] Building and running a GPU inference engine for MNIST
[06/03/2022-11:35:46] [I] [TRT] [MemUsageChange] Init CUDA: CPU +473, GPU +0, now: CPU 484, GPU 354 (MiB)
[06/03/2022-11:35:47] [I] [TRT] [MemUsageSnapshot] Begin constructing build

[2022-06-03 04:44] NavKumarGit commented on #2027
Kindly share the drive link to upload the ONNX model.
I couldn't find the TensorRT container support for TesnorRT 8.4EA  and the corresponding TritonServer container to deploy it.
We need to deploy the models in the production with a TensorRT container for conversion and a Tritonserver container for the deployment of TensorRT models. Can you pls refer me to the right link for container releases no

[2022-06-03 08:37] WangYX-TKZ commented on #2025
I  find the reason. the driver version is not right.
I update the driver to 510 version and install the CudaToolkit 11.5 and Cudnn8.3.2
The result of my code and sampleMnist are all right.

[2022-06-03 12:35] harishprabhala opened #2028 "int8 accuracy ResNet50"
I have converted the ResNet50 to int8 using ResNet50 calibration cache. Although there has been an increase in inference speed, I'm not able to quantify the accuracy. Is there a Python code to evaluate the accuracy of int8 converted models in TensorRT?

[2022-06-03 12:59] PieterBlomme commented on #1980
I ran into this issue aswell.  Perhaps it would be better if the README recommends
`git clone -b stable https://github.com/pybind/pybind11.git`

Instead?

And perhaps also include
`set -e`
in build.sh because right now it will proceed to generate the wheel even if cmake fails

[2022-06-03 16:17] azhurkevich commented on #2028
@harishprabhala you can look at eval_coco.py and infer.py in both [tensorflow object detection](https://github.com/NVIDIA/TensorRT/tree/main/samples/python/tensorflow_object_detection_api) and [detectron 2](https://github.com/NVIDIA/TensorRT/tree/main/samples/python/detectron2) examples. As soon as you've built and int8 engine for inference purposes it should be treated the same way as fp32/16 wou

[2022-06-03 17:36] 123mw123 opened #2029 "mask-rcnn detectron2 - trt engine detecting completely random objects and not accurate at all"
## Description

I have converted custom detectron2 mrcnn model(5 classes) to tensorrt using these guidelines: https://github.com/NVIDIA/TensorRT/tree/main/samples/python/detectron2, but it is detecting completely random objects. Anybody else facing similar issue?

I have made the following modifications to the code

- Modify num_classes in this line to 5. [TensorRT/create_onnx.py at main · NVIDIA/

[2022-06-04 02:44] harishprabhala commented on #2028
Thanks @azhurkevich. I'll give it a try.

[2022-06-04 08:30] zjlovemln opened #2030 "[E] Error[2]: [optimizer.cpp::isPolymorphic::1072] Error Code 2: Internal Error (Assertion asCopyingLeafNode() ? candidateChoices.empty() : !candidateChoices.empty() failed."
## Description

I meet the problem when I used the trtexc tool to generate the INT8 engine with the command "./trtexec --onnx=quant_mynet_simplify.onnx --saveEngine=uant_trt_simplifier.trt  --int8"!
but it was wrong like the below Picture screenshot:

![image](https://user-images.githubusercontent.com/81769305/171991057-b932ef08-280a-4794-a84f-648fe3172ed8.png)

I used the "pytorch_quantization" t

[2022-06-05 01:30] nvpohanh commented on #2030
@zjlovemln Could you try adding Q/DQ nodes between the BatchNorm and the MaxPool?

[2022-06-05 01:40] nvpohanh commented on #2029
@123mw123 Could you share the full scripts to repro the accuracy issue? Also, how did you train your custom detectron2 model? Asking because a lot of these accuracy issues are caused by mismatches of image preprocessing steps or grid anchor generation logic between the training phase and the inference phase. Thanks

[2022-06-05 01:42] nvpohanh commented on #1980
Maybe we should pin to stable pybind11 branch instead of master? @rajeevsrao thoughts?

[2022-06-05 01:44] nvpohanh commented on #2025
@WangYX-TKZ Thanks for sharing the solution. I am going to close this.

[2022-06-05 01:44] #2025 closed

[2022-06-05 01:46] zjlovemln commented on #2030
Thank you,I am going to try that! I met another problem that I find the LSTM module can't be quantization on cuda by using quant_modules.initialize() function by "pytorch_quantization" tool, all the data only can be on the cpu! If i put the model on cuda, the problem occur:
![image](https://user-images.githubusercontent.com/81769305/172031380-6253c887-fb0a-414e-96a5-6113de0428ec.png)
I want to kno

[2022-06-05 01:49] nvpohanh commented on #2027
@NavKumarGit Could you try uploading it to here? https://drive.google.com/drive/folders/1qS8Edhg_wK_01ByKdc5vJDBsn7aN8Gj2?usp=sharing

We don't have a container for TRT 8.4 EA yet. If using container is a requirement, I would suggest waiting for the next TRT release which is coming in a few weeks.

[2022-06-05 01:56] zjlovemln commented on #2030
Thank you,I am going to try that! I met another problem that I find the LSTM module can't be quantization on cuda by using quant_modules.initialize() function by "pytorch_quantization" tool, all the data only can be on the cpu! If i put the model on cuda, the problem occur:
![image](https://user-images.githubusercontent.com/81769305/172031623-29097e9c-6a6c-4ada-b256-c450587967d4.png)
I want to kno

[2022-06-05 15:13] doomooo opened #2031 "How to set setDynamicRange right? No change on inference time, but setInt8Calibrator faster too much."
## Description
Hi, I wander how to set setDynamicRange right? No change on inference time, but setInt8Calibrator faster too much.

## Environment

**TensorRT Version**:  723
**NVIDIA GPU**: 3080
**NVIDIA Driver Version**:
**CUDA Version**:
**CUDNN Version**:
**Operating System**:
**Python Version (if applicable)**:
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable)**:
**Bare

[2022-06-05 16:55] Jae-1409 commented on #1011
Hi @ttyio , I'm currently trying to run partial quantization via this [repo](https://github.com/NVIDIA-AI-IOT/torch2trt).

I added this code before building the engine (fp16 + int8).

    if partial:

        config.set_flag(trt.BuilderFlag.FP16)

        aaa = '1 14 15 26 27 36 37 44 45 52 53 60 61 68 69 76 77 86 87 98 99 112 113 114 115 116 117 118 119'.split( )
        count = 0

        for i

[2022-06-06 00:09] ttyio commented on #1011
@Jae-1409 , we need extra reformat layout to do the layout reorder when switch between fp16 and int8, and it harms perf.

and yes we have Python API:
https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Graph/LayerBase.html#tensorrt.ILayer
https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/Graph/LayerBase.html#tensorrt.ILayer.set_output_type

[2022-06-06 02:37] zhaohb commented on #2026
@nvpohanh will tensorrt support string? Is there any plan to do that？

[2022-06-06 02:45] nvpohanh commented on #2031
@doomooo Could you check if you have called setDynamicRange() for ALL intermediate tensors? If a tensor does not have dynamic range set, that layer won't run in INT8

[2022-06-06 03:09] nvpohanh commented on #2026
This is currently not in our plan. @rajeevsrao Could you add this to your RFE request list? Thanks

[2022-06-06 04:11] Jae-1409 commented on #1011
@ttyio , is there any repo to follow using these APIs?
I dont understant where(which phase) to use these APIs. Should I construct my own ILayer handwise, not changing builder's config?

[2022-06-06 04:15] harishprabhala opened #2032 "!trtexec throughput higher than Torch_TensorRT"
Hi - When I run trtexec to calculate the throughput and latency, the numbers are much higher as compared to when I do the benchmarks using the below code

[code]
trtexec gives atleast 40% higher throughput than the above code. Why is that? Is there a way to compute the performance metrics in Python similar to how trtexec does?

[2022-06-06 05:11] nvpohanh commented on #2032
@harishprabhala Did you turn on FP16 when building Torch-TRT engine? something like:

[code]

See: https://pytorch.org/TensorRT/_notebooks/Resnet50-example.html

[2022-06-06 05:28] harishprabhala commented on #2032
Hi @nvpohanh. Yes I have turned on FP16 while compiling in Torch-TRT.

[2022-06-06 05:32] nvpohanh commented on #2032
Could you share your code and model so that we can repro and debug the issue? Would be great if you can also attach verbose logs by enabling VERBOSE in TRT logger. Thanks

[2022-06-06 05:33] harishprabhala commented on #2032
This is how I compiled and below are the inference metrics.

[code]

For trtexec, below are the inference for FP16
[code]

[2022-06-06 05:36] nvpohanh commented on #2032
Could you share the verbose logs (see: https://pytorch.org/TensorRT/py_api/logging.html ) and the model? Thanks

[2022-06-06 05:37] nvpohanh commented on #2032
For trtexec, add `--verbose --profilingVerbosity=detailed --dumpLayerInfo`

[2022-06-06 05:40] harishprabhala commented on #2032
I used Pytorch ResNet50 and reproduced the code exactly in this link -> https://developer.nvidia.com/blog/accelerating-inference-up-to-6x-faster-in-pytorch-with-torch-tensorrt/

Fot trtexec, I took Pytorch Resnet50, converted to onnx and ran trtexec buildengine with fp16 flag.
[code]

[2022-06-06 05:53] nvpohanh commented on #2032
I see. Thanks. Which GPU and which TRT version did you use?

[2022-06-06 05:57] harishprabhala commented on #2032
I am using RTX 2080Ti and TRT version is 8.2.4

[2022-06-06 06:03] 123mw123 commented on #2029
I didn't compute accuracy with tensorrt model. I trained custom mask rcnn model using R50-FPN 3x  config provided by detectron2. I didn't modify any preprocessing steps inside detectron2. I did modify preprocessing step inside [image_batcher.py](https://github.com/NVIDIA/TensorRT/blob/main/samples/python/detectron2/image_batcher.py#L136) to match detectron2 preprocessing like normalising image wit

[2022-06-06 06:17] harishprabhala commented on #2032
Basically I am looking to reproduce the same inference metrics as trtexec through a python script. With the above benchmark script, the metrics are lower as compared to trtexec.

Is trtexec faster because it runs the .engine file in C++?

[2022-06-06 06:33] doomooo commented on #2031
Thanks for your reply.
"ALL intermediate tensors" means all networks' tensors? or specified layers' tensors. I just set all conv layers' outputs.  (like [sampleINT8API](https://github.com/NVIDIA/TensorRT/blob/release/7.2/samples/opensource/sampleINT8API/sampleINT8API.cpp))
And, if I extract QAT's params and set it in setInt8Calibrator instead of DynamicRange , any risk?
@nvpohanh

[2022-06-06 06:39] nvpohanh commented on #2031
I meant the input/output tensors for **each** layer, including Conv, Scale, ReLU, etc.

That should work.

[2022-06-06 06:39] nvpohanh commented on #2031
Note that if the ONNX file contains the Q/DQ nodes, you can use TRT 8.2 directly with the ONNX file without the need to set the dynamic ranges.

[2022-06-06 06:46] nvpohanh commented on #2032
It's hard to tell without further information like verbose logs or Nsight Systems profiles as there are many possibilities of the performance gaps.

[2022-06-06 06:48] nvpohanh commented on #2029
Could you share your model and the scripts/commands you used to train the model? This will help us to repro and debug the issue

[2022-06-06 06:53] doomooo commented on #2031
Why is "each layer", can I set int8 only for the first half layers?

Thanks for your notes. I used TRT8.2 successfully. But due to some limitations, I should use TRT7.2, many problems show when I use QAT ONNX with TRT7.2 directly. So, I set int8 params manually.

[2022-06-06 06:53] doomooo commented on #2031
@nvpohanh

Why is "each layer", can I set int8 only for the first half layers?

Thanks for your notes. I used TRT8.2 successfully. But due to some limitations, I should use TRT7.2, many problems show when I use QAT ONNX with TRT7.2 directly. So, I set int8 params manually.

[2022-06-06 06:55] nvpohanh commented on #2031
You can set dynamic ranges on only some layers, but the other layers won't be able to use INT8 tactics, so the performance will be worse than the case when you use calibrator.

[2022-06-06 07:01] harishprabhala commented on #2032
Is there a way to export the verbose log into a txt file in trtexec? I am not able to copy the whole log into a text file.

[2022-06-06 07:01] doomooo commented on #2031
Thanks, I got it.  @nvpohanh
From your description before. I think that maybe I ignore ` [Scale]_output`.
And, what is ` [Scale]_output`. used for?

[2022-06-06 07:05] harishprabhala commented on #2032
Also, can you replicate the same issue once at your end? Basically if you can take a .engine file and run it through a python inference code, you'll know if there is performance gap as compared to trtexec inference.

[2022-06-06 07:53] harishprabhala commented on #2032
Actually, I have figured out a python code to get the exact same throughput and latency metrics as trtexec. Thanks for your help. Cheers!

[2022-06-06 08:38] nvpohanh commented on #2032
Thanks! What did you do to fix it? Maybe we can improve our code or documentation better.

[2022-06-06 08:39] nvpohanh commented on #2031
The Scale layers are for BatchNorm ops. If you check the order of the layers in a network, you will see the Scale layers sitting between the Conv and the ReLU layers.

[2022-06-06 08:46] doomooo commented on #2031
Thanks, If I have absorbed and merged it into Conv in Tensorflow, will influence the int8 inference here?

[2022-06-06 08:46] doomooo commented on #2031
Thanks, If I have absorbed and merged it into Conv in Tensorflow, will influence the int8 inference here? @nvpohanh

[2022-06-06 08:58] nvpohanh commented on #2031
Maybe not. But it depends on how the ops are described in ONNX file, so the ONNX file is still the golden reference.

[2022-06-06 09:22] harishprabhala commented on #2032
I just took the inference code from here, removed the scoring part of the code (because we're just looking for throughput and latency) and added the below code at the end to calculate the throughput+latency

[code]

[2022-06-06 09:32] nvpohanh commented on #2032
Thanks for sharing the solution. I am going to close this issue.

[2022-06-06 09:32] #2032 closed

[2022-06-06 10:01] doomooo commented on #2031
Thank you for your kindly reply. @nvpohanh

[2022-06-06 10:01] #2031 closed

[2022-06-06 14:05] pranavm-nvidia commented on #1980
Yes, we should pin the version to 2.6.2, which is what we use internally.

[2022-06-06 17:23] deephog opened #2033 "8.2.5 or 8.4 ?"
Hi Developers,

I realized that the 8.2 version has been consistently updated while the 8.4 version stayed the same for several months already. And I believe that when I first used 8.4, there was a GA version instead of just EA version (maybe I am delusional). It looks to me that the 8.4 version is "abandoned" for some reason. The question I would like to ask is that, I know that 8.2 is the more s

[2022-06-06 21:46] yaoyaoding commented on #1921
Hi @ttyio,

I encountered the same problem

[code]

on the GPT-2 model exported from huggingface transformers package.

The TensorRT version is **8.4.0.6**

[code]

The command line to get the onnx model
[code]
After executing above command, there will be a `model.onnx` under cwd.

[2022-06-07 00:54] nvpohanh commented on #2033
@deephog TRT 8.4.0 is an EA release. We are still working on the GA release and it should be released soon (maybe in something like a few weeks). As you asked, TRT 8.4.0 has more bug fixes and newer features and may have solved some issues that appeared in TRT 8.2.x.

[2022-06-07 09:19] wenqibiao commented on #1541
Why NOT fix it in 8.2???

[2022-06-07 10:48] yuefanhao opened #2034 "buildSerializedNetwork error"
Hi,

when I try to buildSerializedNetwork, some errors occured:

[E] [TRT] 2: [elementWiseRunner.cpp::ElementWiseRunner::118] Error Code 2: Internal Error (Assertion z.d[i] == broadcast(x.d[i], y.d[i]) || isSlotReference(z.d[i]) failed. )
[E] [TRT] 2: [builder.cpp::buildSerializedNetwork::619] Error Code 2: Internal Error (Assertion engine != nullptr failed. )

[2022-06-07 11:01] nvpohanh commented on #2034
@yuefanhao Could you share the ONNX file you used so that we can best assist you? Thanks

[2022-06-07 11:23] lhao0301 opened #2035 "Could not find any implementation for ForeignNode"
## Description

When convert onnx file to trt, the error occurs. What does `ForeignNode` mean and any suggestions to solve this problem?

[code]

## Environment

**TensorRT Version**: 8.2.5.1GA [Also I have tried with 8.4EA and just same problem.]
**NVIDIA GPU**: Tesla P100-PCIE
**NVIDIA Driver Version**: 470.57.02
**CUDA Version**: 11.4
**CUDNN Version**: 8.2.0
**Python Version (if applicable)**:

[2022-06-07 11:33] yuefanhao commented on #2034
@nvpohanh the ONNX file size too big, could you leave your email so that I can send It to you?

[2022-06-07 12:03] 992355092 opened #2036 "Some problems in using int8 calibration"
## Description

 I  generate my own cache file to TensorRT's use for calibration. and run model on two devices(2080ti and Xavier) ,They have the same tensorrt's  version(8.0.2),  but the results of network output are very different, 2080ti's result is the same as fp32 result, but Xavier's  accuracy is poor, I try to set the layer dynamic range to be consistent by Api tensor->setDynamicRange(min, m

[2022-06-07 12:27] nanbatian119 opened #2037 "The gather operator produces a loss of precision"
tensorrt convert gather operator from onnx produces a loss of precison

TensorRT Version:  8.4.1.4
NVIDIA GPU: NVIDIA A10
NVIDIA Driver Version: 510.73.08
CUDA Version：11.6
CUDNN Version: 8.4
Operating System: Ubuntu 20.04.4 LTS
Python Version (if applicable): 3.8.10
PyTorch Version (if applicable): 1.11.0

please check this respository to reproduce this bug

[(https://github.com/nanbatian119/oneh

[2022-06-07 14:28] lhao0301 commented on #2035
It can be solved by increase the `workspace`.

[2022-06-07 14:56] zerollzeng commented on #2037
Can you kindly provide the onnx model to us so that we can reproduce it quickly?

[2022-06-07 15:02] 992355092 commented on #2036
@zerollzeng this is my cache, I used it on 2080ti, and it's work well, but the same cache in Xavier, the network output is different from 2080ti
TRT-8203-EntropyCalibration2
167: 3c009976
168: 3e5d05cc
169: 3c00f9f4
170: 3d925bb9
171: 3eb0e47d
172: 3c00f9f4
173: 3e297d3a
174: 3e05400d
175: 3c00f9f4
176: 3d43b9a8
177: 3e0bf43e
178: 3c00f9f4
179: 3d6b8351
180: 3def4d0e
181: 3c00f9f4
182: 3d953b38
18

[2022-06-07 16:09] Tengfei09 opened #2038 "what is the difference between demoBERT and a BERT engine converted by onnx-tensorrt?"
## Description

Under the same condition,
- BERT-Large model
- batch_size = 64
- seqlen=384
- data precision=fp16

using TF checkpoint as a source model(demoBERT), the total execution time of the converted TensorRT engine is **100.91**ms.
using ONNX as a source model, the total execution time of the converted TensorRT engine is **113.38**ms.

As I know, _demoBERT_ will use predefined plugins to fu

[2022-06-07 16:32] NavKumarGit commented on #2027
The file has been uploaded to the drive, kindly let us know if more information is required from my end.
This model takes two input input_ids and attention mask i.e. batch_size, sequence length, and returns the  predicted logits

[2022-06-07 21:53] AsiaCao opened #2039 "Failed converting ONNX model to TensorRT model"
## Description

Looking for some help please.

I have an ONNX model (pytorch). I want to convert the model from ONNX to TensorRT, manually and programmatically.
I have written some Python code that uses the TensorRT builder API to do the conversion, and i have tested the code on two different machines/environment:
1) Nvidia Tesla K80  (AWS P2.xlarge instance)
2) Nvidia Tesla V100 (AWS P3.xlarge in

[2022-06-07 22:34] #2033 closed

[2022-06-07 23:19] azhurkevich commented on #2029
@123mw123 I've written the sample. The sample requires TensorRT >= 8.4.1 which is mentioned in the docu and it is not out yet. We've made some major updates to [PyramidROIAlign plug-in](https://github.com/NVIDIA/TensorRT/tree/main/plugin/pyramidROIAlignPlugin) that will be integrated starting 8.4.1. The release is coming very soon.

For now you can do this to compile plug-in library separately and

[2022-06-08 02:25] nanbatian119 commented on #2037
https://github.com/nanbatian119/onehot2gather/blob/main/onnx/gather_net.onnx

I have uploaded to this respository , [https://github.com/nanbatian119/onehot2gather.git](url), please check it.

[2022-06-08 02:49] nvpohanh commented on #2035
In TRT 8.2, the default workspace size is 16MB for trtexec. In TRT 8.4, the default workspace size is infinity (basically, the maximum available GPU memory). So it surprised me that TRT 8.4EA also has this issue...

@zerollzeng Your log shows CUDA error 3, which usually means the driver is not correct. It is not related to the original issue

[2022-06-08 02:51] nvpohanh commented on #2036
Sometimes it is also related to which tactics and precisions are chosen on each GPU. Could you share the verbose logs when building the engines?

Also, I would suggest trying TRT 8.2 and/or 8.4EA if that is possible.

[2022-06-08 02:56] nvpohanh commented on #2037
@nanbatian119 Could you check what is the `i.dtype.itemsize`? TRT doesn't support INT64, so you will have to convert `self.rel_pos` to INT32 first.

[code]

[2022-06-08 02:58] RichardWooSJTU commented on #2024
Any updates?

[2022-06-08 03:09] nvpohanh commented on #2038
As of TRT 8.4, the ONNX-BERT does not have fully fused MHA yet. It only fuses it to a point that there three remaining kernels for MHA: batched-gemm+everything-else+batched-gemm. This is the main performance gap between demoBERT and ONNX-BERT.

We are fixing this issue so that they can be fully fused in future TRT version.

[2022-06-08 03:14] Tengfei09 commented on #2038
Thanks for your quick reply. I get your point.

[2022-06-08 03:14] #2038 closed

[2022-06-08 04:22] nvpohanh commented on #2024
Let me check internally to see if there is any solution to this issue.

[2022-06-08 04:31] guetzhouyanxiao opened #2040 "Multithread tensorrt"
Multithreaded tensorrt is used to infer a large number of images. After analyzing some images, an error is reported, and no result is returned
[TRT] [E] 1: [convolutionRunner.cpp::executeConv::511] Error Code 1: Cudnn (CUDNN_STATUS_BAD_PARAM)

[2022-06-08 05:01] nvpohanh commented on #2040
Could you follow this template to fill in more information so that we can investigate? Thanks

[code]

[2022-06-08 05:34] zerollzeng commented on #2035
Yes it's a env setup issue, @lhao0301 can you try run it inside a TRT official container?

[2022-06-08 05:39] zerollzeng commented on #2036
Yes, I think it might be caused by some bad tactics in Xavier.

@992355092 can you try JetPack 5.0(TRT 8.4 EA) on Xavier first? if it still have problem, you can share your model(prefer onnx) to us.

[2022-06-08 06:13] nvpohanh commented on #2034
Could you upload it to https://drive.google.com/drive/folders/12_1Nk954FaN4WQp_iZ2W6a4KUkTcejfh?usp=sharing ?

Please also fill in additional information following this template. Thanks

[code]

[2022-06-08 06:16] guetzhouyanxiao commented on #2040
## Environment

**TensorRT Version: 8.2.1.8
**NVIDIA GPU: NVIDIA GeForce RTX 3080
**NVIDIA Driver Version: 470.94
**CUDA Version: 11.1
**CUDNN Version: v8.0.5.39
**Operating System: Ubuntu 18.04
**Python Version (if applicable): python 3.7
**Tensorflow Version (if applicable)**:
**PyTorch Version (if applicable):  1.9.1
**Baremetal or Container (if so, version)**:

[2022-06-08 06:23] lhao0301 commented on #2035
Unfortunately, I'm not familiar with the docker-based NGC setup.

[2022-06-08 06:29] nanbatian119 commented on #2037
Thanks very much. It solves my problem.
will all of the int64 type in the onnx graph  be converted to int32?

[2022-06-08 06:39] nvpohanh commented on #2037
Yes, TRT currently casts all INT64 values to INT32.

Closing this issue

[2022-06-08 06:39] #2037 closed

[2022-06-08 06:40] nvpohanh commented on #2040
Could you share your code to run TRT in multi-thread environment?

Please note that execution context is not thread-safe. You need to create one execution context per thread.

[2022-06-08 07:38] nvpohanh commented on #1980
@pranavm-nvidia Could you file an MR and a PR to fix this? Thanks

[2022-06-08 08:17] MaxeeCR opened #2041 "Deserialize engine file with python API failed"
## Description

Hi, i have successfully converted model(pth -> onnx -> trt engine) using TensorRT-8.1.2.8. However, when i use python API to deserialize the engine file, error occurs below.
[code]
**I have checked the version of tensorrt in python and `trtexec` binary file**.
Their version is both `8.2.1.8`.
![image](https://user-images.githubusercontent.com/15684732/172565092-7f971017-7c75-45be-8

[2022-06-08 08:31] nvpohanh commented on #2041
Could you check your LD_LIBRARY_PATH setting? For example, `ldd TensorRT-8.2.1.8/bin/trtexec` and see which `libnvinfer.so` it links to.

[2022-06-08 09:13] dany137718 opened #2042 "Low performance after a delay"
Hi,
I'm trying to infer ONNX model on RTX 3070.
I infer once and wait for 10 seconds and retry 10 times, this is the result :

![image](https://user-images.githubusercontent.com/37046269/172578468-cf6e9fcc-a357-4470-a35d-c56608440c07.png)

after 10 sec time for a one infer is 92ms!
and after a while, it will be ok.
if I use this model continuously, I never see this problem, but I receive very late

[2022-06-08 09:16] nvpohanh commented on #2042
@dany137718 Are you using Windows or Linux OS?

Regardless of which one, this is typically caused by GPU clock frequency. Could you try locking the GPU lock at maximum using `sudo nvidia-smi -lgc <freq>` where the supported clock freq can be found by `nvidia-smi -q -d SUPPORTED_CLOCKS`?

[2022-06-08 09:19] MaxeeCR commented on #2041
Thanks for reply
`ldd TensorRT-8.2.1.8/bin/trtexec` shows
`libnvinfer.so.8 => /xxx/TensorRT-8.2.1.8/lib/libnvinfer.so.8`
![image](https://user-images.githubusercontent.com/15684732/172580249-8345e6a8-ab68-4e5d-9f82-5b9953f206f5.png)
It seems right? I configured .bashrc with
[code]

[2022-06-08 09:35] nvpohanh commented on #2027
I am still reproing the issue. Does it show any additional error messages other than `AssertionError: failure during inference`?

[2022-06-08 09:40] nvpohanh commented on #2041
The path looks correct... so now the suspect is the Python script. Could you share your Python script to load TRT engine? thanks

[2022-06-08 09:42] dany137718 commented on #2042
thanks for your reply,
I'm using Windows and c++ Programming Language.
i use this code `nvidia-smi -q -d SUPPORTED_CLOCKS` and this is the result:

![image](https://user-images.githubusercontent.com/37046269/172585642-628ac22e-4680-45d1-85a3-3bb880aa7174.png)

which one should I use?

[2022-06-08 09:51] nvpohanh commented on #2042
`sudo nvidia-smi -lgc 2160` try this? If it says your GPU doesn't support this, then try `sudo nvidia-smi pm 1 && sudo nvidia-smi -ac 7001,2160`.

[2022-06-08 09:58] MaxeeCR commented on #2041
[code]

[2022-06-08 10:05] dany137718 commented on #2042
i use this code `sudo nvidia-smi -lgc 2160` and this is the result :

![image](https://user-images.githubusercontent.com/37046269/172589548-8f86c363-7735-47b5-9a61-514ee89a7bc9.png)

i use this code `sudo nvidia-smi -lgc 7001` and this is the result :

![image](https://user-images.githubusercontent.com/37046269/172590338-b1e70de0-adbc-4ca0-8f3f-7a1b3ac77acf.png)

wow, it is much better, can I fix

[2022-06-08 10:07] MaxeeCR commented on #2041
I reinstall the TensorRT 8.0.3.4 and configured from start, but the error still exists.
[code]

[2022-06-08 10:09] MaxeeCR commented on #2041
I test the .engine with `trtexec --loadEngine=/xxx/xxx.engine`
[code]
It also seems correct

[2022-06-08 10:12] nvpohanh commented on #2041
Could you share the output of `LD_DEBUG=libs python3 -c "import tensorrt"`?

[2022-06-08 10:14] dany137718 commented on #2042
in GTX 750 ti I hadn't any Cuda engine in task manager so my model load on compute_0 engine.
in this RTX 3070, I have a Cuda engine, and my model load on this engine.

this is the RTX 3070's task manger :

![image](https://user-images.githubusercontent.com/37046269/172592031-36a76dd5-c3ad-4bc5-916e-c1b9ed231715.png)

[2022-06-08 10:19] nvpohanh commented on #2042
Could you share the output of `nvidia-smi -q`? This doesn't look like a TRT issue, but a CUDA driver issue. The best guess is that after a few seconds of being idle, the driver (or the Windows OS) puts the GPU to idle and it takes a while for the GPU to be waken up and boosted to the max performance mode. If this guess is true, then there is nothing we can do to improve it further.

Do you connect

[2022-06-08 10:20] nvpohanh commented on #2041
Your python is using this libnvinfer.so: `calling init: /autox-dl/deeplearning/users/xingyihuang/workspace/env/video_swin_update/lib/python3.7/site-packages/tensorrt/libnvinfer.so.8`

[2022-06-08 10:25] MaxeeCR commented on #2041
Thanks a lot, so i need to remove the lib* file in `/autox-dl/deeplearning/users/xingyihuang/workspace/env/video_swin_update/lib/python3.7/site-packages/tensorrt/` ?

[2022-06-08 10:32] dany137718 commented on #2042
this is result of `nvidia-smi -q` : [nvidia-smi -q result.txt](https://github.com/NVIDIA/TensorRT/files/8860687/nvidia-smi.-q.result.txt)

I haven't any on board display port :( .

[2022-06-08 11:01] nvpohanh commented on #2041
You can give it a try, although I don't fully understand why python doesn't follow the LD_LIBRARY_PATH when searching for `libnvinfer.so.8`

[2022-06-08 11:06] nvpohanh commented on #2042
Unfortunately, I don't think there is much we can do to further improve the performance, partially because this is a GeForce-brand GPU. For Tesla/Quadro GPUs, you will have more options like enabling the Persistence Mode or setting the GPUs to TCC mode from WDDM mode so that GPUs can be configured to always be in max-performance mode even if there is no active workload.

If it is really caused by

[2022-06-08 11:16] MaxeeCR commented on #2041
I removed the `libnv*.so` in `env\lib/python3.7/site-packages/tensorrt/`.
The tensorrt.so linked to correct libnvinfer.so in `/xxx/TensorRT-8.2.1.8/lib/libnvinfer.so.8`.
The error solved. Thanks a lot !
The link error of `libnvinfer.so` may be caused by `sudo apt-get install python3-libnvinfer-doc`.

[2022-06-08 11:16] #2041 closed

[2022-06-08 11:18] HarrySm opened #2043 "Trtexec : Static model does not take explicit shapes since the shape of inference tensors will be determined by the model itself"
## Description

I have ERROR when running ONNX model using trtexec CLI when adding the shapes options as done [here](https://github.com/NVIDIA/TensorRT/tree/main/samples/trtexec#example-4-running-an-onnx-model-with-full-dimensions-and-dynamic-shapes).

ERROR:

![image](https://user-images.githubusercontent.com/107109884/172603897-9c6ea3e1-6286-4e7f-a14a-b4e16676812f.png)

## Environment

**TensorR

[2022-06-08 11:53] dany137718 commented on #2042
ok, thanks a lot. that clock increase makes my fps better.
I try to search for a solution to set max-performance mode.
thank you a lot for your time 💯

[2022-06-08 12:59] 123mw123 commented on #2029
@nvpohanh

Sorry for late reply. I cannot share the model. My training script looks something like this

[code]

[2022-06-08 13:15] zerollzeng commented on #2043
To be more clear here: if a model has an input of shape 1x3x224x224, then the shape is determined. setting it with other shape will lead to an error. you can modify it to the shape like ?x3x224x224, and when build the engine, specify the min/opt/max shape for the engine. e.g. --minShapes=input:1x3x1088x1920 --optShapes=input:1x3x1088x1920 --maxShapes=input:1x3x1088x1920 --shapes=input:1x3x1088x192

[2022-06-08 15:21] NavKumarGit commented on #2027
No this is the only error during inference
and warning Error while conversion: **Warning: Slice op (Unnamed Layer_ 90) [Slice]_slice cannot slice along a uniform dimension**

[2022-06-08 17:24] HarrySm commented on #2043
Thank you very much for your help. I find an other way as well and pretty much the same as you suggested you can see it [here](https://github.com/onnx/onnx/issues/2182#issuecomment-513888258)

[2022-06-08 17:25] #2043 closed

[2022-06-09 00:22] agrija9 commented on #1081
Hi @ttyio, I am having this same issue with a single LSTM layer.

I am running on a Jetson Xavier NX, Jetpack 4.6, TensorRT 8.0.1.6, Tensorflow 2.5.0.

Can you please confirm if TensoRT 8.4 can convert LSTM layers without major issues?

This is crucial for me since if the above holds, I will have to migrate my whole operations to the still-beta Jetpack 5.0.1 SDK.

[2022-06-09 00:52] AsiaCao commented on #2039
Just a gentle ping. Any help would be appreciated!

[2022-06-09 01:16] zerollzeng commented on #2039
K80 is a Kepler card which supports SM37, it's deprecated from CUDA 11. I guess that might be the reason why there is no available kernel for topk. can you try downgrade your CUDA to 10.2?

[2022-06-09 02:36] guetzhouyanxiao commented on #2040
import os
import time
import torch
import torch.nn as nn
import numpy as np
import tensorrt as trt
import pycuda.driver as cuda
import pycuda.autoinit
import cv2
import netron
from tqdm import tqdm
import threading

G_LOGGER = trt.Logger(trt.Logger.WARNING)

def load_serialize_to_engine(serialize_file_path):
    # If a serialized engine exists, use it instead of building an engine.
    print("Read

[2022-06-09 02:36] guetzhouyanxiao commented on #2040
import os
import time
import torch
import torch.nn as nn
import numpy as np
import tensorrt as trt
import pycuda.driver as cuda
import pycuda.autoinit
import cv2
import netron
from tqdm import tqdm
import threading

G_LOGGER = trt.Logger(trt.Logger.WARNING)

def load_serialize_to_engine(serialize_file_path):
    # If a serialized engine exists, use it instead of building an engine.
    print("Read

[2022-06-09 02:39] guetzhouyanxiao commented on #2040
####I only create a context during initialization, and each thread calls the function infer_ image
class PolarmaskTRT(nn.Module) :
    def __init__(self, engine_path, batch_size=1, down_scale=4, *args, **kwargs):
        super(PolarmaskTRT, self).__init__(*args, **kwargs)

        self.cfx = cuda.Device(0).make_context()

        self.engine = load_serialize_to_engine(engine_path)
        self.ima

[2022-06-09 03:11] AsiaCao commented on #2039
Thank you @zerollzeng , will give it a try.

[2022-06-09 03:27] nanmi commented on #1969
Sure, you can download yolact.onnx with [link](https://drive.google.com/file/d/1sFxEZ8XfYRMA1uD_u1656nG9PsG78MSe/view?usp=sharing)

[2022-06-09 03:40] yuefanhao commented on #2034
@nvpohanh
Hi,
I have uploaded all my models and code files to the address you provided.

Here is some additional information

Thank you for your help.

[2022-06-09 06:54] dany137718 commented on #2042
hi again!
finally, it worked!
1. I set GPU clock frequency at maximum with  `nvidia-smi -lgc 7001`
2. in Nvidia Control Panel -> manage3D Setting set this parameter:
      Power Mangment Mode -> Prefer max performance
      Low Latency Mode -> Ultra

and tada! worked ! this is result :

![image](https://user-images.githubusercontent.com/37046269/172783717-9f3959bf-aaff-4a07-be77-1e669f67debb.png)

[2022-06-09 06:54] #2042 closed

[2022-06-09 07:25] guetzhouyanxiao commented on #2040
This problem occurs when my model is dynamic dimension input, and no error occurs when the model is fixed dimension

[2022-06-09 07:49] AllentDan opened #2045 "[blockChooser.cpp::getRegionBlockSize::690] Error Code 2: Internal Error (Assertion memSize >= 0 failed. )"
## Description

Encounter the error as follows:
[code]

## Environment

**TensorRT Version**: 8+
**NVIDIA GPU**: 1660
**NVIDIA Driver Version**: 470
**CUDA Version**: 11.3
**CUDNN Version**: compatible with cuda 11.3
**Operating System**: linux x86
**Python Version (if applicable)**: 3.8
**PyTorch Version (if applicable)**: 1.10

## Steps To Reproduce

[code]

[2022-06-09 08:06] AllentDan commented on #2045
I can avoid the above error by replacing
[code]
to
[code]
However, if I put another shape transformation line before `return x`, I still get the above error.
[code]

[2022-06-09 08:34] AllentDan commented on #2045
Yes, just want to do dynamic inference.

[2022-06-09 08:41] zerollzeng commented on #2045
Looks like there is no way we can avoid the mod operator here, how about making the pad_w and pad_h also the network inputs? and computing it outside the network.

[2022-06-09 08:53] zerollzeng commented on #2045
Yes, plugin should work.

[2022-06-09 09:09] AllentDan commented on #2045
Hi, @zerollzeng. I tried another way to avoid the mod operator here:
[code]
But again the above error was triggered.

[2022-06-09 09:13] doramasma commented on #1501
@nvpohanh This problem was resolved in this issue
https://github.com/NVIDIA/TensorRT/issues/1468

[2022-06-09 09:15] doramasma commented on #1496
@nvpohanh Unfortunately I can't share my onnx file, However, this problem was solved in this issue:
https://github.com/NVIDIA/TensorRT/issues/1468

[2022-06-09 09:15] #1496 closed

[2022-06-09 09:15] #1501 closed

[2022-06-09 09:40] zerollzeng commented on #2045
How about
[code]

will it work?

[2022-06-09 14:17] 123mw123 commented on #2029
@azhurkevich  No, I haven't tried above steps. Do you know when TensorRT >= 8.4.1 will be released?

[2022-06-09 16:58] zerollzeng commented on #2045
Yes,
for model
[code]
I can see the error
[code]
@jackwish @nvpohanh Do we support ND shape tensor in 8.4?

[2022-06-09 22:35] Cococatty commented on #1479
same here, would love to know how we can resolve this. Thanks!

[2022-06-10 01:16] #2040 closed

[2022-06-10 01:16] wadhwasahil opened #2046 "Number of dimensions is 4 but profile 0 has 1"
TensorRT version - 7.0.0

I have an onnx model which I am trying to convert to tensorrt format.

`trtexec --onnx=/path/to/hand_pose_xyvc22.onnx  --explicitBatch --minShapes=input_4:1x128x128x3 --optShapes=input_4:4x128x128x3 --maxShapes=input_4:4x128x128x3 --workspace=4096 --minTiming=10 --fp16 --saveEngine=hand_pose_xyvc22_batch4.trt --verbose`

However I get this error

[W] [TRT] Dynamic dimensi

[2022-06-10 01:54] #2046 closed

[2022-06-10 03:32] zhangjoey115 commented on #1961
Hello @ttyio , do you have any suggestion about the convtranspose process in model I attached? Or did I made any mistake in comparing the onnx & trt output? Looking forward your reply. Thanks!

[2022-06-10 19:01] phquanta opened #2047 "Question about TensorRT inference accuracy (using float16 datatype PyTorch model converted to onnx file) and unsupported UINT8 data type for Tensorflow model, trained on COCO dataset"
I used **COCO** dataset with 91 classes with additional class to train model using **pyTorch**. Then I converted the pyTorch model into an **onnx** file and run inference with **DetectNet inference using detectnet.cpp build** and it works in accurately detecting objects on detectnet. Then I used the same onnx file in the TensorRT inference that is in Isaac SDK and I don’t get the accurate inferenc

[2022-06-11 04:02] grimoire commented on #2045
A workaround is to replace the reshape in [prepare_onnx_paddings](https://github.com/pytorch/pytorch/blob/65a37923f9b14c7c9e80535d771ef9e4e92d0502/torch/onnx/symbolic_opset11.py#L592) with the Concat of two Slice with step=2 (begins and ends) of paddings.

[code]

[2022-06-11 06:04] harishprabhala opened #2048 "Vision transformers vit_b_32: Missing scale and zero-point for tensor"
I am doing an int8 quantization of vit_b_32 using imagenet dataset as calibration data. But i am getting the following error

`06/11/2022-05:56:11] [TRT] [W] Missing scale and zero-point for tensor (Unnamed Layer* 982) [Constant]_output, expect fall back to non-int8 implementation for any layer consuming or producing given tensor
[06/11/2022-05:56:11] [TRT] [W] Missing scale and zero-point for ten

[2022-06-11 06:12] #2028 closed

[2022-06-11 13:18] azad96 commented on #1701
Did you find a solution? I've used TensorRT 5/6/7 in the past, but I have to use the version 8 as I have Ubuntu 20.04. I have the same memory issue even with a one layer convolutional network.

[2022-06-12 08:25] zerollzeng commented on #2048
TRT doesn't support INT8 PTQ for transformer-based models due to accuracy issues currently. @ttyio correct me if I'm wrong.

[2022-06-12 09:43] dany137718 opened #2049 "best GPU hardware"
Hi,
I want to know what the best GPU hardware is for running TensorRT?
what is the most important option in the GPU benchmark?
Thanks

[2022-06-12 12:40] AlexandreBourrieau opened #2050 "Error[3]: [layers.cpp::setMode::3848] Error Code 3: Internal Error (Parameter check failed at: optimizer/api/layers.cpp::setMode::3848, condition: int(mode) >= 0 && int(mode) < EnumMax<SliceMode>()"
Hello,

I got this error while converting a onnx file with tensorRT v8205.

Can someone help me ?
Thanks !

Jetson nano 4GB
tf2onnx.convert v.1.10.0 (with opset 13)
tensorflow v2.6.2+nv21.12 (Resenet-18 model) on jetson nano.
tensorrt compiled from source

[code]

[2022-06-12 14:40] zerollzeng commented on #2049
There is no correct answer to this question. TensorRT doesn't only optimize for one or some GPUs, TensorRT is highly optimized to run on all NVIDIA GPUs. for example when we run a model, TensorRT will do the graph optimization on the model like layer fusion, constant folding... etc., and for every optimized TRT layer, e.g. a conv+bn+relu layer(actually it's a conv layer after graph optimization).

[2022-06-12 14:43] zerollzeng commented on #2050
There should be more ERROR log after this which tells you why the parse fails at this Pad node. can you paste it here too?

[2022-06-12 17:06] AlexandreBourrieau commented on #2050
Hello,

Thanks you for your help, here is the entire log :

[code]

[2022-06-13 02:52] nvpohanh commented on #2050
Could you share your ONNX file? Thanks

[2022-06-13 02:54] nvpohanh commented on #2049
Depending on what "best" mean. If it refers to best performance, then the current best GPU available in market would be NVIDIA A100: https://www.nvidia.com/en-us/data-center/a100/

[2022-06-13 06:41] Yebi1837 commented on #1541
I am facing the same error when trying to convert torch.index_add_() operator. Is there a work around for this with v8.2?

[2022-06-13 07:44] galagam commented on #1836
Closing due to lack of response from author.

[2022-06-13 07:44] #1836 closed

[2022-06-13 07:46] #1746 closed

[2022-06-13 07:47] #1741 closed

[2022-06-13 07:48] galagam commented on #1734
Closing due to lack of response from author and old TensorRT version (5.1.5).

[2022-06-13 07:48] #1734 closed

[2022-06-13 07:54] galagam commented on #1731
Seems like `builder.build_engine()` has failed for some reason, causing `engine` to be None.
@Tian14267 Please supply platform and version info to help us reproduce - OS, CPU arch, TensorRT, ONNX, CUDA & CuDNN versions.

[2022-06-13 07:58] AlexandreBourrieau commented on #2050
Hello,

This is my onnx file after conversion from tf2 saved model with tf2onnx.convert v.1.10.0 (with opset 13 by default) : https://drive.google.com/file/d/15MIiJjnEHqaT2vJ3ni0Q1QrxUPUyNQk9/view?usp=sharing](url)

And this is my tf2 (v2.6.2+nv21.12) saved model directory zipped : [https://drive.google.com/file/d/1ZaeVgzY11rCbKZyk9G87VlO_RejXh9Vh/view?usp=sharing](url)

Thanks you very much !

[2022-06-13 09:03] galagam commented on #1328
Closing as this is a duplicate of https://github.com/NVIDIA/TensorRT/issues/1301.

[2022-06-13 09:03] #1328 closed

[2022-06-13 09:40] jcyhcs commented on #1675
@lsdNorman
hi,professor:
do you have any solution to reolve this problem?
i also have a siamese tracking network, i want to convert onnx to tensorrt, i come with the same error,

[2022-06-13 10:57] triple-Mu opened #2051 "TensorRT-8.4.1.4 BUG"
## Description

TensorRT-8.2 onnx export engine succeed.
TensorRT-8.4 onnx export engine failed.

## Environment

**TensorRT Version**: TensorRT-8.4.1.4
**NVIDIA GPU**: A10
**NVIDIA Driver Version**:510.73.08
**CUDA Version**: 11.6
**CUDNN Version**: 8.4
**Operating System**: ubuntu20.04
**Python Version (if applicable)**: python3.8
**Tensorflow Version (if applicable)**:
**PyTorch Version (if app

[2022-06-13 11:14] galagam commented on #1333
Only selected configurations are provided as pre-built docker images.  Consider creating your own, based on [L4T base container](https://catalog.ngc.nvidia.com/orgs/nvidia/containers/l4t-base).
Please keep in mind that many improvements have been made since TensorRT 6.0.1, and it is highly recommended to use the latest JetPack when working on a Jetson platform.

[2022-06-13 11:14] #1333 closed

[2022-06-13 11:22] ttyio commented on #2051
@triple-Mu  Could you raise the trt hackathon 2022 issues in https://github.com/NVIDIA/trt-samples-for-hackathon-cn/issues , thanks!

[2022-06-13 11:22] #2051 closed

[2022-06-13 11:29] ttyio commented on #2048
For those operators that are handled by `foreign node`, then PTQ not works in current TRT version (you can check this by enable verbose log).
Else TRT support PTQ for transformer, one sample is the demoBERT with percentile max in https://github.com/NVIDIA/TensorRT/blob/main/demo/BERT/helpers/calibrator.py.
From your log, those are just warning, also they are just `constant` layer from the name, co

[2022-06-13 13:10] duanshengliu commented on #670
Thanks, my problem has solved!

[2022-06-13 13:16] duanshengliu commented on #670
using onnx-simplifier solved my problem, thanks

[2022-06-13 14:59] CoinCheung opened #2052 "[defaultAllocator.cpp::deallocate::35] Error Code 1: Cuda Runtime (invalid argument)"
## Description

Error message like this:
[code]
Sometimes there are core dump, but sometimes there isn't.

## Environment

**TensorRT Version**: 8.2.5.1
**NVIDIA GPU**: V100
**NVIDIA Driver Version**: 450.80.02
**CUDA Version**:  11.3
**CUDNN Version**: 8.2.0
**Operating System**: ubuntu18.04(docker image)
**Python Version (if applicable)**: python3.8
**Tensorflow Version (if applicable)**:
**PyTo

[2022-06-13 16:05] AlexandreBourrieau commented on #1643
same probleme how do you resolve this please ?

[2022-06-13 16:23] AsiaCao commented on #2039
Hi @zerollzeng ,

I tried CUDA 10.2 on a new K80 machine (AWS P2), but got a similar error from `trtexec`: "Could not find any implementation for node Conv_6 + Relu_7.".

Full log (non-verbose):
[code]

Partial Verbose Log:

[code]

## Environment
TensorRT Version: 8.4.0.6
NVIDIA GPU: K80
NVIDIA Driver Version: 440.33.01
CUDA Version: 10.2, V10.2.89
CUDNN Version: 8.3.2 (installed from `cudnn-linu

[2022-06-14 00:50] CoinCheung commented on #2052
The problem still exists:
![图片](https://user-images.githubusercontent.com/22693362/173470321-312012af-82de-4bca-8bd2-781804925ed1.png)

And my code is like this:
[code]

Sometimes there would be core dump, with only one Error line, and sometimes there are thre error lines without core dump.

I noticed that with cpp examples, a astream is defined during the compile phase, but I did not see associat

[2022-06-14 01:36] qianqing13579 opened #2054 "A question about trtexec performance metrics"
## Description

I used trtexec to analyze the performance of a model, and got the following log.
[code]
I just want to know the time of inference which includes the following three TensorRT C++ APIs:
[code]
but I do not know which metric of the log is right.

my code:
[code]

## Environment

**TensorRT Version**: 5.2.3
**NVIDIA GPU**: V100
**NVIDIA Driver Version**:
**CUDA Version**: 11.0
**CUDNN

[2022-06-14 01:41] ymzx opened #2055 "polygraphy run 保存各层输出结果"
咨询个问题，使用tensorrt工具polygraph保存onnx各层各节点输出时，输入命令 polygraphy run yolov5s-face.onnx --onnxrt --onnx-outputs mark all --save-results=onnx_out.json， 得到的onnx_out.json，500M大小，onnx_out本质上是字典，只有两个key为['lst', 'polygraphy_class']， onnx_out['polygraphy_class']为RunResults，onnx_out['lst']='4Z2JLu95tlLzlQoa5jdQlur5Hcb602EW+u3KWvWL6UbvmXBRAPmIlvtDjAr...................'，从这个信息能得到各层输出？需要再次解码么？tensorrt官方文档就是以上命令输出各层结

[2022-06-14 02:39] nvpohanh commented on #2054
Could you check our documentation here and see if it answers your question? https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#trtexec-benchmark
Thanks

[2022-06-14 02:42] zhaohb commented on #1033
@brooks0519 @ttyio I met the same problem. do we need to upgrade when reinstalling the driver, or use the original version？

[2022-06-14 02:47] zerollzeng commented on #2052
Could you try to delete the line
[code]

[2022-06-14 02:49] zerollzeng commented on #2052
also, my script doesn't work in your environment? I can run it without any error.

[2022-06-14 03:30] CoinCheung commented on #2052
Removing the return line solved the problem. What is the correct way to let a function return an engine？ It seems that we can do this in cpp code, but we cannot do it with python code.

[2022-06-14 05:03] nvpohanh commented on #2052
@pranavm-nvidia Any insight?

[2022-06-14 05:05] nvpohanh commented on #2055
@pranavm-nvidia Do we have documentations about the saved output format from Polygraphy? My current best guess is that it's Base64 encoded numpy.ndarray instance. Is that correct?

[2022-06-14 05:18] ymzx commented on #2055
thanks，
I agree with your answer,
but I have a knotty problem that tensorrt's infer result is different with onnx. so i try to compare output layer by layer between tensorrt and onnx.
I use this command line to export all layers' result, as follows,
polygraphy run yolov5s-face.onnx --onnxrt --onnx-outputs mark all --save-results=onnx_out.json
polygraphy run yolov5s-face.onnx --trt --validate --trt

[2022-06-14 07:34] ymzx commented on #2055
I have solved the problem !

[2022-06-14 07:50] nvpohanh commented on #2055
@ymzx Could you share how you solved it? It may benefit others as well. Thanks

[2022-06-14 07:57] ymzx commented on #2055
Yes, It's my honor to share link of  this issue after I've organized a complete document.

[2022-06-14 10:00] yuefanhao commented on #2034
@nvpohanh Hi, is there any progress on this issue? Thank you.

[2022-06-14 11:02] AlexandreBourrieau commented on #2050
I tested my onnx file with version 8001 and it works. So perhaps it is a bug in lastest tensorrt verison or a misconfiguration of my jetson afeter compiling ...

[2022-06-14 11:35] HireezShanPeng opened #2056 "UNSUPPORTED_NODE: Assertion failed: creator && "Plugin not found, are the plugin name, version, and namespace correct?""
## Description

I tried to convert my onnx model into trt engine, and I got this error:

[code]

Here is my code below:

[code]

## Environment

**TensorRT Version**: 8.2.2
**NVIDIA GPU**: M60
**CUDA Version**: 11.1
**CUDNN Version**: 8005
**Python Version (if applicable)**: 1.9.0
**Baremetal or Container (if so, version)**:

Hope your suggestions on this, THANKS

[2022-06-14 14:22] zerollzeng commented on #2050
I can run your model on linux x64 with TRT 8.2.5. so it might be you have some wrong configuration, BTW can you try to upgrade your Jetpack directly?

[2022-06-14 14:54] zerollzeng commented on #2039
can you try adding --workspace=4096 in your trtexec command?  @nvpohanh does this still work in TRT 8.4? I just thought we don't need it anymore.

[2022-06-14 14:55] pranavm-nvidia commented on #2055
For reference, you can use [`RunResults.load()`](https://docs.nvidia.com/deeplearning/tensorrt/polygraphy/docs/comparator/data_structures.html#polygraphy.comparator.struct.RunResults.load) to programmatically retrieve the outputs, e.g.:
[code]

@ymzx Also note that you can use `polygraphy run` to do the comparison too (in fact, that's one of it's primary functions):
[code]

[2022-06-14 16:33] AsiaCao commented on #2039
Thanks @zerollzeng for the responsive reply.
it still failed with the same error.

Partial non-verbose log:
[code]

Partial verbose log:
[code]

[2022-06-14 17:52] AlexandreBourrieau commented on #2050
Thanks you,
Unfortunately jetpack 4.6 is the lastest available but the tensorrt version on it is too old for my needs... It is why I would like to use the lastest version.
I think that some librairies are not compiled so it do not work well...

I cannot have libnvparsers.so and libnvinfer.so to be build, I think the problem come from it... How can I make this library ? If I use apt install libnvpa

[2022-06-14 20:46] zacool64 opened #2057 "TensorRT Docker images cannot install ngc"
## Description

While building the ubuntu 20.04 Dockerfile for TensorRT, I encountered the following error which never occurred for me prior to today:
[code]

It looks like a new version of ngc-cli was released recently, and the existing docker images are out-of-date.

## Environment

**TensorRT Version**: 8.2.5.1
**NVIDIA GPU**: Tesla T4
**NVIDIA Driver Version**: 470.57.02
**CUDA Version**: 11.4

[2022-06-14 21:04] azhurkevich commented on #2029
@123mw123 It is [live](https://docs.nvidia.com/deeplearning/tensorrt/release-notes/tensorrt-8.html#rel-8-4-1) should accessible under [TensorRT 8.4 GA](https://developer.nvidia.com/nvidia-tensorrt-8x-download). Python wheels will be available shortly.

[2022-06-15 00:34] CoinCheung commented on #2052
Thanks for telling me this. I works now.

[2022-06-15 00:34] #2052 closed

[2022-06-15 02:58] nvpohanh commented on #2039
The main issue is `Error Code 1: Cuda Runtime (an illegal memory access was encountered)`. That means some tactics have illegal memory access. @zerollzeng Were you able to find any K80 board to repro this issue? K80 is so old that I won't be surprised if TRT has relatively bad support for it.

[2022-06-15 03:01] nvpohanh commented on #2056
@HireezShanPeng Could you share your ONNX file? I think it contains some ops that TRT does not support yet.

[2022-06-15 03:20] zerollzeng commented on #2050
We already have Jetpack 5.0 Developer Preview in https://developer.nvidia.com/embedded/jetpack, can you access that in your SDK manager? the GA should be released soon.

[2022-06-15 03:22] zerollzeng commented on #2057
@rajeevsrao ^ ^

[2022-06-15 03:25] zerollzeng commented on #2039
No, I don't have K80 on my hand. do we have K80 on computelab?

[2022-06-15 03:26] nvpohanh commented on #2039
@zerollzeng Let's take this conversation internally.

[2022-06-15 03:38] yuefanhao commented on #2034
May be I should check the model output shape, thank you.

[2022-06-15 03:38] #2034 closed

[2022-06-15 03:41] rajeevsrao commented on #2057
@zacool64 this is fixed on main and release/8.4 (posted today). For release/8.2 branch here is the cherry-pick: https://github.com/NVIDIA/TensorRT/pull/2059

[2022-06-15 03:49] nvpohanh commented on #2054
The short answer is, if you want to know the copyInputToDevice() + executeV2() + copyOutputToHost(), then check out "Host Latency".

[2022-06-15 03:49] #2054 closed

[2022-06-15 04:29] nvpohanh commented on #2049
I am going to close this since the question is vague. Please feel free to reopen if you have follow-up questions. Thanks

[2022-06-15 04:29] #2049 closed

[2022-06-15 04:32] nvpohanh commented on #2047
@phquanta Could you try a newer TRT version (like TRT 8.0 or 8.2) and see if the accuracy issue still exists? If it does, please provide detailed steps to repro the issue. Thanks

[2022-06-15 04:34] nvpohanh commented on #2045
ND shape tensor will be supported in the next version after TRT 8.4.

[2022-06-15 04:47] nvpohanh commented on #2030
I am still checking internally.

[2022-06-15 04:54] nvpohanh commented on #2027
Unfortunately, I am not able to repro the failure using trtexec. Could you share the full steps to repro the issue?

Another thing I found is that when I used TRT 8.4 GA (8.4.1), that warning disappeared, so it may worth a try to use TRT 8.4.1.

[2022-06-15 04:55] nvpohanh commented on #2035
In summary: The Foreign node requires some workspace to run. In TRT 8.2, the default workspace is only 16MB, which is not enough, so you saw that error. It will work if you increase the workspace size by adding `--workspace=1024`. In TRT 8.4, the flag has been changed to `--memPoolSize=workspace:1024` but this flag should not be needed because the default should be infinity.

[2022-06-15 04:55] qianqing13579 commented on #2054
@nvpohanh ，what is the meaning of end to end ?

[2022-06-15 04:57] nvpohanh commented on #2024
There are two possible ways to do this:

(1) Use Concat at the beginning of the shared backbone part and Slice at the end of the shared part

[code]

And set the `Start` and the `Size` field of the Slice layer to the shape of `inputA`. Then, you can set the shape of inputA and inputB at runtime to select which branch to run.

(2) Alternatively, an easier way is to break the network into three engi

[2022-06-15 04:58] nvpohanh commented on #2018
Closing for now since there is not response for >14 days. Please reopen if the issue still exists. Thanks

[2022-06-15 04:58] #2018 closed

[2022-06-15 04:59] nvpohanh commented on #2017
Closing for now due to >14 days without response. Please reopen if the issue still exists. Thanks

[2022-06-15 04:59] #2017 closed

[2022-06-15 05:00] nvpohanh commented on #2012
Closing for now due to >14 days without response. Please reopen if the issue still exists. Thanks

[2022-06-15 05:00] #2012 closed

[2022-06-15 05:00] nvpohanh commented on #2012
Btw, TRT 8.4 GA (8.4.1) has just been released.

[2022-06-15 05:03] nvpohanh commented on #2009
TRT 8.4.1 (8.4 GA) has been released and will be part of 22.07 container. I am going to close this for now. Thanks

I don't have much insight to the myelin module, either. Will need to ask internally if you would like detailed answer.

[2022-06-15 05:04] nvpohanh commented on #2007
Yes, the warning matters. TRT is only tested with the CUDA/CUDNN/CUBLAS versions we specify in release docs. Using an incompatible CUBLAS may lead to issues.

[2022-06-15 05:05] nvpohanh commented on #1991
@caufrank Could you share which TRT version, which GPU, and which ONNX file you used to build the engine? Thanks

[2022-06-15 05:08] nvpohanh commented on #1995
The OS does supports AGX 64GB but TRT was not tested on AGX 64GB, so we didn't catch this failure. As Zero said, this will be fixed in JP5.0 and for JP4.6.x, I think the only workaround is to somehow limit the memory to 32GB so that the target checking logic in TRT doesn't fail.

[2022-06-15 05:11] nvpohanh commented on #1995
In the latest TRT, we have changed that part of the logic so that it still works if the device is not in the pre-defined list. So if there are new devices coming out in the future, TRT will not fail at this part again.

[2022-06-15 05:12] nvpohanh commented on #2054
is copyInputToDevice() + executeV2() + copyOutputToHost() is 1.65498 ms

Please ignore the end-to-end metric. It has been removed in the latest TRT

[2022-06-15 05:19] nvpohanh commented on #1980
Pybind version has been pinned now: https://github.com/NVIDIA/TensorRT/blob/main/python/README.md

Closing this issue.

[2022-06-15 05:19] #1980 closed

[2022-06-15 05:19] nvpohanh commented on #1977
Closing due to no response for >14days. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 05:19] #1977 closed

[2022-06-15 05:20] nvpohanh commented on #1976
Closing due to no response for >14 days. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 05:20] #1976 closed

[2022-06-15 05:20] nvpohanh commented on #1973
Closing due to no response for >14 days. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 05:20] #1973 closed

[2022-06-15 05:21] nvpohanh commented on #1969
@nanmi It seems that I don't have permission to that google drive link. could you give me the permission? Thanks

[2022-06-15 05:22] nvpohanh commented on #1968
@rajeevsrao Could you check this? Do we still fix release/7.0 issues?

[2022-06-15 05:23] nvpohanh commented on #1967
I am going to close this issue for now. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 05:23] #1967 closed

[2022-06-15 05:23] nvpohanh commented on #1966
@deephog TRT 8.4 GA (8.4.1) has been released. Could you give it a try? Thanks

[2022-06-15 05:24] nvpohanh commented on #1964
Closing the issue for now due to >14 days of no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 05:24] #1964 closed

[2022-06-15 05:31] NavKumarGit commented on #2027
I'm not using the trtexc for conversion, i use the NVIDIA suggested python scripts to convert the pytorch model to first ONNX and then to TensorRT model.
As you said, you are successfully able to convert the shared onnx model to TensorRT model and it's working with variable sequence length text input.
Can you pls share the trt command you used and plus if possible the same converted .plan file and

[2022-06-15 05:56] Ki6an commented on #2027
hi, @NavKumarGit I faced the same warnings when I was converting Roberta to tensorRT, the full log of the conversion is here https://github.com/ELS-RD/transformer-deploy/issues/87. The converted model works as intended. However, I found that it ran more slowly than the original model when converted with `variable` batch size and sequence length.

The model is faster when we set either the batch si

[2022-06-15 06:00] nvpohanh commented on #1955
@rajeevsrao for visibility.

@snlpatel001213 What OS are you using?

[2022-06-15 06:06] caufrank commented on #1991
TRT version:7.1.3, GPU;

[2022-06-15 06:09] handoku commented on #2009
Thanks. The problem was caused by optimization for `concat/slice`, I fixed it by add some memory access op(likes `gather`) to prevent myelin's optimization.

And also I have tried with trt 8.4.1, the issue is gone.

[2022-06-15 06:15] nvpohanh commented on #1961
I can repro this accuracy issue using Polygraphy.

[code]

I have filed internal tracker (id: 3681310) and will let you know if we have any update.

[2022-06-15 06:15] caufrank commented on #1991
TensorRT version:7.1.3; GPU: 384-core NVIDIA Volta™ GPU with 48 Tensor Cores on Jetson Xavier NX 16GB with JetPack  4.5.1; ONNX file has been attached. Thanks!
[mobilenetv2-7.onnx.tar.gz](https://github.com/NVIDIA/TensorRT/files/8906322/mobilenetv2-7.onnx.tar.gz)

[2022-06-15 06:35] nvpohanh commented on #1952
This looks like a networking issue. @riyaj8888 Does this issue still exist?

[2022-06-15 06:35] nvpohanh commented on #1951
closing this issue for now due to >14 days of no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 06:35] #1951 closed

[2022-06-15 06:36] nvpohanh commented on #1950
closing this issue for now due to >14 days of no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 06:36] #1950 closed

[2022-06-15 06:36] nvpohanh commented on #1949
closing this issue for now due to >14 days of no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 06:36] #1949 closed

[2022-06-15 06:41] nvpohanh commented on #1946
@leimeng86 Could you share the ONNX file directly so that we can try to repro this? thanks

[2022-06-15 07:02] nvpohanh commented on #1947
@whaozl @ys0232 Could you share the ONNX files so that we can try to repro? Thanks

[2022-06-15 07:11] nvpohanh commented on #1933
closing this issue for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:11] #1933 closed

[2022-06-15 07:11] nvpohanh commented on #1932
closing this issue for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:11] #1932 closed

[2022-06-15 07:12] nvpohanh commented on #1931
closing this issue for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:13] nvpohanh commented on #1928
closing this issue for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:13] #1928 closed

[2022-06-15 07:17] nvpohanh commented on #1927
@BigPandaCPU Does this issue still exist?

In TRT, the Python APIs are just wrappers around C++ APIs, so it would be surprising to see that you get different results between the two programming languages. The most likely causes of this are usually related to the dependency issue, such as if you link the C++ program to the correct libnvinfer.so, libcudnn.so, libcublas.so, etc.

[2022-06-15 07:17] nvpohanh commented on #1924
closing this issue for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:17] #1924 closed

[2022-06-15 07:20] nvpohanh commented on #1954
@kimdwkimdw I can't repro this locally with TRT 8.2.... Could you try this script and see if you can still repro the issue? Thanks

[code]

[2022-06-15 07:29] nvpohanh commented on #1921
@yaoyaoding Could you try TRT 8.4 GA (8.4.1) and see if the issue still exists? If it does, we will debug and fix it. Thanks

[2022-06-15 07:33] nvpohanh commented on #1914
Closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:33] #1914 closed

[2022-06-15 07:36] snlpatel001213 commented on #1955
This was solved

[2022-06-15 07:37] #1955 closed

[2022-06-15 07:37] nvpohanh commented on #1912
@herrylu Could you try TRT 8.4 GA (8.4.1) and try calling `context.set_binding_shape(...)` **after** `context.set_optimization_profile_async(0, stream.handle)` and see if the issue goes away? If not, we will debug and fix this issue. Thanks

[2022-06-15 07:38] nvpohanh commented on #1909
closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:38] #1909 closed

[2022-06-15 07:38] nvpohanh commented on #1908
closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:38] #1908 closed

[2022-06-15 07:38] nvpohanh commented on #1907
closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:38] #1907 closed

[2022-06-15 07:42] nvpohanh commented on #1906
@wanzhenchn Could you share the ONNX model? I can't find the ONNX model in https://drive.google.com/drive/folders/1bmYkOnFT79xudF6oiFJdlOsjjB0Ms54t

[2022-06-15 07:42] nvpohanh commented on #1906
also, could you try TRT 8.4 GA (8.4.1) release? Thanks

[2022-06-15 07:43] nvpohanh commented on #1898
Closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:43] #1898 closed

[2022-06-15 07:44] nvpohanh commented on #1897
Closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:44] #1897 closed

[2022-06-15 07:44] nvpohanh commented on #1896
Closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:44] #1896 closed

[2022-06-15 07:44] nvpohanh commented on #1895
Closing this for now due to >14 days with no response. Please feel free to reopen if the issue still exists. Thanks

[2022-06-15 07:44] #1895 closed